<a id="left-sidebar" class="button-link"><h4 class="search-title" style="margin-top: 1rem;">Secciones <i class="fas fa-angle-down" style="float: right;"></i></h4></a>
<div class="about-sidebar">
  <ul>
    <a href="{{ url view="sobre-qqw" }}"><li class="{{#ifCond currentSection "==" "about" }}active{{/ifCond}}">{{_ "Historia" }}</li></a>
    <a href="{{ url view="entidades-y-fuentes" }}"><li class="{{#ifCond currentSection "==" "sources" }}active{{/ifCond}}">{{_ "Fuentes" }}</li></a>
    <a href="{{ url view="herramientas" }}"><li class="{{#ifCond currentSection "==" "apis" }}active{{/ifCond}}">{{_ "Herramientas" }}</li></a>
    <a href="{{ url view="investigaciones" }}"><li class="{{#ifCond currentSection "==" "investigations" }}active{{/ifCond}}">{{_ "Proyectos" }}</li></a>
    <a href="{{ url view="manual" }}"><li class="{{#ifCond currentSection "==" "manual" }}active{{/ifCond}}">{{_ "Manual" }}</li></a>
    <a href="{{ url view="aliados" }}"><li class="{{#ifCond currentSection "==" "partners" }}active{{/ifCond}}">{{_ "Aliados" }}</li></a>
    <a href="{{ url view="licencia" }}"><li class="{{#ifCond currentSection "==" "license" }}active{{/ifCond}}">{{_ "Derechos de autor" }}</li></a>
    <a href="{{ url view="privacidad" }}"><li class="{{#ifCond currentSection "==" "privacy" }}active{{/ifCond}}">{{_ "Aviso de Privacidad" }}</li></a>
    <a href="{{ url view="contacto" }}"><li class="{{#ifCond currentSection "==" "contact" }}active{{/ifCond}}">{{_ "Contacto" }}</li></a>
  </ul>
</div>