{{#if filters.filters_active.value  }}
  <p class="search-terms-text">
    Búsqueda para:
    {{#each filters }}
      {{#ifCond this.hidden '!=' true }}
        <span class="blob" data-field="{{this.htmlFieldName}}">
          {{this.fieldLabel}}:
          {{# ifCond this.type "==" "number" }}
           {{format_number this.value}}
           {{else}}
           {{this.value}}
           {{/ifCond}}
          <i class="fa fa-times delete-blob-filter" aria-hidden="true"></i>
        </span>
      {{/ifCond}}
    {{/each}}
  </p>
  {{else}}&nbsp;
{{/if}}
