{{!-- FLAGS --}}
{{#if result.flags }}
<script src="/tiza/tiza.js"></script>

<section class="profile" id="calidad">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-file-signature"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "EVALUACIÓN Y RECOMENDACIONES"}}}</h4>
      </div>
      <div class="col-md-12 col-12">
        <div class="row">

          <div class="col-12 col-md-12">
            <p>{{{_ "Se realizan más de 20 pruebas algorítmicas a nivel contrato, que agrupamos en cuatro categorías, para determinar la calidad de los datos de contratación. La metodología puede <a href='https://github.com/ProjectPODER/groucho#readme'>consultarse aquí</a>"}}}.</p>
          </div>
        </div>

        {{#each result.flags }}
        <div class="col-12 col-md-12">
        {{#ifCond ruleset_id "==" "cr-sicop" }}
          <div class="row">
            <div class="col-12 col-md-12 col-sm-12 col-lg-6">

              <div class="row align-items-end">
                <div class="col-12 col-md-12">
                  <h5 class="text-darkblue">{{{_ "Puntaje total:"}}} {{ format_score contract_score.total_score }}</h5>
                </div>
              </div>
              <div>
                <div>
                  <div class="category-color"></div><span> Puntajes de este contrato</span>
                </div>
                <div>
                  <div class="limit-color"></div><span> Máximos por categoría</span>
                </div>
                <div id="radarchart"></div>
                <script>
                  var radarData = {total: {{j contract_score }} }
                  delete radarData.total.total_score;
                   {{!-- {{#each years }}
                   radarData["{{year}}"] = {{j (get_party_categories this) }}
                    {{/each}} --}}
                  tiza.radarChart({target: "#radarchart", data: radarData.total});
                </script>
              </div>
              <p class="mt-4">Esta gráfica ilustra el promedio de los puntajes para cada una de las categorías evaluadas a nivel contrato. Los valores en color verde
              ilustran el máximo de todos los contratos y el violeta el
              de este contrato en particular.</p>

            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-6">
              <div id="accordion">
                {{#each contract_score }}
                {{#ifCond @key "!=" "total_score"}}
                <div class="card">
                  <a class="card-link" data-toggle="collapse" href="#collapse{{@key}}">
                    <div class="card-header">
                      {{#with (flag_name @key) }}
                      <i class="fas {{icon}}"></i> {{name}}:
                      {{!-- <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                        <i class="fas fa-info-circle"></i>
                      </a> --}}
                      {{/with}}
                      <span class="circles">
                        <span class="circle-with-text">
                          {{format_score this}}
                        </span>
                      </span>
                    </div>
                  </a>
                  <div id="collapse{{@key}}" class="collapse {{#ifCond @key "==" "trans"}}show{{else}}{{/ifCond}}" data-parent="#accordion">
                    <div class="card-body">

                      {{#each (contract_flag_recommendations ../this @key) }}
                      <div class="flag-recomendations-box">
                        <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
                        <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
                        <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
                        <p><b>{{{_ "Recomendación"}}}:</b> {{#ifCond score ">" 0.8}}{{reconocimiento_contract}}{{else}} {{contract_string}}{{/ifCond}}</p>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                </div>
                {{/ifCond}}
                {{/each}}
              </div>
            </div>
          </div>

          {{else }}
          <div class="col-md-12 col-12">
            <div class="row" style="background: transparent">
              <div class="offset-md-2 col-md-8 col-sm-12">
                <p>
                  Este contrato no ha sido evaluado.
                </p>

              </div>
            </div>
          </div>
          {{/ifCond}}
          {{#ifCond ruleset_id "==" "flagsMX-2021" }}
            <p>Estamos actualizando el sistema.</p>
          {{/ifCond}}
        </div>

        {{/each}}

      </div>
    </div>
  </div>
</section>

{{/if}}