{{#ifCond filter.hidden '!=' true }}
<li class="nav-item dropdown filter-element filter-dropdown {{filter.htmlFieldName}}-filter {{#each filter.collections}}filter-collection-{{this}} {{/each}}">
  <a class="nav-link dropdown-toggle filter-title" data-toggle="dropdown" href="#" data-offset="0,31">{{filter.fieldLabel}}</a>
  {{#ifCond filter.htmlFieldName "==" "collection"}}
    <div class="selector-filter-type">
        <p class="text-center emphasis-color-text" title="">{{ get_type_plural collection }}</p>
    </div>
    <div class="dropdown-menu filter-dropdown-menu">
        <button class="dropdown-item filter-dropdown-item" type="button" data-collection="contracts">
            <h4 class="emphasis-color-text">Contratos</h4>
            <p>Explora los importes, años, dependencias, empresas proveedoras y otras características de más de tres millones de contratos de México.</p>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item filter-dropdown-item" type="button" data-collection="persons">
            <h4 class="emphasis-color-text">Personas</h4>
            <p>Conoce cómo se relacionan los personajes de las élites políticas y económicas en México.</p>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item filter-dropdown-item" type="button" data-collection="companies">
            <h4 class="emphasis-color-text">Empresas y Sociedades</h4>
            <p>Empresas proveedoras del estado, titulares de marcas y cotizando en la bolsa. Ordenadas por importe total de contrataciones como proveedor del estado.</p>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item filter-dropdown-item" type="button" data-collection="institutions">
            <h4 class="emphasis-color-text">Instituciones públicas</h4>
            <p>Entidades y dependencias del gobierno, incluyendo empresas productivas del estado. Ordenadas por el importe total de contratos como comprador, de mayor a menor.</p>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item filter-dropdown-item" type="button" data-collection="countries">
            <h4 class="emphasis-color-text">Países</h4>
            <p>Estados en los cuales tenemos personas, empresas, instituciones públicas y contratos.</p>
        </button>
    </div>
  {{/ifCond}}
  {{#ifCond filter.htmlFieldName "!=" "collection"}}
    <div class="selection-filter-box">
        <p class="filter-selected" title="">Todos</p>
        <button type="button" class="close ml-auto">&times;</button>
    </div>
    <div class="dropdown-menu filter-dropdown-menu {{filter.align}}">
      {{# ifCond filter.type "==" "string" }}
        <form class="form-inline filter-item" action="">
            <input type="text" class="form-control mr-1" placeholder="TÍTULO DEL CONTRATO" id="contractTitle">
            <button type="submit" class="btn btn-light">APLICAR</button>
        </form>
      {{/ifCond}}
      {{# ifCond filter.type "==" "select" }}
        <button class="btn btn-light" type="button">País</button>
        <button class="btn btn-light" type="button">País</button>
        <button class="btn btn-light" type="button">País</button>
      {{/ifCond}}
    </div>
  {{/ifCond}}
</li>
{{/ifCond}}
