<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-mainmenu">
  <a href="{{ url view="home"}}" class="navbar-brand">
    <img class="img-fluid logo-horizontal" src="../../../images/logo-h.png" alt="QuiénEsQuién.wiki">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item {{#ifCond templateName "==" "searcher" }}active{{/ifCond}}">
        <a class="nav-link" href="{{ url view="buscador"}}"><i class="fas fa-search"></i></i> {{_ "Buscador"}}</a>
      </li>
      <li class="nav-item {{#ifCond currentTemplate "==" "about" }}active{{/ifCond}}">
        <a class="nav-link" href="{{ url view="sobre-qqw"}} "><i class="fas fa-info-circle"></i> {{_ "Sobre QQW"}}</a>
      </li>
    </ul>
  </div>
</nav>

{{#if (conf "notificacion_es") }}
<div class="navbar bg-dark text-white fixed-top notificacion">
  {{{ conf "notificacion_es" }}}
  <button type="button" class="close notificacion-close" aria-label="Close">
    <span aria-hidden="true" class="text-white">×</span>
  </button>
</div>
{{/if}}
