{{#if home }}
<nav class="nav bar" id='navbar'>
{{else}}
<nav class="nav bar fixed-nav" id='navbar'>
{{/if}}

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a href="/"><img class="logo-horizontal" src="../../../images/logo-h.png" alt="Logo QuiénEsQuién.wiki"></a>

    </div>
    <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="fix-search">
          {{#if home }}
          {{else}}
              <form id="search-header" class="nav-form" role="search" method="get">
                {{> main_search }}
              </form>
          {{/if}}
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.in">
          <a href="/contracts" class="nav-link">
            <div class="contenedor_item_menu_top">
              <img class="icon-navbar" src="/images/icons/contrato.svg" alt="Contratos">
              <span class="contracts_header_menu">{{!-- {{__ "Contracts" }} --}} Contracts</span>
            </div>
          </a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.in">
          <a href="/persons" class="nav-link">
            <div class="contenedor_item_menu_top">
              <img class="icon-navbar icon-navbar-persons" src="/images/icons/personas.svg" alt="Personas">
              <span class="empresarios_header_menu">{{!-- {{__ "Persons" }} --}}Persons</span>
            </div>
          </a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.in">
          <a href="/orgs" class="nav-link">
            <div class="contenedor_item_menu_top">
            <img class="icon-navbar" src="/images/icons/organizacion.svg" alt="Organización">
              <span class="empresas_header_menu">{{!-- {{__ "Organizations" }} --}}Organizations</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{#if message }}
  <div class="alert-bar">
     {{message}}
     <span class="hide-alert-bar button-link">
       x
     </span>
  </div>
  {{/if}}

</nav>
