<div class="menu-bar">
  <div class="navbar-header">
    <a href="/"><img class="logo-horizontal" src="../../../images/logo-h.png" alt="{{t "Logo QuiénEsQuién.wiki"}}"></a>
{{#if home }}
{{else}}
    <form id="search-header" class="nav-form" role="search" method="get">
      {{> main_search }}
    </form>
{{/if}}
  <nav class="overlay-menu" {{#if home }}{{else}}style="top: 40%"{{/if}}>
    <ul>
      <li><a href="/buscador" class="button-link"><i class="fas fa-file-alt"></i> {{t "Buscador"}}</a></li>
      <li><a href="/sobre-qqw" class="button-link">{{t "Sobre QQW"}}</a></li>
    </ul>
  </nav>
  </div>
</div>