<!-- The Modal -->
<div class="modal fade" id="dataHow">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Cómo usar los datos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        gsheets
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        =IMPORTCSV("{{url_csv api_url}}")
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        libreoffice es
                    </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        =SERVICIOWEB("{{url_csv api_url}}") + texto a columnas
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        libreoffice en
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        =WEBSERVICE("{{url_csv api_url}}") + texto a columnas
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        R (json)
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        library(rjson)
                        #Read QuienEsQuien.wiki JSON data into R
                        #{{title}}
                        data <- fromJSON(file="https://calc.mayfirst.org/xigc2jl1r73b.json")
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                        R (csv)
                        </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        #Read QuienEsQuien.wiki CSV data into R
                        #{{title}}
                        datos<-read.csv("/home/qlz/Documentos/COVID/26ene/Contratos2021_26ene.csv")
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                        Python (csv)
                        </a>
                    </div>
                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        import csv, urllib2
                        #Read QuienEsQuien.wiki CSV data into python
                        #{{title}}
                        response = urllib2.urlopen('{{url_csv api_url}}')
                        data = csv.reader(response)
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                        Python (pandas, csv)
                        </a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        import pandas as pd

                        #Read QuienEsQuien.wiki CSV data into pandas
                        #{{title}}
                        df = pd.read_csv ('{{url_csv api_url}}')
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                        Python (json)
                        </a>
                    </div>
                    <div id="collapseEight" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        import json, urllib

                        #Read QuienEsQuien.wiki JSON data into python
                        #{{title}}
                        response = urllib2.urlopen('{{api_url}}')
                        data = json.loads(response.read())
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                        Python (pandas, json)
                        </a>
                    </div>
                    <div id="collapseNine" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                        import pandas as pd

                        #Read QuienEsQuien.wiki JSON data into pandas
                        #{{title}}
                        df = pd.read_json('{{api_url}}')
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
        </div>

        </div>
    </div>
</div>