<!-- The Modal -->
<div class="modal fade" id="dataHow">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Cómo usar los datos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>
                Elija el sistema en el cuál desea utilizar los datos para ver las instrucciones.
            </p>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Google Sheets
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Copia en una celda:
                            <code>

                        =IMPORTCSV("{{url_csv api_url}}")
                            </code>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        LibreOffice (Español)
                    </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                                                        Copia en una celda:
                            <code>
                        =SERVICIOWEB("{{url_csv api_url}}")
                        </code>
                        <p>

                         Selecciona la celda y ve al menú Datos > Texto a columnas...
                        </p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        LibreOffice (Inglés)
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                                                                               Copia en una celda:
                            <code>
                        =WEBSERVICE("{{url_csv api_url}}")
                        </code>

                         <p>

                           Selecciona la celda y ve al menú Data > Text to columns...                        
                         </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        R (json)
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>

                            Agrega en tu código:
                            </p>
                        <code>

                        library(rjson) <br>
                        #Read JSON data into R {{title.full}} <br>
                        data &lt;- fromJSON(file="{{api_url}}")
                        </code>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                        R (csv)
                        </a>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>

                            Agrega en tu código:
                            </p>
                        <code>                            
                        #Read CSV data into R  {{title.full}} <br>
                        datos&lt;-read.csv("{{url_csv api_url}}")  <br>
                        </code>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                        Python (csv)
                        </a>
                    </div>
                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                                                        <p>

                            Agrega en tu código:
                            </p>
                        <code>
                        import csv, urllib2 <br>
                        #Read data into python {{title.full}} <br>
                        response = urllib2.urlopen('{{url_csv api_url}}') <br>
                        data = csv.reader(response)
                        </code>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                        Python (pandas, csv)
                        </a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>

                            Agrega en tu código:
                            </p>
                        <code>                            
                        import pandas as pd <br>

                        #Read data into pandas {{title.full}} <br>
                        df = pd.read_csv ('{{url_csv api_url}}')
                        </code>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                        Python (json)
                        </a>
                    </div>
                    <div id="collapseEight" class="collapse" data-parent="#accordion">
                        
                        <div class="card-body">
                                                        <p>

                            Agrega en tu código:
                            </p>
                        <code>
                        import json, urllib <br>

                        #Read JSON data into python {{title.full}} <br>
                        response = urllib2.urlopen('{{api_url}}')   <br>
                        data = json.loads(response.read())
                        </code>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                        Python (pandas, json)
                        </a>
                    </div>
                    <div id="collapseNine" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                                                        <p>

                            Agrega en tu código:
                            </p>
                        <code>
                        import pandas as pd <br>

                        #Read JSON data into pandas {{title.full}} <br>
                        df = pd.read_json('{{api_url}}')    
                        </code>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
        </div>

        </div>
    </div>
</div>