{{!-- Notas --}}
{{#if (lookup notas result.id) }}
<section class="profile" id="investigaciones">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="far fa-newspaper"></i>
        </div>
        <h4 class="description-data-subtitle"> {{{_ "Investigaciones periodísticas"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          {{#each (lookup notas result.id) }}
              <div class="col-md-6 col-12">
                <div class="profile-news-container">
                  <a href="{{this.url}}" class="profile-news-title" target="_blank">
                    {{titulo}}
                  </a>
                  <p class="profile-news-info">
                      {{medio}} {{fecha}} por {{autor}}
                  </p>
                  <p class="profile-news-text">
                      {{explicacion_es}}
                  </p>
                  <div class="text-center">
                    <a href="{{this.url}}" class="btn btn-primary" target="_blank">
                      {{_ "LEER NOTA"}}
                    </a>
                  </div>
                </div>
              </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</section>
{{/if}}

{{!-- Notas memberships --}}
{{#if result.memberships.child }}
<section class="profile" id="investigaciones-memberships" style="display: none">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="far fa-newspaper"></i>
        </div>
        <h4 class="description-data-subtitle"> {{{_ "Investigaciones periodísticas relacionadas"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
        {{#each result.memberships.child }}
          {{#each this.memberships}}
            {{#each (lookup ../../notas parent_id) }}
            <script>
              window.onload = function() {
                $("#investigaciones-memberships").show()
                $("#investigaciones-memberships-menu").show()
              }
            </script>
                <div class="col-md-6 col-12">
                  <div class="profile-news-container">
                    <p class="profile-news-info">
                      {{../parent_name}}
                    </p>
                    <a href="{{this.url}}" class="profile-news-title" target="_blank">
                      {{titulo}}
                    </a>
                    <p class="profile-news-info">
                        {{medio}} {{fecha}} por {{autor}}
                    </p>
                    <p class="profile-news-text">
                        {{explicacion_es}}
                    </p>
                    <div class="text-center">
                      <a href="{{this.url}}" class="btn btn-primary" target="_blank">
                      {{_ "LEER NOTA"}}
                      </a>
                    </div>
                  </div>
                </div>
            {{/each}}
          {{/each}}
        {{/each}}
        </div>
      </div>
    </div>
  </div>

</section>
{{/if}}


{{!-- info --}}
<section class="profile" id="informacion-general">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-folder-open"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "INFORMACIÓN GENERAL"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">

          {{#if result.other_names.length }}
            <div class="col-md-6 col-12">
              <p class="js-title-data">{{{_ "Nombres alternativos"}}}</p>
              <ul class="js-data">
                {{#each result.other_names}}
                <li class="">
                    {{name}}
                </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}


          {{#if result.subclassification}}
            <div class="col-md-3 col-12">
              <p class="js-title-data">{{{_ "Tipo de entidad"}}}</p>
              <p class="js-data">{{#each result.subclassification }}{{_ this}}{{/each}}</p>
            </div>
          {{/if}}

          {{#if result.identifiers }}
            <div class="col-md-3 col-12">
              <p class="js-title-data">{{{_ "Identificadores"}}}</p>
              {{#each result.identifiers}}
                <p class="js-data">
                  {{#ifCond identifier '!=' '#ĦVALOR!'}}
                    {{#ifCond scheme '!=' 'CIQ'}}
                      {{scheme}}: {{id}}{{identifier}}
                    {{/ifCond}}
                  {{/ifCond}}

                  {{#ifCond scheme '==' 'RUPC'}} <i class="fa fa-info" data-toggle="tooltip" data-placement="right" title="{{{_ "Folio asignado por la SFP a la persona física o moral que fue inscrita al Registro Único de Registro Único de Proveedores y Contratistas (RUPC) por un ente público con el que celebró algún contrato"}}}"></i>{{/ifCond}}
                {{/each}}</p>
            </div>
          {{/if}}

          {{#if result.links}}
            <div class="col-md-6 col-12">
              <p class="js-title-data">{{{_ "Link(s)"}}}</p>
              {{#each result.links}}
                {{#with (fix_url this.id) }}
                  <p class="js-data"><a href="{{href}}" target="_blank"> <i class="fas fa-external-link-alt"></i> {{ host }}</a></p>
                {{/with}}
              {{/each}}
            </div>
          {{/if}}
        </div>

        <div class="row flex">
          {{#if result.date}}
            <div class="col-md-2 col-12">
              <p class="js-title-data">{{{_ "Fecha de actualización en QQW"}}}</p>
              <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
            </div>
          {{/if}}


            {{#if result.awards.documents.list.length }}
            <div class="col-12 pb-3">
                <p class="js-title-data">{{{_ "Documentos oficiales" }}}</p>
                {{#each result.awards.documents.list }}
                    <a href="{{this.url}}">
                    <i class="fas fa-external-link-alt"></i>
                    {{{_ "Ver {documentType} {index} en sitio oficial" documentType=(_ documentType) index=(math @index "+" 1) }}} {{#with (fix_url this.url) }}{{host}}{{/with}}
                    </a>
                <br>
                {{/each}}
            </div>
            {{/if}}

          {{#if result.source}}
            <div class="col-md-4 col-12">
              <p class="js-title-data">{{{_ "Fuente(s)"}}}</p>
              <p class="js-data">{{#each result.source}} <a href="{{ url view="entidades-y-fuentes" _anchor=this.id }}">{{_ this.id}}</a>
              <a data-toggle="tooltip" data-placement="bottom" title="{{{ get_source_description this.id }}}"><i class="fas fa-info-circle"></i>
              </a>{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
            </div>

            {{#with (cobranding result.source "data_name") }}
            <div class="col-md-3 col-12">
              <p class="js-title-data">{{{_ "Forman parte del proyecto"}}}</p>
              <p class="js-data">
              {{#each this }}
                    <a href="{{data_url}}">{{data_name}}</a>{{#if @last}}{{else}}, {{/if}}
              {{/each}}
              </p>
            </div>
            {{/with}}

            {{#with (cobranding result.source "org_name") }}
            <div class="col-md-3 col-12">
              <p class="js-title-data">{{{_ "Organización responsable de la importación"}}}</p>
              <p class="js-data">
                {{#each this }}
                    <a href="{{org_url}}">{{org_name}}</a>{{#if @last}}{{else}}, {{/if}}
                {{/each}}
                </p>
            </div>
            {{/with}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>

</section>


