<!-- Modal -->
<div class="modal fade" id="reportUse" tabindex="-1" role="dialog" aria-labelledby="reportUseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportUseLabel">{{_ "Usar información de QuienEsQuien.wiki" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{{_ "La información de QuienEsQuien.wiki se puede reutilizar sin pedirn autorización, siempre y cuando nos cites como fuente y utilices la licencia <a href='{license}'>CC-BY-SA</a> para tus publicaciones." license=(url view="license")}}}</p>
                <p>

                {{_ "Si no puedes cumplir con estos requisitos, por favor contáctanos y cuéntanos sobre tu proyecto." }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="/contacto?subject={{_ "Usar info de {title}" title=(or title.full title) }}">{{_ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="reportInfo" tabindex="-1" role="dialog" aria-labelledby="reportInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportInfoLabel">{{_ "Correcciones a la información" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>

                {{_ "La información recopilada en QuiénEsQuién.Wiki proviene de fuentes públicas y oficiales, como Compranet y la BMV, si encuentras que no es precisa o tiene errores, se trata de errores de las fuentes de origen." }}
                </p>
                <p>

                {{_ "Si la información presentada sobre '{title}' no es correcta, por favor contáctanos reportando la información errónea y dónde podemos conseguir la información correcta. Nos ofrecemos a acompañarte en el reclamo a las entidades correspondientes." title=(or title.full title) }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="{{ url view="contacto" subject=(_ "Solicito apoyo por errores en {title}" title=(or title.full title)) }}">{{_ "Solicitar acompañamiento" }}</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="reportCrime" tabindex="-1" role="dialog" aria-labelledby="reportCrimeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportCrimeLabel">{{_ "Soy víctima de una estafa o extorsión" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>

                    {{{_ "Lamentablemente es una práctica muy común que las empresas y personas no cumplan con sus compromisos al proveer bienes o servicios, en caso de incumplimiento en México puedes dirigirte a la <a href='https://www.gob.mx/profeco/es/articulos/proceso-y-requisitos-de-quejas-y-denuncias?idiom=es'>Profeco</a> y presentar una queja o denuncia según corresponda, en caso de ser víctima de fraude cibernético te invitamos a leer este instructivo de la <a href='https://www.gob.mx/profeco/articulos/campana-nacional-antifraude-cibernetico-260577?idiom=esRecomendaciones'>Campaña Nacional Antifraude Cibernético</a>."}}}
                </p>
                <p>

                    {{{_ "Si eres víctima de extorsión, toma fotos de pantalla de los mensajes recibidos y dirígete al ministerio público para solicitar protección, o bien, llama al número 088 para recibir orientación para presentar la denuncia correspondiente. <a href='https://www.gob.mx/sspc/es/articulos/no-seas-victima-de-engano-telefonico?idiom=es'>Recomendaciones para denunciar extorsión telefónica</a> . Si los extorsionadores han mencionado explícitamente a QuienEsQuien.wiki en sus mensajes, por favor envíanos una copia de los mensajes."}}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a type="button" class="btn btn-primary" href="{{ url view="contacto" subject=(_ "Extorsión basada en QQW {title}" title=(or title.full title)) }}">{{ _ "Reportar extorsión" }}</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="reportAsk" tabindex="-1" role="dialog" aria-labelledby="reportAskLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportAskLabel">{{_ "No es posible contactar" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{_ "Si deseas solicitar cotizaciones, ofrecer tus servicios, reclamar a empresas o contactar a personas, te recomendamos buscar el sitio web oficial o utilizar otro medio de contacto. QuienEsQuien.wiki no es un sitio de anuncios ni tiene contacto con las empresas y personas mencionadas en el sitio." }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reportBug" tabindex="-1" role="dialog" aria-labelledby="reportBugLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportBugLabel">{{_ "Reporte de errores" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    {{{_ "Agradecemos mucho que te tomes el tiempo de reportarnos errores y proponernos mejoras, por favor contáctanos con tus ideas o carga un issue en nuestro <a href='https://github.com/projectpoder/qqw-poppins'>repositorio de GitHub</a>." }}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="{{url view="contacto" subject=(_ "Errores en {share_url}" share_url=share_url) }}">{{_ "Reportar fallo" }}</a>
            </div>
        </div>
    </div>
</div>