<!-- Modal -->
<div class="modal fade" id="reportUse" tabindex="-1" role="dialog" aria-labelledby="reportUseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportUseLabel">{{_ "Usar información de QuienEsQuien.wiki" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>

                {{{_ "Puedes utilizar cualquier información en QuienEsQuien.wiki sin pedirnos autorización, siempre y cuando cumplas con los términos de nuestra <a href='{url}'>licencia PPL</a>. " url=(url view="licencia") }}}
                </p>
                <p>

                {{_ "En resúmen: citar la fuente, utilizar la misma licencia para tu contenido y no hacer explotación capitalista." }}
                </p>
                <p>

                {{_ "Si quieres utilizar la información y no puedes cumplir con la licencia, por favor contáctanos y cuéntanos sobre tu proyecto." }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="/contacto?subject={{_ "Usar info de {title}" title=(or title.full title) }}">{{_ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="reportInfo" tabindex="-1" role="dialog" aria-labelledby="reportInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportInfoLabel">{{_ "Correcciones a la información" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>

                {{_ "La información recopilada en QuiénEsQuién.Wiki proviene de fuentes públicas y oficiales, como Compranet y la BMV, si encuentras que no es precisa o tiene errores, se trata de errores de las fuentes de origen, con las que no tenemos contacto. Sin embargo, agradecemos que nos informes sobre esto y lo documentaremos apropiadamente." }}
                </p>
                <p>

                {{_ "Si la información presentada sobre '{title}' no es correcta, por favor contáctanos reportando la información errónea y dónde podemos conseguir la información correcta." title=(or title.full title) }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="{{ url view="contacto" subject=(_ "Correcciones a {title}" title=(or title.full title)) }}">{{_ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="reportAdd" tabindex="-1" role="dialog" aria-labelledby="reportAddLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportAddLabel">{{_ "Aportar información" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              {{_ "Agradecemos todos los aportes. Si tienes información adicional sobre '{title}' y quieres que esta le llegue al área de periodismo de PODER, por favor contáctanos." title=(or title.full title) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a type="button" class="btn btn-primary" href="{{ url view="contacto" subject=(_ "Aporte de información sobre {title}" title=(or title.full title)) }}">{{ _ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="reportAsk" tabindex="-1" role="dialog" aria-labelledby="reportAskLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportAskLabel">{{_ "Solicitar información adicional" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{_ "La información que encuentras en el perfil de cada persona o empresa proviene de diferentes fuentes públicas y oficiales, que al mismo tiempo están documentadas en nuestro portal. Nosotros no somos una dependencia de gobierno ni empresa que realice actividades de compra. Tampoco tenemos contacto con las personas o empresas mencionadas en estos perfiles." }}
                </p>
                <p>
                    {{_ "Si tu duda no ha sido resuelta con esta respuesta, te invitamos a que nos contactes y haremos nuestro mejor esfuerzo para responderte." }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="{{url view="contacto" subject=(_ "Solicito información de {title}" title=(or title.full title)) }}">{{_ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reportBug" tabindex="-1" role="dialog" aria-labelledby="reportBugLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportBugLabel">{{_ "Reporte de errores" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    {{_ "Agradecemos mucho que te tomes el tiempo de reportarnos errores y proponernos mejoras, por favor llena este formulario." }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="{{url view="contacto" subject=(_ "Errores en {share_url}" share_url=share_url) }}">{{_ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="reportOther" tabindex="-1" role="dialog" aria-labelledby="reportOtherLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportOtherLabel">{{_ "Otros temas" }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              {{_ "Si lo que preguntas o solicitas no tiene relación con el trabajo de PODER ni los datos en QuiénEsQuién.Wiki, no vamos a podemos resolver tu cuestión. Si aún quieres contactarnos, por favor presiona el botón azul." }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
                <a type="button" class="btn btn-primary" href="{{url view="contacto" subject=(_ "Otros temas") }}">{{_ "Contáctanos" }}</a>
            </div>
        </div>
    </div>
</div>

        {{!-- <p class="addinfo-note">
            Nota: Este mensaje <strong>no llegará a los titulares</strong> de esta empresa o institución pública.<br> Los mensajes son revisados por el equipo de QuiénEsQuién.Wiki únicamente si se comparten datos o solicitudes de ayuda, por favor no envié ofertas u otro tipo de mensajes. 
        </p>

        <form action="" class="addinfo-form">
            <div class="form-group">
                <label>SI TIENES INFORMACIÓN PARA APORTAR A ESTA PERSONA, AGRÉGALA AQUÍ.</label>
                <textarea id="message_info" class="form-control" rows="6" placeholder="ESCRIBE LOS DATOS QUE DESEAS APORTAR"></textarea>
            </div>
            <div class="form-group">
                <label>FUENTE</label>
                <input id="source_info" class="form-control" type="text" placeholder="AGREGA LA FUENTE DE INFORMACIÓN">
            </div>
            <div class="form-group">
                <label>EMAIL</label>
                <input id="email_info" class="form-control" type="email" placeholder="AGREGA TU EMAIL">
            </div>
            <div class="mt-2">
                <button id="send_info_email" type="submit" class="button-link">ENVIAR</button>
            </div>
        </form>
        <div id="thanks-column_info" style="display: none;">
            <h3>Información enviada</h3>
            <p>Gracias por aportar información.</p>
        </div>

        <div class="addinfo-box">
            <h4>SI DESEAS ENVIAR DATOS DE FORMA ANÓNIMA, USA EL BUZÓN DE <a href="https://www.projectpoder.org/es/">PODER</a> EN</h4>
            <img src="../../images/mexicoleaks-negro.png" alt="Mexicoleaks Logo" class="addinfo-box-logo img-fluid">
            <p>Una plataforma de filtración de datos anónima y segura que verifica la información proporcionada.</p>
            <div class="mt-2 mb-1">
                <a href="https://mexicoleaks.mx/enviar-para.php?r=poder" class="button-link" target="_blank">ACCEDER</a>
            </div>
        </div> --}}
