<div class="index-list-item">
    <div class="index-list-group">
      <div class="index-list-title">
        <a href="{{url view=(get_type_url result.details.type result.classification) _id=result.id }}">
          <p class="text-overflow" title="{{or result.name result.contracts.title}}">
            {{{ get_classification_icon (or result.classification result.details.type) result.subclassification result.govLevel}}}
            {{#ifCond result.classification "==" "country" }}
              {{translate_area result.id }}
            {{else}}
              {{or result.name result.contracts.title}}
            {{/ifCond}}
          </p>
        </a>
      </div>
      <div class="index-list-elements">
        {{#ifCond (get_classification_type result.classification) "==" "person" }}
          {{!-- <div class="justify-content-start"> --}}
            <div class="left-elements col-lg-8 col-md-8 col-md-8 col-sm-8 col-8">
              <div class="col-lg-12 p-0">
                {{> result-contracts this }}
              </div>
            </div>
            <div class="right-elements col-lg-4 col-md-4 col-md-4 col-sm-4 col-4">
              {{#if area }}
              <div class="col-lg-3 p-0">
                <p class="index-list-element">
                  <i class="fas fa-flag"></i>{{#each area }} <a href="{{ url view="areas/:id" _id=id}}" title="{{_ "País:" }} {{name}}">{{name}}</a>{{/each}}
                </p>
              </div>
              {{/if}}
              {{#if gender }}
              <div class="col-lg-2 p-0">
                <p class="index-list-element" title="{{_ "Género:" }} {{#ifCond gender "==" "f" }}{{_ "Mujer" }}{{/ifCond }} {{#ifCond gender "==" "m" }}{{_ "Hombre" }}{{/ifCond }}">
                  <i class="{{#ifCond gender "==" "f" }}fas fa-venus{{/ifCond }} {{#ifCond gender "==" "m" }}fas fa-mars{{/ifCond }}"></i>
                  {{#ifCond gender "==" "f" }}{{_ "Mujer" }}{{/ifCond }} 
                  {{#ifCond gender "==" "m" }}{{_ "Hombre" }}{{/ifCond }}
                </p>
              </div>
              {{/if}}
            </div>
          {{!-- </div> --}}
        {{/ifCond}}

        {{!-- CONTRATOS --}}
        {{#ifCond (get_classification_type result.classification) "==" "contract" }}
          <div class="left-elements col-lg-7 col-md-7 col-md-7 col-sm-7 col-7">
            <div class="col-lg-6 p-0">
              <p class="index-list-element">
                <a href="{{ url view=(get_type_url parties.buyer.details.type) _id=parties.buyer.memberOf.id}}" title="{{_ "Comprador" }}: {{parties.buyer.memberOf.name}}">
                  {{{get_classification_icon parties.buyer.details.type parties.buyer.details.classification parties.buyer.details.subclassification parties.buyer.details.govLevel }}}
                    {{{hilight ../../filter_values.dependencia.value parties.buyer.memberOf.name}}}
                </a>
              </p>
            </div> 
            <div class="col-lg-6 p-0">
              <p class="index-list-element">
                {{#each parties.suppliers.list }}
                  <a href="{{ url view=(get_type_url details.type) _id=id }}" title="{{_ "Proveedor:" }} {{name}}">
                      {{{get_classification_icon details.type details.classification details.govLevel }}}
                      {{name }} 
                    {{#ifCond parties.suppliers.list.length ">" 1 }}
                      {{_ "(y {sc} mas)" sc=result.supplier_count }}
                    {{/ifCond}}
                  </a>
                {{/each}}
              </p>
            </div>
          </div>
          <div class="right-elements col-lg-5 col-md-5 col-md-5 col-sm-5 col-5">
            <div class="col-lg-4 p-0">
              <p class="index-list-element" title="{{_ "Monto" }}: {{format_amount result.contracts.value.amount}} {{format_currency result.contracts.value.currency}}">
                <i class="fas fa-dollar-sign"></i>
                  {{format_amount result.contracts.value.amount}} {{format_currency result.contracts.value.currency}}
              </p>
            </div>
            <div class="col-lg-4 p-0">
              <p class="index-list-element" title="{{_ "Fecha" }}: {{moment result.contracts.period.startDate date lang="es" format="L"}} {{_ "al" }} {{moment result.contracts.period.endDate date lang="es" format="L"}}">
                <i class="fas fa-calendar-alt"></i>
                  {{moment result.contracts.period.startDate date lang="es" format="L"}} {{_ "al" }} {{moment result.contracts.period.endDate date lang="es" format="L"}}
              </p>
            </div>
            <div class="col-lg-4 p-0">
              <p class="index-list-element" title="{{_ "Tipo de procedimiento"}}: {{result.tender.procurementMethodDetails}}">
                <i class="fas fa-clipboard-list"></i>
                  {{result.tender.procurementMethodDetails}}
              </p>
            </div>
          </div>
        {{/ifCond}}

        {{!-- EMPRESAS --}}
        {{#ifCond (get_classification_type result.classification) "==" "company" }}
          <div class="left-elements col-lg-8 col-md-8 col-md-8 col-sm-8 col-8">
            <div class="col-lg-12 p-0">
             {{> result-contracts this }}
            </div>
          </div>
          <div class="right-elements col-lg-4 col-md-4 col-md-4 col-sm-4 col-4">
            <div class="col-lg-7 p-0">
              <p class="index-list-element">
              </p>
            </div>
            {{#if area }}
            <div class="col-lg-3 p-0">
              <p class="index-list-element">
                  <i class="fas fa-flag"></i>{{#each area }} <a href="{{ url view="areas/:id" _id=id}}" title="{{_ "País:" }} {{name}}">{{name}}</a>{{/each}}
              </p>
            </div>
            {{/if}}
          </div>
        {{/ifCond}}

        {{!-- INSTITUCIONES --}}
        {{#ifCond (get_classification_type result.classification) "==" "institution" }}        
          <div class="full-elements col-lg-12 p-0">
             {{> result-contracts this }}
          </div>
        {{/ifCond}}

        {{!-- PAISES --}}
        {{#ifCond (get_classification_type result.classification) "==" "area" }}
          <div class="left-elements col-lg-12 col-md-12 col-md-12 col-sm-12 col-12">
             {{> result-contracts this }}

            {{!-- <div class="col-lg-2 p-0">
              <p class="index-list-element">
                <a href="{{url view="buscador" collection="persons" pais=id}}" title="{{format_number summaries.persons_count}} {{_ "personas" }}">
                <i class="fas fa-users"></i> {{format_number summaries.persons_count}} {{_ "personas" }}
                </a>
              </p>
            </div>
            <div class="col-lg-2 p-0">
              <p class="index-list-element">
                <a href="{{url view="buscador" collection="companies" pais=id}}" title="{{format_number summaries.companies_count}} {{_ "empresas" }}">
                  <i class="fas fa-building"></i> 
                  {{format_number summaries.companies_count}} {{_ "empresas" }}
                </a>
              </p>
            </div>
            {{# if summaries.states_count }}
            <div class="col-lg-2 p-0">
              <p class="index-list-element" title="{{format_number summaries.states_count}} {{_ "estados" }}"><i class="fas fa-map-marked"></i> {{format_number summaries.states_count}} <span>{{_ "estados" }}</span>
              </p>
            </div>
            {{/if }}
            <div class="col-lg-2 p-0">
              <p class="index-list-element">
                <a href="{{ url view="areas/:id" _id=id _anchor="genero"}}" title="{{format_number  summaries.stock_exchanges_count }} {{_ "Bolsa de Valores" }}">
                  <i class="fas fa-chart-line"></i> {{format_number  summaries.stock_exchanges_count }} <span>{{_ "Bolsa de Valores" }}</span>
                </a>
              </p>
            </div>
            <div class="col-lg-4 p-0">
              <p class="index-list-element">
                <a href="/{{ url view="regiones/:id/mujeresenlabolsa" _id=id}}" title="{{format_number summaries.mujeres_ranking }}  {{_ "posición en ranking" }}">
                  <i class="fas fa-hashtag"></i> {{format_number summaries.mujeres_ranking }} 
                  <span>{{_ "posición en ranking" }}</span>
                </a>
              </p>
            </div> --}}
          </div>
          {{!-- <div class="right-elements col-lg-5 col-md-6 col-md-6 col-sm-6 col-6">

          </div> --}}
        {{/ifCond}}
      </div>
    </div>
    <div class="index-list-button">
        <a href="{{ url view=(get_type_url result.details.type result.classification) _id=result.id }}"><i class="far fa-arrow-alt-circle-right"></i></a>
    </div>
</div>
<hr class="hr-index">
