<div class="index-list-item">
    <div class="index-list-group">
      <div class="index-list-title">
        <a href="/{{get_type_url collection}}/{{ or result.ocid result.id }}">
          <p class="text-overflow" title="{{or result.name result.compiledRelease.contracts.0.title}}">
            {{{ get_classification_icon collection result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel}}}
            {{or result.name result.title}}
          </p>
        </a>
      </div>
      <div class="index-list-elements">
        {{!-- PERSONAS --}}
        {{#ifCond collection "==" "persons" }}
          <div class="left-elements">
            {{# if contract_count.supplier }}
              <p class="index-list-element">
                <a href="?collection=contracts&proveedor={{name}}">
                  <i class="fas fa-file-alt"></i> Proveedor en {{format_number contract_count.supplier}} contrato(s) por un total de <i class="fas fa-dollar-sign"></i> {{format_amount contract_amount.supplier}} MXN
                </a>
              </p>
            {{/if}}
            {{# if contract_count.buyer }}
              <p class="index-list-element">
                <a href="?collection=contracts&comprador={{name}}">
                  <i class="fas fa-file-alt"></i> Comprador en {{format_number contract_count.buyer}} contrato(s) por un total de <i class="fas fa-dollar-sign"></i> {{format_amount contract_amount.buyer}} MXN
                </a>
              </p>
            {{/if}}
  
          </div>
          <div class="right-elements">
            {{#if gender }}
            <p class="index-list-element">
              <i class="fas fa-mars"></i>
              {{gender}}
            </p>
            {{/if}}
            {{#if area }}
            <p class="index-list-element">
              <i class="fas fa-flag"></i>
              <a href="/paises/{{area.id}}">{{area.name}}</a>
            </p>
            {{/if}}
          </div>
        {{/ifCond}}

        {{!-- CONTRATOS --}}
        {{#ifCond collection "==" "contracts" }}
          <div class="left-elements">
            <p class="index-list-element" title="Comprador">
              {{#with (get_party this compiledRelease.parties.0.id)}}
               {{#if memberOf.0.id }}
                  <a href="/{{get_type_url details.type }}/{{memberOf.0.id}}" title="{{memberOf.0.name}}">
                    {{{get_classification_icon memberOf.0.type memberOf.0.classification memberOf.0.subclassification memberOf.0.govLevel }}}
                    {{{hilight ../filter_values.dependencia.value memberOf.0.name}}}
                  </a>
                {{else}}
                  <a href="/{{get_type_url details.type }}/{{id}}">
                    {{{get_classification_icon type classification subclassification govLevel }}}
                    {{{hilight ../filter_values.dependencia.value name}}}
                  </a>
                {{/if}}
              {{/with}}
            </p>  
          
            <p class="index-list-element" title="Proveedor">
              {{#with result.compiledRelease.awards.[0].suppliers.[0]}}
                <a href="/empresas/{{id}}">
                  {{{get_classification_icon type classification subclassification govLevel }}}
                  {{name }} 
                  {{#ifCond result.supplier_count ">" 1 }}
                    (y {{result.supplier_count}} mas)
                  {{/ifCond}}
                </a>
              {{/with}}
            </p>
          </div>
          <div class="right-elements">
            <p class="index-list-element"><i class="fas fa-dollar-sign"></i> {{format_amount result.compiledRelease.total_amount}} {{format_currency result.compiledRelease.contracts.0.value.currency}}</p>
            <p class="index-list-element"><i class="fas fa-calendar-alt"></i> {{moment result.startDate date lang="es" format="L"}} al {{moment result.endDate date lang="es" format="L"}}</p>
            <p class="index-list-element"><i class="fas fa-clipboard-list"></i> {{result.compiledRelease.tender.procurementMethod}}</p>
          </div>
        {{/ifCond}}

        {{!-- EMPRESAS --}}
        {{#ifCond collection "==" "companies" }}
          <div class="left-elements">
            {{# if contract_count.supplier }}
              <p class="index-list-element">
                <a href="?collection=contracts&proveedor={{name}}">
                  <i class="fas fa-file-alt"></i> Proveedor en {{format_number contract_count.supplier}} contrato(s) por un total de <i class="fas fa-dollar-sign"></i> {{format_amount contract_amount.supplier}} MXN
                </a>
              </p>
            {{/if}}
            {{# if contract_count.buyer }}
              <p class="index-list-element">
                <a href="?collection=contracts&comprador={{name}}">
                  <i class="fas fa-file-alt"></i> Comprador en {{format_number contract_count.buyer}} contrato(s) por un total de <i class="fas fa-dollar-sign"></i> {{format_amount contract_amount.buyer}} MXN
                </a>
              </p>
            {{/if}}
          </div>
          <div class="right-elements">
            <a href="">
              <p class="index-list-element">
                <i class="fas fa-chart-line"></i> 
                Nombre de la bolsa de valores
              </p>
            </a>
            {{#if area }}
            <p class="index-list-element">
              <i class="fas fa-flag"></i>
              <a href="/paises/{{area.0.id}}">{{ area.0.name }}</a>
            </p>
            {{/if}}

          </div>
        {{/ifCond}}

        {{!-- INSTITUCIONES --}}
        {{#ifCond collection "==" "institutions" }}
          <div class="left-elements flex-column">
            {{# if contract_count.supplier }}
              <p class="index-list-element">
                <a href="?collection=contracts&proveedor={{name}}">
                  <i class="fas fa-file-alt"></i> Proveedor en {{format_number contract_count.supplier}} contrato(s) por un total de <i class="fas fa-dollar-sign"></i> {{format_amount contract_amount.supplier}} MXN
                </a>
              </p>
            {{/if}}
            {{# if contract_count.buyer }}
              <p class="index-list-element">
                <a href="?collection=contracts&comprador={{name}}">
                  <i class="fas fa-file-alt"></i> Comprador en {{format_number contract_count.buyer}} contrato(s) por un total de <i class="fas fa-dollar-sign"></i> {{format_amount contract_amount.buyer}} MXN
                </a>
              </p>
            {{/if}}
          </div>
        {{/ifCond}}

        {{!-- PAISES --}}
        {{# ifCond collection "==" "countries" }}
          <div class="left-elements">
            <p class="index-list-element">
              <a href="?collection=persons&pais={{id}}">
               <i class="fas fa-users"></i> {{format_number summaries.persons_count}} personas
              </a>
            </p>
            <p class="index-list-element">
              <a href="?collection=companies&pais={{id}}">
                <i class="fas fa-building"></i> 
                {{format_number summaries.companies_count}} empresas
              </a>
            </p>
            {{# if compiledRelease.summaries.states_count }}
            <p class="index-list-element"><i class="fas fa-map-marked"></i> {{format_number summaries.states_count}} <span>estados</span></p>
            {{/if }}
          </div>
          <div class="right-elements">
            <a href="/paises/{{id}}#genero">
              <p class="index-list-element"><i class="fas fa-chart-line"></i> {{format_number  summaries.stock_exchanges_count }} <span>Bolsa de Valores</span></p>
            </a>
            <a href="/paises/{{id}}/mujeresenlabolsa">
              <p class="index-list-element"><i class="fas fa-hashtag"></i> {{format_number summaries.mujeres_ranking }} <span>posición en ranking</span></p>
            </a>
          </div>
        {{/ifCond}}
      </div>

    </div>
    <div class="index-list-button">
        <a href="/{{get_type_url collection }}/{{ or result.ocid result.id }}"><i class="far fa-arrow-alt-circle-right"></i></a>
    </div>
</div>
<hr class="hr-index">
