<section class="profile profile-summary" id="summary-{{summary}}">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas 
          {{#ifCond summary "==" "buyer"}}
          fa-money-check-alt
          {{/ifCond}}
          {{#ifCond summary "==" "supplier"}}
          fa-dolly
          {{/ifCond}}
          {{#ifCond summary "==" "funder"}}
          fa-donate
          {{/ifCond}}
          {{#ifCond summary "==" "contactPoint"}}
          fa-shopping-cart
          {{/ifCond}}
          "></i> 
        </div>
        <h4 class="description-data-subtitle">
          {{_ "Resúmen de actividad como {summary} " summary=(_ summary)}}
        </h4>
      </div>
      <div  class="col-md-12 col-12">
        <div class="profile-summary-content">
            <div class="summary-total {{summary}}-text">
                <p>
                  <i class="fas fa-file-alt"></i>
                  {{{_ "{cant_countratos} contratos como {summary} por un total de <strong>{amount_contratos} MXN</strong>" cant_countratos=(format_amount data.total.count) summary=(_ summary) amount_contratos=(format_amount data.total.value) }}}
                  {{_ "entre los años {first_year} y {last_year}." first_year=(first_key data.year) last_year=(last_key data.year) }}
                </p>

                {{#ifCond summary '==' 'contactPoint'}}
                  <p class="description-data-amount">
                    <i class="fas fa-info-circle"></i>
                    {{{_ "Ésta persona es (o ha sido) responsable de una Unidad Compradora y con el objetivo de brindar la máxima información disponible lo mostramos como comprador a todos los contratos que sucedieron bajo su mandato."}}}
                  </p>
                {{/ifCond}}
            </div>
            <div class="row">
                <div  class="col-md-6 col-12 mb-6">
                <h5 class="description-data-subname">{{_ "Evolución anual de contratos" }}</h5>
                <div id="chart-year-{{summary}}" class="summary-chart"></div>
                </div>
                <div class="col-md-6 col-12 mb-6">
                <h5 class="description-data-subname">{{_ "Tipo de procedimiento" }}</h5>
                <div id="chart-type-{{summary}}" class="summary-chart"></div>
                </div>

                <div class="col-md-12 col-12">
                    <h5 class="description-data-subname">{{_ "Entidades principales" }}</h5>
                    {{#each data.top_entities }}
                        {{>result result=this collection=(get_type_collection this.details.type) }}
                    {{/each}}

                    <h5 class="description-data-subname">{{_ "Mayores contratos" }}</h5>
                    {{#each data.top_contracts }}
                        {{>result collection="contracts" result=this }}
                    {{/each}}
                    <div class="contract-button">
                        {{#ifCond type '==' 'persons'}}
                          {{#ifCond summary '==' 'contactPoint'}}
                            <a href="{{ url view="buscador" collection="contracts" responsable=result.name}}" class="button-link {{summary}}-button">{{_ "Ver todos los contratos de este responsable" }}</a>
                          {{else }}
                            <a href="{{ url view="buscador" collection="contracts" proveedor=result.name}}" class="button-link {{summary}}-button">{{_ "Ver todos los contratos de este proveedor" }}</a>
                          {{/ifCond }}
                        {{else }}
                          {{#ifCond result.classification "==" "company"}}
                              <a href="{{ url view="buscador" collection="contracts" proveedor=result.id}}" class="button-link {{summary}}-button">{{_ "Ver todos los contratos de este proveedor" }}</a>
                            {{else}}
                            {{#ifCond result.subclassification "==" "unidad-compradora"}}
                                <a href="{{ url view="buscador" collection="contracts" uc_id=result.id}}" class="button-link {{summary}}-button">{{_ "Ver todos los contratos de esta UC" }}</a>
                            {{else }}
                                <a href="{{ url view="buscador" collection="contracts" dependencia=result.name}}" class="button-link {{summary}}-button">{{_ "Ver todos los contratos de esta dependencia" }}</a>
                            {{/ifCond}}
                          {{/ifCond}}
                        {{/ifCond }}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  
  tiza.contractTypePie({
    target: "#chart-type-{{summary}}", 
    type: "{{summary}}", 
    nameLabels: {
        "open": "{{_ "Licitación abierta" }}",
        "direct": "{{_ "Adjudicación Directa" }}",
        "limited": "{{_ "Invitación a tres" }}",
        "undefined": "{{_ "Sin definir" }}",
        "": "{{_ "Sin información" }}"
    },
    procurementColors: tiza.procurementColors["{{summary}}"],
    data: {{{j data.type }}} 
  });

  tiza.yearlyContractsBar({
    target: "#chart-year-{{summary}}", 
    amountKeyName: "{{_ "Importe" }}",
    countKeyName: "{{_ "Cantidad" }}",
    barColors: {
        "{{_ "Importe" }}": tiza.barColors["{{summary}}"].amount,
        "{{_ "Cantidad" }}": tiza.barColors["{{summary}}"].count
    },
    type: "{{summary}}", 
    data: {{{j data.year }}} 
  });
</script>