<section class="profile profile-summary summary-{{role}} summary-{{classification}}" id="summary-{{role}}_{{classification}}">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas
          {{#ifCond role "==" "buyer"}}
          fa-money-check-alt
          {{/ifCond}}
          {{#ifCond role "==" "supplier"}}
          fa-dolly
          {{/ifCond}}
          {{#ifCond role "==" "funder"}}
          fa-donate
          {{/ifCond}}
          {{#ifCond role "==" "contactPoint"}}
          fa-shopping-cart
          {{/ifCond}}
          "></i>
        </div>
        <h4 class="description-data-subtitle">
          {{_ "Resúmen de actividad como {role} de {classification} " role=(_ role) classification=(_ classification)}}
        </h4>
      </div>
      <div  class="col-md-12 col-12">
        <div class="profile-summary-content">
            <div class="summary-total {{role}}-{{classification}}-text">
                <p>
                  <i class="fas fa-file-alt"></i>
                  {{{_ "{cant_contratos} {classification} como {role} por un total de <strong>{amount_contratos}</strong>"
                  cant_contratos=(format_number data.total.count)  role=(_ role) classification=(_ classification) amount_contratos=(format_amount data.total.value) }}}
                  {{_ "entre los años {first_year} y {last_year}." first_year=(first_key data.year) last_year=(last_key data.year) }}
                </p>

                {{#ifCond role '==' 'contactPoint'}}
                  <p class="description-data-amount">
                    <i class="fas fa-info-circle"></i>
                    {{{_ "Ésta persona es (o ha sido) responsable de una Unidad Compradora y con el objetivo de brindar la máxima información disponible lo mostramos como comprador a todos los contratos que sucedieron bajo su mandato."}}}
                  </p>
                {{/ifCond}}
            </div>
            <div class="row">
                <div  class="col-md-6 col-12 mb-6">
                <h5 class="description-data-subname">{{_ "Evolución anual de {classification}" classification=(_ classification)  }}</h5>
                <div id="chart-year-{{role}}-{{classification}}" class="summary-chart"></div>
                </div>
                <div class="col-md-6 col-12 mb-6">
                <h5 class="description-data-subname">{{_ "Tipo de procedimiento" }}</h5>
                <div id="chart-type-{{role}}-{{classification}}" class="summary-chart"></div>
                </div>

                <div class="col-md-12 col-12">
                    <h5 class="description-data-subname">{{_ "Entidades principales" }}</h5>
                    {{#each data.top_entities }}
                        {{>result result=this membership_name=../result.name }}
                    {{/each}}

                    <h5 class="description-data-subname">{{_ "Mayores {classification}"  classification=(_ classification) }}</h5>
                    {{#each data.top_contracts }}
                        {{>result collection="contracts" result=this }}
                    {{/each}}

                    {{#if data.total.sobrecosto_total }}
                    <h5 class="description-data-subname">{{_ "Sobrecosto total" }}</h5>
                    {{!-- Sobrecosto en MXN: {{ format_amount data.total.sobrecosto_total "MXN"}} Sobrecosto en %: {{ format_percentage data.total.sobrecosto_porcentaje}} --}}
                    <div class="col-md-6 col-12">
                      <p class="js-title-data">Sobrecosto en MXN</p>
                      <p class="js-data">{{ format_amount data.total.sobrecosto_total "MXN"}}</p>
                    </div>
                    <div class="col-md-3 col-12">
                      <p class="js-title-data">Sobrecosto en %</p>
                      <p class="js-data">{{ format_percentage data.total.sobrecosto_porcentaje}}</p>
                    </div>
                    {{/if}}

                    {{#if data.top_products }}
                      <div class="col-md-12 col-12">
                        <h5 class="description-data-subname">{{_ "Productos principales" }}</h5>
                        <table width="100%" class="table row-border">
                          <thead>
                            <tr>
                              <th>Producto</th>
                              <th>Compras</th>
                              <th>Monto total</th>
                              <th>Sobrecosto en MXN</th>
                              <th>Sobrecosto en %</th>
                              <th>Período</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each data.top_products }}
                            <tr>
                              <td>
                                <a href="{{url view="productos" _id=this.clave}}">
                                  {{ this.producto}}
                                </a>
                              </td>
                              <td>
                                {{ format_number this.cantidad }}
                              </td>
                              <td>
                                {{ format_number this.monto_total }} MXN
                              </td>
                              <td>

                                {{ format_number this.monto_total_sobrecosto }} MXN
                              </td>
                              <td>

                                {{ format_percentage this.sobrecosto}}
                              </td>
                              <td>

                                {{ moment this.primera_compra "Y"}}
                                -
                                {{ moment this.ultima_compra "Y" }}
                              </td>

                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        <div class="contract-button">
                            {{#ifCond type '==' 'persons'}}
                              {{#ifCond role '==' 'contactPoint'}}
                                <a href="{{ url view="buscador" collection="contracts" responsable=result.id tipo-entidad=classification }}" class="button-link {{role}}-button">

                              {{else }}
                                <a href="{{ url view="buscador" collection="contracts" proveedor=result.id tipo-entidad=classification}}" class="button-link {{role}}-button">
                              {{/ifCond }}
                            {{else }}
                              {{#ifCond result.classification "==" "company"}}
                                  <a href="{{ url view="buscador" collection="contracts" proveedor=result.id tipo-entidad=classification}}" class="button-link {{role}}-button">
                                {{else}}
                                {{#ifCond role "==" "supplier"}}
                                    <a href="{{ url view="buscador" collection="contracts" proveedor=result.id tipo-entidad=classification}}" class="button-link {{role}}-button">
                                {{else }}
                                    <a href="{{ url view="buscador" collection="contracts" dependencia=result.id tipo-entidad=classification}}" class="button-link {{role}}-button">
                                {{/ifCond}}
                              {{/ifCond}}
                            {{/ifCond }}
                            {{_ "Ver todos los {classification} de este {role}" role=(_ role) classification=(_ classification) }}</a>
                        </div>
                      </div>
                    {{/if}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{#if data.top_products }}
  {{#ifCond result.classification "==" "institution" }}
   {{#if result.clues}}
      {{>desabasto-table}}
    {{/if}}
  {{/ifCond}}

  {{>desabasto-form}}
{{/if}}

<script>

  tiza.contractTypePie({
    target: "#chart-type-{{role}}-{{classification}}",
    type: "{{role}}_{{classification}}",
    nameLabels: {
        "open": "{{_ "Licitación abierta" }}",
        "direct": "{{_ "Adjudicación Directa" }}",
        "limited": "{{_ "Invitación a tres" }}",
        "undefined": "{{_ "Sin definir" }}",
        "": "{{_ "Sin información" }}"
    },
    procurementColors: tiza.procurementColors["{{role}}_{{classification}}"],
    data: {{{j data.type }}}
  });

  tiza.yearlyContractsBar({
    target: "#chart-year-{{role}}-{{classification}}",
    amountKeyName: "{{_ "Importe" }}",
    countKeyName: "{{_ "Cantidad" }}",
    barColors: {
        "{{_ "Importe" }}": tiza.barColors["{{role}}_{{classification}}"].amount,
        "{{_ "Cantidad" }}": tiza.barColors["{{role}}_{{classification}}"].count
    },
    type: "{{role}}_{{classification}}",
    data: {{{j data.year }}}
  });
</script>