<table class="ui table unstackable table-responsive" id="table-{{type}}-top5">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Nombre de UC</th>
      <th>Dependencia</th>
      <th>Responsable UC</th>
      <th>Monto total</th>
      <th>Puntaje</th>
    </tr>
  </thead>
  <tbody>
    {{#each (toloco_get_concat_item result type "-top5") }}
    <tr>
      <td class="td-number-right">{{#if (get_ranking flags.[0].ranking ../type)}}{{get_ranking flags.[0].ranking ../type}}{{else}}{{math @index "+" 1 }}{{/if}}</td>
      <td><a href="https://www.quienesquien.wiki/instituciones-publicas/{{id}}" target="_blank">{{name}}</a></td>
      <td><a href="https://www.quienesquien.wiki/instituciones-publicas/{{this.memberships.parent.[0].parent_id}}" target="_blank">{{this.memberships.parent.[0].parent_name}}</a></td>
      <td><a href="https://www.quienesquien.wiki/personas/?filtername={{contact_details.0.value}}" target="_blank">{{contact_details.0.value}}</a></td>
      <td class="td-number-right">{{format_amount contract_amount.buyer}}</td>
      <td class="td-number">{{format_score flags.0.total_score}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="table-divider"></div>
<table class="ui table unstackable" id="tableBottomDependencies">
  <thead>
    <tr class="trHidden">
      <th>Nombre de UC</th>
      <th>Dependencia</th>
      <th>Responsable UC</th>
      <th>Monto total</th>
      <th>Puntaje</th>
    </tr>
  </thead>
  <tbody>
    {{#each (toloco_get_concat_item result type "-bottom5") }}
    <tr>
      <td>{{get_ranking flags.[0].ranking ../type}}</td>
      <td>{{this.memberships.parent.[0].parent_name}}</a></td>
      <td><a href="https://www.quienesquien.wiki/instituciones-publicas/{{id}}" target="_blank">{{name}}</a></td>
      <td>{{contact_details.0.value}}</td>
      <td>{{format_amount contract_amount.buyer}}</td>
      <td class="td-number">{{format_score flags.0.total_score}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
