{{!-- FLAGS --}}
{{#if result.flags }}
<script>
  function colorized(id, value) {
    if (value > 0.75) {
      color = "color-1"
    }
    else if (value <= 0.75 && value > 0.50) {
      color = "color-2"
    }
    else if (value <= 0.50 && value > 0.25) {
      color = "color-3"
    }
    else if (value <= 0.25) {
      color = "color-4"
    }
    $(id).removeClass().addClass(["circle-with-text", color]);

  }

  function yearsChange(e) {
    console.log(e);
    let current_year = $(e.target).val();
    $(".accordion-year").addClass("d-none");
    $("#year" + current_year).removeClass("d-none");

    tiza.radarChart({
      target: "#radarchart",
      data: radarData[current_year],
    });
  }
</script>
<section class="profile" id="evaluacion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-file-signature"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "EVALUACIÓN Y RECOMENDACIONES"}}}</h4>
      </div>
      <div class="col-md-12 col-12">
        <div class="row">

          <div class="col-12 col-md-12">
            <p>{{{_ "A partir de más de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también
            tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede <a href='https://github.com/ProjectPODER/groucho'>consultarse aquí</a>"}}}.</p>
          </div>
        </div>

        {{#each result.flags }}
        <div class="col-12 col-md-12">
        {{#ifCond ruleset_id "==" "cr-sicop" }}
          <div class="row">

            <div class="col-12 col-md-12 col-sm-12 col-lg-6">
              {{!-- <h4 class="text-darkblue mb-3"><img class="icon-h4" src="/images/icons/wave-triangle.svg" alt="">Ranking: 5
              </h4> --}}
              <div class="row align-items-end">
                <div class="col-12 col-md-6">
                  <label for="dataset-year">{{{_ "Mostrar datos por año:"}}}</label>
                  <select class="form-control" id="dataset-years">
                    {{#each (fix_years this)}}
                    <option value="{{year}}">{{year}}</option>
                    {{/each}}
                  </select>
                  <script>
                    document.getElementById("dataset-years").addEventListener("change", yearsChange);
                  </script>
                </div>
                <div class="col-6 col-md-6 text-right">
                  <h5 class="text-darkblue">{{{_ "Puntaje total:"}}} {{ format_score total_score }}</h5>
                </div>
              </div>
              <div class="mt-4">
                <div>
                  <div class="category-color"></div><span> Puntajes de esta entidad</span>
                </div>
                <div>
                  <div class="limit-color"></div><span> Máximos por categoría</span>
                </div>
                <div id="radarchart"></div>
                <script>
                  var radarData = {}
                  {{#each (fix_years this) }}
                   radarData["{{year}}"] = {{j (get_party_categories this) }}
                  {{/each}}

                  tiza.radarChart({
                    target: "#radarchart",
                    data: radarData["Todos"],
                  });
                </script>

              </div>
              <p>Esta gráfica ilustra el promedio de los puntajes para cada una de las
              categorías evaluadas. Los puntajes en color verde ilustran el promedio
              de todos las entidades y el morado el de esta entidad en particular. Es
              importante recalcar que este cálculo se hace contemplando todos los años
              que esta entidad tiene registros en el SICOP.</p>
              <div class="mt-5">
                <a class="btn button-link" href="{{ url view="search" collection="contract_flags" id=../result.id }}">{{{_ "Ver todas las
                  evaluaciones"}}}</a>
              </div>
            </div>

            {{#each (fix_years this)}}
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 {{#if @first}}{{else}}d-none{{/if}} accordion-year" id="year{{year}}">

              <div id="accordion">
                <p>Categorías por año: {{year}}</p>
                {{#each (get_party_categories this) }}
                <div class="card">
                  <a class="card-link" data-toggle="collapse" href="#collapse{{@key}}">
                    <div class="card-header">
                      {{#with (flag_name @key) }}
                      <i class="fas {{icon}}"></i> {{name}}:
                      {{!-- <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                        <i class="fas fa-info-circle"></i>
                      </a> --}}

                      {{/with}}
                      <span class="circles">
                        <span class="circle-with-text" id="circle{{@index}}{{../year}}">
                          {{format_score this}}
                        </span>
                      </span>
                    </div>
                  </a>
                  <script type="text/javascript">

                    window.addEventListener('load', function () {
                      colorized("#circle{{@index}}{{../year}}", {{this}});

                    });
                  </script>
                  <div id="collapse{{@key}}" class="collapse {{#if @first}}show{{else}}{{/if}}" data-parent="#accordion">
                    <div class="card-body">

                      {{#each (flag_recommendations ../this @key) }}
                      <div class="flag-recomendations-box">
                        <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
                        <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
                        <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
                        <p><b>{{{_ "Recomendación"}}}:</b> {{#ifCond score ">" 0.9}}{{reconocimiento_uc}}{{else}} {{uc_string}}{{/ifCond}}</p>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>

          {{else }}
          <div class="col-md-12 col-12">
            <div class="row" style="background: transparent">
              <div class="offset-md-2 col-md-8 col-sm-12">
                <p>
                  Esta entidad no ha sido evaluada.
                </p>

              </div>
            </div>
          </div>
          {{/ifCond}}
          {{#ifCond ruleset_id "==" "flagsMX-2021" }}
            <p>Estamos actualizando el sistema.</p>
          {{/ifCond}}

        </div>

        {{/each}}

      </div>
    </div>
  </div>
</section>
{{/if}}