{{!-- FLAGS --}}
{{#if result.flags }}

<section class="profile" id="evaluacion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-file-signature"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "EVALUACIÓN Y RECOMENDACIONES"}}}</h4>
      </div>
      <div class="col-md-12 col-12">
        <div class="row">

          <div class="col-12 col-md-12">
            <p>{{{_ "A partir de más de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también
            tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede <a href='https://github.com/ProjectPODER/groucho'>consultarse aquí</a>"}}}.</p>
          </div>
        </div>

        {{#each result.flags }}
        <div class="col-12 col-md-12">
        {{#ifCond ruleset_id "==" "cr-sicop" }}
          <div class="row">

            <div class="col-12 col-md-12 col-sm-12 col-lg-6">
              {{!-- <h4 class="text-darkblue mb-3"><img class="icon-h4" src="/images/icons/wave-triangle.svg" alt="">Ranking: 5
              </h4> --}}
              <div class="row align-items-end">
                {{!-- <div class="col-12 col-md-6">
                  <label for="dataset-year">{{{_ "Mostrar datos por año:"}}}</label>
                  <select class="form-control" id="dataset-years">
                    {{#each years }}
                    <option value="{{year}}">{{year}}</option>
                    {{/each}}
                  </select>
                </div> --}}
                <div class="col-12 col-md-12">
                  <h5 class="text-darkblue">{{{_ "Puntaje total:"}}} {{ format_score total_score }}</h5>
                </div>
              </div>
              <div>
                <div>
                  <div class="category-color"></div><span> Puntajes de esta entidad</span>
                </div>
                <div>
                  <div class="limit-color"></div><span> Máximos por categoría</span>
                </div>
                <div id="radarchart"></div>
                <script>
                  var radarData = {total: {{j (get_party_categories this) }} }
                   {{!-- {{#each years }}
                   radarData["{{year}}"] = {{j (get_party_categories this) }}
                    {{/each}} --}}

                  tiza.radarChart({
                    target: "#radarchart",
                    data: radarData.total,
                  });
                </script>

              </div>
              <p>Texto explicando que el problema es diferente para contratos y perfiles.</p>
              <div class="mt-5">
                <a class="btn button-link" href="{{ url view="search" collection="contract_flags" id=../result.id }}">{{{_ "Ver todas las
                  evaluaciones"}}}</a>
              </div>
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-6">
              <div id="accordion">
                {{#each (get_party_categories this) }}
                <div class="card">
                  <a class="card-link" data-toggle="collapse" href="#collapse{{@key}}">
                    <div class="card-header">
                      {{#with (flag_name @key) }}
                      <i class="fas {{icon}}"></i> {{name}}:
                      {{!-- <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                        <i class="fas fa-info-circle"></i>
                      </a> --}}
                      {{/with}}
                      <span class="circles">
                        <span class="circle-with-text">
                          {{format_score this}}
                        </span>
                      </span>
                    </div>
                  </a>
                  <div id="collapse{{@key}}" class="collapse {{#if @first}}show{{else}}{{/if}}" data-parent="#accordion">
                    <div class="card-body">

                      {{#each (flag_recommendations ../this @key) }}
                      <div class="flag-recomendations-box">
                        <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
                        <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
                        <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
                        <p><b>{{{_ "Recomendación"}}}:</b> {{#ifCond score ">" 0.9}}{{reconocimiento_uc}}{{else}} {{uc_string}}{{/ifCond}}</p>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>

          {{else }}
          <div class="col-md-12 col-12">
            <div class="row" style="background: transparent">
              <div class="offset-md-2 col-md-8 col-sm-12">
                <p>
                  Estamos actualizando el sistema. El <b>1 de diciembre de 2021</b> publicaremos la evaluaciones actualizadas de
                  México y el nuevo sistema de Costa Rica basado en el sistema de evaluación de contratación pública "Groucho" que
                  puede <a href="https://github.com/ProjectPODER/groucho">consultarse aquí</a>.

                </p>

              </div>
            </div>
          </div>
          {{/ifCond}}

        </div>

        {{/each}}

      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
      if ("{{format_score this}}" >= "76") {
        $(".circle-with-text").addClass("color-1");
      } else if ("{{format_score this}}" <= "75" && "{{format_score this}}" >= "51") {
        $(".circle-with-text").addClass("color-2");
      } else if ("{{format_score this}}" <= "50" && "{{format_score this}}" >= "26") {
        $(".circle-with-text").addClass("color-3");
      } else if ("{{format_score this}}" <= "25") {
        $(".circle-with-text").addClass("color-4");
      }
    });
</script>
{{/if}}