<section class="about-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div class="apis-template">
          <div class="col-md-9 col-9">
              <h1>{{_ "Herramientas" }}</h1>
              <p class="subtitle-apis">{{_ "“No se trata de construir un sistema sino un instrumento, una lógica propia a las relaciones de poder y a las luchas que se comprometen alrededor de ellas”, decía Michel Foucault en su libro Un diálogo sobre el poder y otras conversaciones. Siguiendo la lógica del filósofo francés, alrededor de la base de datos de QuiénEsQuién.wiki construimos herramientas e instrumentos que permitan explicar mejor las relaciones de poder y cómo luchar contra ellas." }}</p>
          </div>
          <div class="col-3 col-md-3">
              <div class="button-link-status-container">
                  <a href="https://status.quienesquien.wiki/" class="btn button-link button-link-status">{{_ "QQW API STATUS" }}</a>
              </div>
          </div>
          <div class="col-12 col-md-12 card-border no-gutters">
              <div class="apis-bg"></div>
              <div class="card-content">
                  <div class="col-md-6 col-6 button-link-apifirst">
                      <h3>{{_ "API de datos de QuienEsQuien.wiki" }}</h3>
                      <p>{{_ "A través de nuestra API REST abierta podrá consultar de forma automatizada todos los datos disponibles en nuestro sitio web." }}</p>
                      <a href="https://qqwapi-elastic.readthedocs.io/es/latest/" class="btn button-link">{{_ "VER MANUAL" }}</a>
                      <a href="https://api.quienesquien.wiki/v3/docs/" class="link">{{_ "VER DOCUMENTACIÓN (swagger)" }}</a>

                  </div>
                  <div class="col-md-6 col-6">
                      <h3>{{_ "Cliente de API en Node.js" }}</h3>
                      <p>{{_ "node-qqw es una librería para consultas asincrónicas a nuestra API REST." }}</p>
                      <a href="https://github.com/ProjectPODER/node-qqw" class="btn button-link">{{_ "VER NODE-QQW" }}</a>
                      <a href="https://github.com/ProjectPODER/QuienEsQuienApi" class="link">{{_ "Ver código de QuienEsQuienAPI" }}</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-12">
              <h3 style="font-size: 2rem; margin-top: 3rem; margin-bottom: 2rem;">{{_ "Software reutilizable" }}</h3>
          </div>
          <div class="col-12 col-md-12 card-border card-software mb-5">
              <div class="col-12 col-md-12 card-list">
                  <div class="col-md-3 col-3">
                      <img src="../images/apis-tb.png" alt="">
                  </div>
                  <div class="col-md-7 col-7">
                      <h3>{{_ "Tower Builder" }}</h3>
                      <p>{{_ "Generador de web y visualizaciones de datos de contrataciones públicas que no requiere programación, ni hosting dedicado. Los usos más destacados son para seguir grandes obras públicas, <a href='https://torredecontrol.org/'>www.torredecontrol.org</a>, y compras medicas, <a href='https://vivirconvih.org/'>VivirconVih.org</a>" }}</p>
                  </div>
                  <div class="col-md-2 col-2 text-right">
                      <a href="https://github.com/ProjectPODER/TowerBuilder" class="btn button-link button-link-apilist" target="_blank">{{_ "VER TB" }}</a>
                  </div>
              </div>
              <div class="col-12 col-md-12 text-center">
                  <hr class="hr-apis">
              </div>
              <div class="col-12 col-md-12 card-list">
                  <div class="col-m-3 col-3">
                      <img src="../images/apis-tlc.png" alt="">
                  </div>
                  <div class="col-md-7 col-7">
                      <h3>{{_ "Todos los contratos" }}</h3>
                      <p>{{_ "Web principal del sistema de evaluación de las dependencias y contratos mexicanos que aparecen en QuiénEsQuién.Wiki. En el minisitio se encuentra la metodología detallada, una panorámica general del país y cómo se pueden mejorar los sistemas de compras." }}</p>
                  </div>
                  <div class="col-md-2 col-2 text-right">
                      <a href="https://github.com/ProjectPODER/OCDS_RedFlags" class="btn button-link button-link-apilist" target="_blank">{{_ "VER CÓDIGO" }}</a>
                  </div>
              </div>
              <div class="col-12 text-center">
                  <hr class="hr-apis">
              </div>
              <div class="col-12 col-m-12 card-list">
                  <div class="col-md-3 col-3">
                      <img src="../images/apis-kibana.png" alt="">
                  </div>
                  <div class="col-md-7 col-7">
                      <h3>{{_ "Kibana" }}</h3>
                      <p>{{_ "QuiénEsQuién.Wiki usa Kibana para ser una herramienta de análisis de datos que permite cruces, visualizaciones y gráficos de contrataciones públicas, relaciones entre personas y organizaciones. Se puede analizar la captura del estado y la calidad de las contrataciones públicas." }}</p>
                  </div>
                  <div class="col-md-2 col-2 text-right">
                      <a href="https://kibana.quienesquien.wiki/" class="btn button-link button-link-apilist" target="_blank">{{_ "VER MANUAL" }}</a>
                  </div>
              </div>
              <div class="col-12 text-center">
                  <hr class="hr-apis">
              </div>
              <div class="col-12 col-md-12 card-list">
                  <div class="col-m-3 col-3">
                      <img src="../images/apis-qqw.png" alt="">
                  </div>
                  <div class="col-md-7 col-7">
                      <h3>{{_ "QuienEsQuien" }}</h3>
                      <p>{{_ "Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." }}</p>
                  </div>
                  <div class="col-md-2 col-2 text-right">
                      <a href="https://github.com/ProjectPODER/QuienEsQuien" class="btn button-link button-link-apilist" target="_blank">{{_ "VER QQW" }}</a>
                  </div>
              </div>
              <div class="col-12 text-center">
                  <hr class="hr-apis">
              </div>
              <div class="col-12 col-md-12 card-list">
                  <div class="col-md-3 col-3">
                      <img src="../images/apis-cnet2ocds.png" alt="">
                  </div>
                  <div class="col-md-7 col-7">
                      <h3>{{_ "cnet2ocds" }}</h3>
                      <p>{{_ "Convertir documentos COMPRANET a OCDS" }}.</p>
                  </div>
                  <div class="col-md-2 col-2 text-right">
                      <a href="https://github.com/ProjectPODER/cnet2ocds" class="btn button-link button-link-apilist" target="_blank">{{_ "VER CNET2OCDS" }}</a>
                  </div>
              </div>
              <div class="col-12 text-center">
                  <hr class="hr-apis">
              </div>
          </div>

          {{!-- <div class="col-m-12 col-12 ">
              <h1>Últimas entradas al blog</h1>
          </div>
          <div class="col-m-12 col-12 flex mb-5">
              <div class="col-m-4 col-4 card-post-blog flex-item">
                  <div class="content-post-blog">
                      <a href=""><h4>Lorem ipsum dolor sit amet</h4></a>
                  </div>
              </div>
              <div class="col-m-4 col-4 card-post-blog flex-item">
                  <div class="content-post-blog">
                      <a href=""><h4>Aliquam tincidunt ligula in est volutpat dapibus</h4></a>
                  </div>
              </div>
              <div class="col-m-4 col-4 card-post-blog flex-item">
                  <div class="content-post-blog">
                      <a href=""><h4>Praesent vitae vestibulum neque, eu elementum sem</h4></a>
                  </div>
              </div>
              <div class="col-m-4 col-4 card-post-blog flex-item">
                  <div class="content-post-blog">
                      <a href=""><h4>Aliquam tincidunt ligula in</h4></a>
                  </div>
              </div>
              <div class="col-m-4 col-4 card-post-blog flex-item">
                  <div class="content-post-blog">
                      <a href=""><h4>Praesent vitae vestibulum neque, eu elementum sem vestibulum neque</h4></a>
                  </div>
              </div>
              <div class="col-m-4 col-4 card-post-blog flex-item">
                  <div class="content-post-blog">
                      <a href=""><h4>Donec eu est dapibus, finibus mi at, lacinia justo</h4></a>
                  </div>
              </div>
          </div> --}}
        </div>
      </div>
    </div>
  </div>
</section>