<div class="row document-body">
  <div class="col-3 col-m-3">
    <div class="filter-bar">
      <form class="advance-filters">
          <h4 class="search-title filters-link-lg">Filtros Avanzados</h4>
          <h4 class="search-title filters-link-sm">Filtros Avanzados <i class="fas fa-angle-down" style="float: right"></i></h4>
          <fieldset name="proveedores">
            <p class="search-title">TÍTULO <a data-toggle="tooltip" data-placement="right" title="Título del contrato."><img src="images/icons/info.svg" alt="Question icon" style="width:13px; margin-top:-2px;"></a></p>
            <div class="multiple-controls-group">
              <div class="multiple-control-container">
                <input type="text" name="titulo" placeholder="Título del contrato" class="contract_title_filter multiple-control" value="{{filters.titulo.value }}">
                <img src="images/button-no.png" alt="quitar" class="form-control remove-field-control">
              </div>
            </div>
          </fieldset>

          <fieldset name="proveedores">
            <p class="search-title">FILTRAR PROVEEDORES <a data-toggle="tooltip" data-placement="right" title="Nombre o Razón Social del Proveedor o Contratista ganador de la contratación."><img src="images/icons/info.svg" alt="Question icon" style="width:13px; margin-top:-2px;"></a></p>
            <div class="multiple-controls-group">
              <div class="multiple-control-container">
                <input type="text" name="proveedor" placeholder="Nombre de proveedor" class="supplier_name_filter multiple-control"value="{{filters.proveedor.value }}">
                <img src="images/button-no.png" alt="quitar" class="form-control remove-field-control">
              </div>

            </div>
          </fieldset>

          <fieldset name="dependencias">
            <p class="search-title">FILTRAR DEPENDENCIAS <a data-toggle="tooltip" data-placement="right" title="Nombre de la Dependencia, Entidad Federativa o Municipio que realiza la contratación."><img src="images/icons/info.svg" alt="Question icon" style="width:13px; margin-top:-3px;"></a></p>
            <div class="multiple-controls-group">
              <div class="multiple-control-container">
                <input type="text" name="dependencia" placeholder="Nombre de dependencia" class="dependency_name_filter multiple-control" value="{{filters.dependencia.value }}">
                <img src="images/button-no.png" alt="quitar" class="form-control remove-field-control">
              </div>

            </div>
          </fieldset>

          <fieldset name="vigencia">
            <p class="search-title">Vigencia de contrato <a data-toggle="tooltip" data-placement="right" title="Fecha de inicio y fecha de expiración del contrato reportado por la Unidad Compradora."><img src="images/icons/info.svg" alt="Question icon" style="width:13px; margin-top:-2px;"></a></p>
            <div class="term-contract">
              <p class="search-label">Fecha de Inicio</p>
              <input type="date" id="from_date_contracts_index" name="from_date_contracts_index" value="{{filters.from_date_contracts_index.value}}" min="2002-01-01"><span></span>
            </div>
            <div class="term-contract">
              <p class="search-label">Fecha de fin</p>
              <input type="date" id="to_date_contracts_index" name="to_date_contracts_index" value="{{filters.to_date_contracts_index.value}}" min="2002-01-01"><span></span>
            </div>
            <!-- <p>
              <input type="checkbox" id="fecha-desconocido" class="bool-filter" data-real-field-id="solo-fecha-conocida" {{#ifCond filters.solo-fecha-conocida.value "!=" true}}checked="checked"{{/ifCond}}> Incluir contratos con fecha desconocida
              <input type="hidden" name="solo-fecha-conocida" id="solo-fecha-conocida" value="{{filters.solo-fecha-conocida.value}}">
            </p> -->
          </fieldset>

          <fieldset name="tipo-adquisicion">
            <p class="search-title">Procedimiento de contratación <a data-toggle="tooltip" data-placement="right" title="Refiere al tipo de procedimiento:
            a) Licitación Pública.
            - Procedimiento por regla general que debiera utilizarse para la adquisición de bienes y servicios.
            b) Invitación a cuando menos tres proveedores o contratistas.
            c) Adjudicación Directa.
            - La ley contempla estas excepciones a la Licitación Pública para utilizarse a reserva y responsabilidad de la depencia."><img src="images/icons/info.svg" alt="Question icon" style="width:13px; margin-top:-3px;"></a></p>
            <select id="tipo-adquisicion" name="tipo-adquisicion" class="search-select">
              <option value="">Todos</option>
              <option value="Adjudicación Directa Federal" {{#ifCond filters.tipo-adquisicion.value "==" "Adjudicación Directa Federal" }}selected="selected"{{/ifCond}}>Adjudicación directa</option>
              <option value="Invitación a Cuando Menos 3 Personas" {{#ifCond filters.tipo-adquisicion.value "==" "Invitación a Cuando Menos 3 Personas" }}selected="selected"{{/ifCond}}>Invitación a 3</option>
              <option value="Licitación Pública|Licitación Pública con OSD" {{#ifCond filters.tipo-adquisicion.value "==" "Licitación Pública|Licitación Pública con OSD" }}selected="selected"{{/ifCond}}>Licitación</option>
            </select>
          </fieldset>
          <fieldset name="importe" style="margin-bottom: 7rem;">
            <p class="search-title">Importe del contrato
              <a data-toggle="tooltip" data-placement="right" title="Importe del contrato sin incluir el impuesto al valor agregado."><img src="images/icons/info.svg" alt="Question icon" style="width:13px; margin-top:-2px;"></a>
            </p>
            <a class="search-label importe-bucket bucket" data-bucket="0-100000" data-bucket-name="importe" data-bucket-type="contrato">
              <p>Menor a 100 mil</p>
            </a>
            <a class="search-label importe-bucket bucket" data-bucket="100001-1000000" data-bucket-name="importe" data-bucket-type="contrato">
              <p>Entre 100 mil y 1 millón</p>
            </a>
            <a class="search-label importe-bucket bucket" data-bucket="1000001-10000000" data-bucket-name="importe" data-bucket-type="contrato">
              <p>Entre 1 millón y 10 millones</p>
            </a>
            <a class="search-label importe-bucket bucket" data-bucket="10000001-1000000000" data-bucket-name="importe" data-bucket-type="contrato">
              <p>Entre 10 millones y 100 millones</p>
            </a>
            <a class="search-label importe-bucket bucket" data-bucket="1000000001-" data-bucket-name="importe" data-bucket-type="contrato">
              <p>Más de 100 millones</p>
            </a>
            <input type="text" id="minimo-importe-contrato" name="minimo-importe-contrato" placeholder="Mínimo" class="search-amount" value="{{filters.minimo-importe-contrato.value}}">
            <input type="text" id="maximo-importe-contrato" name="maximo-importe-contrato" placeholder="Máximo" class="search-amount" value="{{filters.maximo-importe-contrato.value}}">
            <!-- <p>
              <input type="checkbox" id="importe-desconocido" class="bool-filter" data-real-field-id="solo-importe-conocido" {{#ifCond filters.solo-importe-conocido.value "!=" true}}checked="checked"{{/ifCond}}> Incluir contratos con importe desconocido
              <input type="hidden" name="solo-importe-conocido" id="solo-importe-conocido" value="{{filters.solo-importe-conocido.value}}">
            </p> -->
          </fieldset>
            <input type="hidden" name="size" value="{{ filters.size.value }}">
            <input type="submit" class="search-submit fixed-filter-button" value="FILTRAR">
          <!-- <button type="reset" class="btn btn-default reset-filters">LIMPIAR</button> -->
      </form>
    </div>
  </div>
  <div class="col-9 col-m-9 contratos-content">
    <div class="row document-header">
      <div class="col-3 col-m-12">
        <h2 class="document-title">Contratos</h2>
      </div>
      <div class="col-9 col-m-12">
        <p class="document-description">Explora los importes, años, dependencias, empresas proveedoras y otras características de más de tres millones de contratos de México.</p>
      </div>
    </div>
    <div class="row mb-2 tools-section">
      <div class="col-5 col-m-5">
        <p class="document-description">Si quieres una búsqueda más avanzada, <a href="/contacto">contáctanos.</a></p>
      </div>
      <div class="col-m-4">
        {{> table_lenght}}
      </div>
      <div class="col-3 col-m-3">

        {{!-- <div class="dropdown">
          <button class="button-tools dropdown-toggle" type="button" id="dropdownCsv" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img class="info-icon" src="../images/icons/question-circle.svg" alt="?">
          </button>
          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownCsv">
            <li>descarga csv, limitada a 1000 filas.</li>
            <li><a href="">Ver documentación.</a></li>
          </ul>
        </div> --}}


        <div class="dropdown">
          <button class="button-tools dropdown-toggle" type="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../images/icons/settings.svg" alt="Ícono Herramientas">
            Herramientas
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownTools">
            <li class="dropdown-header">Compartir</li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.quienesquien.wiki{{share_url}}&t=QuienesQUienWiki" target="_blank"><img class="share-icons" src="../images/icons/facebook.svg" alt="Facebook">Facebook</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=Explora+conexiones+y+contratos+entre+empresarios%2c+pol%c3%adticos%2c+empresas+e+instituciones+p%c3%bablicas..&url=https://www.quienesquien.wiki{{share_url}}&via=ProjectPODER" target="_blank"><img class="share-icons" src="../images/icons/twitter.svg" alt="Twitter">Twitter</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">URL de la API</li>
            <li class="copy-clip">
              <input id="apiUrl" type="text" name="destinatario" value="{{result.api_url}}">
              <button class="btn-copy" onclick="copyClipboard()">Copiar URL</button>
            </li>
            <li role="separator" class="divider"></li>
            {{!-- <li class="dropdown-header">Descarga CSV</li> --}}
            <li class="copy-clip">
              <a class="btn-csv" href="{{url_csv result.api_url}}" download="datos-QQW.csv" target="_blank">Descargar CSV <img src="../images/icons/info.svg" alt="icon" class="info-icon" data-toggle="tooltip" data-placement="right" title="Descarga CSV, limitada a 1000 filas."></a>
              <a href="https://quienesquienapi.readthedocs.io/es/latest/" class="doc-download-link">Ver documentación</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

      {{!--
        //Comentado para ocultar puntaje
      <div class="search-order-form">
        <form class="form-inline">
          <label for="search-order">Ordenar por</label>
          <select class="form-control input-sm" name="search-order" id="search-order">
            <option value="precio">Precio (de mayor a menor)</option>
            <option value="puntaje">Puntaje (de mayor a menor)</option>
          </select>
        </form>
      </div>
      --}}

      {{!-- {{> tabular table=TabularTables.Contracts_OCDS
      id="contract-index"  selector=selector
      class="" }} --}}

      <div id="contract-index_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div>
          <div class="col-m-8">
            {{> blob_filter}}
          </div>
          <div class="col-m-4">
            <div class="dataTables_info" id="contract-index_info" role="status" aria-live="polite" style="margin-bottom: 10px;">Mostrando {{format_number (math (math current_page "*" result.size) "+" 1)}} a  {{format_number (math (math current_page "*" result.size) "+" result.size)}}{{#if (match "DEAD" result.count ) }}. No se pudo calcular el total de páginas. {{else}} de {{format_number result.count}}  resultados.{{/if}}
            </div>
          </div>
          <div class="col-m-12">
            <div id="contract-index_processing" class="dataTables_processing panel panel-default" style="display: none;">
              <div class="loading-container">
                <div class="loading">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
              </div>
            </div>
            <div id="contract-index" class="dataTable" aria-describedby="contract-index_info" role="grid">
              <div class="dataCardBody">
                {{#if result.data.0.records.length }}
                  {{#each result.data.0.records}}
                  <div role="row" class="search-card odd">
                    <div class=" js-title no-title search-result-title col-m-8 col-8">
                      {{!-- <div class="cardItemTitle">Título</div>
                      <div class="cardItemData"></div> --}}
                      <a href="/contratos/{{encode compiledRelease.ocid}}" title="{{compiledRelease.contracts.0.title}}"><p class="text-overflow">{{compiledRelease.contracts.0.title}}</p></a>
                    </div>
                    <div class="js-amount no-title search-result-emph col-m-4 col-4 sorting_1" title="{{ format_amount compiledRelease.total_amount}}">
                      {{!-- <div class="cardItemTitle"></div>
                      <div class="cardItemData"></div> --}}
                      {{ format_amount compiledRelease.total_amount}}
                      <span class="contract_currency">{{format_currency compiledRelease.contracts.0.value.currency}}</span>
                    </div>
                    <div class=" js-start-date inline-title search-result-mono-gray col-m-8 col-8">
                      {{!-- <div class="cardItemTitle"></div> --}}
                      <div class="cardItemData"></div>Vigente desde {{moment compiledRelease.contracts.0.period.startDate date lang="es" format="LL"}} hasta {{moment compiledRelease.contracts.0.period.endDate date lang="es" format="LL"}}
                    </div>
                    
                    <div class=" js-dependency col-3 col-m-3">
                      <div class="cardItemTitle">Dependencia</div>
                      {{!-- <div class="cardItemData"></div> --}}
                      <ul class="dependency-cell list-unstyled">
                        <li class="text-overflow">
                          {{#with (get_party this compiledRelease.parties.0.id)}}
                            {{#if memberOf.0.id }}
                            <a href="/{{get_type_url details.type }}/{{memberOf.0.id}}" title="{{memberOf.0.name}}">{{{hilight ../../filters.dependencia.value memberOf.0.name}}}</a>
                            {{else}}
                            <a href="/{{get_type_url details.type }}/{{id}}" title="{{name}}">{{{hilight ../../filters.dependencia.value name}}}</a>
                            {{/if}}
                          {{/with}}
                        </li>
                      </ul>
                    </div>
                    <div class=" js-suppliers col-4 col-m-4">
                      <div class="cardItemTitle">Proveedores ({{supplier_count }})</div>
                      <div class="col-12 col-m-12 flex">
                        {{#each supplier_summary }}
                          <div class="col-7 col-m-7 {{#ifCond @index ">" 2}}{{#if (match ../../filters.proveedor.value name) }}{{else}}supplier-hidden{{/if}}{{/ifCond}}">
                            <p class="text-overflow supplier-list-item" title="{{name}}">
                              {{#with (get_party ../this id)}}
                                <a href="/{{get_type_url details.type }}/{{id}}"><b>&bull;</b> {{{hilight ../../../filters.proveedor.value name}}}</a>
                              {{/with}}
                            </p>
                          </div>
                          <div class="col-5 col-m-5 {{#ifCond @index ">" 2}}{{#if (match ../../filters.proveedor.value name) }}{{else}}supplier-hidden{{/if}}{{/ifCond}}">
                            <p class="amount-index-contracts text-overflow supplier-list-item" title="{{format_amount contract_amount}}">{{format_amount contract_amount}}</p>
                          </div>
                        {{/each}}
                      </div>
                      {{#ifCond compiledRelease.awards.length '>' 3}}
                      <div style="margin-top: 1rem; margin-bottom: 0.5rem">
                        <a class="supplier-list-toggle">Ver todos</a>
                      </div>
                      {{/ifCond}}
                    </div>

                    {{!-- <div class=" js-suppliers col-4 col-m-4">
                      <div class="cardItemTitle">Proveedores</div>
                      <div class="cardItemData"></div>
                      <ul class="suppliers-cell list-unstyled">
                        {{#each compiledRelease.awards}}
                          {{#each suppliers}}
                          <li>
                            <a href="/{{get_party_type ../../records id }}/{{id}}">{{name}}</a>
                          </li>
                          {{/each}}
                        {{/each}}
                      </ul>
                    </div> --}}
                    {{#if compiledRelease.tender.procurementMethodDetails}}
                    <div class=" js-procedure col-2 col-m-2 ml-25">
                      <div class="cardItemTitle">Procedimiento</div>
                      <div class="cardItemData">{{compiledRelease.tender.procurementMethodDetails}}</div>
                    </div>
                    {{/if}}
                    {{!-- <div class=" js-score col-1 col-m-1 hidden">
                      <div class="cardItemTitle">Puntaje</div>
                      <div class="cardItemData"></div>47.62<span class="d100">/100</span>
                    </div> --}}
                    <div class=" js-ocid no-title col-2 col-m-2">
                      <a href="/contratos/{{encode compiledRelease.ocid}}" class="button-link">Ver contrato</a>
                    </div>
                  </div>
                  {{/each}}
                {{else}}
                No hay resultados para esta búsqueda. Por favor pruebe eliminando filtros. Si el problema persiste por favor contáctenos.
                {{/if}}
              </div>
            </div>
            {{> pagination}}
          </div>
        </div>
      </div>

  </div>
</div>
