<div class="row document-body">
  <div class="col-3 col-m-3">
    <div class="filter-bar">
      <form>
          <h4 class="search-title">Filtros Avanzados</h4>

          <fieldset name="proveedores">
            <p class="search-title">FILTRAR PROVEEDORES <a data-toggle="tooltip" data-placement="right" title="Nombre o Razón Social del Proveedor o Contratista ganador de la contratación."><img src="images/icons/question.svg" alt="Question icon" style="width:7.5px; margin-top:-2px;"></a></p>
            <div class="multiple-controls-group">
              <div class="multiple-control-container">
                <input type="text" name="proveedor" placeholder="Nombre de proveedor" class="supplier_name_filter multiple-control"value="{{filters.proveedor.value }}">
                <img src="images/button-no.png" alt="quitar" class="form-control remove-field-control">
              </div>

            </div>
            <img src="images/button-yes.png" alt="agregar" class="form-control add-field-control">
          </fieldset>

          <fieldset name="dependencias">
            <p class="search-title">FILTRAR DEPENDENCIAS <a data-toggle="tooltip" data-placement="right" title="Nombre de la Dependencia, Entidad Federativa o Municipio que realiza la contratación."><img src="images/icons/question.svg" alt="Question icon" style="width:7.5px; margin-top:-2px;"></a></p>
            <div class="multiple-controls-group">
              <div class="multiple-control-container">
                <input type="text" name="dependencia" placeholder="Nombre de dependencia" class="dependency_name_filter multiple-control" value="{{filters.dependencia.value }}">
                <img src="images/button-no.png" alt="quitar" class="form-control remove-field-control">
              </div>

            </div>
            <img src="images/button-yes.png" alt="agregar" class="form-control add-field-control">
          </fieldset>

          <fieldset name="vigencia">
            <p class="search-title">Vigencia de contrato <a data-toggle="tooltip" data-placement="right" title="Fecha de inicio y fecha de expiración del contrato reportado por la Unidad Compradora."><img src="images/icons/question.svg" alt="Question icon" style="width:7.5px; margin-top:-2px;"></a></p>
            <div class="term-contract">
              <p class="search-label">Fecha de Inicio</p>
              <input type="date" id="from_date_contracts_index" value="01/01/2002" min="2002-01-01">
            </div>
            <div class="term-contract">
              <p class="search-label">Fecha de fin</p>
              <input type="date" id="to_date_contracts_index" value="00/00/0000" min="2002-01-01">
            </div>
            <p>
              <input type="checkbox" id="fecha-desconocido" checked="checked"> Incluir contratos con fecha desconocida
            </p>
          </fieldset>

          <fieldset name="tipo-adquisicion">
            <p class="search-title">Procedimiento de contratación <a data-toggle="tooltip" data-placement="right" title="Refiere al tipo de procedimiento:
            a) Licitación Pública.
            - Procedimiento por regla general que debiera utilizarse para la adquisición de bienes y servicios.
            b) Invitación a cuando menos tres proveedores o contratistas.
            c) Adjudicación Directa.
            - La ley contempla estas excepciones a la Licitación Pública para utilizarse a reserva y responsabilidad de la depencia."><img src="images/icons/question.svg" alt="Question icon" style="width:7.5px; margin-top:-2px;"></a></p>
            <select id="tipo-adquisicion" class="search-select">
              <option value="">Todos</option>
              <option value="Adjudicación Directa Federal">Adjudicación directa</option>
              <option value="Invitación a Cuando Menos 3 Personas">Invitación a 3</option>
              <option value="Licitación Pública|Licitación Pública con OSD">Licitación</option>
            </select>
          </fieldset>
          <fieldset name="importe" style="margin-bottom: 7rem;">
            <p class="search-title">Importe del contrato <a data-toggle="tooltip" data-placement="right" title="Importe del contrato sin incluir el impuesto al valor agregado."><img src="images/icons/question.svg" alt="Question icon" style="width:7.5px; margin-top:-2px;"></a></p>
            <a class="search-label importe-bucket" data-bucket="0-1000000"><p>Menor a 1 millón de pesos</p></a>
            <a class="search-label importe-bucket" data-bucket="1000000-500000000"><p>Entre 1 millón y 500 millones</p></a>
            <a class="search-label importe-bucket" data-bucket="500000000-1000000000"><p>Entre 500 millones a 1,000 millones</p></a>
            <a class="search-label importe-bucket" data-bucket="1000000000-"><p>Más de mil millones</p></a>
            <input type="text" id="importe-minimo" placeholder="Mínimo" class="search-amount">
            <input type="text" id="importe-maximo" placeholder="Máximo" class="search-amount">
            <p>
              <input type="checkbox" id="importe-desconocido" checked="checked"> Incluir contratos con importe desconocido
            </p>
          </fieldset>
            <input type="hidden" name="size" value="{{ filters.size.value }}">
            <input type="submit" class="search-submit fixed-filter-button" value="FILTRAR">
          <!-- <button type="reset" class="btn btn-default reset-filters">LIMPIAR</button> -->
      </form>
    </div>
  </div>
  <div class="col-9 col-m-9 contratos-content">
    <div class="row document-header">
      <div class="col-3 col-m-12">
        <h2 class="document-title">Contratos</h2>
      </div>
      <div class="col-9 col-m-12">
        <p class="document-description">Explora los importes, años, dependencias, empresas proveedoras y otras características de más de un millón de contratos de México.</p>
      </div>
    </div>
    <div class="row mb-2 tools-section">
      <div class="col-6 col-m-6">
        <p class="document-description">Si quieres una búsqueda más avanzada, <a href="/contact">contáctanos.</a></p>
      </div>
      <div class="col-m-4">
        {{> table_lenght}}
      </div>
      <div class="col-2 col-m-2">
        <div class="dropdown">
          <button class="button-tools dropdown-toggle" type="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../images/icons/settings.svg" alt="Ícono Herramientas">
            Herramientas
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownTools">
            <li class="dropdown-header">Compartir</li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://quienesquien.wiki/contracts&t=QuienesQUienWiki" target="_blank"><img class="share-icons" src="../images/icons/facebook.svg" alt="Facebook">Facebook</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=Qui%c3%a9n+es+Qui%c3%a9n+Wiki+(QQW)+es+una+plataforma+sobre+empresarios%2c+pol%c3%adticos%2c+empresas+y+organizaciones+que+explica+las+conexiones+entre+estos+actores+y+las+pone+a+disposici%c3%b3n+de+investigadores%2c+periodistas+y+la+ciudadan%c3%ada+en+general.&url=https://quienesquien.wiki/contracts&via=ProjectPODER" target="_blank"><img class="share-icons" src="../images/icons/twitter.svg" alt="Twitter">Twitter</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">URL de la API</li>
            <li class="copy-clip">
              <input id="apiUrl" type="text" name="destinatario" value="{{result.api_url}}">
              <button class="btn-copy" onclick="copyClipboard()">Copiar URL</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

      {{!--
        //Comentado para ocultar puntaje
      <div class="search-order-form">
        <form class="form-inline">
          <label for="search-order">Ordenar por</label>
          <select class="form-control input-sm" name="search-order" id="search-order">
            <option value="precio">Precio (de mayor a menor)</option>
            <option value="puntaje">Puntaje (de mayor a menor)</option>
          </select>
        </form>
      </div>
      --}}

      {{!-- {{> tabular table=TabularTables.Contracts_OCDS
      id="contract-index"  selector=selector
      class="" }} --}}

      <div id="contract-index_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div>
          <div class="col-m-8">
            {{> blob_filter}}
          </div>
          <div class="col-m-4" style="float: right; text-align: right;">
            <div class="dataTables_info" id="contract-index_info" role="status" aria-live="polite" style="margin-top: 5px; margin-bottom: 10px;">Mostrando {{math current_page "+" 1}} de {{result.pages}} páginas.
            </div>
          </div>
          <div class="col-m-12">
            <div id="contract-index_processing" class="dataTables_processing panel panel-default" style="display: none;">
              <div class="loading-container">
                <div class="loading">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
              </div>
            </div>
            <div id="contract-index" class="dataTable" aria-describedby="contract-index_info" role="grid">
              <div class="dataCardBody">
                {{#each result.data}}
                <div role="row" class="search-card odd">
                  <div class=" js-title no-title search-result-title col-m-8 col-8">
                    <div class="cardItemTitle">Título</div>
                    <div class="cardItemData"></div>
                    <a href="/contracts/{{records.compiledRelease.ocid}}">{{records.compiledRelease.contracts.0.title}}</a>
                  </div>
                  <div class="js-amount no-title search-result-emph col-m-4 col-4 sorting_1">
                    <div class="cardItemTitle"></div>
                    <div class="cardItemData"></div>
                    {{ format_amount (total_contract_amount records.compiledRelease.contracts)}}
                    <span class="contract_currency">{{format_currency records.compiledRelease.contracts.0.value.currency}}</span>
                  </div>
                  <div class=" js-start-date inline-title search-result-mono-gray col-m-8 col-8">
                    <div class="cardItemTitle"></div>
                    <div class="cardItemData"></div>Vigente desde {{moment records.compiledRelease.contracts.0.period.startDate date lang="es" format="LL"}} hasta {{moment records.compiledRelease.contracts.0.period.endDate date lang="es" format="LL"}}
                  </div>
                  <div class=" js-ocid no-title col-2 col-m-2">
                    <div class="cardItemTitle">OCID</div>
                    <div class="cardItemData"></div>
                    <a href="/contracts/{{records.compiledRelease.ocid}}" class="button-link">Ver contrato</a>
                  </div>
                  <div class=" js-dependency col-4 col-m-4">
                    <div class="cardItemTitle">Dependencia</div>
                    <div class="cardItemData"></div>
                    <ul class="dependency-cell list-unstyled">
                      <li>
                        <a href="/orgs/{{records.compiledRelease.parties.0.memberOf.id}}">{{records.compiledRelease.parties.0.memberOf.name}}</a>
                      </li>
                    </ul>
                  </div>
                  <div class=" js-suppliers col-3 col-m-3">
                    <div class="cardItemTitle">Proveedores</div>
                    <div class="cardItemData"></div>
                    <ul class="suppliers-cell list-unstyled">
                      {{#each records.compiledRelease.awards}}
                        {{#each suppliers}}
                        <li>
                          <a href="/orgs/{{id}}">{{name}}</a>
                        </li>
                        {{/each}}
                      {{/each}}
                    </ul>
                  </div>
                  <div class=" js-procedure col-2 col-m-2">
                    <div class="cardItemTitle">Procedimiento</div>
                    <div class="cardItemData">{{records.compiledRelease.tender.procurementMethod}}</div>
                  </div>
                  {{!-- <div class=" js-score col-1 col-m-1 hidden">
                    <div class="cardItemTitle">Puntaje</div>
                    <div class="cardItemData"></div>47.62<span class="d100">/100</span>
                  </div> --}}
                </div>
                {{/each}}
              </div>
            </div>
            {{> pagination}}
          </div>
        </div>
      </div>

  </div>
</div>
