<section class="about-template" id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div class="contact-template">
          <div class="col-md-12 col-12 mb-1">
            <h1>{{_ "Contacto" }}</h1>
            <form id="contactForm" novalidate="novalidate">
              <fieldset>
                <div class="form-group">
                  <label for="subject" class="control-label">{{_ "Asunto" }}</label>
                  <input type="text" name="subject" id="subject" class="form-control" value="{{querySubject}}">
                  <span class="help-block"></span>
                </div>
                <div class="form-group" data-required="true">
                  <label for="contact_name" class="control-label">{{_ "Nombre" }}</label>
                  <input type="text" name="contact_name" id="name" maxlength="50" class="form-control">
                  <span class="help-block"></span>
                </div>
                <div class="form-group" data-required="true">
                  <label for="email" class="control-label">{{_ "Correo electrónico" }}</label>
                  <input id="contactEmail" type="email" name="contact-email" class="form-control">
                  <span class="help-block"></span>
                </div>
                <div class="form-group" data-required="true">
                  <label for="text" class="control-label">{{_ "Mensaje" }}</label>
                  <textarea name="message" rows="10" id="message" maxlength="1000" class="form-control"></textarea>
                  <span class="help-block"></span>
                </div>
                <div class="mb-4">
                    <button id="send_email" type="submit" class="btn btn-primary contact-submit">{{_ "Enviar" }}</button>
                    <input id="send_email" type="hidden" name="contact_form" value="true">
                </div>
              </fieldset>
            </form>
            <div id="thanks-column" style="display: none;">
              <h3>{{_ "Mensaje enviado" }}</h3>
              <p>{{_ "Muchas gracias, su mensaje nos llegará y responderemos si lo creemos pertinente." }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>