<div class="content">
  <div class='viewWrapper'>
    <div class='datos-generales clearfix' id="wrap-contract">
      <div class="gd-col-left-wrapper col-m-12">
        <div class="col-m-12 col-12 breadcrumb" style="clear:both">
          <h4><a href="/">Inicio</a> > <a href="/contratos">Contratos</a></h4>
        </div>
        <div class="description-data-title">
          <h3 style="clear: both" title="{{result.records.0.title}}">
            <img src="../images/icons/contrato-gray.svg" alt="contrato" class="icon-lf">
            {{result.records.0.title}}
          </h3>
        </div>
        <div class="right-align contract-amount">
          <p class="amount-data">
            {{format_amount result.records.0.compiledRelease.total_amount}}
          </p>
          <p id="currency-contract">{{format_currency result.records.0.compiledRelease.contracts.0.value.currency}}</p>
        </div>
      </div>
      <div class="col-12 col-m-12">
        <hr>
      </div>
    </div>


    <div class="contract_detail clearfix">

      <div class="col-m-9  col-9 flex mt-2" id="datosgenerales">
        <div class="col-m-12">
          <h4 class="description-data-subtitle">DATOS GENERALES</h4>
        </div>
        {{#if result.records.0.description }}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Descripción</p>
            <p class="js-data">{{result.records.0.description}}</p>
        </div>
        {{/if}}

        {{#if result.records.0.startDate }}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Fecha de inicio</p>
            <p class="js-data">{{moment result.records.0.startDate date lang="es" format="LL"}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.endDate }}
        <div class="col-m-8 col-8">
            <p class="js-title-data">Fecha de fin</p>
            <p class="js-data">{{moment result.records.0.endDate date lang="es" format="LL"}}</p>
        </div>
        {{/if}}

        {{#if result.records.0.compiledRelease.parties.length }}
        <div class="col-m-12 col-12 link-lf-contracts">
            <p class="js-title-data">Dependencia <a data-toggle="tooltip" data-placement="right" title="Nombre de la Dependencia, Entidad Federativa o Municipio que realiza la contratación."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
            {{!-- {{#each result.records.0.compiledRelease.parties.0.memberOf.0.name}} --}}
            {{#with (get_party result.records.[0] result.records.0.compiledRelease.parties.0.memberOf.0.id) }}
              <a href="/{{get_type_url details.type }}/{{memberOf.0.id}}"><p class="js-data">{{memberOf.0.name}}</p></a>
            {{/with}}
            {{!-- {{/each}} --}}
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.buyer }}
        <div class="col-m-7 col-7 pr-1">
            <p class="js-title-data">Unidad compradora <a data-toggle="tooltip" data-placement="right" title="El área  de  las dependencias o entidades que ha sido  registrada y autorizada para realizar operaciones y llevar a cabo procedimientos de contratación en CompraNet."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
            <p class="js-data"><a href="/instituciones-publicas/{{result.records.0.compiledRelease.buyer.id }}">{{result.records.0.compiledRelease.buyer.name}}</a></p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.parties.0.identifier.id }}
        <div class="col-m-5 col-5">
            <p class="js-title-data">Clave de unidad compradora <a data-toggle="tooltip" data-placement="right" title="Clave de identificación de la Unidad Compradora en Compranet 3.0."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
            <p class="js-data"><a href="/instituciones-publicas/{{result.records.0.compiledRelease.buyer.id }}">{{result.records.0.compiledRelease.parties.0.identifier.id}}</a></p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.parties.0.contactPoint }}
        <div class="col-m-12 col-12 link-lf-contracts">
            <p class="js-title-data">Responsable <a data-toggle="tooltip" data-placement="right" title="Titular del área contratante o del área responsable de la contratación a nivel central o del servidor público que éste designe."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></i></a></p>
            <p class="js-data"><a href="/personas/{{result.records.0.compiledRelease.parties.0.contactPoint.id}}">{{result.records.0.compiledRelease.parties.0.contactPoint.name}}</a></p>
        </div>
        {{/if}}
        {{#if result.records.0.supplier_summary }}
        <div class="col-m-12 col-12 link-lf-contracts js-suppliers ">
            <p class="js-title-data">Proveedor(es)</p>
            <ul>

            {{#each result.records.0.supplier_summary }}
              {{#with (get_party ../result.records.[0] id) }}
              <li class="js-data mb-1 {{#ifCond @index ">" 2}}supplier-hidden{{/ifCond}}">
                <a class="supplier-list-item" href="/{{get_type_url details.type }}/{{id}}">{{name}}</a> {{#if additionalIdentifiers}}({{#each additionalIdentifiers}}{{scheme}}: {{id}}{{#if @last}}{{else}}, {{/if}}{{/each}}) {{/if}}. {{format_amount ../contract_amount}} MXN.
              </li>
              {{/with}}
            {{/each}}
          </ul>
            {{#ifCond result.records.0.supplier_count '>' 3}}
              <div style="margin-top: 1rem; margin-bottom: 0.5rem">
                <a class="supplier-list-toggle">Ver todos</a>
              </div>
            {{/ifCond}}
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.source }}
        <div class="col-m-3 col-3 link-lf-contracts profile-list">
          <p class="js-title-data">Fuente(s)</p>
          <p class="js-data">
            {{# each result.records.0.compiledRelease.source}}
            {{id}}
            {{/each}}
          </p>
          {{#if result.records.0.compiledRelease.awards.length }}
            <ul>
              {{#each result.records.0.compiledRelease.awards}}
                {{#if documents.length }}
                  {{#each documents }}
                  <li class="{{#ifCond @../index ">" 2}}profile-list-hidden{{/ifCond}}">
                      <a href="{{url}}">Ver fuente {{@../index}}</a>
                  </li>
                  {{/each}}
                {{/if}}
              {{/each}}
            </ul>
            {{#ifCond result.records.0.compiledRelease.awards.length '>' 3}}
              <div style="margin-top: 1rem; margin-bottom: 0.5rem">
                <a class="profile-list-toggle">Ver todos</a>
              </div>
            {{/ifCond}}
          {{/if}}
        </div>
        {{/if}}
        <hr>
      </div>
      <div class="col-m-3 col-3">
        <nav id="right-menu">
          <ul class="right-menu nav-stacked nav">
              <li>
                  <a class="anchor" href="#datosgenerales">Datos generales</a>
              </li>
              <li>
                  <a class="anchor" href="#calidad">Calidad</a>
              </li>
              <li>
                  <a class="anchor" href="#planeacion">Planeación</a>
              </li>
              <li>
                  <a class="anchor" href="#licitacion">Convocatoria</a>
              </li>
              <li>
                  <a class="anchor" href="#adjudicaciones">Adjudicaciones</a>
              </li>
              <li>
                  <a class="anchor" href="#contratos">Contratos</a>
              </li>
              <li>
                  <a class="anchor" href="#implementacion">Implementación</a>
              </li>
          </ul>
        </nav>
      </div>


      <div class="col-m-8 col-8">
        <hr>
      </div>

      <div class="">
        <div  class="col-m-9 col-9 mt-2 party_flags" id="calidad">
          <h4 class="description-data-subtitle">CALIDAD DE CONTRATO</h4>
          {{#if result.records.0.flags.length }}
            <p>Evaluado por QuienEsQuien.wiki y <a href="https://www.todosloscontratos.mx/#metodologia">TodosLosContratos.mx</a></p>
            <div class="col-12-col-m-12">
              {{#each (get_record_flags result.records.0.flags) }}
              {{#ifCond @key "!=" "rules" }}
              <div class="flags_graph_bar">
                <div class="flag_name">
                   {{#with (flag_name @key) }}
                      {{name}} <a data-toggle="tooltip" data-placement="right" title="{{info}}"><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a>
                   {{/with}}
                </div>
                <div class="flag_pole flag_{{@key}}">
                  <div class="flag_pole_min" style="width: {{format_score (contract_category_min @key)}}">

                  </div>

                  <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (contract_category_max @key))}}">

                  </div>
                  <div class="flag_marker" style="left: {{format_score this}}">
                    {{format_score this}}
                  </div>
                </div>
              </div>
              {{/ifCond}}

              {{/each}}
            </div>

            {{# with (get_record_flags result.records.0.flags)}}
            <h4 class="description-data-subtitle" id="contract_problemas_destacados">PROBLEMAS DESTACADOS</h4>
            <ul class="party_flags_recommendations_list">
              {{# each this.rules}}
                  <li class="party_flags_recommendations_item">{{#with (contract_recommendations name) }}{{ contract_string }}{{/with}}</li>
              {{/each}}
            </ul>
            {{/with}}
          {{else}}
            <p>Aún no hemos realizado la evaluación de este contrato.</p>
          {{/if}}

        </div>
      </div>
      <div class="col-m-8 col-8">
        <hr>
      </div>

      <div class="col-m-9 col-9 flex mt-2" id="planeacion">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">PLANEACIÓN</h4>
        </div>
        <!-- agregar aca el funder si hay -->
        {{# if (get_record_funder result.records.[0]) }}
          {{# with (get_record_funder result.records.[0]) }}
          <div class="col-m-12 col-12 mb-2">
            <span class="js-title-data">Financiador: </span>
            {{#with (get_party ../result.records.[0] id)}}
            <span class="js-data"><a href="/{{get_type_url details.type}}/{{id}}">{{name}}</a>
            </span>
            {{/with}}
          </div>
          {{/with}}
        {{/if}}
        {{#if result.records.0.compiledRelease.planning }}
          <div class="col-m-12 col-12">
              <p class="js-data mt-2">PRESUPUESTO</p>
          </div>
          {{# if result.records.0.compiledRelease.planning.budget.budgetBreakdown.description }}
          <div class="col-m-12 col-12 mb-2">
            <span class="js-title-data">Descripción de los fondos: </span>
            <span class="js-data">          {{ result.records.0.compiledRelease.planning.budget.budgetBreakdown.description }}
          </div>
          {{/if}}
          {{# if result.records.0.compiledRelease.planning.budget.projectID }}
          <div class="col-m-6 col-6 mb-2">
              <span class="js-title-data">Proyecto: </span>
              <span class="js-data">          {{ result.records.0.compiledRelease.planning.budget.projectID }} ({{ result.records.0.compiledRelease.planning.budget.project }})
              </span>
          </div>
          {{/if}}
          {{# if result.records.0.compiledRelease.planning.budget.budgetBreakdown.budgetClassifications.origin }}
          <div class="col-m-6 col-6 mb-2">
            <span class="js-title-data">Orígen de los fondos: </span>
            <span class="js-data">          {{ result.records.0.compiledRelease.planning.budget.budgetBreakdown.budgetClassifications.origin }}
            </span>
          </div>
          {{/if}}
          {{# if result.records.0.compiledRelease.planning.budget.budgetBreakdown.amount.amount }}
          <div class="col-m-12 col-12 mb-2">
            <span class="js-title-data">Importe: </span>
            <span class="js-data">          {{ format_amount result.records.0.compiledRelease.planning.budget.budgetBreakdown.amount.amount }} {{ result.records.0.compiledRelease.planning.budget.budgetBreakdown.amount.currency }}
            </span>
          </div>
          {{/if}}
        {{else}}
          No hay datos
        {{/if}}
      </div>
      <div class="col-m-8 col-8">
        <hr>
      </div>
      <div class="col-m-9 col-9 flex mt-2" id="licitacion">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">CONVOCATORIA</h4>
        </div>
        {{#if result.records.0.compiledRelease.tender.procurementMethodDetails }}
        <div class="col-m-6 col-6">
            <p class="js-title-data">Tipo de procedimiento <a data-toggle="tooltip" data-placement="right" title="Refiere al tipo de procedimiento:
            a) Licitación Pública.
            - Procedimiento por regla general que debiera utilizarse para la adquisición de bienes y servicios.
            b) Invitación a cuando menos tres proveedores o contratistas.
            c) Adjudicación Directa.
            - La ley contempla estas excepciones a la Licitación Pública para utilizarse a reserva y responsabilidad de la depencia."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.procurementMethodDetails}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.procurementMethod }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">Forma de convocatoria: </p>
            <span class="js-data">{{result.records.0.compiledRelease.tender.procurementMethodMxCnet}}</span>
            (<span class="js-data">{{result.records.0.compiledRelease.tender.procurementMethod}}</span>)
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.mainProcurementCategory }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">Tipo de compra: </p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.mainProcurementCategory}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.procurementMethod }}
        <div class="col-m-6 col-6 mb-2">
          <p class="js-title-data">Tipo de procedimiento: </p>
          <p class="js-data">{{result.records.0.compiledRelease.tender.procurementMethodDetailsTemplateMxCnet}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.submissionMethod }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">Forma de procedimiento: </p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.submissionMethod}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.tenderPeriod.startDate }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">Período de convocatoria: </p>
            <p class="js-data">{{moment result.records.0.compiledRelease.tender.tenderPeriod.startDate  date lang="es" format="LL"}} - {{moment result.records.0.compiledRelease.tender.tenderPeriod.endDate date lang="es" format="LL"}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.contractPeriod.multiyearContractMxCnet }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">Contrato plurianual: </p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.contractPeriod.multiyearContractMxCnet}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.additionalProcurementCategories }}
        <div class="col-m-6 col-6">
            <p class="js-title-data">Tipo de contratación <a data-toggle="tooltip" data-placement="right" title="Muestra el tipo de contratación:

            a) Adquisiciones incluye: adquisiciones, arrendamientos y servicios.
            b) Obra Pública incluye: obras públicas y los servicios relacionados con las mismas."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.additionalProcurementCategories}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.period }}
          <div class="col-m-12 col-12">
              <p class="js-title-data mb-1">Fecha de licitación</p>
          </div>
          {{#if result.records.0.compiledRelease.tender.period.startDate }}
          <div class="col-m-6 col-6 mb-2">
              <span class="js-title-data">Inicio: </span>
              <span class="js-data">{{moment result.records.0.compiledRelease.tender.period.startDate date lang="es" format="LL"}}</span>
          </div>
          {{/if}}
          {{#if result.records.0.compiledRelease.tender.period.endDate }}
          <div class="col-m-6 col-6 mb-2">
              <span class="js-title-data">Fin: </span>
              <span class="js-data">{{moment result.records.0.compiledRelease.tender.period.endDate date lang="es" format="LL"}}</span>
          </div>
          {{/if}}
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.status }}
        <div class="col-m-6 col-6">
            <p class="js-title-data">Estatus de la licitación</p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.status}}</p>
        </div>
        {{/if}}
        {{#if result.records.0.compiledRelease.tender.procurementMethodCharacterMxCnet }}
        <div class="col-m-6 col-6">
            <p class="js-title-data">Carácter <a data-toggle="tooltip" data-placement="right" title="Indica si el procedimiento es I) Nacional, II) Internacional o III) Internacional bajo TLC

            - Nacional: sólo pueden participar personas de nacionalidad mexicana y los bienes a adquirir sean productos del país y cuenten, por lo menos, con un 50% de contenido nacional.
            - Internacional abiertas: podrán participar licitantes mexicanos y extranjeros, cualquiera que sea el origen de los bienes a adquirir.
            - Internacional bajo cobertura de tratados (TLC): sólo podrán participar licitantes mexicanos y extranjeros de países con los que nuestro país tenga celebrado un tratado de libre comercio con capítulo de compras gubernamentales.
            Para más información revisar la Ley de Adquisiciones, Arrendamientos y Servicios del Sector Público"><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
            <p class="js-data">{{result.records.0.compiledRelease.tender.procurementMethodCharacterMxCnet}}</p>
        </div>
        {{/if}}
      </div>
      <div class="col-m-8 col-8">
        <hr>
      </div>
      <div class="col-m-9 col-9 flex mt-2" id="adjudicaciones">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">ADJUDICACIONES</h4>
        </div>
        {{#each result.records.0.compiledRelease.awards }}
        <div class="" style="background: #eee; padding: 0.3em; margin: 0.5em 0.5em 0.5em 0;">
          Adjudicación código {{id}}
        </div>

        <div class="col-m-12 col-12 mb-3">
          {{#if description }}
          <div class="col-m-12 col-12">
              <p class="js-title-data">Descripción</p>
              <p class="js-data mb-1" >{{description}}</p>
          </div>
          {{/if}}
          {{#if suppliers }}
          <div class="col-m-7 col-7">
              <p class="js-title-data">Proveedor(es)</p>
              {{#each suppliers }}
              {{#with (get_party ../../result.records.[0] id) }}
              <p class="js-data mb-1">
                <a href="/{{get_type_url details.type }}/{{id}}">{{name}}</a> {{#if additionalIdentifiers}}({{#each additionalIdentifiers}}{{scheme}}: {{id}}{{/each}}{{#if @last}}{{else}}, {{/if}}){{/if}}{{#if @last}}{{else}},{{/if}}
              </p>
              {{/with}}
              {{/each}}
          </div>
          {{/if}}
          {{#if value }}
          <div class="col-m-3 col-3">
              <p class="js-title-data">Monto</p>
              <p class="js-data mb-1" >{{format_amount value.amount}} {{ value.currency}}</p>
          </div>
          {{/if}}
          {{#if status }}
          <div class="col-m-6 col-4">
              <p class="js-title-data">Estatus de la adjudicación</p>
              <p class="js-data mb-1" >{{ status}}</p>
          </div>
          {{/if}}
          {{#if date }}
          <div class="col-m-6 col-8">
              <p class="js-title-data">Fecha de fallo <a data-toggle="tooltip" data-placement="right" title="Fecha del acto de fallo, en formato ISO 86019. La emisión del fallo es el acto concluyente de un proceso de contratación que determina a quien se adjudica el contrato."><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a></p>
              <p class="js-data mb-1" >{{moment date date lang="es" format="LL"}}</p>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>

      <div class="col-m-8 col-8">
        <hr>
      </div>
      <div class="col-m-9 col-9 flex mt-2"  id="contratos">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">CONTRATOS</h4>
        </div>
      {{#each result.records.0.compiledRelease.contracts }}
      <div class="" style="background: #eee; padding: 0.3em; margin: 0.5em 0.5em 0.5em 0;">
        Contrato código {{id}}
      </div>
      <div class="col-m-12 col-12">
        {{#if title }}
        <div class="col-m-12 col-12">
            <p class="js-title-data">Título</p>
            <p class="js-data">{{title}}</p>
        </div>
        {{/if}}
        {{#if description }}
        <div class="col-m-12 col-12">
            <p class="js-title-data">Descripción</p>
            <p class="js-data mb-1" >{{description}}</p>
        </div>
        {{/if}}
        {{#if dateSigned }}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Fecha de firma</p>
            <p class="js-data">{{moment dateSigned date lang="es" format="LL"}}</p>
        </div>
        {{/if}}
        {{#if period }}
        <div class="col-m-8 col-8">
            <p class="js-title-data">Período de ejecución</p>
            <p class="js-data">{{moment period.startDate date lang="es" format="LL"}} {{#if period.endDate }} - {{moment period.endDate date lang="es" format="LL"}}{{/if}}
              {{!-- #if (contract_has_flag id "temp-dl") }}{{> bandera flag_id="temp-dl"}}{{/if --}}
            </p>
        </div>
        {{/if}}

        {{#if value }}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Importe</p>
            <p class="js-data">{{format_amount value.amount}} {{ value.currency}}</p>
        </div>
        {{/if}}
        {{#if status }}
        <div class="col-m-5 col-5">
            <p class="js-title-data">Estado</p>
            <p class="js-data">{{statusMxCnet}} ({{status}})</p>
        </div>
        {{/if}}
        {{#if filedMxCnet }}
        <div class="col-m-2 col-2">
            <p class="js-title-data">Archivado</p>
            <p class="js-data">{{ filedMxCnet }}</p>
        </div>
        {{/if}}
        {{#if period.multiyearContractMxCnet }}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Contrato plurianual</p>
            <p class="js-data">{{ period.multiyearContractMxCnet }}</p>
        </div>
        {{/if}}
        {{#if hasFramework }}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Contrato marco</p>
            <p class="js-data">{{ hasFramework }}</p>
        </div>
        {{/if}}
      </div>


      {{/each }}
      </div>
      <div class="col-m-8 col-8">
        <hr>
      </div>
      <div class="col-m-9 col-9 flex mt-2" id="implementacion">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">IMPLEMENTACIÓN</h4>
        </div>
        {{!-- {{#if implementation}}
        Este es un maravilloso contrato con datos de implementación. Si ves este mensaje por favor avisanos a info@quienesquien.wiki.
        {{else}} --}}
        <div class="col-m-6 col-4">
            <p class="js-title-data">No hay datos</p>
        </div>
        {{!-- {{/if}} --}}
      </div>
    </div>
  </div>
</div>
{{!-- {{/with}} --}}
{{> send_info_form}}
