<section class="profile-header">
  <div class="wrap bg-white" id="wrap">
    <div class="description-data-title">
      <h3 title="{{result.contracts.title}}">
        <i class="fas fa-file-alt"></i>
        <a href="{{url view="contratos" }}">{{{_ "Contrato" }}}</a>
        {{result.contracts.title}}
      </h3>
    </div>
    <div class="right-box ml-auto filters">
      <ul class="nav nav-pills d-flex flex-nowrap">
          {{>utilities api_url=result.api_url share_url=share_url }}
      </ul>
    </div>
    <nav id="right-menu">
      <ul class="right-menu-profile nav d-flex flex-nowrap">
          <li>
              <a class="anchor" href="#datosgenerales"><i class="fas fa-file"></i> {{{_ "Resumen"}}}</a>
          </li>
          <li>
              <a class="anchor" href="#calidad"><i class="fas fa-file-signature"></i> {{{_ "Calidad"}}}</a>
          </li>
          <li>
              <a class="anchor" href="#planeacion"><i class="fas fa-caret-square-right"></i> {{{_ "Planeación"}}}</a>
          </li>
          <li>
              <a class="anchor" href="#convocatoria"><i class="fas fa-envelope"></i> {{{_ "Convocatoria"}}}</a>
          </li>
          <li>
              <a class="anchor" href="#adjudicaciones"><i class="fas fa-gavel"></i> {{{_ "Adjudicaciones"}}}</a>
          </li>
          <li>
              <a class="anchor" href="#implementacion"><i class="fas fa-truck-moving"></i> {{{_ "Implementación"}}}</a>
          </li>
          <li>
              <a class="anchor" href="#informacion-general"><i class="fas fa-folder-open"></i> {{{_ "Informacion general"}}}</a>
          </li>
      </ul>
    </nav>
  </div>
</section>



<div class="profile-content">
  <section class="profile row" id="datosgenerales">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-file"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "RESUMEN DEL CONTRATO"}}} {{result.id}}</h4>
    </div>
    <div class="col-12 col-m-12">
      <div class="row flex">
        <div class="col-m-6 col-6 contract-total-amount pb-3">
          <p class="js-title-data">{{{_ "Importe total"}}}</p>
          <p class="js-data">{{format_amount result.contracts.value.amount}} {{result.contracts.value.currency}}</p>
        </div>
        <div class="col-6 pb-3">
            <p class="js-title-data">{{{_ "Período de contrato(s)"}}}</p>
            {{{_ "Entre el {start} y el {end}" start=(moment result.contracts.period.startDate date lang="es" format="LL") end=(moment result.contracts.period.endDate date lang="es" format="LL") }}}
        </div>
        {{#if result.contracts.description }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Descripción"}}}</p>
            <p class="js-data">{{result.contracts.description}}</p>
        </div>
        {{/if}}
        <div class="col-m-12 col-12 link-lf-contracts pb-3">
            <p class="js-title-data">{{{_ "Unidad compradora"}}}</p>
            <a data-toggle="tooltip" data-placement="right" title="{{{_ "El área  de  las dependencias o entidades que ha sido  registrada y autorizada para realizar operaciones y llevar a cabo procedimientos de contratación en CompraNet."}}}">
              {{{ get_classification_icon result.parties.buyer.details.type result.parties.buyer.details.classification result.parties.buyer.details.govLevel}}}
            </a>
            <a href="{{ url view="instituciones-publicas/:id" _id=result.buyer.id }}">{{result.buyer.name}}</a>


            {{#with result.parties.buyer }}
              perteneciente a 
              <a data-toggle="tooltip" data-placement="right" title="Nombre de la Dependencia, Entidad Federativa o Municipio que realiza la contratación.">
              {{{ get_classification_icon details.type "dependencia" details.govLevel}}}
              </a>
              <a href="{{url view="institutions/:id" _id=memberOf.id}}">{{memberOf.name}}</a>
            {{/with}}
            {{#if result.parties.buyer.details.govLevel }} {{{_ "de nivel"}}} {{ get_govlevel_name result.parties.buyer.details.govLevel }}{{/if}}



        </div>


        {{#if result.parties.suppliers.list }}
        <div class="col-m-12 col-12 pb-3">
          <p class="js-title-data">Proveedor(es)</p>
          {{#each result.parties.suppliers.list }}
              <a class="supplier-list-item" href="{{url view=(get_type_url details.type) _id=id}}">
              {{{ get_classification_icon details.type details.classification details.govLevel}}}
              {{name}}
              </a> 

              {{#if additionalIdentifiers}}({{#each additionalIdentifiers}}{{scheme}}: {{id}}{{#if @last}}{{else}}, {{/if}}{{/each}}){{/if}} 
              <br>
          {{/each}}
        </div>
        {{/if}}

        {{# each result.parties.funder }}
        <div class="col-m-12 col-12 mb-2">
          <p class="js-title-data">{{{_ "Financiador(as):"}}} </p>
          <span class="js-data">
              {{{ get_classification_icon details.type details.type details.classification details.govLevel}}}

            <a href="{{ url view=(get_type_url details.type) _id=id}}">{{name}}</a>
          </span>
        </div>
        {{/each}}

        <div class="col-m-12 col-12 mt-5">
          <p>{{_ "Este contrato es parte de un expediente."}}

          <a href="{{ url view="expediente/:id" _id=result.ocid}}">{{_ "Ver expediente"}} {{result.ocid }}</a> {{_ "en formato Open Contracting Data Standard"}}.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="profile row" id="calidad">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-file-signature"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "CALIDAD DE CONTRATO"}}}</h4>
    </div>
    <div class="col-12 col-m-12 party_flags">
      <div class="row flex">
        <div class="col-12 col-m-12">
          {{#if result.flags.length }}
              <p>{{{_ "Evaluado por QuienEsQuien.wiki y <a href='https://www.todosloscontratos.mx/#metodologia'>TodosLosContratos.mx</a></p>"}}}
              {{#each (get_record_flags result.flags) }}
              {{#ifCond @key "!=" "rules" }}
              <div class="flags_graph_bar">
                <div class="flag_name">
                   {{#with (flag_name @key) }}
                      {{name}} <a data-toggle="tooltip" data-placement="right" title="{{info}}"><i class="fas fa-info-circle"></i></a>
                   {{/with}}
                </div>
                <div class="flag_pole flag_{{@key}}">
                  <div class="flag_pole_min" style="width: {{format_score (contract_category_min @key)}}">

                  </div>

                  <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (contract_category_max @key))}}">

                  </div>
                  <div class="flag_marker" style="left: {{format_score this}}">
                    {{format_score this}}
                  </div>
                </div>
              </div>
              {{/ifCond}}

              {{/each}}

              {{#with (get_record_flags result.flags)}}
              <h4 class="description-data-subname" id="contract_problemas_destacados">{{{_ "PROBLEMAS DESTACADOS"}}}</h4>
              <ul class="party_flags_recommendations_list">
                {{# each this.rules}}
                {{!-- {{j this }} --}}
                    <li class="party_flags_recommendations_item">{{#with (contract_recommendations name) }}{{ contract_string }}{{/with}}</li>
                {{/each}}
              </ul>
              {{/with}}
            {{else}}
              <p>{{{_ "Aún no hemos realizado la evaluación de este contrato."}}}</p>
              <p>{{{_ "Para detalles sobre nuestra metodología de evaluación por favor revise <a href='https://www.todosloscontratos.mx/#metodologiañ'>TodosLosContratos.mx</a>"}}}</p>

            {{/if}}
          </div>
      </div>
    </div>
  </section>
  <section class="profile row" id="planeacion">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-caret-square-right"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "PLANEACIÓN"}}}</h4>
    </div>
    <div class="col-12 col-m-12">
      <div class="row flex">
        {{#if result.planning }}
          {{# if result.planning.budget.budgetBreakdown.description }}
          <div class="col-m-12 col-12">
              <p class="js-data mt-2">{{{_ "PRESUPUESTO"}}}</p>
          </div>
          <div class="col-m-12 col-12 mb-2">
            <span class="js-title-data">{{{_ "Descripción de los fondos"}}}: </span>
            <span class="js-data">          {{ result.planning.budget.budgetBreakdown.description }}
          </div>
          {{/if}}
          {{# if result.planning.budget.projectID }}
          <div class="col-m-6 col-6 mb-2">
              <span class="js-title-data">{{{_ "Proyecto"}}}: </span>
              <span class="js-data">          {{ result.planning.budget.projectID }} ({{ result.planning.budget.project }})
              </span>
          </div>
          {{/if}}
          {{# if result.planning.budget.budgetBreakdown.budgetClassifications.origin }}
          <div class="col-m-6 col-6 mb-2">
            <span class="js-title-data">{{{_ "Orígen de los fondos"}}}: </span>
            <span class="js-data">          {{ result.planning.budget.budgetBreakdown.budgetClassifications.origin }}
            </span>
          </div>
          {{/if}}
          {{# if result.planning.budget.budgetBreakdown.amount.amount }}
          <div class="col-m-12 col-12 mb-2">
            <span class="js-title-data">{{{_ "Importe"}}}: </span>
            <span class="js-data">          {{ format_amount result.planning.budget.budgetBreakdown.amount.amount }} {{ result.planning.budget.budgetBreakdown.amount.currency }}
            </span>
          </div>
          {{/if}}
        {{else}}
          <div class="col-m-12 col-12">
            {{{_ "No hay datos" }}}
          </div>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="profile row" id="convocatoria">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "CONVOCATORIA"}}}</h4>
    </div>
    <div class="col-12 col-m-12">
      <div class="row flex">
        <div class="col-m-6 col-6 link-lf-contracts pb-3">
            <p class="js-title-data">
              {{{_ "Dependencia" }}} 
              <a data-toggle="tooltip" data-placement="right" title="{{{_ "Nombre de la Dependencia, Entidad Federativa o Municipio que realiza la contratación." }}}"><i class="fas fa-info-circle"></i>
              </a>
            </p>
            <p class="js-data">
              <a href="{{url view=(get_type_url result.parties.buyer.details.type) _id=result.parties.buyer.memberOf.0.id}}">
                {{result.parties.buyer.memberOf.name}}
              </a>
            </p>
        </div>
        {{#if result.parties.buyer.details.govLevel }}
        <div class="col-m-3 col-3 link-lf-contracts pb-3">
            <p class="js-title-data">{{{_ "Nivel de gobierno" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "Si la unidad compradora pertenece al nivel municipal, estatal o federal" }}}"><i class="fas fa-info-circle"></i></a></p>
            <p class="js-data">{{ _ result.parties.buyer.details.govLevel }}</p>
        </div>
        {{/if}}
        {{#if result.buyer }}
        <div class="col-m-6 col-6 pr-1 pb-3">
          <p class="js-title-data">{{{_ "Unidad compradora" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "El área  de  las dependencias o entidades que ha sido  registrada y autorizada para realizar operaciones y llevar a cabo procedimientos de contratación en CompraNet." }}}"><i class="fas fa-info-circle"></i></a></p>
          <p class="js-data">
            <a href="{{ url view="instituciones-publicas/:id" _id=result.buyer.id }}">
              {{result.buyer.name}}
            </a>
            {{#if result.parties.buyer.identifier.id }}
              ({{{_ "Clave" }}}:
              {{result.parties.buyer.identifier.id}}
              <a data-toggle="tooltip" data-placement="right" title="{{{_ "Clave de identificación de la Unidad Compradora en Compranet 3.0." }}}"><i class="fas fa-info-circle"></i></a>
              )
              
            {{/if}}
          </p>
        </div>
        {{/if}}
        {{#if result.parties.buyer.contactPoint }}
        <div class="col-m-6 col-6 link-lf-contracts pb-3">
            <p class="js-title-data">{{{_ "Responsable" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "Titular del área contratante o del área responsable de la contratación a nivel central o del servidor público que éste designe." }}}"><i class="fas fa-info-circle"></i></a></p>
            <p class="js-data"><a href="{{ url view="personas/:id" _id=result.parties.buyer.contactPoint.id}}">{{result.parties.buyer.contactPoint.name}}</a></p>
        </div>
        {{/if}}

        {{#if result.tender.procurementMethodDetails }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Tipo de convocatoria" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "Refiere al tipo de procedimiento:
- Licitación Pública: Procedimiento por regla general que debiera utilizarse para la adquisición de bienes y servicios.
- Invitación a cuando menos tres proveedores o contratistas.
- Adjudicación Directa: La ley contempla estas excepciones a la Licitación Pública para utilizarse a reserva y responsabilidad de la depencia." }}}"><i class="fas fa-info-circle"></i></a></p>
            <p class="js-data">
              {{result.tender.procurementMethodDetails}}
              {{#if result.tender.procurementMethod }}
                <span class="js-data">{{result.tender.procurementMethodMxCnet}}</span>
                (<span class="js-data">{{result.tender.procurementMethod}}</span>)
              {{/if}}
            </p>
            {{#if result.tender.procurementMethodDetailsTemplateMxCnet }}
              <p class="js-data">
                {{{_ "Normativa:" }}}
                {{result.tender.procurementMethodDetailsTemplateMxCnet}}
              </p>
            {{/if}}

        </div>
        {{/if}}
        {{#if result.tender.procurementMethodCharacterMxCnet }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Ámbito" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "Indica si el procedimiento es I) Nacional, II) Internacional o III) Internacional bajo TLC
- Nacional: sólo pueden participar personas de nacionalidad mexicana y los bienes a adquirir sean productos del país y cuenten, por lo menos, con un 50% de contenido nacional.
- Internacional abiertas: podrán participar licitantes mexicanos y extranjeros, cualquiera que sea el origen de los bienes a adquirir.
- Internacional bajo cobertura de tratados (TLC): sólo podrán participar licitantes mexicanos y extranjeros de países con los que nuestro país tenga celebrado un tratado de libre comercio con capítulo de compras gubernamentales.
Para más información revisar la Ley de Adquisiciones, Arrendamientos y Servicios del Sector Público" }}}"><i class="fas fa-info-circle"></i></a></p>
            <p class="js-data">{{result.tender.procurementMethodCharacterMxCnet}}</p>
        </div>
        {{/if}}

        {{#if result.tender.procurementCategoryMxCnet }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Tipo de compra" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "Muestra el tipo de contratación:
- Adquisiciones: adquisiciones, arrendamientos y servicios.
- Obra Pública: obras públicas y los servicios relacionados con las mismas.
- Servicios: contratación de servicios." }}}"><i class="fas fa-info-circle"></i></a></p>
            <p class="js-data">{{result.tender.procurementCategoryMxCnet}} ({{result.tender.mainProcurementCategory}})</p>
        </div>
        {{/if}}

        {{#if result.tender.submissionMethod }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">{{{_ "Formas de envío" }}}: </p>
            <p class="js-data">{{#each result.tender.submissionMethod}}{{_ @this}}{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
        </div>
        {{/if}}
        {{#if result.tender.tenderPeriod.startDate }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">{{{_ "Período de convocatoria" }}}: </p>
            <p class="js-data">{{moment result.tender.tenderPeriod.startDate  date lang="es" format="LL"}} - {{moment result.tender.tenderPeriod.endDate date lang="es" format="LL"}}</p>
        </div>
        {{/if}}
        {{#if result.tender.consolidatedProcessMxCnet }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">{{{_ "Proceso consolidado" }}}: </p>
            <p class="js-data">{{get_bool result.tender.consolidatedProcessMxCnet }}</p>
        </div>
        {{/if}}

        {{#if result.tender.period }}
          <div class="col-m-12 col-12">
              <p class="js-title-data mb-1">{{{_ "Fecha de licitación" }}}</p>
          </div>
          {{#if result.tender.period.startDate }}
          <div class="col-m-6 col-6 mb-2">
              <span class="js-title-data">{{{_ "Inicio" }}}: </span>
              <span class="js-data">{{moment result.tender.period.startDate date lang="es" format="LL"}}</span>
          </div>
          {{/if}}
          {{#if result.tender.period.endDate }}
          <div class="col-m-6 col-6 mb-2">
              <span class="js-title-data">{{{_ "Fin" }}}: </span>
              <span class="js-data">{{moment result.tender.period.endDate date lang="es" format="LL"}}</span>
          </div>
          {{/if}}
        {{/if}}
        {{#if result.tender.status }}
        <div class="col-m-6 col-6 mb-2">
            <p class="js-title-data">{{{_ "Estado de la convocatoria" }}}</p>
            <p class="js-data">{{_ result.tender.status}}</p>
        </div>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="profile row" id="adjudicaciones">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-gavel"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "ADJUDICACIÓN Y CONTRATO" }}}</h4>
    </div>
    <div class="col-12 col-m-12">
      <div class="row">
        <div class="col-m-12 col-12 pb-3">
            <p class="js-title-data">{{{_ "Título de la convocatoria" }}}</p>
            <p class="js-data">{{result.tender.title}}</p>
        </div>
        <div class="col-m-12 col-12 pb-3">
            <p class="js-title-data">{{{_ "Título de la adjudicación" }}}</p>
            <p class="js-data">{{result.awards.title}}</p>
        </div>
        {{#if description }}
        <div class="col-m-12 col-12 pb-3">
            <p class="js-title-data">{{{_ "Descripción de la adjudicación" }}}</p>
            <p class="js-data mb-1" >{{result.awards.description}}</p>
        </div>
        {{/if}}
        <div class="col-m-12 col-12 pb-3">
            <p class="js-title-data">{{{_ "Título del contrato" }}}</p>
            <p class="js-data">{{result.contracts.title}}</p>
        </div>
        {{#if description }}
        <div class="col-m-12 col-12 pb-3">
            <p class="js-title-data">{{{_ "Descripción del contrato" }}}</p>
            <p class="js-data mb-1" >{{result.contracts.description}}</p>
        </div>
        {{/if}}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Proveedor(es)" }}}</p>
            {{#each result.parties.suppliers.list }}
            <p class="js-data mb-1">
              <a href="{{url view=(get_type_url details.type) _id=id}}">{{name}}</a> {{#if additionalIdentifiers}}({{#each additionalIdentifiers}}{{scheme}}: {{id}}{{/each}}{{#if @last}}{{else}}, {{/if}}){{/if}}{{#if @last}}{{else}},{{/if}}
            </p>
            {{/each}}
        </div>
        {{#if result.awards.value }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Monto" }}}</p>
            <p class="js-data mb-1" >{{format_amount result.awards.value.amount}} {{ result.awards.value.currency}}</p>
        </div>
        {{/if}}
        {{#if status }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Estatus de la adjudicación" }}}</p>
            <p class="js-data mb-1" >{{_ result.awards.status}}</p>
        </div>
        {{/if}}
        {{#if result.awards.date }}
        <div class="col-m-6 col-6 pb-3">
            <p class="js-title-data">{{{_ "Fecha de fallo" }}} <a data-toggle="tooltip" data-placement="right" title="{{{_ "Fecha del acto de fallo, en formato ISO 86019. La emisión del fallo es el acto concluyente de un proceso de contratación que determina a quien se adjudica el contrato." }}}"><i class="fas fa-info-circle"></i></a></p>
            <p class="js-data mb-1" >{{moment result.awards.date lang="es" format="LL"}}</p>
        </div>
        {{/if}}
        {{#with result.contracts }}
          {{#if dateSigned }}
          <div class="col-m-6 col-6 pb-3">
              <p class="js-title-data">{{{_ "Fecha de firma" }}}</p>
              <p class="js-data">{{moment dateSigned date lang="es" format="LL"}}</p>
          </div>
          {{/if}}
          {{#if period }}
          <div class="col-m-6 col-6 pb-3">
              <p class="js-title-data">{{{_ "Período de ejecución" }}}</p>
              <p class="js-data">{{moment period.startDate date lang="es" format="LL"}} {{{_ "a" }}} {{moment period.endDate date lang="es" format="LL"}}
                {{!-- #if (contract_has_flag id "temp-dl") }}{{> bandera flag_id="temp-dl"}}{{/if --}}
              </p>
          </div>
          {{/if}}
          <div class="col-m-6 col-6 pb-3">
              <p class="js-title-data">{{{_ "Código interno de la adjudicación" }}}</p>
              <p class="js-data mb-1" >{{../result.awards.id}}</p>
          </div>

          {{#if ../result.awards.documents.list.length }}
          <div class="col-12 pb-3">
            <p class="js-title-data">{{{_ "Documentos oficiales" }}}</p>
              {{#each ../result.awards.documents.list }}
                <a href="{{this.url}}">
                  <i class="fas fa-external-link-alt"></i>
                  {{{_ "Ver {documentType} {index} en sitio oficial" documentType=(_ documentType) index=(math @index "+" 1) }}} 
                </a>
              <br>
              {{/each}}
          </div>
          {{/if}}

          <div class="col-m-12 col-12 mt-5">
            {{#if status }}
              <i class="fas fa-info-circle"></i> {{{_ "Este contrato está {statusMxCnet} ({status})" statusMxCnet=statusMxCnet status=status }}}<br>
            {{/if}}
            {{#if filedMxCnet }}
              <i class="fas fa-info-circle"></i> {{{_ "Este contrato ha sido archivado" }}}<br>
            {{/if}}
            {{#if multiyearContractMxCnet }}
              <i class="fas fa-info-circle"></i> {{{_ "Este contrato es plurianual" }}}<br>
            {{/if}}
            {{#if hasFramework }}
              <i class="fas fa-info-circle"></i> {{{_ "Este contrato fue realizado como parte de un convenio marco" }}}<br>
            {{/if}}
            {{#if hasAmendments }}
              <i class="fas fa-info-circle"></i> {{{_ "Este contrato es una extensión, tiene correcciones o enmiendas" }}}<br>
            {{/if}}
          </div>
        {{/with }}
      </div>
    </div>
  </section>

  <section class="profile row" id="implementacion">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-truck-moving"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "IMPLEMENTACIÓN" }}}</h4>
    </div>
    <div class="col-12 col-m-12">
      <div class="row flex">
        <div class="col-12">
          <p class="js-title-data">{{{_ "No hay datos" }}}</p>
        </div>
      </div>
    </div>
  </section>

{{!-- info --}}
  <section class="profile row" id="informacion-general">
    <div class="box-title-section">
      <div class="box-title-icon">
        <i class="fas fa-folder-open"></i>
      </div>
      <h4 class="description-data-subtitle">{{{_ "INFORMACIÓN GENERAL" }}}</h4>
    </div>
      <div class="col-12 col-m-12">
        {{!-- <div class="row flex">

          {{#if result.identifiers }}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">Identificadores</p>
              {{#each result.identifiers}}
                <p class="js-data">
                  {{#ifCond identifier '!=' '#ĦVALOR!'}}
                    {{#ifCond scheme '!=' 'CIQ'}}
                      {{scheme}}: {{id}}{{identifier}}
                    {{/ifCond}}
                  {{/ifCond}}

                  {{#ifCond scheme '==' 'RUPC'}} <a data-toggle="tooltip" data-placement="right" title="Folio asignado por la SFP a la persona física o moral que fue inscrita al Registro Único de Registro Único de Proveedores y Contratistas (RUPC) por un ente público con el que celebró algún contrato"><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a>{{/ifCond}}
                {{/each}}</p>
            </div>
          {{/if}}

          {{#if result.links}}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">Link(s)</p>
              {{#each result.links}}
                <p class="js-data"><a href="{{this.id}}" target="_blank">{{this.id}}</a></p>
              {{/each}}
            </div>
          {{/if}}

        </div> --}}

        <div class="row flex">
          {{#if result.date}}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">{{{_ "Fecha de actualización" }}}</p>
              <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
            </div>
          {{/if}}

          {{#if result.source}}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">{{{_ "Fuente(s)" }}}</p>
              <p class="js-data">{{#each result.source}} <a href="{{url view="entidades-y-fuentes" _anchor=this.id}}">{{this.id}}</a>{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
            </div>
          {{/if}}
        </div>

      </div>
  </section>

</div>

