<section class="profile-header">
  <div class="row">
    <div class="content mt-1">
      <div class="wrap" id="wrap">
        <div class="breadcrumb">
          <h4>
              <a href="/">Inicio</a> >
              <a href="/{{get_type_url type}}">{{get_type_plural type}}</a>
          </h4>
        </div>
        <div class='datos-generales clearfix'>
          <div class="gd-col-left-wrapper col-m-12">
              <div class="description-data-title">
                <h3 title="{{ result.compiledRelease.name }}">
                  {{{ get_classification_icon type result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel}}}
                  {{ get_classification_name type result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel }}:
                  {{result.compiledRelease.name }}
                </h3>
              </div>
          </div>
        </div>
        <div class="col-12 col-m-12 ">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="mujeresenlabolsa">
  <div class="row">
    <div class="content">
      <div class="col-9 col-m-9">
        <div class="col-6 col-m-6 mb-2">
          {{!-- <h4 class="description-data-subtitle"><i class="fas fa-folder-open"></i> INFORMACIÓN GENERAL</h4> --}}
          <img src="../images/logo-mujeresenlabolsa.png" alt="Mujeres en la Bolsa" class="logo-mujeres">
          <img src="../images/bolsa-mexico.jpg" alt="Bolsa de Valores" class="stockexchange-img">
        </div>
        <div class="col-6 col-m-6 mt-2">
            <div class="col-6 col-m-6">
                <div class="data-icon">
                    <i class="fas fa-venus"></i>
                    <div>
                      <p class="js-data">{{result.compiledRelease.summaries.persons_count}}</p>
                      <p class="js-title-data">Consejeras</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-m-6">
                <div class="data-icon">
                    <i class="fas fa-mars"></i>
                    <diV>
                        <p class="js-data">{{result.compiledRelease.summaries.persons_count}}</p>
                        <p class="js-title-data">Consejeros</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-m-12">
                <p class="data-description">Mujeres en la Bolsa de Valores es un proyecto que mide la equidad de género en los consejos de administración de las empresas que cotizan en las bolsas de 15 países de América Latina y España. 15 medios y organizaciones sociales publican reportes con la información y en QuiénEsQuién.Wiki puedes consultar tanto los resultados por país como los agregados totales.</p>
                <div class="container-button">
                    <a href="/paises/ad/mujeresenlabolsa" class="button-link stockexchange-mx">VER MUJERES EN LA BOLSA DE MÉXICO</a>
                </div>
                <div class="container-button">
                    <a href="https://mujeresenlabolsa.org/" class="button-link stockexchange-out">VER MUJERESENLABOLSA.ORG</a>
                </div>
            </div>
        </div>
        <div  class="col-m-12 col-12 mt-2">
          <h5 class="description-data-subtitle"><i class="fas fa-chart-line"></i> Bolsas de Valores</h5>
          <ul>
            <li><a href="">Bolsa Mexicana de Valores</a></li>
          </ul>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
      <div class="col-m-3 col-3">
        <nav id="right-menu" class="menu-profile">
          <ul class="right-menu-profile nav-stacked nav">
            <li>
              <a href="#mujeresenlabolsa" class="anchor">
                <i class="fas fa-venus-mars"></i>Género
              </a>
            </li>
            {{!-- {{#if result.memberships.parent}}
            {{#each result.memberships.parent }} --}}
            <li>
              <a href="#estados" class="anchor">
                <i class="fas fa-map-marked"></i>Estados
              </a>
            </li>
            {{!-- {{/each}}
            {{/if}} --}}
            <li>
              <a href="#personas" class="anchor">
                <i class="fas fa-user"></i>Personas
              </a>
            </li>
            <li>
              <a href="#empresas" class="anchor">
                <i class="fas fa-building"></i>Empresas
              </a>
            </li>
            <li>
              <a href="#instituciones-publicas" class="anchor">
                <i class="fas fa-landmark"></i>Instituciones Públicas
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="profile" id="estados">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle"><i class="fas fa-map-marked"></i> ESTADOS</h4>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="description-data-subname">Nombre</th>
                <th class="description-data-subname">No. de municipios</th>
              </tr>
            </thead>
            <tbody>
              {{!-- {{#each result.top3contracts.supplier }} --}}
              <tr>
                <td class="description-data-contract">
                  {{!-- <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract"> --}}
                  <a href="">Estado</a>
                </td>
                <td class="description-data-amount">{{format_amount compiledRelease.total_amount}} {{ compiledRelease.contracts.0.value.currency}}</td>
              </tr>
              {{!-- {{/each}} --}}
            </tbody>
          </table>
        </div>
        <div class="col-m-12 mb-12">
          {{!-- {{#ifCond result.compiledRelease.contract_count.funder '>' 3}} --}}
          <p>Viendo hasta 3 de <strong>{{result.compiledRelease.contract_count.funder}} estados en total</strong>.</p>
          <div class="contract-button">
            <a href="/contratos?financiador={{result.compiledRelease.name}}" class="button-link">Ver todos los estados</a>
          </div>
          {{!-- {{else}}
            <p>Viendo <strong>{{result.compiledRelease.contract_count.funder}} estado(s) en total</strong>. </p>
          {{/ifCond}} --}}
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="profile" id="personas">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle"><i class="fas fa-user"></i> PERSONAS</h4>
        </div>
        <div class="col-m-12 mb-12">
          <p>{{result.compiledRelease.summaries.persons_count}} personas en total</strong>.</p>
          <div class="contract-button">
            <a href="/contratos?pais={{result.compiledRelease.id}}" class="button-link">Ver todas las personas</a>
          </div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="profile" id="empresas">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle"><i class="fas fa-building"></i></i> EMPRESAS</h4>
        </div>
        <div class="col-m-12 mb-12">
          <p>{{result.compiledRelease.summaries.companies_count}} empresas en total</strong>.</p>
          <div class="contract-button">
            <a href="/empresas?pais={{result.compiledRelease.id}}" class="button-link">Ver todas las empresas</a>
          </div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="profile" id="instituciones-publicas">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle"><i class="fas fa-landmark"></i></i> INSTITUCIONES PÚBLICAS</h4>
        </div>
        <div class="col-m-12 mb-12">
          <p>60 instituciones en total</strong>.</p>
          <div class="contract-button">
            <a href="/instituciones-publicas?pais={{result.compiledRelease.id}}" class="button-link">Ver todas las instituciones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{{> send_info_form}}
{{!-- <script>
  const summaries = {{{j result.summaries}}}
</script>
<script src="/javascripts/d3.v4.js"></script>
<script>
  let d4 = d3;
</script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script> --}}
