<section>
    <div class="row">
        <div class="content">
            <div class="col-12 col-m-12">
                <div class="row">
                    <div class="col-2 col-m-12">
                        <h2 class="document-title">Países</h2>
                    </div>
                    <div class="col-10 col-m-12">
                        <p class="document-description">Estados en los cuales tenemos personas, empresas, instituciones públicas y contratos.</p>
                    </div>
                </div>
                <div class="row mb-2 tools-section">
                    <div class="col-5 col-m-5">
                        <p class="document-description">Si quieres una búsqueda más avanzada, <a href="/contacto">contáctanos.</a></p>
                    </div>
                    <div class="col-m-4">
                        {{> table_lenght}}
                    </div>
                    <div class="col-3 col-m-3">
                        <div class="dropdown">
                            <button class="button-tools dropdown-toggle" type="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../images/icons/settings.svg" alt="Ícono Herramientas">
                                Herramientas
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="dropdownTools">
                                <li class="dropdown-header">Compartir</li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.quienesquien.wiki{{share_url}}&t=QuienesQUienWiki" target="_blank"><img class="share-icons" src="../images/icons/facebook.svg" alt="Facebook">Facebook</a></li>
                                <li><a href="https://twitter.com/intent/tweet?text=Explora+conexiones+y+contratos+entre+empresarios%2c+pol%c3%adticos%2c+empresas+e+instituciones+p%c3%bablicas..&url=https://www.quienesquien.wiki{{share_url}}&via=ProjectPODER" target="_blank"><img class="share-icons" src="../images/icons/twitter.svg" alt="Twitter">Twitter</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">URL de la API</li>
                                <li class="copy-clip">
                                    <input id="apiUrl" type="text" name="destinatario" value="{{result.api_url}}">
                                    <button class="btn-copy" onclick="copyClipboard()">Copiar URL</button>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="copy-clip">
                                    <a class="btn-csv" href="{{url_csv result.api_url}}" download="datos-QQW.csv" target="_blank">Descargar CSV <img src="../images/icons/info.svg" alt="icon" class="info-icon" data-toggle="tooltip" data-placement="right" title="Descarga CSV, limitada a 1000 filas."></a>
                                    <a href="https://quienesquienapi.readthedocs.io/es/latest/" class="doc-download-link">Ver documentación</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-m-12">
                {{#if result.data.length }}
                    {{#each result.data}}
                    <div class="index-list-item">
                        <div class="index-list-group">
                            <div class="index-list-title">
                                <a href="/paises/{{id}}">
                                    <span class="flag-icon flag-icon-{{id}}" title="Bandera de {{ compiledRelease.name }}"></span>
                                    {{compiledRelease.name}}
                                </a>
                            </div>
                            <div class="index-list-elements">
                                <div class="left-elements">
                                    <p class="index-list-element"><i class="fas fa-users"></i> {{format_number compiledRelease.summaries.persons_count}} <span>personas</span></p>
                                    <p class="index-list-element"><i class="fas fa-building"></i> {{format_number compiledRelease.summaries.companies_count}} <span>empresas</span></p>
                                    {{# if compiledRelease.summaries.states_count }}
                                      <p class="index-list-element"><i class="fas fa-map-marked"></i> {{format_number compiledRelease.summaries.states_count}} <span>estados</span></p>
                                    {{/if }}
                                </div>
                                <div class="right-elements">
                                    <a href="/paises/{{id}}#genero">
                                        <p class="index-list-element"><i class="fas fa-chart-line"></i> {{format_number  compiledRelease.summaries.stock_exchanges_count }} <span>Bolsa de Valores</span></p>
                                    </a>
                                    <a href="/paises/{{id}}/mujeresenlabolsa">
                                        <p class="index-list-element"><i class="fas fa-hashtag"></i> {{format_number compiledRelease.summaries.mujeres_ranking }} <span>posición en ranking</span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="index-list-button">
                            <a href="/paises/{{id}}"><i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                    <hr class="hr-index">
                    {{/each}}
                {{else}}
                No hay resultados para esta búsqueda. Por favor pruebe eliminando filtros. Si el problema persiste por favor contáctenos.
                {{/if}}
            </div>
            <div class="col-12 col-m-12">
                {{!-- > pagination result=result pagesArray=pagesArray current_url=current_url current_page=current_page --}}
            </div>
        </div>
    </div>
</section>
