<section class="profile-header">
  <div class="row">
    <div class="content mt-1">
      <div class="wrap" id="wrap">
        <div class="breadcrumb">
          <h4>
              <a href="/">Inicio</a> >
              <a href="/{{get_type_url type}}">{{get_type_plural type}}</a> >
              <a href="/{{get_type_url type}}/{{ result.id}}">{{ result.name}}</a>
          </h4>
        </div>
        <div class='datos-generales clearfix'>
          <div class="gd-col-left-wrapper col-m-12">
              <div class="description-data-title">
                <h3 title="Mujeres en la Bolsa: {{ result.name}}">
                    <img src="../../images/icon-mujeresenlabolsa.png" alt="Mujeres en la bolsa" style="width: 20px; margin-top: -4px;">
                  {{!-- {{{ get_classification_icon type result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel}}}
                  {{ get_classification_name type result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel }}:
                  {{ result.compiledRelease.name}} --}}
                  Mujeres en la Bolsa: {{ result.name}}
                </h3>
              </div>
          </div>
        </div>
        <div class="col-12 col-m-12 ">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="country-mujeres" id="variaciones">
  <div class="row">
    <div class="content">
      <div class="col-9 col-m-9 bg-purple">
        <div class="variations-container row">
            <div class="col-m-12 col-12">
                <h4 class="description-data-subtitle text-white"><i class="fas fa-arrows-alt-v"></i> VARIACIONES ANUALES</h4>


                <div class="w-layout-grid grid-2">
                  <h4 id="twenty-year" class="description-data-subtitle text-white text-center">2020</h4>
                  <hr>
                  <h4 id="nineteen-year" class="description-data-subtitle text-white text-center">2019</h4>
                  <hr>
                  <div id="element-icons-a" class="element-icons">
                    <i class="fas fa-venus data-icon-variations"></i>
                    <i class="fas fa-{{get_variation_direction_more_better (math 100 "*" (math  result.summaries.2020.consejeres.f "/" (math  result.summaries.2020.consejeres.f "+" (math  result.summaries.2020.consejeres.m "+" result.summaries.2020.consejeres.nd)))) (math 100 "*" (math  result.summaries.2019.consejeres.f "/" (math  result.summaries.2019.consejeres.f "+" (math  result.summaries.2019.consejeres.m "+" result.summaries.2019.consejeres.nd)))) }} variation-icon"></i>
                  </div>
                  <div id="element-icons-b" class="element-icons">
                    <i class="fas fa-mars data-icon-variations"></i>
                    <i class="fas fa-{{get_variation_direction_more_worst (math 100 "*" (math  result.summaries.2020.consejeres.m "/" (math  result.summaries.2020.consejeres.f "+" (math  result.summaries.2020.consejeres.m "+" result.summaries.2020.consejeres.nd)))) (math 100 "*" (math  result.summaries.2019.consejeres.m "/" (math  result.summaries.2019.consejeres.f "+" (math  result.summaries.2019.consejeres.m "+" result.summaries.2019.consejeres.nd)))) }} variation-icon"></i>
                  </div>
                  <div id="element-icons-c" class="element-icons">
                    <img src="../../images/icons/consejeras-blanco.png" alt="Ícono " class="icon-variations1 img-fluid">
                    <i class="fas fa-{{get_variation_direction_more_worst (math result.summaries.2020.consejeres.m "/" result.summaries.2020.consejeres.f) (math result.summaries.2019.consejeres.m "/" result.summaries.2019.consejeres.f)}} variation-icon"></i>
                  </div>
                  <div id="element-icons-d" class="element-icons">
                    <img src="../../images/icons/sinconsejeras-blanco.png" alt="Ícono" class="icon-variations2 img-fluid">
                    <i class="fas fa-{{get_variation_direction_more_worst (math 100 "*" (math result.summaries.2020.consejeras_por_empresa.0.companies_count "/" result.summaries.2020.companies)) (math 100 "*" (math result.summaries.2019.consejeras_por_empresa.0.companies_count "/" result.summaries.2019.companies))}} variation-icon"></i>
                  </div>
                  <div id="element-icons-e" class="element-icons">
                    <i class="fas fa-hashtag data-icon-variations"></i>
                    <i class="fas fa-{{get_variation_direction_more_worst result.summaries.2020.ranking result.summaries.2019.ranking }} variation-icon"></i>
                  </div>
                  <div id="element-with-icon-a" class="element-with-icon">
                    <div class="data-text">
                      <p class="js-data">{{format_number result.summaries.2020.consejeres.f }} <span class="percentage">{{format_number (math 100 "*" (math  result.summaries.2020.consejeres.f "/" (math  result.summaries.2020.consejeres.f "+" (math  result.summaries.2020.consejeres.m "+" result.summaries.2020.consejeres.nd)))) }}%</span></p>
                      <p class="js-title-data">Consejeras
                        <a data-toggle="tooltip" data-placement="right" title="Cantidad de asientos del consejo ocupados por mujeres. Incluso si una persona ocupa más de un asiento en la misma empresa."><img src="/images/icons/info.svg" style="filter: brightness(0%) invert(100%);" alt="icon" class="info-icon"></a>
                      </p>
                    </div>
                  </div>
                  <div id="element-with-icon-b" class="element-with-icon">
                    <div class="data-text">
                      <p class="js-data">{{format_number result.summaries.2020.consejeres.m }} <span class="percentage">{{ format_number (math 100 "*" (math  result.summaries.2020.consejeres.m "/" (math  result.summaries.2020.consejeres.f "+" (math  result.summaries.2020.consejeres.m "+" result.summaries.2020.consejeres.nd)))) }}%</span></p>
                      <p class="js-title-data">Consejeros
                        <a data-toggle="tooltip" data-placement="right" title="Cantidad de asientos del consejo ocupados por hombres. Incluso si una persona ocupa más de un asiento en la misma empresa."><img src="/images/icons/info.svg" style="filter: brightness(0%) invert(100%);" alt="icon" class="info-icon"></a>
                      </p>

                    </div>
                  </div>
                  <div id="element-with-icon-c" class="element-with-icon">
                    <div class="data-text">
                      <p class="js-data">{{format_number (math result.summaries.2020.consejeres.m "/" result.summaries.2020.consejeres.f) }}</p>
                      <p class="js-title-data">Consejeros por consejera</p>
                    </div>
                  </div>
                  <div id="element-with-icon-d" class="element-with-icon">
                    <div class="data-text">
                      <p class="js-data">{{ format_number result.summaries.2020.consejeras_por_empresa.0.companies_count }}<span class="number">/{{ format_number result.summaries.2020.companies }}</span><span class="percentage">{{ format_number (math 100 "*" (math result.summaries.2020.consejeras_por_empresa.0.companies_count "/" result.summaries.2020.companies)) }}%</span></p>
                      <p class="js-title-data">Empresas sin consejeras</p>
                    </div>
                  </div>
                  <div id="element-with-icon-e" class="element-with-icon">
                    <div class="data-text">
                      <p class="js-data">{{ result.summaries.2020.ranking }} <span class="number">/16</span></p>
                      <p class="js-title-data">Posición en el ranking

                        <a data-toggle="tooltip" data-placement="right" title="En 2020 entró Ecuador en la posición 7 del ránking lo que supone que todos los paises por debajo de esta posición bajan un lugar."><img src="/images/icons/info.svg" style="filter: brightness(0%) invert(100%);" alt="icon" class="info-icon"></a>
                      </p>
                    </div>
                  </div>
                  <div id="element-a" class="element">
                    <p class="js-data">{{format_number result.summaries.2019.consejeres.f }} <span class="percentage">{{format_number (math 100 "*" (math  result.summaries.2019.consejeres.f "/" (math  result.summaries.2019.consejeres.f "+" (math  result.summaries.2019.consejeres.m "+" result.summaries.2019.consejeres.nd)))) }}%</span></p>
                    <p class="js-title-data">Consejeras</p>
                  </div>
                  <div id="element-b" class="element">
                    <p class="js-data">{{format_number result.summaries.2019.consejeres.m }} <span class="percentage">{{ format_number (math 100 "*" (math  result.summaries.2019.consejeres.m "/" (math  result.summaries.2019.consejeres.f "+" (math  result.summaries.2019.consejeres.m "+" result.summaries.2019.consejeres.nd)))) }}%</span></p>
                    <p class="js-title-data">Consejeros</p>
                  </div>
                  <div id="element-c" class="element">
                    <p class="js-data">{{format_number (math result.summaries.2019.consejeres.m "/" result.summaries.2019.consejeres.f) }}</p>
                    <p class="js-title-data">Consejeros por consejera</p>
                  </div>
                  <div id="element-d" class="element">
                    <p class="js-data">{{ format_number result.summaries.2019.consejeras_por_empresa.0.companies_count }}<span class="number">/{{ format_number result.summaries.2019.companies }}</span><span class="percentage">{{ format_number (math 100 "*" (math result.summaries.2019.consejeras_por_empresa.0.companies_count "/" result.summaries.2019.companies)) }}%</span></p>
                    <p class="js-title-data">Empresas sin consejeras</p>
                  </div>
                  <div id="element-e" class="element">
                    <p class="js-data">{{ result.summaries.2019.ranking }} <span class="number">/15</span></p>
                    <p class="js-title-data">Posición en el ranking
                    </p>
                  </div>
                </div>

            </div>
        </div>
      </div>
      <div class="col-m-3 col-3">
        <nav id="right-menu" class="menu-profile">
          <ul class="right-menu-profile nav-stacked nav">
            <li>
              <a href="#variaciones" class="anchor">
                <i class="fas fa-arrows-alt-v"></i>Variaciones
              </a>
            </li>
            {{!-- {{#if result.memberships.parent}}
            {{#each result.memberships.parent }} --}}
            <li>
              <a href="#notas" class="anchor">
                <i class="fas fa-newspaper"></i>Notas
              </a>
            </li>
            {{!-- {{/each}}
            {{/if}} --}}
            <li>
              <a href="#consejerasporempresa" class="anchor">
                <i class="fas fa-venus"></i>Consejeras
              </a>
            </li>
            <li>
              <a href="#consejosdehombres" class="anchor">
                <i class="fas fa-mars"></i>Consejeros
              </a>
            </li>
            <li>
              <a href="#empresas" class="anchor">
                <i class="fas fa-building"></i>Empresas
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="country-mujeres" id="notas">
  <div class="row">
    <div class="content">
      <div class="col-9 col-m-9 bg-gray">
        <div class="variations-container row">
            <div class="col-m-12 col-12">
                <h4 class="description-data-subtitle text-orange"><i class="far fa-newspaper"></i> NOTAS</h4>
            </div>
            <div class="col-m-12 col-12">
                <div class="row">
                  {{# each result.content }}
                    <div class="col-3 col-m-3 text-center">
                        <img src="{{get_publisher_logo publisher}}" alt="Logo de {{publisher}}" class="img-fluid org-logo">
                    </div>
                    <div class="col-9 col-m-9">
                        <h4><b>{{title}}</b></h5>
                        <p class="text-gray"><i>{{moment published_date  lang="es" format="LL"}} por {{author}}</i></p>
                        <p>{{content}}</p>
                        <div class="container-button text-center mt-2 mb-2">
                            <a href="{{url}}" class="button-link bg-purple">VER NOTA COMPLETA</a>
                        </div>
                        <!-- <hr>
                        <a href=""><h4 class="text-purple"><b>La Bolsa Mexicana de Valores la última en igualdad de género</b></h4></a>
                        <p class="text-gray"><i>20/02/2020 por Clauida Ocaranza</i></p> -->
                    </div>
                  {{/each}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="country-mujeres" id="consejerasporempresa">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="variations-container row">
          <div class="col-m-12 col-12">

            <h4 class="description-data-subtitle"><i class="fas fa-venus"></i> NÚMERO DE CONSEJERAS POR EMPRESA</h4>
            <p>Si bien en {{result.name}} existe al menos una empresa con {{ result.summaries.2020.consejeras_por_empresa.6.consejeras_count }} asientos ocupados por consejeras, la mayoría de las compañías tienen {{ result.summaries.2020.consejeras_por_empresa.0.consejeras_count }} consejera.</p>
            <div class="consejeras_chart" style="width:100%">

            </div>
            <script type="text/javascript">
              const consejeras_por_empresa = {{ j (generate_consejeras_por_empresa result) }}
            </script>
            <script src="/javascripts/d3.v4.js"></script>
            <script type="text/javascript" src="/javascripts/country-mujeres-graph.js"></script>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="country-mujeres" id="consejosdehombres">
  <div class="row">
    <div class="content">
      <div class="col-9 col-m-9 bg-green">
        <div class="variations-container row">
            <div class="col-m-12 col-12">
                <h4 class="description-data-subtitle text-white"><i class="fas fa-mars"></i> CONSEJOS DE HOMBRES</h4>
                <div class="row overflow-cards scroller">
                  {{#each result.summaries.2020.consejos_de_hombres }}
                    <div class="man-cards">
                        <h4><b><a href="/personas/{{id}}"> {{name}}</a></b></h4>
                        <p><b>{{companies_without_women_count}}</b> consejos de hombres</p>
                    </div>
                  {{/each}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="country-mujeres" id="empresas">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="variations-container row">
          <div class="col-m-12 col-12">
            <h4 class="description-data-subtitle text-red"><i class="fas fa-building"></i> EMPRESAS</h4>

            <table class="table table-responsive mt-3" id="empresas-mujeres-table">
                    <thead>
                      <tr>
                        <th class="description-data-subname">Nombre</th>
                        <th class="description-data-subname">Bolsa</th>
                        <th class="description-data-subname">Cantidad consejeras</th>
                        <th class="description-data-subname">Cantidad consejeros</th>
                        <th class="description-data-subname">Porcentaje consejeras</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each result.summaries.2020.memberships }}
                      <tr>
                        <td class="description-data-company text-overflow">
                          <a href=""><i class="fas fa-building"></i> <a href="/empresas/{{id}}" title="{{name}}">{{name}}</a>
                        </td>
                        <td class="description-data-amount">{{bolsa}}</td>
                        <td class="description-data-amount text-center">{{format_number summaries.f}}</td>
                        <td class="description-data-amount text-center">{{format_number summaries.m}}</td>
                        <td class="description-data-amount text-center">{{format_number (math 100 "*" (math summaries.f "/" (math summaries.f "+" summaries.m))) }}%</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
            <!-- <div class="tab-content">
              <div id="a-z" class="tab-pane fade in active">

              </div>
              <div id="numMujeres" class="tab-pane fade">
                  <table class="table table-responsive mt-3">
                    <thead>
                      <tr>
                        <th class="description-data-subname">Nombre</th>
                        <th class="description-data-subname">Bolsa</th>
                        <th class="description-data-subname">No. de Mujeres</th>
                        <th class="description-data-subname">No. de Hombres</th>
                        <th class="description-data-subname">Porcentaje de Mujeres</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{!-- {{#each result.top3contracts.supplier }} --}}
                      <tr>
                        <td class="description-data-contract">
                          <a href=""><i class="fas fa-building"></i> Empresa</a>
                        </td>
                        <td class="description-data-amount">BMV/BIVA</td>
                        <td class="description-data-amount text-center">11</td>
                        <td class="description-data-amount text-center">2389</td>
                        <td class="description-data-amount text-center">23%</td>
                      </tr>
                      {{!-- {{/each}} --}}
                    </tbody>
                  </table>
              </div>
              <div id="numHombres" class="tab-pane fade">
                  <h3>Menu 2</h3>
                  <p>Some content in menu 2.</p>
              </div>
              <div id="porcentajeMujeres" class="tab-pane fade">
                  <h3>Menu 3</h3>
                  <p>Some content in menu 2.</p>
              </div>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



{{> send_info_form}}
{{!-- <script>
  const summaries = {{{j result.summaries}}}
</script>
<script src="/javascripts/d3.v4.js"></script>
<script>
  let d4 = d3;
</script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script> --}}
