<section class="landing-header pb-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="landing-header-content">
          <img class="logo img-fluid" src="images/single.png" alt="Logo">
          <p>Explora <strong>conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas</strong>. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas.</p>
          <div class="landing-search">
            <p>Puedes buscar nombres de <a href="/empresas">empresas</a>, <a href="/instituciones-publicas">instituciones públicas</a>, <a href="/personas">empresarios, funcionarios</a> o <a href="/contratos">contratos</a>.</p>
            <div class="landing-search-form" method="get">
              {{> main_search }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explore-data" id="down">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 class="investigaciones text-center text-left-sm">Nuestras fuentes de datos</h2>
        <p class="text-center text-darkblue text-left-sm">QuiénEsQuién.Wiki mezcla fuentes de información pública e investigaciones propias con el objetivo de mostrar la captura del estado.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-12 col-lg-12 col-xl-6 mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <div class="card-border explore-card">
              <div class="card-pad text-center">
                <a href="/personas">
                  <h3>
                    <strong>
                      {{format_number stats.persons.count }}
                    </strong>
                  </h3>
                  <h3 class="card-h3">Personas</h3>
                </a>
                {{!-- <p class="serif-gray">Funcionarios, empresarios y proveedores del Estado, qué negocios tienen, con quién se asocian y cómo consiguen sus contratos públicos.</p>
                <a href="/persons" class="button-link">VER PERSONAS</a> --}}
                <p class="triplet-last-update">Actualización: {{ moment stats.persons.lastModified date lang="es" format="LL" }} </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <div class="card-border explore-card">
              <div class="card-pad text-center">
                <a href="/contratos">
                  <h3>
                    <strong>
                      {{format_number stats.contracts.count}}
                    </strong>
                  </h3>
                  <h3 class="card-h3">Procesos de contratación <a data-toggle="tooltip" data-placement="right" title="Los procesos de contratación pueden contener más de un contrato"><i class="fas fa-info-circle"></i></a>
                </h3>
                </a>
                {{!-- <p class="serif-gray">Explora los importes, años, dependencias, sas proveedoras y otras características de más de un millón de contratos.</p>
                <a href="/contracts" class="button-link">VER CONTRATOS</a> --}}
                <p class="triplet-last-update">Actualización: {{ moment stats.contracts.lastModified date lang="es" format="LL"}} </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mb-4 mb-md-0">
            <div class="card-border explore-card">
              <div class="card-pad text-center">
                <a href="/instituciones-publicas">
                  <h3>
                    <strong>
                      {{format_number stats.institution.count}}
                    </strong>
                  </h3>
                  <h3 class="card-h3">Instituciones</h3>
                </a>
              {{!--  <p class="serif-gray">Nuestra base de datos la conforman empresas proveedoras del gobierno, firmas que cotizan en el mercado bursátil y otros tipos de instituciones.</p>
                <a href="/orgs" class="button-link">VER ORGANIZACIONES</a> --}}
                <p class="triplet-last-update">Actualización: {{ moment stats.institution.lastModified date lang="es" format="LL" }} </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card-border explore-card">
              <div class="card-pad text-center">
                <a href="/empresas">
                  <h3>
                    <strong>
                      {{format_number stats.company.count}}
                    </strong>
                  </h3>
                  <h3 class="card-h3">Empresas</h3>
                </a>
                {{!-- <p class="serif-gray">Nuestra base de datos la conforman empresas proveedoras del gobierno, firmas que cotizan en el mercado bursátil y otros tipos de instituciones.</p>
                <a href="/orgs" class="button-link">VER ORGANIZACIONES</a> --}}
                <p class="triplet-last-update">Actualización: {{ moment stats.company.lastModified date lang="es" format="LL"}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-6 mt-5">
        <div class="media">
          <img class="align-self-center mr-2 sources-icons" src="images/market.svg" alt="Bolsa de Valores">
          <div class="media-body">
            <h3>Contratos públicos</h3>
            <p class="triplet-text">En los procesos de contratación pública se esconden casos flagrantes de captura del estado. Tenemos importadas las bases de contratación pública de Compranet, Compranet Plus y el Portal de Obligaciones de Transparencia (POT).</p>
          </div>
        </div>
        <div class="media">
          <img class="align-self-center mr-2 sources-icons" src="images/compranet.svg" alt="Compranet">
          <div class="media-body">
            <h3>Beneficiarios reales</a></h3>
            <p class="triplet-text">
              Los propietarios de la empresa y sus controladores es una de las informaciones más difíciles de acceder. Con los datos de la Bolsa Mexicana de Valores y los listados de Proveedores del estado, vinculamos corporaciones y empresas. La iniciativa América Latina Offshore provee información sobre empresas registradas en Reino Unido con dueñas/os o directivas/os mexicanas/os o que viven en México.
            </p>
          </div>
        </div>
        <div class="media">
          <img class="align-self-center mr-2 sources-icons" src="images/research.svg" alt="Investigaciones propias">
          <div class="media-body">
            <h3>Investigaciones propias</a></h3>
            <p class="triplet-text">Proyectos de PODER y organizaciones aliadas que siguen el dinero público y mapean una corporación o gobierno.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-m-12 text-center mt-4">
        <a class="button-link important-button-link" type="button" href="/entidades-y-fuentes">VER FUENTES DE DATOS</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <img src="images/search-file.svg" alt="Investigaciones propias" class="sources-icons mb-4">
        <h2>Cómo usar QQW para investigar</h2>
        <p class="text-darkblue">Como cualquier herramienta, <a href="https://quienesquien.wiki/" target="_blank">QuiénEsQuién.Wiki</a> tiene sus mañas. Con base en las mejores experiencias, hemos preparado un manual para que investigadores y periodistas puedan hacer búsquedas complejas y sacarle el máximo provecho.</p>
      </div>
      <div class="col-12 col-md-12 text-center mt-2">
        <a class="button-link important-button-link" type="button" href="/manual">VER MANUAL</a>
      </div>
    </div>
  </div>
</section>

<section class="proyectos" id="proyectos">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>Proyectos con datos de QuiénEsQuién.Wiki</h2>
        <p class="text-white">A partir de la investigación con datos de QuiénEsQuién.Wiki, se han realizado proyectos de largo aliento, visualizaciones innovadoras e investigaciones regionales.</p>
      </div>
      <!--End mc_embed_signup-->
      <div class="col-12 col-md-12 col-lg-4 proyecto-info-img">
        <div class="proyecto">
          <a href="https://mujeresenlabolsa.org/"><img src="images/mujeres-site.png" alt="MujeresEnLaBolsa.org 2"></a>
          <p class="serif-gray proyecto-info">La desigualdad de género es una constante también en los espacios de las élites económicas. Mujeres en la Bolsa de Valores 2020 analiza por segunda ocasión la proporción de mujeres y hombres en los consejos de administración de las empresas que cotizan en las bolsas de 15 países de América Latina y España.</p>
          <div class="center-button text-center mb-1-2">
            <a class="button-link proyecto-link" type="button" href="https://mujeresenlabolsa.org/" target="_blank">VER: MujeresEnLaBolsa.org</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4 proyecto-info-img">
        <div class="proyecto">
          <a href="https://lamafiadelaciencia.projectpoder.org/"><img src="images/lamafiadelaciencia.png" alt="VivirconVIH.org"></a>
          <p class="serif-gray proyecto-info">El Foro Consultivo Científico y Tecnológico, A.C., fue la vía utilizada por académicos para usurpar funciones públicas y beneficiarse por más de 16 años de fondos públicos discrecionales del Consejo Nacional de Ciencia y Tecnología (Conacyt). El dinero se usó para pagar sueldos y comprar una casa que administran de manera privada. Ahora, para mantener los privilegios, el Foro A.C. sostiene un juicio en contra de Conacyt.</p>
          <div class="center-button text-center mb-1-2">
            <a class="button-link proyecto-link" type="button" href="https://lamafiadelaciencia.projectpoder.org/" target="_blank">VER: La mafia de la ciencia</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 proyecto-info-img">
        <div class="proyecto">
          <a href="https://lanuevaamenazadegrupomexico.projectpoder.org/"><img src="images/nueva-amenaza-site.png" alt="La nueva amenaza de Grupo México"></a>
          <p class="serif-gray proyecto-info">Grupo México amenaza con la construcción de una megapresa de jales a habitantes de Sonora afectados por el derrame de lixiviado de cobre en su mina Buenavista del Cobre en 2014. Con este reportaje se logró que las autoridades visitaran a las comunidades afectadas y les prometieran un plan de remediación.</p>
          <div class="center-button text-center mb-1-2">
            <a class="button-link proyecto-link" type="button" href="https://lanuevaamenazadegrupomexico.projectpoder.org/" target="_blank">VER: La nueva amenaza de Grupo México</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12">
        <div class="contacto-text">
          <h3 class="text-white">Te avisamos cuando publiquemos un nuevo proyecto</h3>
          <div id="mc_embed_signup">
            <form action="https://projectpoder.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;id=62bed77118" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input  type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ingresa tu email" aria-label="Ingresa tu email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2717e723ef63df492f38fc669_62bed77118" tabindex="-1" value=""></div>
                <input type="submit" value="Recibir newsletter" name="suscribirse" id="mc-embedded-subscribe" class="button button-link">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 text-center mt-4">
        <a class="button-link important-button-link" type="button" href="/investigaciones">VER TODAS LAS INVESTIGACIONES</a>
      </div>
    </div>
  </div>
</section>

<section class="investigaciones">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>Reportajes de investigación en base a la plataforma</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 investigaciones">
        <p class="text-darkblue mb-2">PODER realiza cada semana un reportaje de investigación, los datos de QQW son fundamentales para investigar empresas, detectar contratos irregulares y complementar historias.</p>
        {{#each feed_rindecuentas}}
           {{>entry_template entry=this}}
        {{/each}}
      </div>
      <div class="col-12 col-md-12 col-lg-6 investigaciones">
        <p class="text-darkblue mb-2">Muchas periodistas e investigadores usan la plataforma, algunos nos citan en sus reportajes e informes y como muestra de agradecimiento los listamos en la home de QQW.</p>
        {{#each feed_basado}}
           {{>entry_template entry=this}}
        {{/each}}
      </div>
    </div>
  </div>
</section>

<section class="bg-gray">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>Herramientas</h2>
        <p class="text-darkblue">QuiénEsQuién.wiki pone a disposición todos los datos y software de forma abierta para su reutilización.</p>
      </div>
      <div class="col-12 col-md-12 col-lg-4 proyecto-info-img ">
        <div class="proyecto">
          <a href="https://towerbuilder.projectpoder.org/"><img src="images/apis-tb.png" alt="Tower Builder"></a>
          <h3>Tower Builder</h3>
          <p class="serif-gray proyecto-info">Generador de web y visualizaciones de datos de contrataciones públicas que no requiere programación, ni hosting dedicado. Los usos más destacados son para seguir grandes obras públicas, <a href="https://torredecontrol.org/">www.torredecontrol.org</a>, y compras medicas, <a href="https://vivirconvih.org/">VivirconVih.org</a></p><br><br>
          <div class="center-button text-center">
            <div style="margin: 10px 5px;"><a href="https://github.com/ProjectPODER/TowerBuilder" style="font-size: 0.7rem;">Ver documentación</a></div>
            <a class="button-link proyecto-link" type="button" href="https://towerbuilder.projectpoder.org/" target="_blank">VER TOWER BUILDER</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-md-4 proyecto-info-img">
        <div class="proyecto">
          <a href="https://www.todosloscontratos.mx/"><img src="images/apis-tlc.png" alt="Todos los Contratos"></a>
          <h3>Todos los contratos</h3>
          <p class="serif-gray proyecto-info">Web principal del sistema de evaluación de las dependencias y contratos mexicanos que aparecen en QuiénEsQuién.Wiki. En el minisitio se encuentra la metodología detallada, una panorámica general del país y cómo se pueden mejorar los sistemas de compras.</p><br><br>
          <div class="center-button text-center">
            <div style="margin: 10px 5px;"><a href="https://github.com/ProjectPODER/OCDS_RedFlags" style="font-size: 0.7rem;">Ver Documentación</a></div>
            <a class="button-link proyecto-link" type="button" href="https://www.todosloscontratos.mx/" target="_blank">VER TODOS LOS CONTRATOS</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-md-4 proyecto-info-img">
        <div class="proyecto">
          <a href=""><img src="images/apis-kibana.png" alt="Kibana"></a>
          <h3>Kibana</h3>
          <p class="serif-gray proyecto-info"><a href="https://quienesquien.wiki/">QuiénEsQuién.Wiki</a> usa Kibana para ser una herramienta de análisis de datos que permite cruces, visualizaciones y gráficos de contrataciones públicas, relaciones entre personas y organizaciones. Se puede analizar la captura del estado y la calidad de las contrataciones públicas.</p><br><br>
          <div class="center-button text-center">
            <a class="button-link proyecto-link" type="button" href="https://kibana.quienesquien.wiki/" target="_blank">VER KIBANA</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-m-12 text-center mt-60">
        <a class="button-link important-button-link" type="button" href="herramientas">VER TODAS LAS HERRAMIENTAS</a>
      </div>
    </div>
  </div>
</section>
