<div class="header-container">
  <div class="landing-header">
    <div class="landing-header-content">
      <img class="logo img-responsive" src="images/single.png" alt="Logo">
      <p>Explora <strong>conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas</strong>. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas.</p>
      <div class="landing-search">
        <p>Puedes buscar nombres de empresas, empresarios e instituciones públicas.</p>
        <div class="landing-search-form" method="get">
          {{> main_search }}
          <input type="submit" value="Buscar" class="landing-search-inputtext" id="first-search">
        </div>
        <p>*Para encontrar contratos usa el <a href="/contratos">buscador avanzado de contratos públicos</a>.</p>
      </div>
    </div>
  </div>
</div>

<section class="explore-data" id="down">
  <div class="row content">
    <div class="col-12 col-m-12">
      <h2 class="investigaciones centered">Nuestras fuentes de datos</h2>
      <p class="centered text-darkblue">QuiénEsQuién.Wiki mezcla fuentes de información pública e investigaciones propias con el objetivo de mostrar la captura del estado.</p>
    </div>
  </div>
  <div class="content row flex-center">
    <div class="col-6 col-m-12 mt-60 pr-2">
      <div class="col-6 col-m-6 card-pad-ext">
        <div class="card explore-card">
          <div class="card-pad">
            <a href="/personas">
              <h3>
                <strong>
                  {{format_number stats.persons.count }}
                </strong>
              </h3>
              <h3 class="card-h3">Personas</h3>
            </a>
            {{!-- <p class="serif-gray">Funcionarios, empresarios y proveedores del Estado, qué negocios tienen, con quién se asocian y cómo consiguen sus contratos públicos.</p>
            <a href="/persons" class="button-link">VER PERSONAS</a> --}}
            <p class="triplet-last-update">Actualización: {{ moment stats.persons.lastModified date lang="es" format="LL" }} </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-m-6 card-pad-ext">
        <div class="card explore-card">
          <div class="card-pad">
            <a href="/contratos">
              <h3>
                <strong>
                  {{format_number stats.contracts.count}}
                </strong>
              </h3>
              <h3 class="card-h3">Contratos</h3>
            </a>
            {{!-- <p class="serif-gray">Explora los importes, años, dependencias, empresas proveedoras y otras características de más de un millón de contratos.</p>
            <a href="/contracts" class="button-link">VER CONTRATOS</a> --}}
            <p class="triplet-last-update">Actualización: {{ moment stats.contracts.lastModified date lang="es" format="LL"}} </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-m-6 card-pad-ext">
        <div class="card explore-card">
          <div class="card-pad">
            <a href="/instituciones-publicas">
              <h3>
                <strong>
                  {{format_number stats.institutions.count}}
                </strong>
              </h3>
              <h3 class="card-h3">Instituciones</h3>
            </a>
           {{!--  <p class="serif-gray">Nuestra base de datos la conforman empresas proveedoras del gobierno, firmas que cotizan en el mercado bursátil y otros tipos de instituciones.</p>
            <a href="/orgs" class="button-link">VER ORGANIZACIONES</a> --}}
            <p class="triplet-last-update">Actualización: {{ moment stats.institutions.lastModified date lang="es" format="LL" }} </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-m-6 card-pad-ext">
        <div class="card explore-card">
          <div class="card-pad">
            <a href="/empresas">
              <h3>
                <strong>
                  {{format_number stats.companies.count}}
                </strong>
              </h3>
              <h3 class="card-h3">Empresas</h3>
            </a>
            {{!-- <p class="serif-gray">Nuestra base de datos la conforman empresas proveedoras del gobierno, firmas que cotizan en el mercado bursátil y otros tipos de instituciones.</p>
            <a href="/orgs" class="button-link">VER ORGANIZACIONES</a> --}}
            <p class="triplet-last-update">Actualización: {{ moment stats.companies.lastModified date lang="es" format="LL"}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-m-12 mt-60">
      <div class="media">
        <div class="media-left media-middle">
          <img src="images/market.svg" alt="Bolsa de Valores" class="sources-icons">
        </div>
        <div class="media-body">
          <h3>Contratos públicos</h3>
          <p class="triplet-text">En los procesos de contratación pública se esconden casos flagrantes de captura del estado. Tenemos importadas las bases de contratación pública de Compranet, Compranet Plus y el Portal de Obligaciones de Transparencia (POT).</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <img src="images/compranet.svg" alt="Compranet" class="sources-icons">
        </div>
        <div class="media-body">
          <h3>Beneficiarios reales</a></h3>
          <p class="triplet-text">Los propietarios de la empresa y sus controladores es una de las informaciones más difíciles de acceder. Con los datos de la Bolsa Mexicana de Valores y los listados de Proveedores del estado, vinculamos corporaciones y empresas.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <img src="images/research.svg" alt="Investigaciones propias" class="sources-icons">
        </div>
        <div class="media-body">
          <h3>Investigaciones propias</a></h3>
          <p class="triplet-text">Proyectos de PODER y organizaciones aliadas que siguen el dinero público y mapean una corporación o gobierno.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-m-12 centered mt-2">
      <a class="button-link important-button-link" type="button" href="/entidades-y-fuentes">VER FUENTES DE DATOS</a>
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="row">
    <div class="content">
      <div class="col-12 col-m-12 centered pr-5 pl-5">
        <img src="images/search-file.svg" alt="Investigaciones propias" class="sources-icons mb-2">
        <h2>Cómo usar QQW para investigar</h2>
        <p class="text-darkblue">Como cualquier herramienta, <a href="https://quienesquien.wiki/" target="_blank">QuiénEsQuién.Wiki</a> tiene sus mañas. Con base en las mejores experiencias, hemos preparado un manual para que investigadores y periodistas puedan hacer búsquedas complejas y sacarle el máximo provecho.</p>
      </div>
      <div class="col-12 col-m-12 centered mt-2">
        <a class="button-link important-button-link" type="button" href="/manual">VER MANUAL</a>
      </div>
    </div>
  </div>
</section>

<section class="proyectos" id="proyectos">
  <div class="row">
    <div class="content">
      <h2>Investigaciones</h2>
      <p class="text-white">A partir de la investigación con datos de QuiénEsQuién.Wiki, se han realizado proyectos de largo aliento, visualizaciones innovadoras e investigaciones regionales.</p>

      <!--End mc_embed_signup-->
      <div class="row flex m-noflex">
        <div class="col-4 col-m-12 proyecto-info-img">
          <div class="proyecto">
            <a href="https://mujeresenlabolsa.org/"><img src="images/mujeres-site.png" alt="MujeresEnLaBolsa.org"></a>
            <p class="serif-gray proyecto-info">El 8 de marzo lanzamos un proyecto con perspectiva de género en colaboración con 15 medios de comunicación de América Latina y España. Analizamos la proporción de consejeras y consejeros en las juntas directivas de las empresas que cotizan en 15 bolsas de valores hispanas y Brasil.</p>
            <div class="center-button centered">
              <button class="button-link" type="button" href="https://mujeresenlabolsa.org/" target="_blank">VER MUJERESENLABOLSA.ORG</button>
            </div>
          </div>
        </div>
        <div class="col-4 col-m-12 proyecto-info-img">
          <div class="proyecto">
            <a href="http://contratosdeldesastre.com/"><img src="images/desastre-site.png" alt="ContratosDelDesastre.org"></a>
            <p class="serif-gray proyecto-info">Siguiendo con nuestra línea de trabajo de vincular contratos con derechos humanos realizamos una investigación para saber cómo se gastan los recursos públicos en situaciones de desastre.</p>
            <div class="center-button centered">
              <button class="button-link" type="button" href="http://contratosdeldesastre.com/" target="_blank">VER CONTRATOSDELDESASTRE.COM</button>
            </div>
          </div>
        </div>
        <div class="col-4 col-m-12 proyecto-info-img">
          <div class="proyecto">
            <a href="https://vivirconvih.org/"><img src="images/vih-site.png" alt="VivirconVIH.org"></a>
            <p class="serif-gray proyecto-info">A partir del análisis de la compras de antirretrovirales en Guatemala mostramos la situación en la que está el país y apuntamos acciones de incidencia para permitir mejorar la vida de las personas que viven con el virus.</p>
            <div class="center-button centered">
              <button class="button-link" type="button" href="https://vivirconvih.org/" target="_blank">VER VIVIRCONVIH.ORG</button>
            </div>
          </div>
        </div>
      </div>
      <div class="contacto-text">
        <h3 class="text-white">Te avisamos cuando publiquemos un nuevo proyecto</h3>
        <div id="mc_embed_signup">
          <form action="https://projectpoder.us15.list-manage.com/subscribe/post?u=2717e723ef63df492f38fc669&amp;id=62bed77118" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input  type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ingresa tu email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2717e723ef63df492f38fc669_62bed77118" tabindex="-1" value=""></div>
              <input type="submit" value="Recibir newsletter" name="suscribirse" id="mc-embedded-subscribe" class="button button-link">
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-m-12 centered mt-2">
        <a class="button-link important-button-link" type="button" href="/investigaciones">VER TODAS LAS INVESTIGACIONES</a>
      </div>
    </div>
  </div>
</section>

<section class="investigaciones">
  <div class="content">
    <h2>Últimos reportajes</h2>
      <p class="investigaciones-p">PODER realiza cada semana un reportaje de investigación que complementa con los datos que encuentran en QuiénEsQuién.Wiki.</p>
      <div class="investigaciones row">
        {{#each feed}}
           {{>entry_template entry=this}}
        {{/each}}
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="row">
    <div class="content">
      <h2>Herramientas</h2>
      <p class="text-darkblue">QuiénEsQuién.wiki pone a disposición todos los datos y software de forma abierta para su reutilización.</p>
      <div class="row flex m-noflex">
        <div class="col-4 col-m-12 proyecto-info-img">
          <div class="proyecto">
            <a href="https://github.com/ProjectPODER/TowerBuilder"><img src="images/apis-tb.png" alt="Tower Builder"></a>
            <h3>Tower Builder</h3>
            <p class="serif-gray proyecto-info">Generador de web y visualizaciones de datos de contrataciones públicas que no requiere programación, ni hosting dedicado. Los usos más destacados son para seguir grandes obras públicas, <a href="https://torredecontrol.org/">www.torredecontrol.org</a>, y compras medicas, <a href="https://vivirconvih.org/">VivirconVih.org</a></p>
            <div class="center-button centered">
              <button class="button-link" type="button" href="https://github.com/ProjectPODER/TowerBuilder" target="_blank">VER TOWER BUILDER</button>
            </div>
          </div>
        </div>
        <div class="col-4 col-m-12 proyecto-info-img">
          <div class="proyecto">
            <a href="https://github.com/ProjectPODER/todos-los-contratos"><img src="images/apis-tlc.png" alt="Todos los Contratos"></a>
            <h3>Todos los contratos</h3>
            <p class="serif-gray proyecto-info">Web principal del sistema de evaluación de las dependencias y contratos mexicanos que aparecen en QuiénEsQuién.Wiki. En el minisitio se encuentra la metodología detallada, una panorámica general del país y cómo se pueden mejorar los sistemas de compras.</p>
            <div class="center-button centered">
              <button class="button-link" type="button" href="https://github.com/ProjectPODER/todos-los-contratos" target="_blank">VER TODOS LOS CONTRATOS</button>
            </div>
          </div>
        </div>
        <div class="col-4 col-m-12 proyecto-info-img">
          <div class="proyecto">
            <a href=""><img src="images/apis-kibana.png" alt="Kibana"></a>
            <h3>Kibana</h3>
            <p class="serif-gray proyecto-info"><a href="https://quienesquien.wiki/">QuiénEsQuién.Wiki</a> usa Kibana para ser una herramienta de análisis de datos que permite cruces, visualizaciones y gráficos de contrataciones públicas, relaciones entre personas y organizaciones. Se puede analizar la captura del estado y la calidad de las contrataciones públicas.</p>
            <div class="center-button centered">
              <button class="button-link" type="button" href="" target="_blank">VER KIBANA</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-m-12 centered mt-60">
        <a class="button-link important-button-link" type="button" href="herramientas">VER TODAS LAS HERRAMIENTAS</a>
      </div>
    </div>
  </div> 
</section>
