<div class="container">
  <div class='viewWrapper'>
    <div class='datos-generales clearfix'>
      <div class="gd-col-left-wrapper col-m-12 col-12">
      {{#if result.name }}
        <div class="description-data-name">
          <h3><img src="../images/icons/organizacion-gray.svg" alt="organización" class="icon-lf">{{ result.name }}</h3>
          <h4 class="org-type">Institución pública o empresa productiva del estado</h4>
        </div>
        <hr>
      {{/if}}


      <div class="">
        <div class="col-m-6 flex mt-2">
            <div class="col-m-12">
              <h4 class="description-data-subtitle">INFORMACIÓN GENERAL</h4>
            </div>
            Cantidad de contratos como comprador: {{result.contract_count.buyer}}
            Cantidad de contratos como proveedor: {{result.contract_count.supplier}}
            Importe total de contratos como comprador: {{result.contract_amount.buyer}}
            Importe total de contratos como proveedor: {{result.contract_amount.supplier}}
            Fuente: {{result.source}}
            Fecha de última actualización: {{result.date}}
            {{#if result.company.sector }}
            <div class="col-m-6">
                <p class="js-title-data">Sector</p>
                <p class="js-data-lf">{{result.company.sector}}</p>
            </div>
            {{/if}}

        </div>
        {{#if result.address}}
          <div class="col-m-6 flex mt-2">
            <div class="col-m-12">
              <h4 class="description-data-subtitle">LOCALIZACIÓN Y CONTACTO</h4>
            </div>
            <div class="col-m-12">
              <div class="if-address-org">
                <p class="js-title-data">Dirección Fiscal</p>
                <p class="mb-0">
                  {{#if result.address.street}}
                    <span class="js-data-lf">{{result.address.street}}, </span>
                  {{/if}}
                  {{#if result.address.postal_code}}
                    <span class="js-data-lf">C.P. {{result.address.postal_code}}</span>
                  {{/if}}
                </p>
                <p class="mb-0">
                  {{#if result.address.city}}
                    <span class="js-data-lf">{{result.address.city}}, </span>
                  {{/if}}
                  {{#if result.address.state}}
                    <span class="js-data-lf">{{result.address.state}}, </span>
                  {{/if}}
                  {{#if result.address.country}}
                    <span class="js-data-lf">{{result.address.country}}</span>
                  {{/if}}
                </p>
              </div>

            </div>
            <div class="col-m-12">
              {{#if result.address.website}}
                <p class="js-title-data">Dirección web</p>
                <a href="//{{result.address.website}}" target="_blank"><p class="js-data-lf js-data-link">{{result.address.website}}</p></a>
              {{/if}}
            </div>
            <div class="col-m-12">
            </div>
            <div class="col-m-12">
              {{#if result.address.phones}}
                <p class="js-title-data">Teléfono</p>
                <p class="js-data-lf">{{result.address.phones}}</p>
              {{/if}}
            </div>
        </div>
        {{/if}}
        <div class="col-m-12 col-12" style="clear:both">
          <hr>
        </div>

        <div class="">
          <div  class="col-m-12 col-6 mt-2 party_flags">
            <h4 class="description-data-subtitle">CALIDAD DE CONTRATACIONES</h4>
            <div class="party_flag_score">
              <div class="party_flag_title">
                Competitividad
              </div>
              <div class="party_flag_value">
                {{format_score result.flags.competitividad}}<span class="d100">/100</span>
              </div>
            </div>
            <div class="party_flag_score">
              <div class="party_flag_title">
                Temporalidad
              </div>
              <div class="party_flag_value">
                {{format_score result.flags.temporalidad}}<span class="d100">/100</span>
              </div>
            </div>
            <div class="party_flag_score">
              <div class="party_flag_title">
                Transparencia
              </div>
              <div class="party_flag_value">
                {{format_score result.flags.transparencia}}<span class="d100">/100</span>
              </div>
            </div>
            <div class="party_flag_score">
              <div class="party_flag_title">
                Trazabilidad
              </div>
              <div class="party_flag_value">
                {{format_score result.flags.trazabilidad}}<span class="d100">/100</span>
              </div>
            </div>
            <div class="party_flag_score party_flag_total_score">
              <div class="party_flag_title">
                Total
              </div>
              <div class="party_flag_value">
                {{format_score result.flags.total_score}}<span class="d100">/100</span>
              </div>
            </div>

            <div id="flags-graph">
            <svg>

            </svg>

          </div>
          </div>
          <div  class="col-m-12 col-6 mt-2 party_flags_recommendations">
            <h4 class="description-data-subtitle">RECOMENDACIONES</h4>
            <ul class="party_flags_recommendations_list">
              {{# each recomendations}}
              <li class="party_flags_recommendations_item">{{this.text}}</li>
              {{/each }}
            </ul>
          </div>
          <div  class="col-m-12 col-6 mt-2 party_flags_recommendations">
            <h4 class="description-data-subtitle">memberships</h4>
            <ul class="meberships_list">
              {{# each result.memberships.parent}}
              <li class="party_flags_recommendations_item">Es una {{this.role}} de  <a href="/{{this.type}}/{{this.id}}">{{this.id}}</a> </li>
              {{/each}}
              {{# each result.memberships.child}}
              <li class="party_flags_recommendations_item">Tiene un {{this.role}} llamado <a href="/{{this.organization_type}}/{{this.organization_id}}">{{this.organization_id}}</a> </li>
              {{/each}}
            </ul>
          </div>
        </div>

        <div class="col-m-12 col-12">
          <hr>
        </div>

        <div class="">

          <div  class="col-m-12 col-4 mt-2">


            <h4 class="description-data-subtitle">EVOLUCIÓN DE CONTRATOS</h4>
            <div id="chart">
              <svg></svg>
            </div>
          </div>
          <div class="col-m-12 col-4 mt-2">
            <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
            <div id="piechart">
              <svg></svg>
            </div>
          </div>
          <div class="col-m-12 col-4 mt-2">
            <h4 class="description-data-subtitle">PRESUPUESTO POR RAMO</h4>
            <div id="treemap">
            </div>
          </div>
          <div class="col-m-12 col-12 mt-2">
            <h4 class="description-data-subtitle">FLUJOS DE DINERO A PROVEEDORES</h4>
            <div id="graph-container">
            </div>
          </div>
          <div class="col-m-8 col-8">
            <p>Los gráficos están limitados a 200 contratos (400 nodos y 1000 relaciones en total) por razones de performance. </p>
            <hr>
          </div>
          {{#if result.public}}
          <div class="col-m-12 col-12 mt-2">
            <h4 class="description-data-subtitle">PROVEEDORES PRINCIPALES</h4>
            {{#each result.supplierSummary }}
            <p class="principal-suppliers">
              <a href="/orgs/{{!-- {{simpleName supplier}} --}}"><img src="../images/icons/empresa-gray.svg" alt="organización" class="icon-lf icon-lf-organization">
                {{supplierSummary}}
              </a>
            </p>
            {{/each}}
          </div>
          {{else}}
          <div class="col-m-12 col-12 mt-2">
            <h4 class="description-data-subtitle">COMPRADORAS PRINCIPALES</h4>
            {{#each dependencySummary }}
            <p class="principal-suppliers"><a href="/orgs/{{!-- {{simpleName dependency}} --}}"><img src="../images/icons/dependencia-blue.svg" alt="organización" class="icon-lf icon-lf-organization">
              {{dependency}}
            </a></p>
            {{/each}}
          </div>
          {{/if}}
          <!-- <div class="col-m-7 col-7 mt-2">
          <h4 class="description-data-subtitle">MAPA DE UNIDADES COMPRADORAS</h4>
        </div> -->
        <div class="col-m-8 col-8">
          <hr>
        </div>

        {{#if result.contracts.supplier.length }}
        <div class="col-m-12 col-12 mt-2">
          <h4 class="description-data-subtitle">CONTRATOS VENDEDOR</h4>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="description-data-subname">Nombre</th>
                <th class="description-data-subname">Importe</th>
                <th class="description-data-subname">Periodo</th>
              </tr>
            </thead>
            <tbody>
              {{#each result.contracts.supplier }}
              <tr>
                <td class="description-data-contract">
                  <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                  <a href="/contracts/{{ocid}}">{{title}}</a>
                </td>
                <td class="description-data-amount">{{ format_amount amount}} {{format_currency currency}}</td>
                <td class="description-data-date">{{get_year contract.contracts.[0].period.startDate}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col-m-9 mb-3">
          <p>Viendo hasta 3 de <strong>{{result.ocds_contract_count}} contrato(s) en total</strong>. </p>
          <div class="col-m-3 centered contract-button">
            <a href="/contracts?{{#if result.public }}filter_buyer.name={{result.name}}{{else}}filter_contracts.0.suppliers={{result.simple}}{{/if}}" class="button-link">Ver todos los contratos</a>
          </div>
        </div>
        {{/if}}

        {{#if result.contracts.buyer.length }}
        <div class="col-m-12 col-12 mt-2">
          <h4 class="description-data-subtitle">CONTRATOS COMPRADOR</h4>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="description-data-subname">Nombre</th>
                <th class="description-data-subname">Importe</th>
                <th class="description-data-subname">Periodo</th>
              </tr>
            </thead>
            <tbody>
              {{#each result.contracts.buyer }}
              <tr>
                <td class="description-data-contract">
                  <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                  <a href="/contracts/{{ocid}}">{{title}}</a>
                </td>
                <td class="description-data-amount">{{ format_amount amount}} {{format_currency currency}}</td>
                <td class="description-data-date">{{get_year contract.contracts.[0].period.startDate}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col-m-9 mb-3">
          <p>Viendo hasta 3 de <strong>{{result.ocds_contract_count}} contrato(s) en total</strong>. </p>
          <div class="col-m-3 centered contract-button">
            <a href="/contracts?{{#if result.public }}filter_buyer.name={{result.name}}{{else}}filter_contracts.0.suppliers={{result.simple}}{{/if}}" class="button-link">Ver todos los contratos</a>
          </div>
        </div>
        {{/if}}
        <!-- <div class="col-m-12 col-12 mt-2">
        <h4 class="description-data-subtitle">OTRAS DEPENDENCIAS DEL MISMO RAMO</h4>
        <p class="other-dependency"><a><img src="../images/icons/organizacion-blue.svg" alt="organización" class="icon-lf icon-lf-organization">Banamex SAB DE CV</a></p>
        <p class="other-dependency"><a><img src="../images/icons/organizacion-blue.svg" alt="organización" class="icon-lf icon-lf-organization">Banorte SA DE CV</a></p>
        <p class="other-dependency"><a><img src="../images/icons/organizacion-blue.svg" alt="organización" class="icon-lf icon-lf-organization">Banco Santander Serfín</a></p>
        <p class="other-dependency"><a><img src="../images/icons/organizacion-blue.svg" alt="organización" class="icon-lf icon-lf-organization">Manco Mercantil del Norte</a></p>
        <p class="other-dependency"><a><img src="../images/icons/organizacion-blue.svg" alt="organización" class="icon-lf icon-lf-organization">Banco del Bajío SAB</a></p>
        <p class="other-dependency"><a><img src="../images/icons/organizacion-blue.svg" alt="organización" class="icon-lf icon-lf-organization">BanRegio SA de CV</a></p>
      </div> -->
        </div>
      </div>

      </div>

    </div>

  </div>
</div>
{{!-- {{/with}} --}}
{{> send_info_form}}

<script type="text/javascript">
  const summaries = {{{j result.summaries }}};
</script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script type="text/javascript">
//Get SVG
//Put Data
var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var formatPercent = d3.format(".0%");

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(formatPercent);


var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("data.tsv", type, function(error, data) {
  x.domain(data.map(function(d) { return d.letter; }));
  y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Frequency");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.letter); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.frequency); })
      .attr("height", function(d) { return height - y(d.frequency); })
      // .on('mouseover', tip.show)
      // .on('mouseout', tip.hide)

});

function type(d) {
  d.frequency = +d.frequency;
  return d;
}

</script>

<!-- <script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/d3plus.full.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script> -->
