<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas."/>

    <meta property="og:title" content="{{title}} " />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." />
    <meta property="og:url" content="{{share_url}}" />
    <meta property="og:image" content="https://www.quienesquien.wiki/images/qqw-card.png" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <meta name="application-name" content="QuienEsQuien.Wiki">
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' {{api_domain}}  manualinvestigarcontrataciones.readthedocs.io; img-src *.rindecuentas.org  www.google-analytics.com buenacubera.projectpoder.org 'self'; font-src fonts.gstatic.com 'self'; style-src 'self' cdn.datatables.net 'unsafe-inline' fonts.googleapis.com; script-src www.google-analytics.com www.googletagmanager.com cdn.datatables.net buenacubera.projectpoder.org 'self' 'unsafe-inline' 'unsafe-eval';">
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preload" href="{{autocomplete_url}}">
    <link rel="dns-prefetch" href="https://www.rindecuentas.org">
    <link rel="dns-prefetch" href="https://buenacubera.projectpoder.org">
    <script type="text/javascript">
      const AUTOCOMPLETE_URL = "{{autocomplete_url}}";
    </script>


    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.www.quienesquien.wiki"]);
      _paq.push(["setDomains", ["*.www.quienesquien.wiki","*.mujeresenlabolsa.quienesquien.wiki","*.quienesquien.wiki"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://buenacubera.projectpoder.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://buenacubera.projectpoder.org/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </head>
  <body class="{{#if home}}qqw-home{{/if}}">
    {{> header-new}}

      {{{body}}}

    {{> footer-new}}

    <script src="/jQuery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    
    <script src="/javascripts/typeahead.bundle.js"></script>
    <script src="/javascripts/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145836266-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145836266-1');
    </script> --}}

  </body>
</html>
