<section class="about-template" id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <h1>{{{_ "Derechos de autor"}}}
        </h1>
        <p>{{{_ "Puedes utilizar cualquier información en QuienEsQuien.wiki sin pedirnos autorización, siempre y cuando cumplas
          con los términos de nuestra licencia CC+. "}}}</p>
        {{!-- <p>{{{_ "Puedes utilizar cualquier información en QuienEsQuien.wiki sin pedirnos autorización, siempre y cuando cumplas
          con los términos de nuestra licencia <a href='{url}'>CC+</a>. " url=(url view="licencia") }}}</p> --}}
        <p>{{_ "En resumen: citar la fuente y utilizar la misma licencia para tu contenido." }}</p>
        <p>{{_ "Si quieres utilizar la información y no puedes cumplir con la licencia, por favor contactanos y cuéntanos sobre
          tu proyecto." }}</p>
      </div>
    </div>
  </div>
</section>