<section class="about-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div class="doc-template">
          <div class="row">
            <div class="col-12 col-md-12">
              <h1>{{{_ "Manual"}}}</h1>
              <p>{{{_ "QuiénEsQuién.Wiki es una herramienta que reúne casi 4 millones de contratos, datos de cerca de 228 mil empresas, más de 3 mil instituciones y más de 201 mil personas. Y aunque pareciera mucha información, hay diversas formas de obtener el máximo provecho, en especial para hacer investigaciones periodísticas."}}}</p>
              <p>{{{_ "Por eso, ante el mar de datos que hay en QQW, que utiliza la herramienta de elastic search Kibana para montar los datos, presentamos este manual que puede ayudar a investigadores y periodistas en sus búsquedas."}}} </p>
              <div>
                <iframe class="informe-iframe" src="https://manualinvestigarcontrataciones.readthedocs.io/es/latest/"></iframe>
              </div>
            </div>
            <div class="col-6 col-md-6 button-manual right mt-5">
              <a class="button-link important-button-link" type="button" href="https://manualinvestigarcontrataciones.readthedocs.io/es/latest/" target="_blank">{{{_ "IR AL MANUAL"}}}</a>
            </div>
            <div class="col-6 col-md-6 button-manual left mt-5">
              <a class="button-link important-button-link" type="button" href="https://buildmedia.readthedocs.org/media/pdf/manualinvestigarcontrataciones/latest/manualinvestigarcontrataciones.pdf" target="_blank">{{{_ "DESCARGAR PDF"}}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>