<section class="about-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div class="partners">
          <div class="row">
            <div class="col-m-12 col-12 mb-3">
              <h1>
              <a id="user-content-organizaciones-aliadas" class="anchor" href="#organizaciones-aliadas" aria-hidden="true"></a>{{{_ "Organizaciones aliadas"}}}</h1>

              <p>{{{_ "QuiénEsQuién.Wiki no tiene propietario, en cambio <a href='http://projectpoder.org/es/' rel='nofollow noreferrer noopener' target='_blank'>PODER</a>, una organización de la sociedad civil, lidera el proyecto, y  busca implicar a otras organizaciones interesadas, ya sea añadiendo datos o generado visualizaciones en código abierto para que otros actores las puedan adaptar. La intención es que eventualmente la plataforma sea regida por un gobierno compartido entre varias organizaciones usuarias."}}}</p>

              <p class="mb-3">{{{_ "El ecosistema actual de la plataforma es variado: va desde periodistas a investigadores que usan la plataforma, hasta organizaciones cuyo interés particular en un país o tema les lleva a construir una plataforma vinculada mediante la cual comparte datos."}}}</p>

              <div class="media">
                <a class="align-self-center mr-3" href="https://www.projectpoder.org/es/" target="_blank">
                  <img src="../../images/logo_poder_2018.png" alt="Logo PODER" style="width:120px">
                </a>
                <div class="media-body">
                  <p>{{{_ "El Proyecto sobre Organización, Desarrollo, Educación e Investigación (PODER) es una organización regional, no gubernamental, sin fines de lucro. Nuestra misión es fomentar la transparencia y rendición de cuentas de las empresas en América Latina y fortalecer a los actores de la sociedad civil afectados por prácticas empresariales para que actúen como garantes de la rendición de cuentas a largo plazo. PODER logra esto mediante la inteligencia empresarial, las tecnologías de transparencia y la organización comunitaria para construir un movimiento ciudadano a favor de la rendición de cuentas empresarial."}}}</p>
                </div>
              </div>

              <div class="media">
                <a class="align-self-center mr-3" href="https://winguweb.org/" target="_blank">
                  <img src="../../images/wingu.svg" alt="Logo Wingu" style="width:120px">
                </a>
                <div class="media-body">
                  <p>{{{_ "Wingu {Tecnología sin fines de lucro} es una organización sin fines de lucro con base en Buenos Aires y Ciudad de México. Nuestra misión es fortalecer otros proyectos e iniciativas sin fines de lucro en América Latina a través de la implementación de tecnologías y metodologías innovadoras para maximizar su impacto. Lo logramos a través de capacitaciones, la implementación de servicios, y el desarrollo de tecnología cívica basados en datos."}}}</p>
                </div>
              </div>
              <div class="media">
                <a class="align-self-center mr-3" href="http://ojo-publico.com" target="_blank">
                  <img src="../../images/logo-ojopublico.png" alt="Logo Ojo Público" style="width:120px">
                </a>
                <div class="media-body">
                  <p>{{{_ "Es un medio digital de periodismo de investigación y nuevas narrativas que apunta a ofrecer un cóctel cada vez más raro: historias relevantes, noticias verdaderas, textos bien escritos y herramientas informativas innovadoras sobre temas urgentes de la agenda pública nacional. Es un equipo de reporteros experimentados que asume el reto de los lectores: ser incómodos con el poder, vigilantes de la democracia, poner nuestra mirada al servicio del interés ciudadano en vez de promover intereses ajenos."}}}</p>
                </div>
              </div>
              <div class="media">
                <a class="align-self-center mr-3" href="http://www.cargografias.org/" target="_blank">
                  <img src="../../images/cargografias.png" alt="Logo Cargografías" style="width:120px">
                </a>
                <div class="media-body">
                  <p>{{{_ "Cargografías es una línea de tiempo que muestra los cargos públicos que tuvo cada funcionario a lo largo de su vida."}}} </p>
                </div>
              </div>

              <div class="media">
                <a class="align-self-center mr-3" href="https://mexicoleaks.mx/enviar-para.php?r=poder" target="_blank">
                  <img src="../../images/mexicoleaks-negro.png" alt="Logo Méxicoleaks" style="width:120px">
                </a>
                <div class="media-body">
                  <p>{{{_ "Méxicoleaks es una herramienta que permite enviar información de interés público a medios de comunicación y organizaciones civiles a través de tecnologías seguras que garantizan el anonimato de la fuente. En virtud de la transparencia y la participación ciudadana, busca construir en la sociedad la justicia y la democracia."}}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>