<div class="container">
  <div class='viewWrapper'>
    <div class='datos-generales clearfix'>
      <div class="gd-col-left-wrapper col-m-12">
        {{!-- {{#if result.title }} --}}
          <div class="description-data-title">
            <h3>
              <img src="../images/icons/contrato-gray.svg" alt="contrato" class="icon-lf">
              {{!-- {{ result.title}} --}}
              Nombre
              <h4 class="contract-type">Contrato</h4>
            </h3>
          </div>
        {{!-- {{/if}} --}}
      </div>
    </div>
    <div class="col-12 col-m-12">
      <hr>
    </div>
    <div class="col-12 col-m-12">
      <div id="profile-menu">
        <button href="#informaciongeneral" class="page-scroll button-link">
          Información General
        </button>
        <button href="#visualizaciones" class="page-scroll button-link">
          Visualizaciones
        </button>
        <button href="#compradores" class="page-scroll button-link">
          Compradores
        </button>
        <button href="#vendedores" class="page-scroll button-link">
          Vendedores
        </button>
        <button href="#contratos" class="page-scroll button-link">
          Contratos
        </button>
        <button href="#uc" class="page-scroll button-link">
          Unidades Compradoras
        </button>
        <button href="#evaluacion" class="page-scroll button-link">
          Evaluación y recomendaciones
        </button>
      </div>
    </div>

    <div id="informaciongeneral">
      <div class="col-12 col-m-12 mt-60 mb-5">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">INFORMACIÓN GENERAL</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            {{!-- {{format_amount result.amount}} --}}
            $234,234
          </h4>
          {{!-- {{format_currency result.currency}} --}}
          pesos mexicanos
        </div>
      </div>
      <div class="col-12 col-m-12">
        {{!-- {{#if result.start_date }} --}}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Fecha de inicio</p>
            <p class="js-data">{{!-- {{moment result.start_date date lang="es" format="LL"}} --}}1 de julio, 2019</p>
        </div>
        {{!-- {{/if}} --}}
        {{!-- {{#if result.end_date }} --}}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Fecha de fin</p>
            <p class="js-data">{{!-- {{moment result.end_date date lang="es" format="LL"}} --}}1 de julio, 2019</p>
        </div>
        {{!-- {{/if}} --}}
        {{!-- {{#if result.dependency }} --}}
        <div class="col-m-4 col-4 link-lf-contracts">
            <p class="js-title-data">Dependencia <a data-toggle="tooltip" data-placement="right" title="Nombre de la Dependencia, Entidad Federativa o Municipio que realiza la contratación."><i class="fa fa-question"></i></a></p>
            <a href="/orgs/{{!-- {{result.dependency}} --}} {{!-- {{simpleName (getField object=parties field="parent")}} --}}"><p class="js-data">{{!-- {{result.dependency}} --}} {{!-- {{getField object=parties field="parent"}} --}}Comisión Federal de Electricidad</p></a>
        </div>
        {{!-- {{/if}} --}}
        {{!-- {{#if buyer.name }} --}}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Unidad compradora <a data-toggle="tooltip" data-placement="right" title="El área  de  las dependencias o entidades que ha sido  registrada y autorizada para realizar operaciones y llevar a cabo procedimientos de contratación en CompraNet."><i class="fa fa-question"></i></a></p>
            <p class="js-data">{{!-- {{buyer.name}} --}}Unidad</p>
        </div>
        {{!-- {{/if}} --}}
        {{!-- {{#if buyer.id }} --}}
        <div class="col-m-4 col-4">
            <p class="js-title-data">Clave de unidad compradora <a data-toggle="tooltip" data-placement="right" title="Clave de identificación de la Unidad Compradora en Compranet 3.0."><i class="fa fa-question"></i></a></p>
            <p class="js-data">{{!-- {{buyer.id}} --}}clave</p>
        </div>
        {{!-- {{/if}} --}}
        {{!-- {{#if contactPoint }} --}}
        <div class="col-m-4 col-4 link-lf-contracts">
            <p class="js-title-data">Responsable <a data-toggle="tooltip" data-placement="right" title="Titular del área contratante o del área responsable de la contratación a nivel central o del servidor público que éste designe."><i class="fa fa-question"></i></a></p>
            <p class="js-data">{{!-- {{getField object=parties field="contactPoint"}} --}}Responsable</p>
        </div>
        {{!-- {{/if}} --}}
        {{!-- {{#if result.suppliers_org }} --}}
        <div class="col-m-4 col-4 link-lf-contracts">
            <p class="js-title-data">Proveedor</p>
            <a href="/orgs/{{!-- {{awards.[0].suppliers.[0].id}} --}}"><p class="js-data">{{!-- {{awards.[0].suppliers.[0].name}} --}}{{!-- {{result.suppliers_org}} --}}CIC CORPORATIVO INDUSTRIAL COAHUILA, S.A. de C.V.</p></a>
        </div>
      </div>
      {{!-- {{/if}} --}}
      <div class="col-12 col-m-12">
        <hr>
      </div>
    </div>

    <div id="graphs">
      <div  class="col-m-12 col-6 mt-60">
        <h4 class="description-data-subtitle">EVOLUCIÓN DE CONTRATOS</h4>
        <div id="chart">
          <svg></svg>
        </div>
      </div>
      <div class="col-m-12 col-6 mt-60">
        <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
        <div id="piechart">
          <svg></svg>
        </div>
      </div>
      <div class="col-m-12 col-12 mt-60">
        <h4 class="description-data-subtitle">FLUJOS DE DINERO</h4>
        <div id="graph-container">
        </div>
      </div>
    </div>
    <div class="col-12 col-m-12">
        <hr>
      </div>
    <div>
      {{#if result.public}}
      <div class="col-m-12 col-12 mt-2">
        <h4 class="description-data-subtitle">PROVEEDORES PRINCIPALES</h4>
        {{#each result.supplierSummary }}
        <p class="principal-suppliers">
          <a href="/orgs/{{!-- {{simpleName supplier}} --}}"><img src="../images/icons/empresa-gray.svg" alt="organización" class="icon-lf icon-lf-organization">
            {{supplierSummary}}
          </a>
        </p>
        {{/each}}
      </div>
      {{else}}
      <div class="col-m-12 col-12 mt-2">
        <h4 class="description-data-subtitle">COMPRADORAS PRINCIPALES</h4>
        {{#each dependencySummary }}
        <p class="principal-suppliers"><a href="/orgs/{{!-- {{simpleName dependency}} --}}"><img src="../images/icons/dependencia-blue.svg" alt="organización" class="icon-lf icon-lf-organization">
          {{dependency}}
        </a></p>
        {{/each}}
      </div>
      {{/if}}
    </div>
    

    </div>
  </div>
</div>
{{!-- {{/with}} --}}
{{> send_info_form}}

<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/d3plus.full.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script>