<section class="profile">
  <div class="row">
    <div class="content mt-1">
      <div class="wrap" id="wrap">
        <div class="breadcrumb">
          <h4>
              <a href="/">Inicio</a> >
              <a href="/{{get_type_url type}}">{{get_type_plural type}}</a>
          </h4>
        </div>
        <div class='datos-generales clearfix'>
          <div class="gd-col-left-wrapper col-m-12">
              <div class="description-data-title">
                <h3 title="{{ result.compiledRelease.name}}">
                  {{{ get_classification_icon type result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel}}}
                  {{ get_classification_name type result.compiledRelease.classification result.compiledRelease.subclassification result.compiledRelease.govLevel }}:
                  {{ result.compiledRelease.name}}
                </h3>
              </div>
          </div>
        </div>
        <div class="col-12 col-m-12 ">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="informacion-general">
  <div class="row">
    <div class="content">
      <div class="col-9 col-m-9">
        <div class="col-6 col-m-6 mb-2">
          <h4 class="description-data-subtitle"><i class="fas fa-folder-open"></i> INFORMACIÓN GENERAL</h4>
        </div>
        <div class="col-m-6 col-6 mb-2 right-align">
            {{#ifCond result.compiledRelease.contract_amount.supplier '&&' result.compiledRelease.contract_amount.buyer}}
            {{else}}
              {{#if result.compiledRelease.contract_amount.buyer}}
              <h4 class="amount-data red-text">
                {{format_amount result.compiledRelease.contract_amount.buyer}}
              </h4>
              {{/if}}
              {{#if result.compiledRelease.contract_amount.supplier}}
              <h4 class="amount-data green-text">
                {{format_amount result.compiledRelease.contract_amount.supplier}}
              </h4>
              {{/if}}
              {{#if result.compiledRelease.contract_amount.funder}}
              <h4 class="amount-data ">
                {{format_amount result.compiledRelease.contract_amount.funder}}
              </h4>
              {{/if}}
            {{/ifCond}}
        </div>
        <div class="col-12 col-m-12 flex">
          {{#if result.compiledRelease.contract_count.funder}}
            <div class="col-m-6 col-6 pd-nonleft">
              <p class="js-title-data">Contratos como financiador</p>
              <p class="js-data">Cantidad: {{result.compiledRelease.contract_count.funder}}. Importe: <span>{{format_amount result.compiledRelease.contract_amount.funder}}</span> MXN</p>
            </div>
          {{/if}}
          {{#if result.compiledRelease.contract_count.buyer}}
            <div class="col-m-6 col-6 pd-nonleft">
              <p class="js-title-data">Contratos como comprador</p>
              <p class="js-data">Cantidad: {{result.compiledRelease.contract_count.buyer}}. Importe: <span class="red-text">{{format_amount result.compiledRelease.contract_amount.buyer}}</span> MXN</p>
            </div>
          {{/if}}
          {{#if result.compiledRelease.contract_count.supplier}}
            <div class="col-m-6 col-6 pd-nonleft">
              <p class="js-title-data">Contratos como proveedor</p>
              <p class="js-data">Cantidad: {{result.compiledRelease.contract_count.supplier}}. Importe: <span class="green-text">{{format_amount result.compiledRelease.contract_amount.supplier}}</span> MXN</p>
            </div>
          {{/if}}
          {{#if result.compiledRelease.date}}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Fecha de actualización</p>
              <p class="js-data">{{moment result.compiledRelease.date date lang="es" format="LL"}}</p>
            </div>
          {{/if}}
          {{#if result.compiledRelease.other_names.length }}
            <div class="col-m-4 col-4 pd-nonleft profile-list">
              <p class="js-title-data">Nombres alternativos</p>
              <ul class="js-data">
                {{#each result.compiledRelease.other_names}}
                <li class="{{#ifCond @index ">" 5}}profile-list-hidden{{/ifCond}}">
                    {{name}}
                </li>
                {{/each}}
              </ul>
              {{#ifCond result.compiledRelease.other_names.length '>' 5}}
              <div style="margin-top: 1rem; margin-bottom: 0.5rem">
              <a class="profile-list-toggle">Ver todos</a>
              </div>
              {{/ifCond}}
            </div>
          {{/if}}
          {{#if result.compiledRelease.identifiers }}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Identificadores</p>
              <p class="js-data">{{#each result.compiledRelease.identifiers}}{{scheme}}: {{id}} {{#ifCond scheme '==' 'RUPC'}}<a data-toggle="tooltip" data-placement="right" title="Folio asignado por la SFP a la persona física o moral que fue inscrita al Registro Único de Registro Único de Proveedores y Contratistas (RUPC) por un ente público con el que celebró algún contrato"><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a>{{/ifCond}}{{/each}}</p>
            </div>
          {{/if}}
          {{#if result.compiledRelease.source}}
            <div class="col-m-2 col-2 pd-nonleft">
              <p class="js-title-data">Fuente(s)</p>
              <p class="js-data">{{#each result.compiledRelease.source}}{{this.id}}{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
            </div>
          {{/if}}
          {{#ifCond type '==' 'persons'}}
            {{#ifCond result.compiledRelease.contract_count.buyer '>' '0'}}
              <div class="col-12 col-m-12">
                <p class="description-data-amount">Ésta persona es (o ha sido) responsable de una Unidad Compradora y con el objetivo de brindar la máxima información disponible lo mostramos como comprador a todos los contratos que sucedieron bajo su mandato.</p>
              </div>
            {{/ifCond}}
          {{/ifCond}}
          {{#ifCond result.compiledRelease.subclassification '==' 'banco'}}
            {{#if result.compiledRelease.source}}
              <div class="col-m-2 col-2">
                <p class="js-title-data">Tipo de entidad</p>
                <p class="js-data">{{result.compiledRelease.subclassification}}</p>
              </div>
            {{/if}}
          {{/ifCond}}
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
      <div class="col-m-3 col-3">
        <nav id="right-menu" class="menu-profile">
          <ul class="right-menu-profile nav-stacked nav">
            <li>
              <a href="#informacion-general" class="anchor">
                <i class="fas fa-folder-open"></i>Información
              </a>
            </li>
            {{#if result.memberships.parent}}
            {{#each result.memberships.parent }}
            <li>
              <a href="#memberships-parent-{{@index}}" class="anchor">
                {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.directionality}}
              </a>
            </li>
            {{/each}}
            {{/if}}
            {{#if result.memberships.child}}
            {{#each result.memberships.child }}
            <li>
              <a href="#memberships-child-{{@index}}" class="anchor">
                {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.directionality}}
              </a>
            </li>
            {{/each}}
            {{/if}}
            {{#ifCond result.top3contracts.funder.length '||' result.summaries.top_fundees.length}}
            <li>
              <a href="#financiacion" class="anchor">
                <i class="fas fa-donate"></i>Financiación
              </a>
            </li>
            {{/ifCond}}
            {{#ifCond type '!=' 'companies'}}
            {{#ifCond result.top3contracts.buyer.length '||' result.summaries.top_suppliers.length}}
            <li>
              <a href="#compras" class="anchor">
                <i class="fas fa-money-check-alt"></i>Compras
              </a>
            </li>
            {{/ifCond}}
            {{/ifCond}}
            {{#ifCond result.top3contracts.supplier.length '||' result.summaries.top_buyers.length}}
            <li>
              <a href="#proveedor" class="anchor">
                <i class="fas fa-dolly"></i>Proveedor
              </a>
            </li>
            {{/ifCond}}
            {{#ifCond result.summaries.relation.nodes.length ">" 0}}
            <li>
              <a href="#flujos-monetarios" class="anchor">
                <i class="fas fa-chart-pie"></i>Flujos monetarios
              </a>
            </li>
            {{/ifCond}}
            {{#ifCond type '!=' 'companies'}}
            {{#if result.top3contracts.buyer }}
            {{#if result.flags }}
            <li>
              <a href="#evaluacion" class="anchor evaluacion">
                <i class="fas fa-file-signature"></i>Evaluación
              </a>
            </li>
            {{/if}}
            {{/if}}
            {{/ifCond}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
  <div class="row memberships">
    <div class="content">
      <div class="col-9 col-m-9">
        {{#if result.memberships.parent}}
          {{#each result.memberships.parent }}
          <section class="profile col-m-4 col-4" id="memberships-parent-{{@index}}">
            <div  class=" profile-list">
              <h4 class="description-data-subtitle">
                {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.directionality}}
              </h4>
              <ul>
                {{#each this.memberships}}
                  {{#with compiledRelease }}
                    <li class="{{#ifCond @index ">" 5}}profile-list-hidden{{/ifCond}}">
                      {{#if this.organization_class }}
                        <a href="/{{get_type_url this.organization_class}}/{{this.organization_id}}">{{this.organization_name}}</a>{{#if title}} como {{title}}{{/if}}{{#if @last}}.{{else}}, {{/if}}
                      {{else}}
                        <a href="/{{get_type_url "person"}}/{{this.person_id}}">{{this.person_name}}</a>{{#if @last}}.{{else}}, {{/if}}
                      {{/if}}
                    </li>
                  {{/with}}
                {{/each}}
              </ul>
              {{#ifCond this.memberships.length '>' 5}}
              <div style="margin-top: 1rem; margin-bottom: 0.5rem">
                <a class="profile-list-toggle">Ver todos</a>
              </div>
              {{/ifCond}}
            </div>
          </section>
          {{/each}}
        {{/if}}

        {{#if result.memberships.child}}
          {{#each result.memberships.child }}
          <section class="profile col-m-4 col-4" id="memberships-child-{{@index}}">
            <div class="profile-list">
              <h4 class="description-data-subtitle">
                {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.directionality}}
              </h4>
              <ul>
                {{#each this.memberships}}
                  {{#with compiledRelease }}
                    <li class="{{#ifCond @index ">" 5}}profile-list-hidden{{/ifCond}}">
                      <a href="/{{get_type_url this.parent_class}}/{{this.parent_id}}">{{this.parent_name}}</a>{{#if @last}}.{{else}}, {{/if}}
                    </li>
                  {{/with}}
                {{/each}}
              </ul>
              {{#ifCond this.memberships.length '>' 5}}
              <div style="margin-top: 1rem; margin-bottom: 0.5rem">
                <a class="profile-list-toggle">Ver todos</a>
              </div>
              {{/ifCond}}
            </div>
          </section>
          {{/each}}
        {{/if}}
        {{#ifCond result.memberships.parent.length '||' result.memberships.child.length }}
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
        {{/ifCond}}
      </div>
    </div>
  </div>
</section>

{{!-- COMPRAS --}}
{{#ifCond result.top3contracts.buyer.length '||' result.summaries.top_suppliers.length}}
<section class="profile" id="compras">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <h4 class="description-data-subtitle red-text"><i class="fas fa-money-check-alt"></i> COMPRAS</h4>
        {{#if result.top3contracts.buyer}}
        <div class="col-m-12 col-12">
          <h5 class="description-data-subtitle">Contratos de compra</h5>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="description-data-subname">Nombre</th>
                <th class="description-data-subname">Importe</th>
                <th class="description-data-subname">Periodo</th>
              </tr>
            </thead>
            <tbody>
              {{#each result.top3contracts.buyer }}
              <tr>
                <td class="description-data-contract">
                  <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                  <a href="/contratos/{{encode compiledRelease.ocid}}">{{compiledRelease.contracts.0.title}}</a>
                </td>
                <td class="description-data-amount">{{format_amount compiledRelease.total_amount}} {{ compiledRelease.contracts.0.value.currency}}</td>
                <td class="description-data-date">{{moment compiledRelease.contracts.0.period.startDate date lang="es" format="YYYY"}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col-m-12 mb-12 mb-5">
          {{#ifCond result.compiledRelease.contract_count.buyer '>' 3}}
          <p>Viendo hasta 3 de <strong>{{result.compiledRelease.contract_count.buyer}} contrato(s) en total</strong>.</p>
          <div class="contract-button">
            <a href="/contratos?dependencia={{result.compiledRelease.name}}" class="button-link buyer-button">Ver todos los contratos</a>
          </div>
          {{else}}
            <p>Viendo <strong>{{result.compiledRelease.contract_count.buyer}} contrato(s) en total</strong>. </p>
          {{/ifCond}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>

{{#if result.summaries.top_suppliers }}
  <div class="row mb-5">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h5 class="description-data-subtitle">Proveedores principales</h5>
          {{#each result.summaries.top_suppliers }}
          <p class="description-data-amount"><a href="/{{get_type_url this.details.type}}/{{this.id}}"><img src="../images/icons/empresa-gray.svg" alt="Empresa" class="icon-lf icon-lf-organization">
            {{this.name}}</a> - {{format_amount contract_amount_top_supplier}} pesos mexicanos</p>
          {{/each}}
        </div>
        {{!-- <div class="col-12 col-m-12 mt-2">
          <hr>
        </div> --}}
      </div>
    </div>
  </div>
{{/if}}
  <div class="row">
    <div class="content">
      <div class="col-m-9 col-9">
        <div  class="col-m-12 col-6">
          <h5 class="description-data-subtitle">Evolución anual de contratos</h5>
          <div id="chartBuyer">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-6">
          <h5 class="description-data-subtitle">Tipo de procedimiento</h5>
          <div id="piechartBuyer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

{{!-- FINANCIACIÓN --}}
{{#ifCond result.top3contracts.funder.length '||' result.summaries.top_fundees.length}}
<section class="profile" id="financiacion">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <h4 class="description-data-subtitle"><i class="fas fa-donate"></i> Financiacion</h4>
        {{#if result.top3contracts.funder}}
        <div class="col-m-12 col-12">
          <h5 class="description-data-subtitle">Contratos financiados</h5>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="description-data-subname">Nombre</th>
                <th class="description-data-subname">Importe</th>
                <th class="description-data-subname">Periodo</th>
              </tr>
            </thead>
            <tbody>
              {{#each result.top3contracts.funder }}
              <tr>
                <td class="description-data-contract">
                  <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                  <a href="/contratos/{{encode compiledRelease.ocid}}">{{compiledRelease.contracts.0.title}}</a>
                </td>
                <td class="description-data-amount">{{format_amount compiledRelease.total_amount}} {{ compiledRelease.contracts.0.value.currency}}</td>
                <td class="description-data-date">{{moment compiledRelease.contracts.0.period.startDate date lang="es" format="YYYY"}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col-m-12 mb-12 mb-5">
          {{#ifCond result.compiledRelease.contract_count.funder '>' 3}}
          <p>Viendo hasta 3 de <strong>{{result.compiledRelease.contract_count.funder}} contrato(s) en total</strong>.</p>
          <div class="contract-button">
            <a href="/contratos?financiador={{result.compiledRelease.name}}" class="button-link">Ver todos los contratos</a>
          </div>
          {{else}}
            <p>Viendo <strong>{{result.compiledRelease.contract_count.funder}} contrato(s) en total</strong>. </p>
          {{/ifCond}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>

{{#if result.summaries.top_fundees }}
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h5 class="description-data-subtitle">Principales instituciones financiadas</h5>
          {{#each result.summaries.top_fundees }}
          <p class="description-data-amount"><a href="/{{get_type_url this.details.type}}/{{this.id}}"><img src="../images/icons/dependencia-gray.svg" alt="Institución pública" class="icon-lf icon-lf-organization">
            {{this.memberOf.0.name}} ({{this.name}})</a> - {{format_amount contract_amount_top_funder}} pesos mexicanos</p>
          {{/each}}
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
    </div>
  </div>
{{/if}}
</section>
{{/ifCond}}

{{!-- PROVEEDORES --}}
{{#ifCond result.top3contracts.supplier.length '||' result.summaries.top_buyers.length}}
<section class="profile" id="proveedor">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <h4 class="description-data-subtitle green-text"><i class="fas fa-dolly"></i> PROVEEDOR</h4>
        {{#if result.top3contracts.supplier }}
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">Contratos como proveedor</h4>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="description-data-subname">Nombre</th>
                <th class="description-data-subname">Importe</th>
                <th class="description-data-subname">Periodo</th>
              </tr>
            </thead>
            <tbody>
              {{#each result.top3contracts.supplier }}
              <tr>
                <td class="description-data-contract">
                  <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                  <a href="/contratos/{{encode compiledRelease.ocid}}">{{compiledRelease.contracts.0.title}}</a>
                </td>
                <td class="description-data-amount">{{format_amount compiledRelease.total_amount}} {{ compiledRelease.contracts.0.value.currency}}</td>
                <td class="description-data-date">{{moment compiledRelease.contracts.0.period.startDate date lang="es" format="YYYY"}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col-m-12 mb-12 mb-5">
          {{#ifCond result.compiledRelease.contract_count.supplier '>' 3}}
          <p>Viendo hasta 3 de <strong>{{result.compiledRelease.contract_count.supplier}} contrato(s) en total</strong>.</p>
          <div class="contract-button">
            <a href="/contratos?proveedor={{result.compiledRelease.name}}" class="button-link supplier-button">Ver todos los contratos</a>
          </div>
          {{else}}
            <p>Viendo <strong>{{result.compiledRelease.contract_count.supplier}} contrato(s) en total</strong>. </p>
          {{/ifCond}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
{{#if result.summaries.top_buyers }}
  <div class="row mb-5">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle">Principales dependencias a las que provee</h4>
          {{#each result.summaries.top_buyers }}
          <p class="description-data-amount"><a href="/{{get_type_url this.details.type}}/{{this.memberOf.0.id}}"><img src="../images/icons/dependencia-gray.svg" alt="Institución pública" class="icon-lf icon-lf-organization">
            {{this.memberOf.0.name}} ({{this.name}})</a> - {{format_amount contract_amount_top_buyer}} pesos mexicanos</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="content">
      <div class="col-m-9 col-9">
        <div  class="col-m-12 col-6">
          <h5 class="description-data-subtitle">Evolución anual de contratos</h5>
          <div id="chartSupplier">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-6">
          <h5 class="description-data-subtitle">Tipo de procedimiento</h5>
          <div id="piechartSupplier"></div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

{{#ifCond result.summaries.relation.nodes.length ">" 0}}
<section class="profile" id="flujos-monetarios">
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle"><i class="fas fa-chart-pie"></i> FLUJOS MONETARIOS</h4>
          <div id="graph-container">
          </div>
        </div>
        {{!-- <div class="col-12 col-m-12 mt-2">
          <hr>
        </div> --}}
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

{{#ifCond type '!=' 'companies'}}
{{#if result.top3contracts.buyer}}
{{#if result.flags }}
<section class="profile bg-gray" id="evaluacion">

  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div class="col-12 col-m-12">
          <div class="col-6 col-m-6">
            <h4 class="description-data-subtitle"><i class="fas fa-file-signature"></i> EVALUACIÓN Y RECOMENDACIONES</h4>
          </div>
          <div class="col-m-6 col-6 right-align">
            <h4 class="amount-data">
              Puntaje total: {{ format_score result.flags.0.total_score }}
            </h4>
          </div>
          <div class="col-12 col-m-12">
            <p>A partir de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede consultarse en <a href="https://www.TodosLosContratos.mx/#metodologia">TodosLosContratos.mx</a>.</p>
          </div>
        </div>
        <div class="col-12-col-m-12">
          {{#each (get_party_categories result.flags.[0]) }}
          <div class="flags_graph_bar">
            <div class="flag_name">
               {{#with (flag_name @key) }}
                  {{name}} <a data-toggle="tooltip" data-placement="right" title="{{info}}"><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a>
               {{/with}}
            </div>
              <div class="flag_pole flag_{{@key}}">
                <div class="flag_pole_min" style="width: {{format_score (party_category_min @key)}}">
                </div>
                <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (party_category_max @key))}}">
                </div>
                <div class="flag_marker" style="left: {{format_score this}}">
                  {{format_score this}}
                </div>
              </div>
          </div>
          {{/each}}
          <div class="col-12-col-m-12 mt-60">
            {{# each (flag_recommendations result.flags flag_count) }}
            <div class="col-4 col-m-12 category-profile">
              <p><b>Categoría:</b> {{category}}</p>
              <p><b>Problema:</b> {{description}}</p>
              <p><b>Puntaje:</b> {{format_score score }}</p>
              <p><b>Recomendación:</b> {{uc_string}}</p>
            </div>
            {{/each}}
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <div  class="col-m-9 col-9">
        <div  class="col-m-12 col-12 mt-2">
          <h3>Solicitar más información</h3>
          <p>Con el objetivo de que las dependencias y las Unidades Compradoras puedan mejorar la calidad de los datos de contrataciones destacamos las tres banderas que dieron un resultado más bajo y como pueden mejorar. Para tener la lista completa contáctanos a través del formulario. </p>
          <form class="sendinfo-form mt-2">
            <fieldset>
              <div class="form-group" data-required="true">
                <label for="name" class="control-label"><b>Nombre</b></label>
                <input type="text" name="name" id="name" maxlength="50" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="institution" class="control-label"><b>Institución</b></label>
                <input type="text" name="subject" id="institution" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group" data-required="true">
                <label for="email" class="control-label"><b>Correo electrónico</b></label>
                <input id="email" type="email" name="contact-email" class="form-control">
                <span class="help-block"></span>
              </div>
            </fieldset>
            <input id="uc_id_message" type="hidden" name="message" value="{{result.id}}">
            <div class="centered">
                <button id="send_info_uc" type="submit" class="btn contact-submit">Enviar</button>
            </div>
          </form>
          <div id="thanks-column" style="display: none;" class="mt-2">
            <h4>Mensaje enviado</h4>
            <p>Muchas gracias, pronto le enviaremos la información correspondiente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{/if}}
{{/ifCond}}


{{> send_info_form}}
<script>
  const summaries = {{{j result.summaries}}}
</script>
<script src="/javascripts/d3.v4.js"></script>
<script>
  let d4 = d3;
</script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script>
