<section class="profile">
  <div class="row">
    <div class="container mt-1">
      <div class="breadcrumb">
        <h4>
            <a href="/">Inicio</a> >
            {{#ifCond type '==' 'persons'}}
              <a href="/personas">Personas y proveedores</a>
            {{/ifCond}}
            {{#ifCond type '==' 'institutions'}}
              <a href="/instituciones-publicas">
                Instituciones públicas o empresas productivas del estado
              </a>
            {{/ifCond}}
            {{#ifCond type '==' 'companies'}}
            <a href="/empresas">
              Empresas o asociaciones civiles
            </a>
            {{/ifCond}}
        </h4>
      </div>
      <div class='datos-generales clearfix'>
        <div class="gd-col-left-wrapper col-m-12">
            <div class="description-data-title">
              <h3>
                <img src="../images/icons/{{#ifCond type '==' 'persons'}}persona-gray.svg{{/ifCond}}{{#ifCond type '==' 'institutions'}}institucion-gray.svg{{/ifCond}}{{#ifCond type '==' 'companies'}}empresa-gray.png{{/ifCond}}" class="icon-lf">
                {{ result.name}}
              </h3>
            </div>
        </div>
      </div>
      <div class="col-12 col-m-12 ">
        <hr>
      </div>
      <div class="col-12 col-m-12 text-center">
        <div id="profile-menu">
          <ul>
            <li>
              <a href="#informacion-general" class="page-scroll button-link">
                Información General
              </a>
            </li>
            <li>
              <a href="#evolucion-contratos" class="page-scroll button-link">
                Evolución de contratos
              </a>

            </li>
            {{#if result.summaries.top_buyers }}
            <li>
              <a href="#compradores" class="page-scroll button-link">
                Compradores
              </a>
            </li>
            {{/if}}
            {{#if result.summaries.top_suppliers }}
            <li>
              <a href="#proveedores" class="page-scroll button-link">
                Proveedores
              </a>
            </li>
            {{/if}}
            <li>
              <a href="#contratos" class="page-scroll button-link">
                Contratos
              </a>
            </li>
            {{#if result.memberships.parent }}
            <li>
              <a href="#parents" class="page-scroll button-link">
                Dependencias
              </a>
            </li>
            {{/if}}
            {{#if result.memberships.child }}
            <li>
              <a href="#uc" class="page-scroll button-link">
                Unidades Compradoras
              </a>
            </li>
            {{/if}}
            {{#ifCond type '!=' 'companies'}}
            {{#if result.flags }}

            <li>
              <a href="#evaluacion" class="page-scroll button-link evaluacion">
                <img src="../images/evaluacion.svg" alt="evaluacion">Evaluación y recomendaciones
              </a>
            </li>
            {{/if}}
            {{/ifCond}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="informacion-general">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12 mb-2">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">INFORMACIÓN GENERAL</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
            {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
            {{else}}
              {{#if result.contract_amount.buyer}}
              <h4 class="amount-data">
                {{format_amount result.contract_amount.buyer}}
              </h4>
                Pesos mexicanos como comprador
              {{/if}}
              {{#if result.contract_amount.supplier}}
              <h4 class="amount-data">
                {{format_amount result.contract_amount.supplier}}
              </h4>
                Pesos mexicanos como comprador
              {{/if}}
            {{/ifCond}}
        </div>
      </div>
      <div class="col-12 col-m-12 flex">
        {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Suma de contratos como comprador</p>
            <p class="js-data">{{format_amount result.contract_amount.buyer}}</p>
          </div>
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Suma de contratos como proveedor</p>
            <p class="js-data">{{format_amount result.contract_amount.supplier}}</p>
          </div>
        {{/ifCond}}
        {{#if result.contract_count.buyer}}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Número de contratos como comprador</p>
            <p class="js-data">{{result.contract_count.buyer}}</p>
          </div>
        {{/if}}
        {{#if result.contract_count.supplier}}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Número de contratos como proveedor</p>
            <p class="js-data">{{result.contract_count.supplier}}</p>
          </div>
        {{/if}}
        {{#if result.date}}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Fecha de actualización</p>
            <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
          </div>
        {{/if}}
        {{#if result.source}}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Fuente(s)</p>
            <p class="js-data">{{#each result.source}}{{this}}{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
          </div>
        {{/if}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="evolucion-contratos">
  <div class="row">
    <div class="container">
        <div  class="col-m-12 col-6">
          <h4 class="description-data-subtitle">EVOLUCIÓN DE CONTRATOS</h4>
          <div id="chart">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-6">
          <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
          <div id="piechartBuyer">
            {{#if svg}}
            Comprador
            {{/if}}
          </div>
          <div id="piechartSupplier">
            {{#if svg}}
            Vendedor
            {{/if}}
          </div>
        </div>
        {{!-- <div class="col-m-12 col-6">
          <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
          <div class="col-m-6 col-6">
            <div id="piechartBuyer">
            </div>
          </div>
          <div class="col-m-6 col-6">
            <div id="piechartSupplier">
            </div>
          </div>
        </div> --}}
        <div class="col-m-12 col-12 mt-60">
          <h4 class="description-data-subtitle">FLUJOS DE DINERO</h4>
          <div id="graph-container">
          </div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
    </div>
  </div>
</section>
{{#if result.summaries.top_buyers }}
<section class="profile" id="compradores">
  <div class="row">
    <div class="container">
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">COMPRADORES PRINCIPALES</h4>
        {{#each result.summaries.top_buyers }}
        <p class="description-data-amount"><a href="/{{this.details.type}}/{{this.memberOf.0.id}}"><img src="../images/icons/dependencia-gray.svg" alt="Institución pública" class="icon-lf icon-lf-organization">
          {{this.memberOf.0.name}} ({{this.name}})</a> - {{format_amount contract_amount_top_buyer}} pesos mexicanos</p>
        {{/each}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{#if result.summaries.top_suppliers }}
<section class="profile" id="proveedores">
  <div class="row">
    <div class="container">
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">PROVEEDORES PRINCIPALES</h4>
        {{#each result.summaries.top_suppliers }}
        <p class="description-data-amount"><a href="/{{this.details.type}}/{{this.id}}"><img src="../images/icons/empresa-gray.svg" alt="Empresa" class="icon-lf icon-lf-organization">
          {{this.name}}</a> - {{format_amount contract_amount_top_supplier}} pesos mexicanos</p>
        {{/each}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
{{/if}}
<section class="profile" id="contratos">
  <div class="row">
    <div class="container">
      {{> top3contracts}}
      <div class="col-12 col-m-12">
        <hr>
      </div>
    </div>
  </div>
</section>
{{#if result.memberships.parent}}
<section class="profile" id="parents">
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12">
        <h4 class="description-data-subtitle">Dependencia de la que forma parte</h4>
        <p>
          Esta institución es una {{result.memberships.parent.0.role}} de: {{#each result.memberships.parent}}<a href="/{{get_type_url this.parent_class}}/{{this.parent_id}}">{{this.parent_name}}</a>,{{#if @last}}.{{else}}, {{/if}}{{/each}}
        </p>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{#if result.memberships.child}}
<section class="profile" id="uc">
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12">
        <h4 class="description-data-subtitle">UNIDADES COMPRADORAS</h4>
        <p>
          Esta institución tiene como {{result.memberships.child.0.role}} a: {{#each result.memberships.child}}<a href="/{{get_type_url this.organization_class}}/{{this.organization_id}}">{{this.organization_name}}</a>{{#if @last}}.{{else}}, {{/if}}{{/each}}
        </p>
      </div>
    </div>
  </div>
</section>
{{/if}}



{{#ifCond type '!=' 'companies'}}
{{#if result.flags }}
<section class="profile bg-gray" id="evaluacion">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">EVALUACIÓN Y RECOMENDACIONES</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            {{!-- {{format_amount result.amount}} --}}
            Puntaje total: {{ format_score result.flags.0.criteria_score.total_score }}
          </h4>
        </div>
      </div>
      <style media="screen">
      .flags_graph_bar {
      }
      .flag_name {
        float: left;
        line-height: 2em;
      }
      .flag_pole {
        position: relative;
        height: 1.5em;
        margin: 2em 2em 2em 10em;
      }
      .flag_marker {
        position: absolute;
        background: inherit;
        border: 2px solid grey;
        color: #222222;
        margin-top: -1.55em;
        padding: 0.5em;
        border-radius: 3em;
        width: 4.5em;
        height: 4.5em;
        line-height: 3.5em;
        text-align: center;
        margin-left: -2.7em;
        font-weight: bold;
      }
      .flag_total_score {
        background: hsl(1, 100%, 79%);
      }
      .flag_trans {
        background: hsl(214, 56%, 80%);
      }
      .flag_temp {
        background: hsl(30, 100%, 74%);
      }
      .flag_comp {
        background: hsl(110, 57%, 71%);
      }
      .flag_traz {
        background: hsl(274, 31%, 76%);
      }
      .flag_conf {
        background: hsl(10, 29%, 67%);
      }

      /*.flag_total_score {
        background: hsl(1, 100%, 79%);
      }
      .flag_trans {
        background: hsl(214, 56%, 80%);
      }
      .flag_temp {
        background: hsl(196, 89%, 75%);
      }
      .flag_comp {
        background: hsl(183, 83%, 66%);
      }
      .flag_traz {
        background: hsl(161, 89%, 71%);
      }
      .flag_conf {
        background: hsl(30, 100%, 74%);
      }*/

      .flag_pole_min,
      .flag_pole_max {
        background: rgba(0,0,0,0.5);
        height: 1.5em;
        float: left;
      }
      </style>
      <div class="col-12-col-m-12">
        <h3>Gráfico de puntajes de cada categoría</h3>
        {{#each result.flags.0.criteria_score }}
        <div class="flags_graph_bar">
          <div class="flag_name">
            {{flag_name @key}}
          </div>
          <div class="flag_pole flag_{{@key}}">
            <div class="flag_pole_min" style="width: {{format_score this}}">

            </div>

            <div class="flag_pole_max" style="width: {{format_score (100-this)}}">

            </div>
            <div class="flag_marker" style="left: {{format_score this}}">
              {{format_score this}}
            </div>
          </div>
        </div>

        {{/each}}
      </div>
      <div class="col-12-col-m-12 mt-60">
        {{# each (flag_recommendations result.flags flag_count) }}
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> {{category}}</p>
          <p><b>Nombre:</b> {{name}}</p>
          <p><b>Puntaje:</b> {{format_score score }}</p>
          <p><b>Recomendación:</b> {{text}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12 mt-2">
        <h3>Solicitar más información</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <form class="sendinfo-form mt-2">
          <fieldset>
            <div class="form-group" data-required="true">
              <label for="name" class="control-label"><b>Nombre</b></label>
              <input type="text" name="name" id="name" maxlength="50" class="form-control">
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="institution" class="control-label"><b>Institución</b></label>
              <input type="text" name="subject" id="institution" class="form-control">
              <span class="help-block"></span>
            </div>
            <div class="form-group" data-required="true">
              <label for="email" class="control-label"><b>Correo electrónico</b></label>
              <input id="email" type="email" name="contact-email" class="form-control">
              <span class="help-block"></span>
            </div>
          </fieldset>
          <input id="uc_id_message" type="hidden" name="message" value="{{result.id}}">
          <div class="centered">
              <button id="send_info_uc" type="submit" class="btn contact-submit">Enviar</button>
          </div>
        </form>
        <div id="thanks-column" style="display: none;" class="mt-2">
          <h4>Mensaje enviado</h4>
          <p>Muchas gracias, pronto le enviaremos la información correspondiente.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{/ifCond}}

{{> send_info_form}}
<script>
  const summaries = {{{j result.summaries}}}
</script>
<script src="/javascripts/d3.v4.js"></script>
<script>
  let d4 = d3;
</script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script>
