<section class="profile">
  <div class="row">
    <div class="container mt-2">
      <div class='datos-generales clearfix'>
        <div class="gd-col-left-wrapper col-m-12">
          {{!-- {{#if result.title }} --}}
            <div class="description-data-title">
              <h3>
                <img src="../images/icons/{{#ifCond type '==' 'person'}}persona-gray.svg{{/ifCond}}{{#ifCond type '==' 'institution'}}institucion-gray.svg{{/ifCond}}{{#ifCond type '==' 'company'}}empresa-gray.png{{/ifCond}}" class="icon-lf">
                {{ result.name}}
                <h4 class="contract-type">
                  {{#ifCond type '==' 'person'}}
                    Proveedor(a)
                  {{/ifCond}}
                  {{#ifCond type '==' 'institution'}}
                    Institución pública o empresa productiva del estado
                  {{/ifCond}}
                  {{#ifCond type '==' 'company'}}
                    Empresa o asociación civil
                  {{/ifCond}}
                </h4>
              </h3>
            </div>
          {{!-- {{/if}} --}}
        </div>
      </div>
      <div class="col-12 col-m-12 ">
        <hr>
      </div>
      <div class="col-12 col-m-12 text-center">
        <div id="profile-menu">
          <ul>
            <li>
              <a href="#informacion-general" class="page-scroll button-link">
                Información General
              </a>
            </li>
            <li>
              <a href="#evolucion-contratos" class="page-scroll button-link">
                Evolución de contratos
              </a>
              
            </li>
            <li>
              <a href="#compradores" class="page-scroll button-link">
                Compradores
              </a>
            </li>
            {{!-- <li>
              <a href="#vendedores" class="page-scroll button-link">
                Vendedores
              </a>
            </li> --}}
            <li>
              <a href="#contratos" class="page-scroll button-link">
                Contratos
              </a>
            </li>
            <li>
              <a href="#uc" class="page-scroll button-link">
                Unidades Compradoras
              </a>
            </li>
            {{#ifCond type '!=' 'company'}}
            <li>
              <a href="#evaluacion" class="page-scroll button-link evaluacion">
                <img src="../images/evaluacion.svg" alt="evaluacion">Evaluación y recomendaciones
              </a>
            </li>
            {{/ifCond}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="informacion-general">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12 mb-3">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">INFORMACIÓN GENERAL</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
            {{else}}
              {{#if result.contract_amount.supplier}}
                {{format_amount result.contract_amount.supplier}}
              {{/if}}
              {{#if result.contract_amount.buyer}}
                {{format_amount result.contract_amount.buyer}}
              {{/if}}
            {{/ifCond}}
            
          </h4>
          {{!-- {{format_currency result.currency}} --}}
        </div>
      </div>
      <div class="col-12 col-m-12">
        {{#ifCond type '==' 'company'}}
          {{#if result.contract_count.supplier}}
            <div class="col-m-4 col-4">
              <p class="js-title-data">Número de contratos como proveedor</p>
              <p class="js-data">{{result.contract_count.supplier}}</p>
            </div>
          {{/if}}
          {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
            <div class="col-m-4 col-4">
              <p class="js-title-data">Suma de contratos como comprador</p>
              <p class="js-data">{{format_amount result.contract_amount.buyer}}</p>
            </div>
            <div class="col-m-4 col-4">
              <p class="js-title-data">Suma de contratos como proveedor</p>
              <p class="js-data">{{format_amount result.contract_amount.supplier}}</p>
            </div>
          {{/ifCond}}

          {{#if result.contract_count.buyer}}
            <div class="col-m-4 col-4">
              <p class="js-title-data">Número de contratos como comprador</p>
              <p class="js-data">{{result.contract_count.buyer}}</p>
            </div>
          {{/if}}
          {{#if result.contract_count.supplier}}
            <div class="col-m-4 col-4">
              <p class="js-title-data">Número de contratos como comprador</p>
              <p class="js-data">{{result.contract_count.supplier}}</p>
            </div>
          {{/if}}
          {{#if result.date}}
            <div class="col-m-4 col-4">
              <p class="js-title-data">Fecha de actualización</p>
              <p class="js-data">{{result.date}}</p>
            </div>
          {{/if}}
        {{/ifCond}}
        
      </div>
      {{!-- {{/if}} --}}
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="evolucion-contratos">
  <div class="row">
    <div class="container">
        <div  class="col-m-12 col-6">
          <h4 class="description-data-subtitle">EVOLUCIÓN DE CONTRATOS</h4>
          <div id="chart">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-6">
          <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
          <div id="piechart">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-12 mt-60">
          <h4 class="description-data-subtitle">FLUJOS DE DINERO</h4>
          <div id="graph-container">
          </div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
    </div>
  </div>
</section>
<section class="profile" id="compradores">
  <div class="row">
    <div class="container">
      {{#if result.public}}
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">PROVEEDORES PRINCIPALES</h4>
        {{#each result.supplierSummary }}
        <p class="principal-suppliers">
          <a href="/orgs/{{!-- {{simpleName supplier}} --}}"><img src="../images/icons/empresa-gray.svg" alt="organización" class="icon-lf icon-lf-organization">
            {{supplierSummary}}
          </a>
        </p>
        {{/each}}
      </div>
      {{else}}
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">COMPRADORAS PRINCIPALES</h4>
        {{#each dependencySummary }}
        <p class="principal-suppliers"><a href="/orgs/{{!-- {{simpleName dependency}} --}}"><img src="../images/icons/dependencia-blue.svg" alt="organización" class="icon-lf icon-lf-organization">
          {{dependency}}
        </a></p>
        {{/each}}
      </div>
      {{/if}}
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="contratos">
  <div class="row">
    <div class="container">
      {{# if result.contracts.buyer.length }}
      <div class="col-m-12 col-12 mt-2">
        <h4 class="description-data-subtitle">CONTRATOS COMPRADOR</h4>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="description-data-subname">Nombre</th>
              <th class="description-data-subname">Importe</th>
              <th class="description-data-subname">Periodo</th>
            </tr>
          </thead>
          <tbody>
            {{#each result.contracts.buyer }}
            <tr>
              <td class="description-data-contract">
                <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                <a href="/contracts/{{ocid}}">{{title}}</a>
              </td>
              <td class="description-data-amount">{{ format_amount amount}} {{format_currency currency}}</td>
              <td class="description-data-date">{{get_year contract.contracts.[0].period.startDate}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-m-12 mb-12">
        <p>Viendo hasta 3 de <strong>{{result.ocds_contract_count}} contrato(s) en total</strong>. </p>
        <div class="col-m-3 centered contract-button">
          <a href="/contracts?{{#if result.public }}filter_buyer.name={{result.name}}{{else}}filter_contracts.0.suppliers={{result.simple}}{{/if}}" class="button-link">Ver todos los contratos</a>
        </div>
      </div>
      {{/if}}
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="uc">
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12">
        <h4 class="description-data-subtitle">UNIDADES COMPRADORAS</h4>
        <ul>
          <li><a href="">Unidad Compradora</a></li>
        </ul>
      </div>
      {{!-- <div class="col-12 col-m-12 mt-2">
        <hr>
      </div> --}}
    </div>
  </div>
</section>
<section class="profile bg-gray" id="evaluacion">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">EVALUACIÓN Y RECOMENDACIONES</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            {{!-- {{format_amount result.amount}} --}}
            TOTAL SCORE: 0.3
          </h4>
        </div>
      </div>
      <div class="col-12-col-m-12">
        <h3>Gráfico de puntajes de cada categoría</h3>
      </div>
      <div class="col-12-col-m-12 mt-60">
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> Texto</p>
          <p><b>Nombre:</b> Texto</p>
          <p><b>Puntaje:</b> Texto</p>
          <p><b>Recomendación:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero quam corporis, omnis id, tenetur totam ipsam sed debitis, eos, repudiandae! Eius facere repellendus, reprehenderit voluptate obcaecati at odit illo.</p>
        </div>
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> Texto</p>
          <p><b>Nombre:</b> Texto</p>
          <p><b>Puntaje:</b> Texto</p>
          <p><b>Recomendación:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero quam corporis, omnis id, tenetur totam ipsam sed debitis, eos, repudiandae! Eius facere repellendus, reprehenderit voluptate obcaecati at odit illo.</p>
        </div>
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> Texto</p>
          <p><b>Nombre:</b> Texto</p>
          <p><b>Puntaje:</b> Texto</p>
          <p><b>Recomendación:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero quam corporis, omnis id, tenetur totam ipsam sed debitis, eos, repudiandae! Eius facere repellendus, reprehenderit voluptate obcaecati at odit illo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{> send_info_form}}

<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/d3plus.full.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script>