<script src="/tiza/tiza.js"></script>

<section class="profile-header">
  <div class="wrap bg-white" id="wrap">
    <div class="description-data-title">
      <h3 title="{{ result.name}}" style="word-break: break-word;">
        {{{ get_classification_icon result.classification result.subclassification result.govLevel}}}
         {{!-- Type --}}
        <a href="{{url view="buscador" collection=type subtipo=result.subclassification}}">{{ get_classification_name type result.classification result.subclassification result.govLevel }}</a>

        {{#ifCond result.classification "==" "country" }}
          {{translate_area result.id }}
        {{else}}
          {{result.name}}
        {{/ifCond}}
        {{!-- Area --}}
        {{#each result.area }}
          {{#if id }}
            {{#ifCond @key "==" 0}}en{{else}},{{/ifCond}}
            <a href="{{url view="regiones/:id" _id=id}}">
              {{translate_area name}}
            </a>
          {{/if}}
        {{/each}}
      </h3>
    </div>
    <div class="right-box ml-auto filters">
      <ul class="nav nav-pills d-flex flex-nowrap">
        {{>utilities api_url=result.api_url share_url=share_url api_summary_url=result.api_summary_url title=result.name }}
      </ul>
    </div>
    <nav id="right-menu">
      <ul class="right-menu-profile nav d-flex flex-nowrap">
        {{!-- SHORT memberships --}}
        {{#if result.memberships.parent}}
        {{#each result.memberships.parent }}
        {{#ifCond memberships.length "<=" 2 }}
          <li>
            <a href="#memberships-parent-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}
        {{#if result.memberships.child}}
        {{#each result.memberships.child }}
        {{#ifCond memberships.length "<=" 2 }}
          <li>
            <a href="#memberships-child-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}
        {{!-- Summaries --}}
        {{#if summaries.buyer.total.count }}
        <li>
          <a href="#summary-buyer" class="anchor">
            <i class="fas fa-money-check-alt"></i> {{_ "Compras"}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.supplier.total.count }}
        <li>
          <a href="#summary-supplier" class="anchor">
            <i class="fas fa-dolly"></i> {{{_ "Proveedor"}}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.funder.total.count }}
        <li>
          <a href="#summary-funder" class="anchor">
            <i class="fas fa-donate"></i> {{{_ "Financiación"}}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.contactPoint.total.count }}
        <li>
          <a href="#summary-contactPoint" class="anchor">
            {{!-- {{{get_role_icon this.role this.directionality}}} {{get_role_name this.role this.directionality}} --}}
            <i class="fas fa-shopping-cart"></i>{{_ "Punto de contacto"}}
          </a>
        </li>
        {{/if}}
        {{#ifCond summaries.relation.nodes.length ">" 0}}
        <li>
          <a href="#flujos-monetarios" class="anchor">
            <i class="fas fa-chart-pie"></i> {{{_ "Flujos monetarios"}}}
          </a>
        </li>
        {{/ifCond}}
        {{#if result.summaries.classification }}
        <li>
          <a href="#areas-summaries" class="anchor">
            <i class="fas fa-chart-pie"></i> {{{_ "Resúmen de entidades del área"}}}
          </a>
        </li>
        {{/if}}
        {{!-- Flags --}}
        {{#ifCond type '!=' 'companies'}}
        {{#if result.flags }}
        <li>
          <a href="#evaluacion" class="anchor evaluacion">
            <i class="fas fa-file-signature"></i> {{{_ "Evaluación"}}}
          </a>
        </li>
        {{/if}}
        {{/ifCond}}
        {{!-- LONG memberships --}}
        {{#if result.memberships.parent}}
        {{#each result.memberships.parent }}
        {{#ifCond memberships.length ">" 2 }}
          <li>
            <a href="#memberships-parent-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}
        {{#if result.memberships.child}}
        {{#each result.memberships.child }}
        {{#ifCond memberships.length ">" 2 }}
          <li>
            <a href="#memberships-child-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}

        {{#if result.area.length }}
        <li>
          <a href="#ubicacion" class="anchor">
            <i class="fas fa-map-marker"></i> {{{_ "Ubicacion"}}}
          </a>
        </li>
        {{/if}}
        {{#if (lookup notas result.id) }}
        <li>
          <a href="#notas" class="anchor">
            <i class="far fa-newspaper"></i> {{{_ "Notas"}}}
          </a>
        </li>
        {{/if}}

        <li>
          <a href="#informacion-general" class="anchor">
            <i class="fas fa-folder-open"></i> {{{_ "Información"}}}
          </a>
        </li>

      </ul>
    </nav>
  </div>
</section>

<div class="first-profile-section">
{{!-- SHORT memberships --}}
{{#each result.memberships.parent }}
    {{#ifCond memberships.length "<=" 2 }}
      <section class="profile profile-memberships" id="memberships-parent-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}
{{#each result.memberships.child }}
    {{#ifCond memberships.length "<=" 2 }}
      <section class="profile profile-memberships" id="memberships-child-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}


{{!-- SUMMARIES --}}
{{#if summaries.buyer.total.count }}
{{>summary result=result summary="buyer" data=summaries.buyer }}
{{/if}}


{{#if summaries.contactPoint.total.count }}
{{>summary result=result summary="contactPoint" data=summaries.contactPoint }}
{{/if}}

{{#if summaries.supplier.total.count }}
{{>summary result=result summary="supplier" data=summaries.supplier }}
{{/if}}

{{#if summaries.funder.total.count }}
{{>summary result=result summary="funder" data=summaries.funder }}
{{/if}}


{{#ifCond summaries.relation.nodes.length ">" 0}}
<section class="profile" id="flujos-monetarios">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <h4 class="description-data-subtitle">
          {{{_ "Flujos monetarios"}}}
        </h4>
      </div>
      <div class="col-md-12 col-12">
        <div id="graph-container"></div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

{{#ifCond summaries.relation.nodes.length ">" 0 }}
<script>
  tiza.moneyFlow({target: "graph-container", data: {{{j summaries.relation}}} });

</script>
{{/ifCond }}


{{!-- areas summaries --}}
{{#if result.summaries.classification }}
<section class="profile" id="areas-summaries">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "Resúmen de entidades del área"}}}</h4>
      </div>
      <div  class="col-md-12 col-12">
        <div class="row">
          {{#each result.summaries.classification}}
          <div class="col-lg-4 mb-3">
            <div class="card-border explore-card">
              <div class="card-pad text-center">
                <h5>
                  <strong>
                    {{format_number this}}
                  </strong>
                </h5>
                <h5 class="card-h3">
                                  <a href="
                {{#ifCond ../result.classification "==" "country"}}
                  {{url view="buscador" collection=(get_classification_type @key) sort-cpi="" sort-a="" tipo-entidad=@key pais=../result.id}}
                {{/ifCond}}
                {{#ifCond ../result.classification "==" "state"}}
                  {{url view="buscador" collection=(get_classification_type @key) sort-cpi="" sort-a="" tipo-entidad=@key estado=../result.id}}
                {{/ifCond}}
                {{#ifCond ../result.classification "==" "city"}}
                  {{url view="buscador" collection=(get_classification_type @key) sort-cpi="" sort-a="" tipo-entidad=@key ciudad=../result.id}}
                {{/ifCond}}
                " title="{{format_number this}} {{_ @key }}">
                {{{ get_classification_icon @key }}} {{_ @key }}
                </a>

                </h5>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{/if}}


{{!-- FLAGS --}}
{{#ifCond type '!=' 'companies'}}
{{#if result.flags }}
<section class="profile" id="evaluacion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-file-signature"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "EVALUACIÓN Y RECOMENDACIONES"}}}</h4>
      </div>
      <div  class="col-md-12 col-12">
        <div class="row">
          <div class="col-md-12 col-12 text-center">
            <h4 class="amount-data">
              {{{_ "Puntaje total:"}}} {{ format_score result.flags.0.total_score }}
            </h4>
          </div>
          <div class="col-12 col-md-12">
            <p>{{{_ "A partir de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede consultarse en <a href='https://www.TodosLosContratos.mx/#metodologia'>TodosLosContratos.mx</a>"}}}.</p>
          </div>
        </div>
        <div class="col-12-col-md-12">
          {{#each (get_party_categories result.flags.[0]) }}
          <div class="flags_graph_bar">
            <div class="flag_name">
               {{#with (flag_name @key) }}
                  {{name}}
                  <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                    <i class="fas fa-info-circle"></i>
                  </a>
               {{/with}}
            </div>
              <div class="flag_pole flag_{{@key}}">
                <div class="flag_pole_min" style="width: {{format_score (party_category_min @key)}}">
                </div>
                <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (party_category_max @key))}}">
                </div>
                <div class="flag_marker" style="left: {{format_score this}}">
                  {{format_score this}}
                </div>
              </div>
          </div>
          {{/each}}
          <div class="col-12 col-md-12 mt-60">
            {{# each (flag_recommendations result.flags flag_count) }}
            <div class="col-12 col-md-6 category-profile">
              <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
              <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
              <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
              <p><b>{{{_ "Recomendación"}}}:</b> {{uc_string}}</p>
            </div>
            {{/each}}
          </div>
      </div>
      <div class="col-12 col-md-12 text-center">
          <button class="btn button-link" onclick="$('#profile-send-info').toggle()">{{{_ "Solcitar informe detallado"}}}</button>
      </div>
      </div>
    </div>
    <div class="row" style="display: none" id="profile-send-info">
      <div  class="col-md-12 col-12">
        <div  class="">
          <h5 class="description-data-subname">{{{_ "Solicitar más información"}}}</h5>
          <p>{{{_ "Con el objetivo de que las dependencias y las Unidades Compradoras puedan mejorar la calidad de los datos de contrataciones destacamos las tres banderas que dieron un resultado más bajo y como pueden mejorar. Para tener la lista completa contáctanos a través del formulario."}}} </p>
          <form class="sendinfo-form mt-2">
            <fieldset>
              <div class="form-group" data-required="true">
                <label for="name" class="control-label"><b>{{{_ "Nombre"}}}</b></label>
                <input type="text" name="name" id="name" maxlength="50" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="institution" class="control-label"><b>{{{_ "Institución"}}}</b></label>
                <input type="text" name="subject" id="institution" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group" data-required="true">
                <label for="email" class="control-label"><b>{{{_ "Correo electrónico"}}}</b></label>
                <input id="email" type="email" name="contact-email" class="form-control">
                <span class="help-block"></span>
              </div>
            </fieldset>
            <input id="uc_id_message" type="hidden" name="message" value="{{result.id}}">
            <div class="text-center">
                <button id="send_info_uc" type="submit" class="btn button-link contact-submit">{{_ "Enviar"}}</button>
            </div>
          </form>
          <div id="thanks-column" style="display: none;" class="mt-2">
            <h4>{{{_ "Mensaje enviado"}}}</h4>
            <p>{{{_ "Muchas gracias, pronto le enviaremos la información correspondiente."}}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{/ifCond}}


{{!-- LONG memberships --}}
{{#each result.memberships.parent }}
    {{#ifCond memberships.length ">" 2 }}
      <section class="profile profile-memberships" id="memberships-parent-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}
{{#each result.memberships.child }}
    {{#ifCond memberships.length ">" 2 }}
      <section class="profile profile-memberships" id="memberships-child-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}

{{#if result.area.length }}
<section class="profile" id="ubicacion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-map-marker"></i>
        </div>
        <h4 class="description-data-subtitle"> {{{_ "Ubicación"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          {{#each result.area }}
              <div class="col-md-1 col-1 pd-nonleft">
                <p class="js-title-data">
                  {{#ifCond classification '==' 'country'}}{{{_ "País"}}}
                    {{#ifCond subclassification '==' 'country-born'}}{{{_ "de nacimiento"}}}{{/ifCond}}
                    {{#ifCond subclassification '==' 'country-of-residence'}}{{{_ "de residencia"}}}{{/ifCond}}
                  {{/ifCond}}
                  {{#ifCond classification '==' 'city'}}{{{_ "Ciudad"}}}{{/ifCond}}
                  {{#ifCond classification '==' 'region'}}{{{_ "Región"}}}{{/ifCond}}
                  {{#ifCond classification '==' 'state'}}{{{_ "Estado"}}}{{/ifCond}}
                </p>
                <p class="js-data">
                  <a href="{{url view="areas/:id" _id=id }}">
                    {{translate_area name}}
                  </a>
                </p>
              </div>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

</section>
{{/if}}

{{!-- Notas --}}
{{#if (lookup notas result.id) }}
<section class="profile" id="notas">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="far fa-newspaper"></i>
        </div>
        <h4 class="description-data-subtitle"> {{{_ "Notas"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          {{#each (lookup notas result.id) }}
              <div class="col-md-6 col-12">
                <div class="profile-news-container">
                  <a href="{{url}}" class="profile-news-title">
                    {{titulo}}
                  </a>
                  <p class="profile-news-info">
                      {{medio}} {{fecha}} por {{autor}}
                  </p>
                  <p class="profile-news-text">
                      {{explicacion_es}}
                  </p>
                  <div class="text-center">
                    <a href="{{this.url}}" class="btn btn-primary">
                      LEER NOTA
                    </a>
                  </div>
                </div>
              </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</section>
{{/if}}

{{!-- info --}}
<section class="profile" id="informacion-general">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-folder-open"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "INFORMACIÓN GENERAL"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">

          {{#if result.other_names.length }}
            <div class="col-md-6 col-12 pd-nonleft">
              <p class="js-title-data">{{{_ "Nombres alternativos"}}}</p>
              <ul class="js-data">
                {{#each result.other_names}}
                <li class="">
                    {{name}}
                </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}


          {{#if result.subclassification}}
            <div class="col-md-3 col-12">
              <p class="js-title-data">{{{_ "Tipo de entidad"}}}</p>
              <p class="js-data">{{_ result.subclassification}}</p>
            </div>
          {{/if}}

          {{#if result.identifiers }}
            <div class="col-md-3 col-12 pd-nonleft">
              <p class="js-title-data">{{{_ "Identificadores"}}}</p>
              {{#each result.identifiers}}
                <p class="js-data">
                  {{#ifCond identifier '!=' '#ĦVALOR!'}}
                    {{#ifCond scheme '!=' 'CIQ'}}
                      {{scheme}}: {{id}}{{identifier}}
                    {{/ifCond}}
                  {{/ifCond}}

                  {{#ifCond scheme '==' 'RUPC'}} <i class="fa fa-info" data-toggle="tooltip" data-placement="right" title="{{{_ "Folio asignado por la SFP a la persona física o moral que fue inscrita al Registro Único de Registro Único de Proveedores y Contratistas (RUPC) por un ente público con el que celebró algún contrato"}}}"></i>{{/ifCond}}
                {{/each}}</p>
            </div>
          {{/if}}

          {{#if result.links}}
            <div class="col-md-6 col-12 pd-nonleft">
              <p class="js-title-data">{{{_ "Link(s)"}}}</p>
              {{#each result.links}}
                {{#with (fix_url this.id) }}
                  <p class="js-data"><a href="{{href}}" target="_blank"> <i class="fas fa-external-link-alt"></i> {{ host }}</a></p>
                {{/with}}
              {{/each}}
            </div>
          {{/if}}
        </div>

        <div class="row flex">
          {{#if result.date}}
            <div class="col-md-3 col-12 pd-nonleft">
              <p class="js-title-data">{{{_ "Fecha de actualización"}}}</p>
              <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
            </div>
          {{/if}}

          {{#if result.source}}
            <div class="col-md-4 col-12 pd-nonleft">
              <p class="js-title-data">{{{_ "Fuente(s)"}}}</p>
              <p class="js-data">{{#each result.source}} <a href="{{ url view="entidades-y-fuentes" _anchor=this.id }}">{{_ this.id}}</a> <i class="fas fa-info-circle text-gray" title="{{{ get_source_description this.id }}}" data-placement="right"></i>  {{#if @last}}{{else}}, {{/if}}{{/each}}</p>
            </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>

</section>

</div>
{{> report_modals }}

{{> how-use-data-modal api_url=result.api_url title=result.name }}
