<section class="profile">
  <div class="row">
    <div class="container mt-1">
      <div class="breadcrumb">
        <h4>
            <a href="/">Inicio</a> >
            {{#ifCond type '==' 'persons'}}
              <a href="/personas">Personas y proveedores</a>
            {{/ifCond}}
            {{#ifCond type '==' 'institutions'}}
              <a href="/instituciones-publicas">
                Instituciones públicas o empresas productivas del estado
              </a>
            {{/ifCond}}
            {{#ifCond type '==' 'companies'}}
            <a href="/empresas">
              Empresas o asociaciones civiles
            </a>
            {{/ifCond}}
        </h4>
      </div>
      <div class='datos-generales clearfix'>
        <div class="gd-col-left-wrapper col-m-12">
            <div class="description-data-title">
              <h3>
                <img src="../images/icons/{{#ifCond type '==' 'persons'}}persona-gray.svg{{/ifCond}}{{#ifCond type '==' 'institutions'}}institucion-gray.svg{{/ifCond}}{{#ifCond type '==' 'companies'}}empresa-gray.png{{/ifCond}}" class="icon-lf">
                {{ result.name}}
              </h3>
            </div>
        </div>
      </div>
      <div class="col-12 col-m-12 ">
        <hr>
      </div>
      <div class="col-12 col-m-12 text-center">
        <div id="profile-menu">
          <ul>
            <li>
              <a href="#informacion-general" class="page-scroll button-link">
                Información
              </a>
            </li>
            <li>
              <a href="#graficas" class="page-scroll button-link">
                Gráficas
              </a>

            </li>
            {{#ifCond type '!=' 'companies'}}
            {{#ifCond result.top3contracts.buyer.length '||' result.summaries.top_suppliers.length}}
            <li>
              <a href="#compras" class="page-scroll button-link">
                Compras
              </a>
            </li>
            {{/ifCond}}
            {{/ifCond}}
            {{#ifCond result.top3contracts.supplier.length '||' result.summaries.top_buyers.length}}
            <li>
              <a href="#proveedor" class="page-scroll button-link">
                Proveedor
              </a>
            </li>
            {{/ifCond}}
            {{#if result.memberships.parent }}
            <li>
              <a href="#parents" class="page-scroll button-link">
                Dependencias
              </a>
            </li>
            {{/if}}
            {{#ifCond type '!=' 'companies'}}
            {{#if result.top3contracts.buyer }}
            {{#if result.flags }}
            <li>
              <a href="#evaluacion" class="page-scroll button-link evaluacion">
                <img src="../images/evaluacion.svg" alt="evaluacion">Evaluación
              </a>
            </li>
            {{/if}}
            {{/if}}
            {{/ifCond}}
            {{#if result.memberships.child }}
            <li>
              <a href="#uc" class="page-scroll button-link">
                Unidades Compradoras
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="informacion-general">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12 mb-2">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">INFORMACIÓN GENERAL</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
            {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
            {{else}}
              {{#if result.contract_amount.buyer}}
              <h4 class="amount-data red-text">
                {{format_amount result.contract_amount.buyer}}
              </h4>
              {{/if}}
              {{#if result.contract_amount.supplier}}
              <h4 class="amount-data green-text">
                {{format_amount result.contract_amount.supplier}}
              </h4>
              {{/if}}
            {{/ifCond}}
        </div>
      </div>
      <div class="col-12 col-m-12 flex">
        {{#if result.contract_count.buyer}}
          <div class="col-m-6 col-6 pd-nonleft">
            <p class="js-title-data">Contratos como comprador</p>
            <p class="js-data">Cantidad: {{result.contract_count.buyer}}. Importe: <span class="red-text">{{format_amount result.contract_amount.buyer}}</span> MXN</p>
          </div>
        {{/if}}
        {{#if result.contract_count.supplier}}
          <div class="col-m-6 col-6 pd-nonleft">
            <p class="js-title-data">Contratos como proveedor</p>
            <p class="js-data">Cantidad: {{result.contract_count.supplier}}. Importe: <span class="green-text">{{format_amount result.contract_amount.supplier}}</span> MXN</p>
          </div>
        {{/if}}
        {{#if result.date}}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Fecha de actualización</p>
            <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
          </div>
        {{/if}}
        {{#if result.identifiers }}
          <div class="col-m-4 col-4 pd-nonleft">
            <p class="js-title-data">Identificadores</p>
            <p class="js-data">{{#each result.identifiers}}{{scheme}}: {{identifier}}{{/each}}</p>
          </div>
        {{/if}}
        {{#if result.source}}
          <div class="col-m-2 col-2 pd-nonleft">
            <p class="js-title-data">Fuente(s)</p>
            <p class="js-data">{{#each result.source}}{{this}}{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
          </div>
        {{/if}}
        {{#ifCond type '==' 'persons'}}
          <div class="col-12 col-m-12">
            <p class="description-data-amount">Ésta persona es (o ha sido) responsable de una Unidad Compradora y con el objetivo de brindar la máxima información disponible lo mostramos como comprador a todos los contratos que sucedieron bajo su mandato.</p>
          </div>
        {{/ifCond}}
        {{#ifCond result.subclassification '==' 'banco'}}
          {{#if result.source}}
            <div class="col-m-2 col-2">
              <p class="js-title-data">Tipo de entidad</p>
              <p class="js-data">{{result.subclassification}}</p>
            </div>
          {{/if}}
          <div class="col-12 col-m-12 mt-1">
            <p class="description-data-amount">Los bancos de inversión no realizan compras públicas en en México, los importes que tiene como comprador son de aquellos contratos en los que aportó capital para su realización.</p>
          </div>
        {{/ifCond}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="graficas">
  <div class="row">
    <div class="container">
        <div  class="col-m-12 col-6">
          <h4 class="description-data-subtitle">EVOLUCIÓN ANUAL DE CONTRATOS</h4>
          <div id="chart">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-6">
          <h4 class="description-data-subtitle">TIPO DE PROCEDIMIENTO</h4>
          <div id="piechartBuyer">
            {{#if svg}}
            Comprador
            {{/if}}
          </div>
          <div id="piechartSupplier">
            {{#if svg}}
            Vendedor
            {{/if}}
          </div>
        </div>
        <div class="col-m-12 col-12 mt-60">
          <h4 class="description-data-subtitle">FLUJOS DE DINERO</h4>
          <div id="graph-container">
          </div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
    </div>
  </div>
</section>
{{#ifCond type '!=' 'companies'}}
{{#ifCond result.top3contracts.buyer.length '||' result.summaries.top_suppliers.length}}
<section class="profile" id="compras">
  <div class="row">
    <div class="container">
      <h4 class="description-data-subtitle red-text">COMPRAS</h4>
      {{#if result.top3contracts.buyer}}
      <div class="col-m-12 col-12">
        <h5 class="description-data-subtitle">Contratos de compra</h5>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="description-data-subname">Nombre</th>
              <th class="description-data-subname">Importe</th>
              <th class="description-data-subname">Periodo</th>
            </tr>
          </thead>
          <tbody>
            {{#each result.top3contracts.buyer }}
            <tr>
              <td class="description-data-contract">
                <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                <a href="/contratos/{{encode compiledRelease.ocid}}">{{compiledRelease.contracts.0.title}}</a>
              </td>
              <td class="description-data-amount">{{format_amount compiledRelease.total_amount}} {{format_currency compiledRelease.contracts.0.value.currency}}</td>
              <td class="description-data-date">{{moment compiledRelease.contracts.0.period.startDate date lang="es" format="YYYY"}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-m-12 mb-12 mb-5">
        {{#ifCond result.contract_count.buyer '>' 3}}
        <p>Viendo hasta 3 de <strong>{{result.contract_count.buyer}} contrato(s) en total</strong>.</p>
        <div class="contract-button">
          <a href="/contratos?dependencia={{result.name}}" class="button-link buyer-button">Ver todos los contratos</a>
        </div>
        {{else}}
          <p>Viendo <strong>{{result.contract_count.buyer}} contrato(s) en total</strong>. </p>
        {{/ifCond}}
      </div>
      {{/if}}
    </div>
  </div>

{{#if result.summaries.top_suppliers }}
  <div class="row">
    <div class="container">
      <div class="col-m-12 col-12">
        <h5 class="description-data-subtitle">Proveedores principales</h5>
        {{#each result.summaries.top_suppliers }}
        <p class="description-data-amount"><a href="/{{get_type_url this.details.type}}/{{this.id}}"><img src="../images/icons/empresa-gray.svg" alt="Empresa" class="icon-lf icon-lf-organization">
          {{this.name}}</a> - {{format_amount contract_amount_top_supplier}} pesos mexicanos</p>
        {{/each}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
{{/if}}
</section>
{{/ifCond}}
{{/ifCond}}

{{#ifCond result.top3contracts.supplier.length '||' result.summaries.top_buyers.length}}
<section class="profile" id="proveedor">
  <div class="row">
    <div class="container">
      <h4 class="description-data-subtitle green-text">PROVEEDOR</h4>
      {{#if result.top3contracts.supplier }}
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">Contratos como proveedor</h4>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="description-data-subname">Nombre</th>
              <th class="description-data-subname">Importe</th>
              <th class="description-data-subname">Periodo</th>
            </tr>
          </thead>
          <tbody>
            {{#each result.top3contracts.supplier }}
            <tr>
              <td class="description-data-contract">
                <img src="../images/icons/contrato-blue.svg" alt="Ícono contrato" class="icon-lf icon-lf-contract">
                <a href="/contratos/{{encode compiledRelease.ocid}}">{{compiledRelease.contracts.0.title}}</a>
              </td>
              <td class="description-data-amount">{{format_amount compiledRelease.total_amount}} {{format_currency compiledRelease.contracts.0.value.currency}}</td>
              <td class="description-data-date">{{moment compiledRelease.contracts.0.period.startDate date lang="es" format="YYYY"}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-m-12 mb-12 mb-5">
        {{#ifCond result.contract_count.supplier '>' 3}}
        <p>Viendo hasta 3 de <strong>{{result.contract_count.supplier}} contrato(s) en total</strong>.</p>
        <div class="contract-button">
          <a href="/contratos?proveedor={{result.name}}" class="button-link supplier-button">Ver todos los contratos</a>
        </div>
        {{else}}
          <p>Viendo <strong>{{result.contract_count.supplier}} contrato(s) en total</strong>. </p>
        {{/ifCond}}
      </div>
      {{/if}}
    </div>
  </div>
{{#if result.summaries.top_buyers }}
  <div class="row">
    <div class="container">
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">Principales dependencias a las que provee</h4>
        {{#each result.summaries.top_buyers }}
        <p class="description-data-amount"><a href="/{{get_type_url this.details.type}}/{{this.memberOf.0.id}}"><img src="../images/icons/dependencia-gray.svg" alt="Institución pública" class="icon-lf icon-lf-organization">
          {{this.memberOf.0.name}} ({{this.name}})</a> - {{format_amount contract_amount_top_buyer}} pesos mexicanos</p>
        {{/each}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
  {{/if}}
</section>
{{/ifCond}}

{{#if result.memberships.parent}}
<section class="profile" id="parents">
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12">
        <h4 class="description-data-subtitle">Dependencia de la que forma parte</h4>
        <p>
          Esta institución es una {{result.memberships.parent.0.role}} de: {{#each result.memberships.parent}}<a href="/{{get_type_url this.parent_class}}/{{this.parent_id}}">{{this.parent_name}}</a>,{{#if @last}}.{{else}}, {{/if}}{{/each}}
        </p>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{#ifCond type '!=' 'companies'}}
{{#if result.top3contracts.buyer}}
{{#if result.flags }}
<section class="profile bg-gray" id="evaluacion">

  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">EVALUACIÓN Y RECOMENDACIONES</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            Puntaje total: {{ format_score result.flags.0.total_score }}
          </h4>
        </div>
        <div class="col-12 col-m-12">
          <p>A partir de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede consultarse en <a href="https://www.TodosLosContratos.mx/#metodologia">TodosLosContratos.mx</a>.</p>
        </div>
      </div>
      <div class="col-12-col-m-12">
        {{#each (get_party_categories result.flags.[0]) }}
        <div class="flags_graph_bar">
          <div class="flag_name">
             {{#with (flag_name @key) }}
                {{name}} <a data-toggle="tooltip" data-placement="right" title="{{info}}"><img src="../images/icons/info.svg" alt="icon" class="info-icon"></a>
             {{/with}}
          </div>
            <div class="flag_pole flag_{{@key}}">
              <div class="flag_pole_min" style="width: {{format_score (party_category_min @key)}}">
              </div>
              <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (party_category_max @key))}}">
              </div>
              <div class="flag_marker" style="left: {{format_score this}}">
                {{format_score this}}
              </div>
            </div>
        </div>
        {{/each}}
      </div>
      <div class="col-12-col-m-12 mt-60">
        {{# each (flag_recommendations result.flags flag_count) }}
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> {{category}}</p>
          <p><b>Problema:</b> {{description}}</p>
          <p><b>Puntaje:</b> {{format_score score }}</p>
          <p><b>Recomendación:</b> {{uc_string}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12 mt-2">
        <h3>Solicitar más información</h3>
        <p>Con el objetivo de que las dependencias y las Unidades Compradoras puedan mejorar la calidad de los datos de contrataciones destacamos las tres banderas que dieron un resultado más bajo y como pueden mejorar. Para tener la lista completa contáctanos a través del formulario. </p>
        <form class="sendinfo-form mt-2">
          <fieldset>
            <div class="form-group" data-required="true">
              <label for="name" class="control-label"><b>Nombre</b></label>
              <input type="text" name="name" id="name" maxlength="50" class="form-control">
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="institution" class="control-label"><b>Institución</b></label>
              <input type="text" name="subject" id="institution" class="form-control">
              <span class="help-block"></span>
            </div>
            <div class="form-group" data-required="true">
              <label for="email" class="control-label"><b>Correo electrónico</b></label>
              <input id="email" type="email" name="contact-email" class="form-control">
              <span class="help-block"></span>
            </div>
          </fieldset>
          <input id="uc_id_message" type="hidden" name="message" value="{{result.id}}">
          <div class="centered">
              <button id="send_info_uc" type="submit" class="btn contact-submit">Enviar</button>
          </div>
        </form>
        <div id="thanks-column" style="display: none;" class="mt-2">
          <h4>Mensaje enviado</h4>
          <p>Muchas gracias, pronto le enviaremos la información correspondiente.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{/if}}
{{/ifCond}}

{{#if result.memberships.child}}
<section class="profile" id="uc">
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12">
        <h4 class="description-data-subtitle">UNIDADES COMPRADORAS</h4>
        <p>
          Esta institución tiene como {{result.memberships.child.0.role}} a: {{#each result.memberships.child}}
          {{#if this.organization_class }}
          <a href="/{{get_type_url this.organization_class}}/{{this.organization_id}}">{{this.organization_name}}</a>{{#if @last}}.{{else}}, {{/if}}
          {{else}}
          <a href="/{{get_type_url "person"}}/{{this.person_id}}">{{this.person_name}}</a>{{#if @last}}.{{else}}, {{/if}}
          {{/if}}
          {{/each}}
        </p>
      </div>
    </div>
  </div>
</section>
{{/if}}

{{> send_info_form}}
<script>
  const summaries = {{{j result.summaries}}}
</script>
<script src="/javascripts/d3.v4.js"></script>
<script>
  let d4 = d3;
</script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script>
