<section class="profile">
  <div class="row">
    <div class="container mt-2">
      <div class='datos-generales clearfix'>
        <div class="gd-col-left-wrapper col-m-12">
          {{!-- {{#if result.title }} --}}
            <div class="description-data-title">
              <h3>
                <img src="../images/icons/{{#ifCond type '==' 'persons'}}persona-gray.svg{{/ifCond}}{{#ifCond type '==' 'institutions'}}institucion-gray.svg{{/ifCond}}{{#ifCond type '==' 'companies'}}empresa-gray.png{{/ifCond}}" class="icon-lf">
                {{ result.name}}
                <h4 class="contract-type">
                  {{#ifCond type '==' 'persons'}}
                    Proveedor(a)
                  {{/ifCond}}
                  {{#ifCond type '==' 'institutions'}}
                    Institución pública o empresa productiva del estado
                  {{/ifCond}}
                  {{#ifCond type '==' 'companies'}}
                    Empresa o asociación civil
                  {{/ifCond}}
                </h4>
              </h3>
            </div>
          {{!-- {{/if}} --}}
        </div>
      </div>
      <div class="col-12 col-m-12 ">
        <hr>
      </div>
      <div class="col-12 col-m-12 text-center">
        <div id="profile-menu">
          <ul>
            <li>
              <a href="#informacion-general" class="page-scroll button-link">
                Información General
              </a>
            </li>
            <li>
              <a href="#evolucion-contratos" class="page-scroll button-link">
                Evolución de contratos
              </a>

            </li>
            {{#if result.top3contracts.buyer}}
            <li>
              <a href="#compradores" class="page-scroll button-link">
                Compradores
              </a>
            </li>
            {{/if}}
            {{#if result.top3contracts.supplier}}
            <li>
              <a href="#proveedores" class="page-scroll button-link">
                Proveedores
              </a>
            </li>
            {{/if}}
            <li>
              <a href="#contratos" class="page-scroll button-link">
                Contratos
              </a>
            </li>
            <li>
              <a href="#uc" class="page-scroll button-link">
                Unidades Compradoras
              </a>
            </li>
            {{#ifCond type '!=' 'companies'}}
            <li>
              <a href="#evaluacion" class="page-scroll button-link evaluacion">
                <img src="../images/evaluacion.svg" alt="evaluacion">Evaluación y recomendaciones
              </a>
            </li>
            {{/ifCond}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="informacion-general">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12 mb-2">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">INFORMACIÓN GENERAL</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
            {{else}}
              {{#if result.contract_amount.supplier}}
                {{format_amount result.contract_amount.supplier}}
              {{/if}}
              {{#if result.contract_amount.buyer}}
                {{format_amount result.contract_amount.buyer}}
              {{/if}}
            {{/ifCond}}
          </h4>
        </div>
      </div>
      <div class="col-12 col-m-12 flex">
          {{#if result.contract_count.supplier}}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Número de contratos como proveedor</p>
              <p class="js-data">{{result.contract_count.supplier}}</p>
            </div>
          {{/if}}
          {{#if result.contract_count.buyer}}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Número de contratos como comprador</p>
              <p class="js-data">{{result.contract_count.buyer}}</p>
            </div>
          {{/if}}
          {{#if result.date}}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Fecha de actualización</p>
              <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
            </div>
          {{/if}}
          {{#ifCond result.contract_amount.supplier '&&' result.contract_amount.buyer}}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Suma de contratos como proveedor</p>
              <p class="js-data">{{format_amount result.contract_amount.supplier}}</p>
            </div>
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Suma de contratos como comprador</p>
              <p class="js-data">{{format_amount result.contract_amount.buyer}}</p>
            </div>
          {{/ifCond}}
          {{#if result.source}}
            <div class="col-m-4 col-4 pd-nonleft">
              <p class="js-title-data">Fuente(s)</p>
              <p class="js-data">{{#each result.source}}{{this}}{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
            </div>
          {{/if}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
<section class="profile" id="evolucion-contratos">
  <div class="row">
    <div class="container">
        <div  class="col-m-12 col-6">
          <h4 class="description-data-subtitle">EVOLUCIÓN DE CONTRATOS</h4>
          <div id="chart">
            <svg></svg>
          </div>
        </div>
        <div class="col-m-12 col-6">
          <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
          <div id="piechartBuyer">
            {{#if svg}}
            Comprador
            {{/if}}
          </div>
          <div id="piechartSupplier">
            {{#if svg}}
            Vendedor
            {{/if}}
          </div>
        </div>
        {{!-- <div class="col-m-12 col-6">
          <h4 class="description-data-subtitle">TIPO DE CONTRATOS</h4>
          <div class="col-m-6 col-6">
            <div id="piechartBuyer">
            </div>
          </div>
          <div class="col-m-6 col-6">
            <div id="piechartSupplier">
            </div>
          </div>
        </div> --}}
        <div class="col-m-12 col-12 mt-60">
          <h4 class="description-data-subtitle">FLUJOS DE DINERO</h4>
          <div id="graph-container">
          </div>
        </div>
        <div class="col-12 col-m-12 mt-2">
          <hr>
        </div>
    </div>
  </div>
</section>
{{#if result.top3contracts.buyer}}
<section class="profile" id="compradores">
  <div class="row">
    <div class="container">
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">COMPRADORES PRINCIPALES</h4>
        {{#each result.top3contracts.buyer }}
        <p class="principal-suppliers"><a href="/orgs/{{!-- {{simpleName dependency}} --}}"><img src="../images/icons/dependencia-gray.svg" alt="organización" class="icon-lf icon-lf-organization">
          {{dependency}}
        </a></p>
        {{/each}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{#if result.top3contracts.supplier}}
<section class="profile" id="proveedores">
  <div class="row">
    <div class="container">
      <div class="col-m-12 col-12">
        <h4 class="description-data-subtitle">PROVEEDORES PRINCIPALES</h4>
        {{#each result.top3contracts.supplier }}
        <p class="principal-suppliers">
          <a href="/orgs/{{!-- {{simpleName supplier}} --}}"><img src="../images/icons/empresa-gray.png" alt="organización" class="icon-lf icon-lf-organization">
            {{supplier}}
          </a>
        </p>
        {{/each}}
      </div>
      <div class="col-12 col-m-12 mt-2">
        <hr>
      </div>
    </div>
  </div>
</section>
{{/if}}
<section class="profile" id="contratos">
  <div class="row">
    <div class="container">
      {{> top3contracts}}
      <div class="col-12 col-m-12">
        <hr>
      </div>
    </div>
  </div>
</section>
{{!-- {{#if result.memberships.length}} --}}
<section class="profile" id="uc">
  <div class="row">
    <div class="container">
      <div  class="col-m-12 col-12">
        <h4 class="description-data-subtitle">UNIDADES COMPRADORAS</h4>
        {{#if result.memberships.parent}}
        <p>
          Esta institución tiene como {{result.memberships.parent.0.role}} a: {{#each result.memberships.parent}}<a href="/{{this.organization_class}}/{{this.organization_id}}">{{this.organization_name}}</a>,{{#if @last}}.{{else}}, {{/if}}{{/each}}
        </p>
        {{/if}}
        {{#if result.memberships.child}}
        <p>
          Esta institución tiene como {{result.memberships.child.0.role}} a: {{#each result.memberships.child}}<a href="/{{this.organization_class}}/{{this.organization_id}}">{{this.organization_name}}</a>{{#if @last}}.{{else}}, {{/if}}{{/each}}
        </p>
        {{/if}}
      </div>
    </div>
  </div>
</section>
{{!-- {{/if}} --}}
{{#ifCond type '!=' 'company'}}
<section class="profile bg-gray" id="evaluacion">
  <div class="row">
    <div class="container">
      <div class="col-12 col-m-12">
        <div class="col-6 col-m-6">
          <h4 class="description-data-subtitle">EVALUACIÓN Y RECOMENDACIONES</h4>
        </div>
        <div class="col-m-6 col-6 right-align">
          <h4 class="amount-data">
            {{!-- {{format_amount result.amount}} --}}
            TOTAL SCORE: 0.3
          </h4>
        </div>
      </div>
      <div class="col-12-col-m-12">
        <h3>Gráfico de puntajes de cada categoría</h3>
      </div>
      <div class="col-12-col-m-12 mt-60">
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> Texto</p>
          <p><b>Nombre:</b> Texto</p>
          <p><b>Puntaje:</b> Texto</p>
          <p><b>Recomendación:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero quam corporis, omnis id, tenetur totam ipsam sed debitis, eos, repudiandae! Eius facere repellendus, reprehenderit voluptate obcaecati at odit illo.</p>
        </div>
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> Texto</p>
          <p><b>Nombre:</b> Texto</p>
          <p><b>Puntaje:</b> Texto</p>
          <p><b>Recomendación:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero quam corporis, omnis id, tenetur totam ipsam sed debitis, eos, repudiandae! Eius facere repellendus, reprehenderit voluptate obcaecati at odit illo.</p>
        </div>
        <div class="col-4 col-m-12 category-profile">
          <p><b>Categoría:</b> Texto</p>
          <p><b>Nombre:</b> Texto</p>
          <p><b>Puntaje:</b> Texto</p>
          <p><b>Recomendación:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero quam corporis, omnis id, tenetur totam ipsam sed debitis, eos, repudiandae! Eius facere repellendus, reprehenderit voluptate obcaecati at odit illo.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

{{> send_info_form}}
<script>
  const summaries = {{{j result.summaries}}}
</script>
<script src="/javascripts/d3.v4.js"></script>
<script>
  let d4 = d3;
</script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/nvd3.js"></script>
<script src="/javascripts/graphics.js"></script>
