<script src="/tiza/tiza.js"></script>

<section class="profile-header">
  <div class="wrap bg-gray" id="wrap">
    <div class="description-data-title">
      <h3 title="{{ result.name}}">
        {{{ get_classification_icon result.classification result.subclassification result.govLevel}}}
        {{ result.name}}
      </h3>
    </div>
    <div class="profile-breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="{{url view="home"}}">{{{_ "Inicio"}}}</a>
          </li>
          {{#each result.area }}
            {{#if id }}
              <li class="breadcrumb-item">
                <a href="{{url view="regiones/:id" _id=id}}">
                  {{translate_area name}}
                </a>
              </li>
            {{/if}}
          {{/each}}
          <li class="breadcrumb-item">
            <a href="{{url view="buscador" collection=type subtipo=result.subclassification}}">{{ get_classification_name type result.classification result.subclassification result.govLevel }}</a>
          </li>

        </ol>        
      </nav>      
    </div>
    <div class="right-box ml-auto filters">
        <ul class="nav nav-pills d-flex flex-nowrap">
            {{>utilities api_url=result.api_url share_url=share_url api_summary_url=result.api_summary_url }}                
        </ul>
    </div>
  </div>
</section>

<nav id="right-menu" class="menu-profile">
  <ul class="right-menu-profile nav-stacked nav">
    {{#if summaries.buyer.total.count }}
    <li>
      <a href="#summary-buyer" class="anchor">
        <i class="fas fa-money-check-alt"></i> {{_ "Compras"}}
      </a>
    </li>
    {{/if}}
    {{#if summaries.supplier.total.count }}
    <li>
      <a href="#summary-supplier" class="anchor">
        <i class="fas fa-dolly"></i> {{{_ "Proveedor"}}}
      </a>
    </li>
    {{/if}}
    {{#if summaries.funder.total.count }}
    <li>
      <a href="#summary-funder" class="anchor">
        <i class="fas fa-donate"></i> {{{_ "Financiación"}}}
      </a>
    </li>
    {{/if}}
    {{#ifCond summaries.relation.nodes.length ">" 0}}
    <li>
      <a href="#flujos-monetarios" class="anchor">
        <i class="fas fa-chart-pie"></i> {{{_ "Flujos monetarios"}}}
      </a>
    </li>
    {{/ifCond}}


    {{#ifCond type '!=' 'companies'}}
    {{#if result.flags }}
    <li>
      <a href="#evaluacion" class="anchor evaluacion">
        <i class="fas fa-file-signature"></i> {{{_ "Evaluación"}}}
      </a>
    </li>
    {{/if}}
    {{/ifCond}}


    {{#if result.memberships.parent}}
    {{#each result.memberships.parent }}
    <li>
      <a href="#memberships-parent-{{@index}}" class="anchor">
        {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.directionality}}
      </a>
    </li>
    {{/each}}
    {{/if}}
    {{#if result.memberships.child}}
    {{#each result.memberships.child }}
    <li>
      <a href="#memberships-child-{{@index}}" class="anchor">
        {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.directionality}}
      </a>
    </li>
    {{/each}}
    {{/if}}
    {{#if result.area.length }}
    <li>
      <a href="#ubicacion" class="anchor">
        <i class="fas fa-map-marker"></i> {{{_ "Ubicacion"}}}
      </a>
    </li>
    {{/if}}
    {{#if (lookup notas result.id) }}
    <li>
      <a href="#notas" class="anchor">
        <i class="fas fa-map-marker"></i> {{{_ "Notas"}}}
      </a>
    </li>
    {{/if}}

    <li>
      <a href="#informacion-general" class="anchor">
        <i class="fas fa-folder-open"></i> {{{_ "Información"}}}
      </a>
    </li>

  </ul>
</nav>


<section class="profile" id="top-nonsense">
  <div class="profile-content">
    <div class="row">
      <div class="col-9 col-m-9">
        {{#ifCond type "==" "companies"}}
          {{> gender-indicator result_name=result.name country_data=result.countryData }}
        {{/ifCond}}
      </div>
    </div>
  </div>

</section>


{{!-- Dependencia --}}
{{#if result.membership_uc_child }}
<section class="profile" id="memberships-child-uc">
  <div class="profile-content">
    <div class="row memberships">
      <div class="col-9 col-m-9">
        <div  class=" profile-list">
          <h4 class="description-data-subtitle">
            {{{get_role_icon result.membership_uc_child.role result.membership_uc_child.directionality}}}{{get_role_name result.membership_uc_child.role result.membership_uc_child.directionality}}
          </h4>
          {{#each result.membership_uc_child.memberships}}
            {{>membership result=this directionality=../result.membership_uc_child.directionality}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}

{{!-- SUMMARIES --}}
{{#if summaries.buyer.total.count }}
{{>summary result=result summary="buyer" data=summaries.buyer }}
{{/if}}


{{#if summaries.contactPoint.total.count }}
{{>summary result=result summary="contactPoint" data=summaries.contactPoint }}
{{/if}}

{{!-- Unidades compradoras --}}
{{#if result.membership_uc_parent }}
<section class="profile" id="memberships-parent-uc">
  <div class="profile-content">
    <div class="row memberships">
      <div class="col-9 col-m-9">
        <div  class=" profile-list">
          <h4 class="description-data-subtitle">
            {{{get_role_icon result.membership_uc_parent.role result.membership_uc_parent.directionality}}}{{get_role_name result.membership_uc_parent.role result.membership_uc_parent.directionality}}
          </h4>
          {{#each result.membership_uc_parent.memberships}}
            {{>membership result=this directionality=../result.membership_uc_parent.directionality}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}



{{#if summaries.supplier.total.count }}
{{>summary result=result summary="supplier" data=summaries.supplier }}
{{/if}}

{{#if summaries.funder.total.count }}
{{>summary result=result summary="funder" data=summaries.funder }}
{{/if}}


{{#ifCond summaries.relation.nodes.length ">" 0}}
<section class="profile" id="flujos-monetarios">
  <div class="profile-content">
    <div class="row">
      <div  class="col-m-9 col-9">
        <div class="col-m-12 col-12">
          <h4 class="description-data-subtitle"><i class="fas fa-chart-pie"></i> {{{_ "FLUJOS MONETARIOS"}}}</h4>
          <div id="graph-container">
          </div>
        </div>
        <div class="col-12">
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

<script>
  tiza.moneyFlow({target: "graph-container", data: {{{j summaries.relation}}} });
</script>


{{#ifCond type '!=' 'companies'}}
{{#if result.flags }}
<section class="profile" id="evaluacion">
  <div class="profile-content">
    <div class="row">
      <div  class="col-m-9 col-9" bg-gray>
        <div class="row">
          <div class="col-6 col-m-6">
            <h4 class="description-data-subtitle"><i class="fas fa-file-signature"></i> {{{_ "EVALUACIÓN Y RECOMENDACIONES"}}}</h4>
          </div>
          <div class="col-m-6 col-6 text-right-">
            <h4 class="amount-data">
              {{{_ "Puntaje total:"}}} {{ format_score result.flags.0.total_score }}
            </h4>
          </div>
          <div class="col-12 col-m-12">
            <p>{{{_ "A partir de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede consultarse en <a href='https://www.TodosLosContratos.mx/#metodologia'>TodosLosContratos.mx</a>"}}}.</p>
          </div>
        </div>
        <div class="col-12-col-m-12">
          {{#each (get_party_categories result.flags.[0]) }}
          <div class="flags_graph_bar">
            <div class="flag_name">
               {{#with (flag_name @key) }}
                  {{name}} 
                  <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                    <i class="fas fa-info"></i>
                  </a>
               {{/with}}
            </div>
              <div class="flag_pole flag_{{@key}}">
                <div class="flag_pole_min" style="width: {{format_score (party_category_min @key)}}">
                </div>
                <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (party_category_max @key))}}">
                </div>
                <div class="flag_marker" style="left: {{format_score this}}">
                  {{format_score this}}
                </div>
              </div>
          </div>
          {{/each}}
          <div class="col-12-col-m-12 mt-60">
            {{# each (flag_recommendations result.flags flag_count) }}
            <div class="col-4 col-m-12 category-profile">
              <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
              <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
              <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
              <p><b>{{{_ "Recomendación"}}}:</b> {{uc_string}}</p>
            </div>
            {{/each}}
          </div>
      </div>
      <div class="col-12 text-center">
          <button class="btn button-link" onclick="$('#profile-send-info').toggle()">{{{_ "Solcitar informe detallado"}}}</button>
      </div>
      </div>
    </div>
    <div class="row" style="display: none" id="profile-send-info">
      <div  class="col-m-9 col-9">
        <div  class="">
          <h3>{{{_ "Solicitar más información"}}}</h3>
          <p>{{{_ "Con el objetivo de que las dependencias y las Unidades Compradoras puedan mejorar la calidad de los datos de contrataciones destacamos las tres banderas que dieron un resultado más bajo y como pueden mejorar. Para tener la lista completa contáctanos a través del formulario."}}} </p>
          <form class="sendinfo-form mt-2">
            <fieldset>
              <div class="form-group" data-required="true">
                <label for="name" class="control-label"><b>{{{_ "Nombre"}}}</b></label>
                <input type="text" name="name" id="name" maxlength="50" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="institution" class="control-label"><b>{{{_ "Institución"}}}</b></label>
                <input type="text" name="subject" id="institution" class="form-control">
                <span class="help-block"></span>
              </div>
              <div class="form-group" data-required="true">
                <label for="email" class="control-label"><b>{{{_ "Correo electrónico"}}}</b></label>
                <input id="email" type="email" name="contact-email" class="form-control">
                <span class="help-block"></span>
              </div>
            </fieldset>
            <input id="uc_id_message" type="hidden" name="message" value="{{result.id}}">
            <div class="centered">
                <button id="send_info_uc" type="submit" class="btn button-link contact-submit">{{_ "Enviar"}}</button>
            </div>
          </form>
          <div id="thanks-column" style="display: none;" class="mt-2">
            <h4>{{{_ "Mensaje enviado"}}}</h4>
            <p>{{{_ "Muchas gracias, pronto le enviaremos la información correspondiente."}}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{/ifCond}}


{{!-- memberships --}}
<div class="profile-content">
  <div class="row memberships">
    <div class="col-9 col-m-9">
      {{#if result.memberships }}
        {{#each result.memberships }}
        <section class="profile" id="memberships-parent-{{@index}}">
          <div  class=" profile-list">
            <h4 class="description-data-subtitle">
              {{{get_role_icon this.role this.directionality}}}{{get_role_name this.role this.direction}}
            </h4>
            {{#each this.memberships}}
              {{>membership result=this directionality=direction}}
            {{/each}}
          </div>
        </section>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>

{{#if result.area.length }}
<section class="profile" id="ubicacion">
  <div class="profile-content">
    <div class="row">

      <div class="col-9 col-m-9">
        <h4 class="description-data-subtitle"><i class="fas fa-map-marker"></i> Ubicación</h4>
        <div class="row flex">

          {{#each result.area }}
              <div class="col-m-1 col-1 pd-nonleft">
                <p class="js-title-data">
                  {{#ifCond classification '==' 'country'}}{{{_ "País"}}}
                    {{#ifCond subclassification '==' 'country-born'}}{{{_ "de nacimiento"}}}{{/ifCond}}
                    {{#ifCond subclassification '==' 'country-of-residence'}}{{{_ "de residencia"}}}{{/ifCond}}
                  {{/ifCond}}
                  {{#ifCond classification '==' 'city'}}{{{_ "Ciudad"}}}{{/ifCond}}
                  {{#ifCond classification '==' 'region'}}{{{_ "Región"}}}{{/ifCond}}
                  {{#ifCond classification '==' 'state'}}{{{_ "Estado"}}}{{/ifCond}}
                </p>
                <p class="js-data">
                  <a href="{{url view="areas/:id" _id=id }}">
                    {{translate_area name}}
                  </a>
                </p>
              </div>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

</section>
{{/if}}

{{!-- Notas --}}
{{#if (lookup notas result.id) }}
<section class="profile" id="notas">
  <div class="profile-content">
    <div class="row">

      <div class="col-9 col-m-9">
        <h4 class="description-data-subtitle"><i class="fas fa-map-marker"></i> {{{_ "Notas"}}}</h4>
        <div class="row flex">

          {{#each (lookup notas result.id) }}
              <div class="col-m-5 col-5">
                <p class="js-title-data">
                  <a href="{{url}}">
                    {{titulo}} 
                  </a>
                </p>
                <p class="js-data">
                    {{medio}} {{fecha}} {{autor}}
                </p>
                <p class="js-data">
                    {{explicacion_es}}
                </p>
              </div>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

</section>
{{/if}}

{{!-- info --}}
<section class="profile" id="informacion-general">
  <div class="profile-content">
    <div class="row">

      <div class="col-9 col-m-9">
        <h4 class="description-data-subtitle"><i class="fas fa-folder-open"></i> {{{_ "INFORMACIÓN GENERAL"}}}</h4>
        <div class="row flex">

          {{#if result.other_names.length }}
            <div class="col-m-5 col-5 pd-nonleft">
              <p class="js-title-data">{{{_ "Nombres alternativos"}}}</p>
              <ul class="js-data">
                {{#each result.other_names}}
                <li class="{{#ifCond @index ">" 2}}profile-list-hidden{{/ifCond}}">
                    {{name}}
                </li>
                {{/each}}
              </ul>
              {{#ifCond result.other_names.length '>' 2}}
              <div style="margin-top: 1rem; margin-bottom: 0.5rem">
              <a class="profile-list-toggle">{{{_ "Ver todos"}}} ({{result.other_names.length}})</a>
              </div>
              {{/ifCond}}
            </div>
          {{/if}}


          {{#if result.subclassification}}
            <div class="col-m-3 col-3">
              <p class="js-title-data">{{{_ "Tipo de entidad"}}}</p>
              <p class="js-data">{{ _ result.subclassification}}</p>
            </div>
          {{/if}}

          {{#if result.identifiers }}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">{{{_ "Identificadores"}}}</p>
              {{#each result.identifiers}}
                <p class="js-data">
                  {{#ifCond identifier '!=' '#ĦVALOR!'}}
                    {{#ifCond scheme '!=' 'CIQ'}}
                      {{scheme}}: {{id}}{{identifier}}
                    {{/ifCond}}
                  {{/ifCond}}

                  {{#ifCond scheme '==' 'RUPC'}} <i class="fa fa-info" data-toggle="tooltip" data-placement="right" title="{{{_ "Folio asignado por la SFP a la persona física o moral que fue inscrita al Registro Único de Registro Único de Proveedores y Contratistas (RUPC) por un ente público con el que celebró algún contrato"}}}"></i>{{/ifCond}}
                {{/each}}</p>
            </div>
          {{/if}}

          {{#if result.links}}
            <div class="col-m-6 col-6 pd-nonleft">
              <p class="js-title-data">{{{_ "Link(s)"}}}</p>
              {{#each result.links}}
                <p class="js-data"><a href="{{this.id}}" target="_blank">{{this.id}}</a></p>
              {{/each}}
            </div>
          {{/if}}

        </div>

        <div class="row flex">
          {{#if result.date}}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">{{{_ "Fecha de actualización"}}}</p>
              <p class="js-data">{{moment result.date date lang="es" format="LL"}}</p>
            </div>
          {{/if}}

          {{#if result.source}}
            <div class="col-m-3 col-3 pd-nonleft">
              <p class="js-title-data">{{{_ "Fuente(s)"}}}</p>
              <p class="js-data">{{#each result.source}} <a href="{{ url view="entidades-y-fuentes" _anchor=this.id }}">{{this.id}}</a>{{#if @last}}{{else}}, {{/if}}{{/each}}</p>
            </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>

</section>

{{> report_modals }}
