<script src="/tiza/tiza.js"></script>

{{>profile-header result=result }}
        {{!-- SHORT memberships --}}
        {{#if result.memberships.parent}}
        {{#each result.memberships.parent }}
        {{#ifCond memberships.length "<=" 2 }}
          <li>
            <a href="#memberships-parent-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}
        {{#if result.memberships.child}}
        {{#each result.memberships.child }}
        {{#ifCond memberships.length "<=" 2 }}
          <li>
            <a href="#memberships-child-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}

        {{!-- Summaries --}}
        {{#if summaries.buyer_purchase.total.count }}
        <li>
          <a href="#summary-buyer_purchase" class="anchor">
            <i class="fas fa-money-check-alt"></i> {{_ "Productos"}}
          </a>
        </li>
        {{/if}}

        {{#if summaries.supplier_purchase.total.count }}
        <li>
          <a href="#summary-supplier_purchase" class="anchor">
            <i class="fas fa-dolly"></i> {{{_ "Productos"}}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.buyer_purchase.top_products }}
          {{#if (filter_array result.source  "id" "comprasimss") }}
            <li>
              <a href="#desabasto-reportado" class="anchor">
                <i class="fas fa-dolly"></i> {{{_ "Desabasto"}}}
              </a>
            </li>
          {{/if}}

          <li>
            <a href="#reportar-desabasto" class="anchor">
              <i class="fas fa-dolly"></i> {{{_ "Reportar"}}}
            </a>
          </li>
        {{/if}}
        {{#if summaries.buyer_contract.total.count }}
        <li>
          <a href="#summary-buyer_contract" class="anchor">
            <i class="fas fa-money-check-alt"></i> {{_ "Comprador"}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.supplier_contract.total.count }}
        <li>
          <a href="#summary-supplier_contract" class="anchor">
            <i class="fas fa-dolly"></i> {{{_ "Proveedor"}}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.funder.total.count }}
        <li>
          <a href="#summary-funder" class="anchor">
            <i class="fas fa-donate"></i> {{{_ "Financiación"}}}
          </a>
        </li>
        {{/if}}
        {{#if summaries.contactPoint.total.count }}
        <li>
          <a href="#summary-contactPoint" class="anchor">
            {{!-- {{{get_role_icon this.role this.directionality}}} {{get_role_name this.role this.directionality}} --}}
            <i class="fas fa-shopping-cart"></i>{{_ "Punto de contacto"}}
          </a>
        </li>
        {{/if}}
        {{#ifCond summaries.relation.nodes.length ">" 0}}
        <li>
          <a href="#flujos-monetarios" class="anchor">
            <i class="fas fa-chart-pie"></i> {{{_ "Flujos monetarios"}}}
          </a>
        </li>
        {{/ifCond}}
        {{#if result.summaries.classification }}
        <li>
          <a href="#areas-summaries" class="anchor">
            <i class="fas fa-chart-pie"></i> {{{_ "Resúmen de entidades del área"}}}
          </a>
        </li>
        {{/if}}
        {{!-- Flags --}}
        {{#if result.flags }}
        {{#ifCond type '!=' 'companies'}}
        {{#ifCond (indexOf  'proveedor' result.classification) "==" -1 }}

        {{!-- <li>
          <a href="#evaluacion" class="anchor evaluacion">
            <i class="fas fa-file-signature"></i> {{{_ "Evaluación"}}}
          </a>
        </li> --}}
        {{/ifCond}}
        {{/ifCond}}
        {{/if}}
        {{!-- LONG memberships --}}
        {{#if result.memberships.parent}}
        {{#each result.memberships.parent }}
        {{#ifCond memberships.length ">" 2 }}
          <li>
            <a href="#memberships-parent-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}
        {{#if result.memberships.child}}
        {{#each result.memberships.child }}
        {{#ifCond memberships.length ">" 2 }}
          <li>
            <a href="#memberships-child-{{@index}}" class="anchor">
              {{{get_role_icon this.role this.direction}}}{{get_role_name this.role this.direction}}
            </a>
          </li>
        {{/ifCond}}
        {{/each}}
        {{/if}}

        {{#if result.area.length }}
        <li>
          <a href="#ubicacion" class="anchor">
            <i class="fas fa-map-marker"></i> {{{_ "Ubicacion"}}}
          </a>
        </li>
        {{/if}}
{{>profile-header-end }}

<div class="first-profile-section">
  {{>banner }}
{{!-- SHORT memberships --}}
{{#each result.memberships.parent }}
    {{#ifCond memberships.length "<=" 2 }}
      <section class="profile profile-memberships" id="memberships-parent-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}
{{#each result.memberships.child }}
    {{#ifCond memberships.length "<=" 2 }}
      <section class="profile profile-memberships" id="memberships-child-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}


{{!-- SUMMARIES --}}
{{#if summaries.funder.total.count }}
{{>summary result=result role="funder" classification="contract" data=summaries.funder }}
{{/if}}

{{#if summaries.buyer_purchase.total.count }}
{{>summary result=result role="buyer" classification="purchase" data=summaries.buyer_purchase }}
{{/if}}
{{#if summaries.supplier_purchase.total.count }}
{{>summary result=result role="supplier" classification="purchase" data=summaries.supplier_purchase }}
{{/if}}

{{#if summaries.buyer_contract.total.count }}
{{>summary result=result role="buyer" classification="contract" data=summaries.buyer_contract }}
{{/if}}

{{#if summaries.contactPoint.total.count }}
{{>summary result=result role="contactPoint" classification="contract" data=summaries.contactPoint }}
{{/if}}

{{#if summaries.supplier_contract.total.count }}
{{>summary result=result role="supplier" classification="contract" data=summaries.supplier_contract }}
{{/if}}

{{!--
{{#ifCond summaries.relation.nodes.length ">" 0}}
<section class="profile" id="flujos-monetarios">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <h4 class="description-data-subtitle">
          {{{_ "Flujos monetarios"}}}
        </h4>
      </div>
      <div class="col-md-12 col-12">
        <div id="graph-container"></div>
      </div>
    </div>
  </div>
</section>
{{/ifCond}}

{{#ifCond summaries.relation.nodes.length ">" 0 }}
<script>
  tiza.moneyFlow({target: "graph-container", data: {{{j summaries.relation}}} });

</script>
{{/ifCond }} --}}


{{!-- areas summaries --}}
{{#if result.summaries.classification }}
<section class="profile" id="areas-summaries">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-pie"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "Resúmen de entidades del área"}}}</h4>
      </div>
      <div  class="col-md-12 col-12">
        <div class="row">
          {{#each result.summaries.classification}}
          <div class="col-lg-4 mb-3">
            <div class="card-border explore-card">
              <div class="card-pad text-center">
                <h5>
                  <strong>
                    {{format_number this}}
                  </strong>
                </h5>
                <h5 class="card-h3">
                                  <a href="
                {{#ifCond ../result.classification "==" "country"}}
                  {{url view="buscador" collection=(get_classification_type @key) sort-cpi="" sort-a="" tipo-entidad=@key pais=../result.id}}
                {{/ifCond}}
                {{#ifCond ../result.classification "==" "state"}}
                  {{url view="buscador" collection=(get_classification_type @key) sort-cpi="" sort-a="" tipo-entidad=@key estado=../result.id}}
                {{/ifCond}}
                {{#ifCond ../result.classification "==" "city"}}
                  {{url view="buscador" collection=(get_classification_type @key) sort-cpi="" sort-a="" tipo-entidad=@key ciudad=../result.id}}
                {{/ifCond}}
                " title="{{format_number this}} {{_ @key }}">
                {{{ get_classification_icon @key "undefined" "undefined" }}} {{_ @key }}
                </a>

                </h5>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{/if}}


{{!-- FLAGS --}}
{{#if result.flags }}
{{#each result.flags }}
<section class="profile" id="evaluacion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-file-signature"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "EVALUACIÓN Y RECOMENDACIONES"}}}</h4>
      </div>
      <div  class="col-md-12 col-12">
        <div class="row">
          <div class="col-md-12 col-12 text-center">
            <h4 class="amount-data">
              {{{_ "Puntaje total:"}}} {{ format_score total_score }}
            </h4>
          </div>
          <div class="col-12 col-md-12">
            <p>{{{_ "A partir de 25 pruebas algorítmicas, que agrupamos en cinco grandes categorías, determinamos la calidad de los datos de contratación que introduce cada dependencia y unidad compradora. Para la puntuación final el sistema también tiene en cuenta la puntuación de las dependencias con quién se relaciona de forma indirecta. La metodología puede consultarse en <a href='https://www.TodosLosContratos.mx/#metodologia'>TodosLosContratos.mx</a>"}}}.</p>
          </div>
        </div>
        <div class="col-12-col-md-12">
          {{#each (get_party_categories this) }}
          <div class="flags_graph_bar">
            <div class="flag_name">
               {{#with (flag_name @key) }}
                  {{name}}
                  <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                    <i class="fas fa-info-circle"></i>
                  </a>
               {{/with}}
            </div>
              <div class="flag_pole flag_{{@key}}">
                <div class="flag_pole_min" style="width: {{format_score (party_category_min @key)}}">
                </div>
                <div class="flag_pole_max" style="width: {{format_score (math 1 "-" (party_category_max @key))}}">
                </div>
                <div class="flag_marker" style="left: {{format_score this}}">
                  {{format_score this}}
                </div>
              </div>
          </div>
          {{/each}}
          <div class="col-12 col-md-12 mt-60">
            {{#each (flag_recommendations this flag_count) }}
            <div class="col-12 col-md-6 category-profile">
              <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
              <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
              <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
              <p><b>{{{_ "Recomendación"}}}:</b> {{uc_string}}</p>
            </div>
            {{/each}}
          </div>
      </div>
      <div class="col-12 col-md-12 text-center mb-5">
          <a class="btn button-link" href="{{ url view="search" collection="contract_flags" id=result.id }}">{{{_ "Ver todas las evaluaciones"}}}</a>
      </div>

      <div class="col-12 col-md-12">
        <!-- Tab links-->
        <ul class="nav nav-pills justify-content-center mb-4" id="datasettabs">
          <li class="nav-item">
            <a class="nav-link dataset-link" data-toggle="pill" href="#cr-dataset">
              <i class="fas fa-user-friends"></i> {{{_ "Dataset Costa Rica"}}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dataset-link" data-toggle="pill" href="#mx-dataset">
              <i class="fas fa-user-md"></i> {{{_ "Dataset México"}}}
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade" id="cr-dataset">
            <div class="row">
              <div class="col-12 col-md-6">
                <h4 class="text-darkblue mb-3"><img class="icon-h4" src="/images/icons/wave-triangle.svg" alt="">Ranking: 5
                </h4>
                <div class="row align-items-end">
                  <div class="col-12 col-md-6">
                    <label for="dataset-year">{{{_ "Mostrar datos por año:"}}}</label>
                    <select class="form-control" id="dataset-year">
                      <option>Todos</option>
                      <option>2020</option>
                      <option>2019</option>
                      <option>2018</option>
                    </select>
                  </div>
                  <div class="col-12 col-md-6 text-right">
                    <h5 class="text-darkblue">{{{_ "Puntaje total:"}}} {{ format_score total_score }}</h5>
                  </div>
                </div>
                <div>
                  <svg></svg>
                </div>
                <p>Texto explicando que el problema es diferente para contratos y perfiles.</p>
                <div class="mt-5">
                  <a class="button-link" href="">Ver todas las evaluaciones</a>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div id="accordion">
                  {{#each (get_party_categories this) }}
                  <div class="card">
                      <a class="card-link" data-toggle="collapse" href="#collapse{{@key}}">
                        <div class="card-header">
                            {{#with (flag_name @key) }}
                            {{name}}:
                            {{!-- <a data-toggle="tooltip" data-placement="right" title="{{info}}">
                              <i class="fas fa-info-circle"></i>
                            </a> --}}
                            {{/with}}
                            {{format_score this}}
                        </div>
                      </a>
                    <div id="collapse{{@key}}" class="collapse {{#if @first}}show{{else}}{{/if}}" data-parent="#accordion">
                      <div class="card-body">
                        {{!-- {{#each (../flag_recommendations this flag_count) }}
                        <div>
                          <p><b>{{{_ "Categoría"}}}:</b> {{category}}</p>
                          <p><b>{{{_ "Problema"}}}:</b> {{description}}</p>
                          <p><b>{{{_ "Puntaje"}}}:</b> {{format_score score }}</p>
                          <p><b>{{{_ "Recomendación"}}}:</b> {{uc_string}}</p>
                        </div>
                        {{/each}} --}}
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="mx-dataset">

          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</section>
{{/each}}
{{/if}}
{{>banner-evaluaciones}}


{{!-- LONG memberships --}}
{{#each result.memberships.parent }}
    {{#ifCond memberships.length ">" 2 }}
      <section class="profile profile-memberships" id="memberships-parent-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}
{{#each result.memberships.child }}
    {{#ifCond memberships.length ">" 2 }}
      <section class="profile profile-memberships" id="memberships-child-{{@index}}">
        {{>membership_list this}}
      </section>
    {{/ifCond}}
{{/each}}

{{#if result.area.length }}
<section class="profile" id="ubicacion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-map-marker"></i>
        </div>
        <h4 class="description-data-subtitle"> {{{_ "Ubicación"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          {{#each result.area }}
              <div class="col-md-1 col-1">
                <p class="js-title-data">
                  {{#ifCond classification '==' 'country'}}{{{_ "País"}}}
                    {{#ifCond subclassification '==' 'country-born'}}{{{_ "de nacimiento"}}}{{/ifCond}}
                    {{#ifCond subclassification '==' 'country-of-residence'}}{{{_ "de residencia"}}}{{/ifCond}}
                  {{/ifCond}}
                  {{#ifCond classification '==' 'city'}}{{{_ "Ciudad"}}}{{/ifCond}}
                  {{#ifCond classification '==' 'region'}}{{{_ "Región"}}}{{/ifCond}}
                  {{#ifCond classification '==' 'state'}}{{{_ "Estado"}}}{{/ifCond}}
                </p>
                <p class="js-data">
                  <a href="{{url view="areas/:id" _id=id }}">
                    {{translate_area name}}
                  </a>
                </p>
              </div>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

</section>
{{/if}}

{{>profile-info result=result }}

</div>
{{> report_modals }}

{{> how-use-data-modal api_url=result.api_url title=result.name }}
