<div class="row document-body">
  <div class="col-3 col-m-3">
      <div class="filter-bar">
        <form>
          <h4 class="search-title">Filtrar</h4>
          <fieldset name="proveedores">
            <p class="search-title">Buscar personas</p>
            <div class="multiple-controls-group">
              <div class="multiple-control-container">
                <input type="text" name="filtername" placeholder="Nombre" class="persona_name_filter multiple-control" value="{{filters.Nombre}}">
                <!-- <img src="images/button-no.png" alt="quitar" class="form-control remove-field-control"> -->
              </div>
            </div>
            <!-- <img src="images/button-yes.png" alt="agregar" class="form-control add-field-control"> -->
          </fieldset>
          <!-- <fieldset name="país">
            <p class="search-title">POR PAÍS</p>
            <a class="search-label"><p>México (15,560)</p></a>
            <a class="search-label"><p>Colombia (129)</p></a>
            <a class="search-label"><p>Argentina (88)</p></a>
            <a class="search-label"><p>Brasil (220)</p></a>
          </fieldset>
          <fieldset name="tipo">
            <p class="search-title">POR TIPO</p>
            <a class="search-label"><p>Proveedor (7,230)</p></a>
            <a class="search-label"><p>Propietario (230)</p></a>
            <a class="search-label"><p>Funcionario Público (5,987)</p></a>
          </fieldset>
          <fieldset>
              <p class="search-title">RELACIONADO CON</p>
              <div class="input-group" id="">
                  <div class="dropdown input-group-btn">
                    <button class="btn btn-default dropdown-toggle filter-dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      FILTRO
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Dependency</a></li>
                      <li><a class="dropdown-item" href="#">Supplier</a></li>
                      <li><a class="dropdown-item" href="#">OCID</a></li>
                    </ul>
                  </div>
                  <input type="text" name="filtros" placeholder="Buscar filtro">
              </div>
          </fieldset>
          <fieldset name="cantidad-contratos">
            <p class="search-title">Cantidad de contratos</p>
            <input type="text" name="" placeholder="Mínimo" class="search-amount">
            <input type="text" name="" placeholder="Máximo" class="search-amount">
          </fieldset> -->
          <input type="submit" class="search-submit fixed-filter-button" value="FILTRAR">
          <!-- <button type="reset" class="btn btn-default reset-filters">LIMPIAR</button> -->
        </form>
      </div>
  </div>

  <div class="col-9 col-m-9 personas-content">
    <div class="row document-header">
      <div class="col-3 col-m-12">
        <h2 class="document-title">Personas</h2>
      </div>
      <div class="col-9 col-m-12">
        <p class="document-description">Conoce cómo se relacionan los personajes de las élites políticas y económicas en México.</p>
      </div>
    </div>
    <div class="row mb-2 tools-section">
      <div class="col-4 col-m-4">
        <p class="document-description">Si quieres una búsqueda más avanzada, <a href="/contact">contáctanos.</a></p>
      </div>
      <div class="col-m-4">
        <div class="dataTables_length" id="person-index_length">
          <label>Mostrar 
            <select name="person-index_length" aria-controls="person-index" class="form-control input-sm">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> resultados
          </label>
        </div>
      </div>
      <div class="col-4 col-m-4">
        <div class="dropdown">
          <button class="button-tools dropdown-toggle" type="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../images/icons/settings.svg" alt="Ícono Herramientas">
            Herramientas
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownTools">
            <li class="dropdown-header">Compartir</li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://quienesquien.wiki/persons&t=QuienesQUienWiki" target="_blank"><img class="share-icons" src="../images/icons/facebook.svg" alt="Facebook">Facebook</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=Qui%c3%a9n+es+Qui%c3%a9n+Wiki+(QQW)+es+una+plataforma+sobre+empresarios%2c+pol%c3%adticos%2c+empresas+y+organizaciones+que+explica+las+conexiones+entre+estos+actores+y+las+pone+a+disposici%c3%b3n+de+investigadores%2c+periodistas+y+la+ciudadan%c3%ada+en+general.&url=https://quienesquien.wiki/persons&via=ProjectPODER" target="_blank"><img class="share-icons" src="../images/icons/twitter.svg" alt="Twitter">Twitter</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">URL de la API</li>
            <li class="copy-clip">
              <input id="apiUrl" type="text" name="destinatario" value="{{result.api_url}}">
              <button class="btn-copy" onclick="copyClipboard()">Copiar URL</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="person-index_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="col-m-8">
          {{> blob_filter}}
        </div>
        <div class="col-m-4" style="float: right; text-align: right;">
          <div class="dataTables_info" id="person-index_info" role="status" aria-live="polite" style="margin-top: 5px; margin-bottom: 10px;">Mostrando {{math current_page "+" 1}} de {{result.pages}} páginas.
          </div>
        </div>
        <div class="col-m-12">
          <div id="person-index_processing" class="dataTables_processing panel panel-default" style="display: none;">
            <div class="loading-container">
              <div class="loading">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              </div>
            </div>
          </div>
          <div id="person-index" class="dataTable" aria-describedby="person-index_info" role="grid">
            <div class="dataCardBody">
              {{#each result.data}}
              <div role="row" class="search-card odd">
                <div class=" js-title no-title search-result-title col-m-8 col-8">
                  <div class="cardItemTitle">Nombre</div>
                  <a href="/persons/{{simple}}">
                    <div class="cardItemData">{{name}}</div>
                  </a>
                </div>
                <div class=" js-ocid no-title col-2 col-m-2">
                  {{!-- <div class="cardItemTitle">enlace</div>
                  <div class="cardItemData"></div> --}}
                  <a href="/persons/{{simple}}" class="button-link">Ver persona</a>
                </div>
                <div class=" js-person-type col-m-8 col-8">
                  {{!-- <div class="cardItemTitle"></div>
                  <div class="cardItemData"></div> --}}
                  <p style="font-size: 1rem;">Proveedor 
                    {{#if ocds_contract_count}}
                      <span class="js-contract-count">{{ocds_contract_count}} contrato(s)</span>
                    {{/if}}
                  </p>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          {{> pagination}}
        </div>
      </div>
    </div>
  </div>
</div>