<section class="about-template" id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div>
          <div class="col-md-12 col-12 mb-1">
              <h1 class="page-title">{{{_ "Sobre los datos personales de usuaries"}}}</h1>
              <p>{{{_ "Proyecto sobre Organización, Desarrollo,  Educación e Investigación (PODER), es el responsable del uso y protección de tus datos personales. Al respecto, te informamos lo siguiente:"}}}</p>
              <p>{{{_ "Los únicos datos personales que solicitamos en esta página son tu nombre y tu correo electrónico, necesarios para la
              suscripción voluntaria al boletín de Tecnologías para la Transparencia."}}}</p>
              <p>{{{_ "Debes saber que, aunque generalmente no lo hacemos, podemos acceder a información técnica estándar como la dirección IP de la computadora que se utiliza, el buscador que se usa y la dirección de Internet del sitio a través del cual se llegó a éste. Esto lo podríamos hacer en evaluaciones del sitio, en el diagnóstico de problemas técnicos y en la defensa
              contra ataques a esta página."}}}</p>
              <p>{{{_ "No usamos cookies persistentes en este sitio, a menos que utilices la opción “Recordarme” u otra función similar.
              Podemos usar cookies de sesión ocasionalmente. Las cookies de sesión vencen cuando cierras tu navegador. Puedes
              predeterminar tu navegador de modo que no las acepte."}}}</p>
              <p  class="mb-5">{{{_ "Podríamos solicitarte información personal adicional si nos contactas de otra forma."}}}</p>

              <h1 class="page-title">{{{_ "Sobre los datos republicados en QuiénEsQuién.Wiki"}}}</h1>
              <p  class="mb-5">{{{_ "Informamos que los datos en posesión de QuiénEsQuién.Wiki, así como aquellos que aparecen en las publicaciones en
              este sitio web, han sido obtenidos de diversas fuentes de acceso al público por lo que, de conformidad con la fracción
              II del artículo 10 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, éstos pueden
              tratados sin necesidad del consentimiento del titular. QuiénEsQuién.Wiki no se responsabiliza de la exactitud o
              inexactitud de la información que se publique en su sitio web, al no ser la fuente originaria de la misma. Para mayor
              información de las fuentes de acceso al público de las cuales obtenemos información por favor consulta el apartado
              <a href='/entidades-y-fuentes'>Fuentes</a> de nuestra web."}}}</p>
        </div>
      </div>
    </div>
  </div>
</section>