{{> profile-header result=result }}
            <li>
              <a href="#informacion-general" class="anchor">
                <i class="fas fa-folder-open"></i> {{{_ "Información"}}}
              </a>
            </li>
{{> profile-header-end }}

<div class="first-profile-section" id="product-profile">
{{!-- General info --}}
<section class="profile" id="general-info">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-folder-open"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "INFORMACIÓN GENERAL"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          {{#if result.description }}
          <div class="col-md-9 col-12">
            <p class="js-title-data">{{{_ "Descripción"}}}</p>
            <p class="js-data">{{result.description}} </p>
          </div>
          {{/if }}
          {{#if result.averagePrice }}
          <div class="col-md-3 col-12 text-left text-md-right">
            <p class="js-title-data">{{{_ "Precio promedio"}}}</p>
            <p class="js-data text-darkblue">$1,054.20 MXN</p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.drugUnit }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Unidad"}}}</p>
            <p class="js-data">{{result.drugUnit }}</p>
          </div>
          {{/if }}
          {{#if result.category }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Clasificación"}}}</p>
            <p class="js-data">{{result.category}}{{result.classification}}{{result.subclassification}}</p>
          </div>
          {{/if }}
          {{#if result.drugClass.name }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Grupo"}}}</p>
            <p class="js-data">{{result.drugClass.name}}</p>
          </div>
          {{/if }}
          {{#if result.activeIngredient }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Ingrediente activo"}}}</p>
            <p class="js-data">{{result.activeIngredient}}</p>
          </div>
          {{/if }}
          {{#if result.id }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Clave de producto IMSS"}}}</p>
            <p class="js-data">{{result.id}}</p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.disambiguatingDescription }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Presentación"}}}</p>
            <p class="js-data">{{result.disambiguatingDescription }}</p>
          </div>
          {{/if }}
          {{#if result.guideline.indicationsMxIMSS }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Indicaciones"}}}</p>
            <p class="js-data">
              {{#each result.guideline.indicationsMxIMSS }}
                <a href="{{url view="buscador" collection="products" producto-indicacion=this }}">{{this}}</a>
              {{/each}}
            </p>
          </div>
          {{/if }}
          {{#if result.relatedProducts }}
          <div class="col-md-5 col-12">
            <p class="js-title-data">{{{_ "Productos relacionados"}}}</p>
            {{#each result.relatedProducts}}
            {{> result result=this}}
            {{/each}}
          </div>
          {{/if }}
        </div>

        {{#if result.drugClass.name }}
        <div class="row flex mt-5">
          <div class="col-md-12 col-12">
            <div class="warning-data">
              <h5 data-toggle="collapse" data-target="#generalities" class="description-data-subname warning-title">{{{_ "DOSIS Y GENERALIDADES"}}}</h5>
              <div id="generalities" class="collapse">
                <div class="disclaimer">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aliquam hic, architecto esse alias exercitationem cumque laboriosam fugiat at excepturi ad? Nobis aut adipisci dolore sapiente expedita omnis deleniti temporibus.</p>
                </div>
          {{#if result.dosageForm }}
                <p class="js-title-data mt-4">{{{_ "Dosis"}}}</p>
                <p class="js-data">
                  {{result.dosageForm}}
                </p>
          {{/if }}
          {{#if result.mechanismOfAction }}
                <p class="js-title-data mt-4">{{{_ "Generalidades"}}}</p>
                <p class="js-data mb-4">
                  {{result.mechanismOfAction}}
                </p>
          {{/if }}
          {{#if result.pregnancyWarning }}
                <p class="js-title-data mt-4">{{{_ "Advertencias embarazo"}}}</p>
                <p class="js-data mb-4">
                  {{result.pregnancyWarning}}
                </p>
          {{/if }}
          {{#if result.warning.precautionsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Precauciones"}}}</p>
                <p class="js-data mb-4">
                  {{result.warning.precautionsMxIMSS}}
                </p>
          {{/if }}
          {{#if result.warning.adverseEffectsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Efectos adversos"}}}</p>
                <p class="js-data mb-4">
                  {{result.warning.adverseEffectsMxIMSS}}
                </p>
          {{/if }}
          {{#if result.contraindicationsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Contraindicaciones"}}}</p>
                <p class="js-data mb-4">
                  {{result.contraindicationsMxIMSS}}
                </p>
          {{/if }}
              </div>
            </div>
          </div>
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</section>

{{!-- Price dispersion --}}
<section class="profile" id="price-dispersion">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-area"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "DISPERSIÓN DE PRECIOS"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="col-md-6 col-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- States table--}}
<section class="profile" id="states-table">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-map"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "TABLA POR ESTADO"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <table width="100%" class="display" id="product-states" cellspacing="0">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- Suppliers table --}}
<section class="profile" id="suppliers-table">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-dolly"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "PROVEEDORES QUE LO HAN VENDIDO A SOBREPRECIO"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <table width="100%" class="display" id="product-suppliers" cellspacing="0">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- Contracts --}}
<section class="profile text-center bg-white" id="all-contracts">
  <div class="profile-content">
    <div class="row">
      <div class="col-12 col-md-12">
        <h5>{{{_ "Hay <b>XXX</b> contratos en total de este medicamento."}}}</h5>
        <a class="btn btn-primary" href="">{{{_ "VER TODOS LOS CONTRATOS"}}}</a>
      </div>
    </div>
  </div>
</section>

{{!-- Desabasto --}}
<section class="profile" id="desabasto">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-times"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "DESABASTO"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div id="desabasto-loading">

            Cargando....
          </div>
          <div id="desabasto-empty" style="display: none;">
            No existen reportes de desabasto...
          </div>
          <div id="desabasto-show" style="display: none;">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
window.onload = function() {
  getDesabasto("{{result.id}}")
}
function getDesabasto(clave) {

  console.log("Consultando reportes de desabasto",clave)
  
  let reports_url = "https://api.yeeko.org/api-rest/desabasto/reports/?clave="+clave+"&format=json";
  $.get(reports_url, function(data) {
    console.log("Respuesta reportes de desabasto", data);
    if (data.count == 0) {
      $("#desabasto-loading").hide();
      $("#desabasto-empty").show();
    }

    else {
      $("#desabasto-loading").hide();
      $("#desabasto-show").show();
      initDesabasto(data.data);

    }
  })
}
function initDesabasto(data) {
  $("#desabasto-show").text(JSON.stringify(data));
}         
</script>


{{!-- Desabasto Form --}}
<section class="profile" id="desabasto-form">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-folder-plus"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "¿Quieres crear un reporte de desabasto?"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <p>{{{_ "Estarás compartiendo tu reporte a través de el portal de Cero Desabasto que es un colectivo impulsado por Nosotrxs que reúne a pacientes, familiares de pacientes, médicos, organizaciones, académicos y autoridades para lograr el acceso efectivo a medicamentos e insumos médicos con el fin de garantizar el derecho a la salud."}}}</p>
        <p>{{{_ "Generamos información y reportamos directamente a las instituciones de salud para que garanticen el acceso efectivo a medicamentos e insumos de manera oportuna y de calidad."}}}</p>
        <p>{{{_ "Todos tus datos están protegidos y se manejarán de manera anónima."}}}</p>
        <div class="text-center">
          <h6>{{{_ "¿CUÁL ES TU PERFIL?"}}}</h6>

            <ul class="nav nav-pills justify-content-center">
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#desabastoformpatient">
                  <i class="fas fa-user-friends"></i> {{{_ "Paciente o familiar"}}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#desabastoformprofessional">
                  <i class="fas fa-user-md"></i> {{{_ "Profesional de la salud"}}}
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade" id="desabastoformpatient">
                <div class="embed-responsive embed-responsive-customized">
                  <iframe class="embed-responsive-item" src="https://cerodesabasto.org/report?clave={{id}}&perfil=paciente"></iframe>
                </div>
              </div>
              <div class="tab-pane fade" id="desabastoformprofessional">
                <div class="embed-responsive embed-responsive-customized">
                  <iframe class="embed-responsive-item" src="https://cerodesabasto.org/report?clave={{id}}&perfil=profesional"></iframe>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>

{{>profile-info result=result }}


</div>
{{> report_modals }}

{{> how-use-data-modal api_url=result.api_url title=result.name }}