<script src="/tiza/tiza.js"></script>

{{> profile-header result=result }}
            <li>
              <a href="#resumen-producto" class="anchor">
                <i class="fas fa-folder-open"></i> {{{_ "Resumen"}}}
              </a>
            </li>
            {{# if result.contracts }}
            <li>
              <a href="#dispersion-precios" class="anchor">
                <i class="fas fa-chart-area"></i> {{{_ "Precios"}}}
              </a>
            </li>
          {{/if}}
            <li>
              <a href="#sobrecosto-estados" class="anchor">
                <i class="fas fa-map"></i> {{{_ "Instituciones"}}}
              </a>
            </li>
            <li>
              <a href="#sobrecosto-proveedores" class="anchor">
                <i class="fas fa-dolly"></i> {{{_ "Proveedores"}}}
              </a>
            </li>
            <li>
              <a href="#compras" class="anchor">
                <i class="fas fa-file-alt"></i> {{{_ "Compras"}}}
              </a>
            </li>
            <li>
              <a href="#desabasto-reportado" class="anchor">
                <i class="fas fa-times"></i> {{{_ "Desabasto"}}}
              </a>
            </li>
            <li>
              <a href="#reportar-desabasto" class="anchor">
                <i class="fas fa-folder-plus"></i> {{{_ "Reportar"}}}
              </a>
            </li>
{{> profile-header-end }}

<div class="first-profile-section" id="product-profile">
{{!-- General info --}}
<section class="profile" id="resumen-producto">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-folder-open"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "RESUMEN DEL PRODUCTO"}}}</h4>
      </div>

      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="col-md-12 col-12">
            {{{_ "Este producto tuvo {cant_contratos} compras ({cant_unidades} unidades) por un total de <strong>{amount_contratos}</strong>"
            cant_contratos=(format_number result.purchase_count.product) cant_unidades=(format_number result.purchase_quantity.product) amount_contratos=(format_amount result.purchase_amount.product "MXN") }}}

            {{_ "entre los años {first_year} y {last_year}" first_year=(moment result.first_purchase_date "Y") last_year=(moment result.last_purchase_date "Y") }}

            {{_ "con un sobrecosto de {amount_over} que hubiera permitido comprar {quantity_lost} unidades adicionales." amount_over=(format_amount result.amount_over_with_overcost "MXN") quantity_lost=(format_number result.quantity_lost_with_overcost) }}
          </div>


          {{#if result.description }}
          <div class="col-md-9 col-12">
            <p class="js-title-data">{{{_ "Descripción"}}}</p>
            <p class="js-data">{{result.description}} </p>
          </div>
          {{/if }}
          {{#if result.avgUnitPrice }}
          <div class="col-md-3 col-12 text-left text-md-right">
            <p class="js-title-data">{{{_ "Precio promedio"}}}
                      <a  data-toggle="tooltip" data-placement="bottom" title="{{{_ "Este precio es el promedio sin ponderar de todos los contratos del producto de todos los años. Para calcular el precio de referencia se usó un promedio ponderado anual."}}}">
                      <i class="fas fa-info-circle">
                      </i>
                      </a>

            </p>
            <p class="js-data text-darkblue">{{ format_amount result.avgUnitPrice "MXN" }}</p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.drugUnit }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Unidad"}}}</p>
            <p class="js-data">{{result.drugUnit }}</p>
          </div>
          {{/if }}
          {{#if result.classification }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Clasificación"}}}</p>
            <p class="js-data">{{result.classification}}. {{result.subclassification}}</p>
          </div>
          {{/if }}
          {{#if result.drugClass.name }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Grupo"}}}</p>
            <p class="js-data">{{result.drugClass.name}}</p>
          </div>
          {{/if }}
          {{#if result.activeIngredient }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Ingrediente activo"}}}</p>
            <p class="js-data">{{result.activeIngredient}}</p>
          </div>
          {{/if }}
          {{#if result.id }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Clave de producto IMSS"}}}</p>
            <p class="js-data">{{result.id}}</p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.disambiguatingDescription }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Presentación"}}}</p>
            <p class="js-data">{{result.disambiguatingDescription }}</p>
          </div>
          {{/if }}
          {{#if result.guideline.indicationsMxIMSS }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Indicaciones"}}}</p>
            <p class="js-data">
              {{#each result.guideline.indicationsMxIMSS }}
                <a href="{{url view="buscador" collection="products" producto-indicacion=this }}">{{this}}</a>
              {{/each}}
            </p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.relatedProducts }}
          <div class="col-md-12 col-12 related-products">
            {{!-- <p class="js-title-data">{{{_ "Productos relacionados"}}}</p> --}}
            <h5 class="description-data-subname">{{{_ "Productos relacionados"}}}</h5>
            {{#each result.relatedProducts}}
            {{> result result=this}}
            {{/each}}
          </div>
          {{/if }}
        </div>
        {{#if result.drugClass.name }}
        <div class="row flex mt-5">
          <div class="col-md-12 col-12">
            <div class="warning-data">
              <h5 data-toggle="collapse" data-target="#generalities" class="description-data-subname warning-title">{{{_ "DOSIS Y GENERALIDADES"}}}</h5>
              <div id="generalities" class="collapse">
                <div class="disclaimer">
                  <p>
                    Esta sección se alimenta de lo que dice el Cuadro Básico de Medicamentos e Insumos del IMSS, por lo que QuienEsQuien.Wiki no tiene responsabilidad en el uso de los medicamentos y no debe ser entendido como una recomendación en el uso de los mismos.
                    </p>
                </div>
          {{#if result.dosageForm }}
                <p class="js-title-data mt-4">{{{_ "Dosis"}}}</p>
                <p class="js-data">
                  {{result.dosageForm}}
                </p>
          {{/if }}
          {{#if result.mechanismOfAction }}
                <p class="js-title-data mt-4">{{{_ "Generalidades"}}}</p>
                <p class="js-data mb-4">
                  {{result.mechanismOfAction}}
                </p>
          {{/if }}
          {{#if result.pregnancyWarning }}
                <p class="js-title-data mt-4">{{{_ "Advertencias embarazo"}}}</p>
                <p class="js-data mb-4">
                  {{result.pregnancyWarning}}
                </p>
          {{/if }}
          {{#if result.warning.precautionsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Precauciones"}}}</p>
                <p class="js-data mb-4">
                  {{result.warning.precautionsMxIMSS}}
                </p>
          {{/if }}
          {{#if result.warning.adverseEffectsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Efectos adversos"}}}</p>
                <p class="js-data mb-4">
                  {{result.warning.adverseEffectsMxIMSS}}
                </p>
          {{/if }}
          {{#if result.contraindicationsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Contraindicaciones"}}}</p>
                <p class="js-data mb-4">
                  {{result.contraindicationsMxIMSS}}
                </p>
          {{/if }}
              </div>
            </div>
          </div>
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</section>

{{!-- Price dispersion --}}
{{# if result.contracts }}
<section class="profile" id="dispersion-precios">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-area"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "DISPERSIÓN DE PRECIOS"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="col-12">
            <p> {{{_ "Cada círculo representa una de las {cant_contratos} compras de {name} realizadas por el IMSS"
            cant_contratos=(format_number result.contract_count) name=result.name }}}
            {{_ "entre los años {first_year} y {last_year}." first_year=(moment result.first_purchase_date "Y") last_year=(moment
            result.last_purchase_date "Y") }}
            </p>
            <svg id="grafica-sobrecosto"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{!-- States table--}}
{{#if result.contracts_summaries.buyers}}
<section class="profile" id="sobrecosto-estados">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-map"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "SOBRECOSTO POR INSTITUCIÓN"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="table-responsive">
            <table width="100%" id="product-states" class="table row-border">
              <thead>
                <tr>
                  <th>{{{_ "INSTITUCIÓN"}}}</th>
                  <th>{{{_ "ESTADO"}}}</th>
                  <th>{{{_ "CANTIDAD"}}}</th>
                  <th>{{{_ "MONTO TOTAL"}}}</th>
                  <th>{{{_ "SOBRECOSTO EN MXN"}}}</th>
                  <th>{{{_ "SOBRECOSTO EN %"}}}</th>
                  <th>{{{_ "CANTIDAD PERDIDA"}}}
                    <a data-toggle="tooltip" data-placement="right" title="{{{_ " Cantidad perdida explicación"}}}">
                      <i class="fas fa-info-circle"></i>
                    </a>
                  </th>
                  <th>{{{_ "ÚLTIMA COMPRA"}}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each result.contracts_summaries.buyers }}
                <tr>
                  <td title="{{estado.buyer.name}}"><span style="display: inline-block;  max-width: 18em; text-overflow:ellipsis; white-space:nowrap; overflow:hidden">{{estado.buyer.name}}</span></td>
                  <td>{{estado.parties.buyer.address.region}}</td>
                  <td class="text-right">{{doc_count}}</td>
                  <td class="text-right" data-order="{{monto_total}}">{{format_number monto_total}} MXN</td>
                  <td class="text-right" data-order="{{monto_total_sobrecosto}}">{{format_number monto_total_sobrecosto }} MXN</td>
                  <td class="text-right" data-order="{{sobrecosto}}">{{format_percentage sobrecosto }}</td>
                  <td class="text-right" data-order="{{cantidad_perdida}}">{{format_number cantidad_perdida }}</td>
                  <td class="text-right" data-order="{{ultima_compra}}">{{moment ultima_compra date lang="es" format="LL"}}</td>
                </tr>
{{!--
"doc_count": 1,
"estado": {

    "parties": {
        "buyer": {
            "address": {
                "region": "Jalisco"
            }
        }
    },
    "buyer": {
        "name": "H. de Especialidades, \"Lic. Ignacio García Tellez\" Centro Médico Nacional de Occidente, Jalisco Umae Especialidades Jalisco"
    }

},
"monto_total": 8936.1201171875,
"ultima_compra": 1514764800000,
"sobrecosto": 0.14317765831947327                 --}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}

{{#if result.contracts_summaries.suppliers}}
{{!-- Suppliers table --}}
<section class="profile" id="sobrecosto-proveedores">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-dolly"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "PROVEEDORES QUE LO HAN VENDIDO A SOBREPRECIO"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="table-responsive">
            <table width="100%" id="product-suppliers" class="table row-border">
              <thead>
                <tr>
                  <th>{{{_ "PROVEEDOR"}}}</th>
                  <th>{{{_ "COMPRAS"}}}</th>
                  <th>{{{_ "SOBRECOSTO EN MXN"}}}</th>
                  <th>{{{_ "SOBRECOSTO EN %"}}}</th>
                  <th>{{{_ "CANTIDAD PERDIDA"}}}
                    <a data-toggle="tooltip" data-placement="right" title="{{{_ " Cantidad perdida explicación"}}}">
                      <i class="fas fa-info-circle"></i>
                    </a>
                  </th>
                  <th>{{{_ "PERIODO DE TIEMPO"}}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each result.contracts_summaries.suppliers }}
                <tr>
                  <td>
                    <a href=""><i class="fas fa-map-marked"></i> <a href="{{ url view="empresas" _id=key}}" title="">{{nombre.awards.suppliers.[0].name}}</a>
                  </td>
                  <td class="text-right">{{format_number doc_count}}</td>
                  <td class="text-right" data-order="{{monto_total_sobrecosto}}">{{format_number monto_total_sobrecosto }} MXN</td>
                  <td class="text-right" data-order="{{sobrecosto}}">{{format_percentage sobrecosto }}</td>
                  <td class="text-right" data-order="{{cantidad_perdida}}">{{format_number cantidad_perdida }}</td>
                  <td class="text-right" data-order="{{ultima_compra}}">{{moment primera_compra "Y"}} - {{moment ultima_compra "Y"}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{!-- Contracts --}}
<section class="profile text-center bg-white" id="all-contracts">
  <div class="profile-content">
    <div class="row">
      <div class="col-12 col-md-12">
        <h5>{{{_ "Hay {cant_contratos} compras en total de este medicamento."
        cant_contratos=(format_number result.purchase_count.product)}}}</h5>
        <a class="btn btn-primary" href="{{url view="buscador" collection="contracts" tipo-entidad="purchase" producto=result.id }}">{{{_ "VER TODAS LAS COMPRAS"}}}</a>
      </div>
    </div>
  </div>
</section>

{{!-- Desabasto --}}
{{> desabasto-table }}

<script type="text/javascript">

//DATA
const product_contracts_data = {{{ j result.contracts }}};
//Events
window.addEventListener('load', function () {
  initSobrecosto();
})

function initSobrecosto() {
  let width = 800;
  let height = 350;
  const margin = ({top: 40, right: 20, bottom: 20, left: 60})

  let svg = d4.select("#grafica-sobrecosto")

  svg.attr("viewBox", [0, 0, width, height]);

  let cleanJSON = (json) => {
    if (!json) return [];
      return json.map(hit => {
          return {
            fecha_inicio: hit.contracts.period.startDate.substr(0,10),
            precio_unitario: hit.contracts.items.unit.value.amount,
            precio_ponderado: hit.contracts.items.unit.value.valueAverageMxIMSS,
            cantidad_consolidada: hit.contracts.items.quantity
          }
        })
    }

  let timeParse = d4.timeParse("%Y-%m-%d")
  console.log(d4)

  if (!product_contracts_data) {
    console.error("initSobrecosto","No product contract data")
    return false;
  }
  //console.log(d4Array)
  let calc_data = ()=>  {
    let droug = {}

    let hits = cleanJSON(product_contracts_data)
    console.log("newHits",hits)
    droug.hits = hits.map(hit=>
      ({ ...hit,
        ...{ date: timeParse(hit.fecha_inicio),
             overprice: hit.precio_unitario / hit.precio_ponderado }
      }) )
    let years_prices = droug.hits.reduce((arr, x) =>{
      let year = x.date.getFullYear()
      if (!arr.some(y => y.year == year))
        arr.push({year: year, ponderado: x.precio_ponderado})
      return arr
      },[])
    //droug.years_prices = d4.sort(years_prices, d=>d.year)
    droug.years_prices = years_prices.sort((a, b)=> a.year - b.year);
    //droug.years_prices = years_prices

    droug.years_prices2 = droug.years_prices.reduce((arr, x) =>{
      let curr_range = ["01-01","12-31"].map(y=>(
        {date: timeParse(`${x.year}-${y}`), value: x.ponderado} ))
      return [...arr, ...curr_range]
      },[])

    return droug
  }
  let data = calc_data()
  console.log(data)
  let data_diam = Object.assign(data.hits, {x: "Fecha", y: "Precio unitario"})
  let domain_hits = d4.extent(data_diam, d => d.date)
  let extent_years = domain_hits.map(d=>  d.getFullYear())
  let x_ticks = extent_years[1] - extent_years[0] + 1
  let sorted_price = data_diam.map(x=>x.precio_unitario).sort(d4.ascending)
  let sorted_overprice = data_diam.map(x=>x.overprice).sort(d4.ascending)

  let domain_x = d4.extent(data_diam, d => d.date)
  let x = d4.scaleTime()
      .domain(domain_x)
      .range([margin.left, width - margin.right])
  let formatX = d4.timeFormat("%b-%y")

  let y = d4.scalePow().exponent(1 / 8)
      .domain([d4.min(data_diam, d=> d.precio_unitario), d4.quantile(sorted_price, 0.99)])
      .rangeRound([height - margin.bottom, margin.top])
  let formatY  = d4.format(".0s")
  let formatLegend  = d4.format(",.0f")
  let y_overprice = d4.scaleSqrt()
    .domain([0, 0.9, 1.1, d4.quantile(sorted_overprice, 0.99)])
    .range([1, .6, .4, 0])

  let min_radius = 12
  let max_radius = 100
  let range_r = [4 / (20 - min_radius), 4 * max_radius / 26 ]
  let real_max_r = d4.max(data.hits, d => d.cantidad_consolidada)
  let r_bubble = d4.scaleSqrt()
      .domain([0, real_max_r])
      .range(range_r)
  let r_bubble_stroke = d4.scaleSqrt()
    .domain([0, d4.max(data.hits, d => d.cantidad_consolidada)])
    .range([ 1/8, 1])

  let interpolateTurbo = (t) => {
    t = Math.max(0, Math.min(1, t));
    return "rgb("
        + Math.max(0, Math.min(255, Math.round(34.61 + t * (1172.33 - t * (10793.56 - t * (33300.12 - t * (38394.49 - t * 14825.05))))))) + ", "
        + Math.max(0, Math.min(255, Math.round(23.31 + t * (557.33 + t * (1225.33 - t * (3574.96 - t * (1073.77 + t * 707.56))))))) + ", "
        + Math.max(0, Math.min(255, Math.round(27.2 + t * (3211.1 - t * (15327.97 - t * (27814 - t * (22569.18 - t * 6838.66)))))))
        + ")";
  }

  let colorCircles = d4.scaleSequential(interpolateTurbo)
  //let colorCircles = d4.scaleSequential(d4.interpolateCool)
    .domain([1,0])

  let yAxis = g => g
    .attr("transform", `translate(${margin.left/2},0)`)
    .call(d4.axisLeft(y).ticks(x_ticks, formatY))
    .call(g => g.select(".domain").remove())
    .call(g => g.append("text")
      .attr("x", 0)
      .attr("y", margin.top)
      .attr("dy", "-.71em")
      .attr("fill", "currentColor")
      .attr("font-weight", "bold")
      .attr("text-anchor", "start")
      .text(data_diam.y))

  let xAxis = g => g
    .attr("transform", `translate(0,${height - margin.bottom})`)
    .call(d4.axisBottom(x).ticks(width / 80, formatX))
    .call(g => g.select(".domain").remove())
    .call(g => g.append("text")
      .attr("x", width - margin.right)
      .attr("y", -6)
      .attr("fill", "currentColor")
      .attr("font-weight", "bold")
      .attr("text-anchor", "end")
      .text(data_diam.x))

  svg.append("g")
      .call(xAxis);
  svg.append("g")
      .call(yAxis);

  svg.append("g")
    .attr("fill-opacity", 0.3)
    .selectAll("circle")
    .data(data.hits)
    .enter().append("circle")
      .attr("id", "circle")
      .attr("cx", d => x(d.date))
      .attr("cy", d => y(d.precio_unitario) )
      .attr("r", d => r_bubble(d.cantidad_consolidada) * 2 )
      .attr("stroke-width", d=> r_bubble_stroke(d.cantidad_consolidada))
      .each( function(p){
        const current_color = colorCircles(y_overprice(p.overprice))
        d4.select(this)
          .attr("stroke", d=> current_color)
          .style("fill", d=> current_color)
      })


  line = d4.line()
    .curve(d4.curveStep)
    .x(d => x(d.date))
    .y(d => y(d.value))

  svg.append("g")
  //.selectAll("line")
    .style("fill", "transparent")
    //.data(data.years_prices2)
    //.enter()
    .append("path")
      //.style("stroke", "#00bcd4")
      .attr("d", line(data.years_prices2))
      .style("stroke", colorCircles(y_overprice(1)))
      .style("stroke-width", 2)
      //.attr("x1", d => x(timeParse(`${d.year}-01-01`)) )
      //.attr("y1", d => y(d.ponderado) )
      //.attr("x2", d => x(timeParse(`${d.year}-12-31`)) )
      //.attr("y2", d => y(d.ponderado));

  const valuesToShow = [real_max_r/100, real_max_r/4, real_max_r]
  const xCircle = 320
  const xLabel = xCircle - 60
  const yCircle = 70

  svg
    .append('rect')
    .attr("width", "180")
    .attr("height", 78)
    .attr("transform", "translate(185, 0)")
    .style("fill", "#ffffff")
    .style("stroke-width", 1)
    .style("stroke", "#bfbfbf");

  var legends = svg.selectAll("legend")
    .data(valuesToShow)
    .enter()
    .append("g")

  legends
    .append("circle")
      .attr("cx", xCircle)
      .attr("cy", d => yCircle - r_bubble(d) )
      .attr("r", d => r_bubble(d))
      .style("fill", "none")
      .attr("stroke", "#4E4E4E")

  legends
    .append("line")
      .attr('x1', function(d){ return xCircle - r_bubble(d) } )
      .attr('x2', xLabel)
      .attr('y1', function(d){ return yCircle - r_bubble(d) } )
      .attr('y2', function(d){ return yCircle - r_bubble(d) } )
      .attr('stroke', '#4E4E4E')
      .style('stroke-dasharray', ('2,2'))

  legends
    .append("text")
      .attr('x', xLabel - 5)
      .attr('y', function(d){ return yCircle - (r_bubble(d)) } )
      .text( d =>  formatLegend(d/1000)  )
      .style("font-size", 7)
      .attr('alignment-baseline', 'middle')
      .attr('text-anchor', 'end')
      .style("fill", "#4E4E4E");

    svg
      .append("text")
        .attr('x', 190)
        .attr("y", 10)
        .text("Unidades compradas")
        .attr("text-anchor", "left")
        .style("alignment-baseline", "middle")
        .style("font-family", "sans-serif")
        .style("font-size", 10)
        .style("fill", "#4E4E4E");

  const right_legend_line = 400

  svg
    .append('rect')
      .attr("width", 180)
      .attr("height", 78)
      .attr("transform", `translate(${right_legend_line}, 0)`)
      .style("fill", "#ffffff")
      .style("stroke-width", 1)
      .style("stroke", "#bfbfbf");

  const legend_line = svg.append("g")
    .attr("transform", `translate(${right_legend_line}, 0)`)

  const border_padding = 5;
  const item_padding = 16;
  const text_offset = 0;
  const width_line = 100;
  const height_line = 4;

  // Line
  legend_line
    .append("rect")
      .attr("x", border_padding + 35)
      .attr("y", border_padding - (height_line / 2) + 37)
      .attr("width", width_line)
      .attr("height", height_line)
      .style("fill", (d) => colorCircles(y_overprice(1)));

  // Labels
  legend_line
    .append("text")
      .attr("x", border_padding)
      .attr("y", border_padding + text_offset + (height_line/2) +3 )
      .text("Precio promedio ponderado")
      .attr("text-anchor", "left")
      .style("alignment-baseline", "middle")
      .style("font-family", "sans-serif")
      .style("font-size", 10)
      .style("fill", "#4E4E4E");


}

</script>


{{!-- Desabasto Form --}}
{{> desabasto-form }}

{{>profile-info result=result }}

</div>
{{> report_modals }}

{{> how-use-data-modal api_url=result.api_url title=result.name }}