<script src="/tiza/tiza.js"></script>

{{> profile-header result=result }}
            <li>
              <a href="#resumen-producto" class="anchor">
                <i class="fas fa-folder-open"></i> {{{_ "Resumen"}}}
              </a>
            </li>
            <li>
              <a href="#dispersion-precios" class="anchor">
                <i class="fas fa-chart-area"></i> {{{_ "Dispersión de precios"}}}
              </a>
            </li>
            <li>
              <a href="#sobrecosto-estados" class="anchor">
                <i class="fas fa-map"></i> {{{_ "Sobrecosto por Estados"}}}
              </a>
            </li>
            <li>
              <a href="#sobrecosto-proveedores" class="anchor">
                <i class="fas fa-dolly"></i> {{{_ "Sobrecosto de proveedores"}}}
              </a>
            </li>
            <li>
              <a href="#compras" class="anchor">
                <i class="fas fa-file-alt"></i> {{{_ "Compras"}}}
              </a>
            </li>
            <li>
              <a href="#desabasto-reportado" class="anchor">
                <i class="fas fa-times"></i> {{{_ "Desabasto"}}}
              </a>
            </li>
            <li>
              <a href="#reportar-desabasto" class="anchor">
                <i class="fas fa-folder-plus"></i> {{{_ "Reportar desabasto"}}}
              </a>
            </li>
{{> profile-header-end }}

<div class="first-profile-section" id="product-profile">
{{!-- General info --}}
<section class="profile" id="resumen-producto">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-folder-open"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "RESUMEN DEL PRODUCTO"}}}</h4>
      </div>

      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="col-md-12 col-12">
            {{{_ "Este producto tuvo {cant_contratos} compras ({cant_unidades} unidades) por un total de <strong>{amount_contratos}</strong>"
            cant_contratos=(format_number result.contract_count) cant_unidades=(format_number result.contract_quantity) amount_contratos=(format_amount result.contract_amount "MXN") }}}

            {{_ "entre los años {first_year} y {last_year}" first_year=(moment result.first_purchase_date "Y") last_year=(moment result.last_purchase_date "Y") }}

            {{_ "con un sobrecosto de {amount_over} que hubiera permitido comprar {quantity_lost} unidades adicionales." amount_over=(format_amount result.amount_over_with_overcost "MXN") quantity_lost=(format_number result.quantity_lost_with_overcost) }}
          </div>


          {{#if result.description }}
          <div class="col-md-9 col-12">
            <p class="js-title-data">{{{_ "Descripción"}}}</p>
            <p class="js-data">{{result.description}} </p>
          </div>
          {{/if }}
          {{#if result.averagePrice }}
          <div class="col-md-3 col-12 text-left text-md-right">
            <p class="js-title-data">{{{_ "Precio promedio"}}}</p>
            <p class="js-data text-darkblue">$1,054.20 MXN</p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.drugUnit }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Unidad"}}}</p>
            <p class="js-data">{{result.drugUnit }}</p>
          </div>
          {{/if }}
          {{#if result.classification }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Clasificación"}}}</p>
            <p class="js-data">{{result.classification}}. {{result.subclassification}}</p>
          </div>
          {{/if }}
          {{#if result.drugClass.name }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Grupo"}}}</p>
            <p class="js-data">{{result.drugClass.name}}</p>
          </div>
          {{/if }}
          {{#if result.activeIngredient }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Ingrediente activo"}}}</p>
            <p class="js-data">{{result.activeIngredient}}</p>
          </div>
          {{/if }}
          {{#if result.id }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Clave de producto IMSS"}}}</p>
            <p class="js-data">{{result.id}}</p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.disambiguatingDescription }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Presentación"}}}</p>
            <p class="js-data">{{result.disambiguatingDescription }}</p>
          </div>
          {{/if }}
          {{#if result.guideline.indicationsMxIMSS }}
          <div class="col-md-3 col-12">
            <p class="js-title-data">{{{_ "Indicaciones"}}}</p>
            <p class="js-data">
              {{#each result.guideline.indicationsMxIMSS }}
                <a href="{{url view="buscador" collection="products" producto-indicacion=this }}">{{this}}</a>
              {{/each}}
            </p>
          </div>
          {{/if }}
        </div>
        <div class="row flex">
          {{#if result.relatedProducts }}
          <div class="col-md-12 col-12 related-products">
            {{!-- <p class="js-title-data">{{{_ "Productos relacionados"}}}</p> --}}
            <h5 class="description-data-subname">{{{_ "Productos relacionados"}}}</h5>
            {{#each result.relatedProducts}}
            {{> result result=this}}
            {{/each}}
          </div>
          {{/if }}
        </div>
        {{#if result.drugClass.name }}
        <div class="row flex mt-5">
          <div class="col-md-12 col-12">
            <div class="warning-data">
              <h5 data-toggle="collapse" data-target="#generalities" class="description-data-subname warning-title">{{{_ "DOSIS Y GENERALIDADES"}}}</h5>
              <div id="generalities" class="collapse">
                <div class="disclaimer">
                  <p>
                    Esta sección se alimenta de lo que dice el Cuadro Básico de Medicamentos e Insumos del IMSS, por lo que QuienEsQuien.Wiki no tiene responsabilidad en el uso de los medicamentos y no debe ser entendido como una recomendación en el uso de los mismos.
                    </p>
                </div>
          {{#if result.dosageForm }}
                <p class="js-title-data mt-4">{{{_ "Dosis"}}}</p>
                <p class="js-data">
                  {{result.dosageForm}}
                </p>
          {{/if }}
          {{#if result.mechanismOfAction }}
                <p class="js-title-data mt-4">{{{_ "Generalidades"}}}</p>
                <p class="js-data mb-4">
                  {{result.mechanismOfAction}}
                </p>
          {{/if }}
          {{#if result.pregnancyWarning }}
                <p class="js-title-data mt-4">{{{_ "Advertencias embarazo"}}}</p>
                <p class="js-data mb-4">
                  {{result.pregnancyWarning}}
                </p>
          {{/if }}
          {{#if result.warning.precautionsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Precauciones"}}}</p>
                <p class="js-data mb-4">
                  {{result.warning.precautionsMxIMSS}}
                </p>
          {{/if }}
          {{#if result.warning.adverseEffectsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Efectos adversos"}}}</p>
                <p class="js-data mb-4">
                  {{result.warning.adverseEffectsMxIMSS}}
                </p>
          {{/if }}
          {{#if result.contraindicationsMxIMSS }}
                <p class="js-title-data mt-4">{{{_ "Contraindicaciones"}}}</p>
                <p class="js-data mb-4">
                  {{result.contraindicationsMxIMSS}}
                </p>
          {{/if }}
              </div>
            </div>
          </div>
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</section>

{{!-- Price dispersion --}}
<section class="profile" id="dispersion-precios">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-chart-area"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "DISPERSIÓN DE PRECIOS"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="col-12">
            <p> {{{_ "Cada círculo representa una de las {cant_contratos} compras de {name} realizadas por el IMSS"
            cant_contratos=(format_number result.contract_count) name=result.name }}}
            {{_ "entre los años {first_year} y {last_year}." first_year=(moment result.first_purchase_date "Y") last_year=(moment
            result.last_purchase_date "Y") }}
            </p>
            <svg id="grafica-sobrecosto"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- States table--}}
<section class="profile" id="sobrecosto-estados">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-map"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "SOBRECOSTO EN CADA ESTADO"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="table-responsive">
            <table width="100%" id="product-states" class="table row-border">
              <thead>
                <tr>
                  <th>{{{_ "ESTADO"}}}</th>
                  <th>{{{_ "CANTIDAD"}}}</th>
                  <th>{{{_ "MONTO TOTAL"}}}</th>
                  <th>{{{_ "SOBRECOSTO (Monto)"}}}</th>
                  <th>{{{_ "SOBRECOSTO (Porcentaje)"}}}</th>
                  <th>{{{_ "CANTIDAD PERDIDA"}}}
                    <a data-toggle="tooltip" data-placement="right" title="{{{_ " Cantidad perdida explicación"}}}">
                      <i class="fas fa-info-circle"></i>
                    </a>
                  </th>
                  <th>{{{_ "FECHA DE ÚLTIMO DESABASTO"}}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each result.contracts_summaries.buyers }}
                <tr>
                  <td>
                    <a href=""><i class="fas fa-map-marked"></i> <a href="{{ url view="areas" _id=estado.parties.buyer.address.region }}" title="">{{estado.parties.buyer.address.region}}</a>
                  </td>
                  <td class="text-right">{{doc_count}}</td>
                  <td class="text-right">{{format_number monto_total}} MXN</td>
                  <td class="text-right">{{format_number monto_total_sobrecosto }} MXN</td>
                  <td class="text-right">{{format_percentage sobrecosto }}</td>
                  <td class="text-right">XXX</td>
                  <td>{{moment ultima_compra date lang="es" format="LL"}}</td>
                </tr>
{{!--
"doc_count": 1,
"estado": {

    "parties": {
        "buyer": {
            "address": {
                "region": "Jalisco"
            }
        }
    },
    "buyer": {
        "name": "H. de Especialidades, \"Lic. Ignacio García Tellez\" Centro Médico Nacional de Occidente, Jalisco Umae Especialidades Jalisco"
    }

},
"monto_total": 8936.1201171875,
"ultima_compra": 1514764800000,
"sobrecosto": 0.14317765831947327                 --}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- Suppliers table --}}
<section class="profile" id="sobrecosto-proveedores">
  <div class="profile-content">
    <div class="row">
      <div class="box-title-section">
        <div class="box-title-icon">
          <i class="fas fa-dolly"></i>
        </div>
        <h4 class="description-data-subtitle">{{{_ "PROVEEDORES QUE LO HAN VENDIDO A SOBREPRECIO"}}}</h4>
      </div>
      <div class="col-12 col-md-12">
        <div class="row flex">
          <div class="table-responsive">
            <table width="100%" id="product-suppliers" class="table row-border">
              <thead>
                <tr>
                  <th>{{{_ "PROVEEDOR"}}}</th>
                  <th>{{{_ "UNIDAD"}}}</th>
                  <th>{{{_ "SOBRECOSTO (Monto)"}}}</th>
                  <th>{{{_ "SOBRECOSTO (Porcentaje)"}}}</th>
                  <th>{{{_ "PERIODO DE TIEMPO"}}}</th>
                  <th>{{{_ "CANTIDAD PERDIDA"}}}
                    <a data-toggle="tooltip" data-placement="right" title="{{{_ " Cantidad perdida explicación"}}}">
                      <i class="fas fa-info-circle"></i>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each result.contracts_summaries.suppliers }}
                <tr>
                  <td>
                    <a href=""><i class="fas fa-map-marked"></i> <a href="{{ url view="empresas" _id=key}}" title="">{{nombre.awards.suppliers.[0].name}}</a>
                  </td>
                  <td class="text-right">{{format_number doc_count}}</td>
                  <td class="text-right">{{format_number monto_total_sobrecosto }} MXN</td>
                  <td class="text-right">{{format_percentage sobrecosto  }}</td>
                  <td>{{moment primera_compra "Y"}} - {{moment ultima_compra "Y"}}</td>
                  <td class="text-right">XXX</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- Contracts --}}
<section class="profile text-center bg-white" id="compras">
  <div class="profile-content">
    <div class="row">
      <div class="col-12 col-md-12">
        <h5>{{{_ "Hay {cant_contratos} compras en total de este medicamento."
        cant_contratos=(format_number result.contract_count)}}}</h5>
        <a class="btn btn-primary" href="">{{{_ "VER TODAS LAS COMPRAS"}}}</a>
      </div>
    </div>
  </div>
</section>

{{!-- Desabasto --}}
{{> desabasto-table }}

{{!-- Desabasto Form --}}
{{> desabasto-form }}

{{>profile-info result=result }}

</div>
{{> report_modals }}

{{> how-use-data-modal api_url=result.api_url title=result.name }}