

<section class="filters bg-gray">
    <div class="d-flex flex-nowrap">
        <div class="left-box">
          <form class="advance-filters">
            <ul class="nav nav-pills filter-active-collection-{{collection}}" id="filtersList">
              {{# each filters }}
                {{> filter_element filter=this collection=../collection }}
              {{/each }}
              <li class="nav-item more-filters-dropdown d-none text-center">
                <a class=" filter-title dropdown-tools nav-link" href="#" id="moreFilters" role="button" aria-haspopup="true" aria-expanded="false">
                  {{_ "Más filtros" }} <br>
                  <i class="fas fa-filter icon-tools"></i>
                </a>
                <ul class="dropdown-menu-morefilters d-none" aria-labelledby="moreFilters">
                  <li></li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
        <div class="right-box ml-auto">
            <ul class="nav nav-pills d-flex flex-nowrap">

                {{!-- <li class="nav-item filter-dropdown general-filters results-items">
                    <p class="filter-title-simple" href="#" title="RESULTADOS">{{{_ "RESULTADOS"}}}</p>
                    <p class="filter-selected simple text-right" title="{{ format_number result.count }}">
                      {{ format_number result.count }}
                      {{#ifCond result.count_precission "==" "gte"}}
                      <i class="fas fa-info-circle" alt="icon" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Esta búsqueda tiene muchos resultados. Sólo mostraremos los primeros 10.000. Mejora tus filtros o utiliza la descarga."></i>
                      {{/ifCond}}
                    </p>
                </li> --}}
                {{>utilities api_url=result.api_url share_url=share_url share_url_encoded=share_url_encoded title=title.full }}
            </ul>
        </div>
    </div>
</section>

{{#ifCond result.data.length ">" 0 }}
  <section class="results-list" id="content-searcher" style="background-color: #ffffff;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-12">
            <h1 class="collection-title">
              {{title.collection}}
            </h1>
          </div>
        </div>
        {{#if result.summary }}
        <div class="row">
          <div class="col-12 mb-2">
            <p>
              Listado de <strong>{{format_number result.summary.count }}</strong> {{#ifCond result.summary.count ">" 100000  }} de {{/ifCond}} <strong>{{#each result.summary.classification  }} <a href="{{url tipo-entidad=@key}}">{{lower (_ @key)}}</a>{{#if @last}}{{else}},{{/if}} {{/each}}</strong>
              {{#ifCond title.collection_short "==" "Contratos" }}
                por un total de ${{{format_amount result.summary.amount }}}
              {{else}}
                {{#with (filter_array filters "apiFilterName" "sort") }}
                  por
                  {{ lower (lookup options (or value default.value)) }}
                {{/with}}

                {{#with (filter_array filters "apiFilterName" "sort_direction") }}
                  {{#with (filter_array options "value" (or value default.value) ) }}
                    de
                    {{lower label }}
                  {{/with}}
                {{/with}}

              {{/ifCond}}
              {{#if (math result.summary.areas "+" 1)  }}
                en
                {{format_number result.summary.areas }}
                áreas geográficas.
              {{/if}}
            </p>
            {{!-- {{#if title.filters }}
            <p>Filtrado por: {{#each title.filters }} {{this}}{{#if @last}}{{else}},{{/if}} {{/each}}</p>
            {{/if}} --}}
            <hr>
          </div>
        </div>
        {{#ifCond title.collection_short "==" "Contratos" }}
        <div class="row bg-gray pt-3">
          <div class="col-12 col-md-12">
            <p><b>Resultados por año:</b></p>
            <div style="width: 100%; display: flex; align-items: flex-end; justify-content: center;">
              {{!-- {{ j  result.summary.year }} --}}
              {{#each result.summary.year }}
              {{#ifCond (math (math this.doc_count "/" (last_value ../result.summary.year "doc_count")) "*" 150)">"1}}
              <div style=" width: 5%; overflow: hidden; background:rgba(45,28,157,0.3); color:#212529; height: {{math (math this.doc_count "/" (last_value ../result.summary.year  "doc_count")) "*" 150 }}px; margin: 2px;" data-toggle="tooltip" data-placement="top" title="" data-original-title="
              {{moment @key "YYYY"}}  con
              {{ format_number this.doc_count}} contratos
              ">
                <p class="date-graph">{{moment @key "YYYY"}}</p>
              </div>
              {{/ifCond}}
              {{/each}}
            </div>
          </div>
          {{!-- <div class="col-12 col-md-12">
            <p><b>Resultados por tipo de procedimiento:</b></p>
            <ul>
              {{j result.summary.type}}
              {{#each result.summary.type }}
                <li>{{@key}}: {{format_number count}}</li>
              {{/each}}
            </ul>
          </div> --}}
        </div>
        {{/ifCond}}
        {{/if}}

        <div class="row mt-3">
            <div class="col-12 col-m-12">
            {{#each result.data}}
                {{> result filter_values=../filters result=this }}
            {{/each}}
            </div>
        </div>
      </div>
      {{> pagination result=result pagesArray=pagesArray current_url=current_url current_page=current_page}}
  </section>

  <section class="sources-list">
    <div class="container-fluid">
      <div class="row bg-gray pt-3">
        <div class="col-12 col-md-12">
          <p><b>Fuente de los resultados:</b></p>
          <ul>
          {{#each result.summary.sources }}
            <li>
              <a title="Filtrar por {{_ @key}}" href="{{ url view="search" fuente=@key }}">{{_ @key}}</a>
              <i class="fas fa-info-circle text-gray" title="{{{ get_source_description @key  }}}" data-placement="right"></i> : {{format_number this}}
            </li>
          {{/each}}
          </ul>
          <p>En QuiénEsQuién.Wiki usamos datos que proporcionan entes gubernamentales, bursátiles o que han sido investigados a fondo por Organizaciones de la Sociedad Civil, puedes encontrar más información sobre <a href="/es/entidades-y-fuentes/" target="_blank">nuestras fuentes aquí</a>.</p>
        </div>
      </div>
    </div>
  </section>

{{else}}
  {{#if morethan10k}}
  <section class="error">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-wrap align-content-center">
          <h1 class="text-verydarkblue">{{{_ "Búsqueda con demasiados resultados"}}}</h1>
          <p>
            {{{_ "Esta búsqueda ha generado más de 10,000 resultados, no podemos mostrarte resultados más allá de este número. Te ofrecemos algunas alternativas:"}}}
          </p>
          <ul>
            <li>
              {{{_ "Aplica los filtros en la barra superior para obtener menos resultados."}}}
            </li>
            <li>
              {{{_ "Invierte el orden de los resultados para ver primero los que ahora aparecen al final."}}}
            </li>
            <li>
              {{{_ "Si necesitas más de 10,000 resultados, descárgalos como datos para poder abrirlos en otra herramienta."}}}
            </li>
            <li>
              {{{_ "Prueba borrando todos los filtros:"}}}
              <div class="text-center mt-3 mb-3">
                <a class="btn btn-primary" href="{{url view="buscador" collection="" name="" importe-proveedor-min="" importe-proveedor-max="" cantidad-proveedor-min="" cantidad-proveedor-max="" importe-comprador-min="" importe-comprador-max="" cantidad-comprador-min="" cantidad-comprador-max="" tipo-institucion="" subtipo-institucion="" pais="" fuente="" size="" page="" sort-cpi="" tipo-entidad="" sortDirection=""}}">
                  {{{_ "Eliminar todos los filtros"}}}
                </a>
              </div>
            </li>
          </ul>
          <h4>Aprende a usar QQW</h4>
          <ul>
            <li>
              {{{_ "Consulta el <a href='{url}'>Manual de Investigación</a>." url=(url view="manual") }}}
            </li>
            <li>
              {{{_ "Consulta la <a href='https://quienesquienapi.readthedocs.io/es/latest/'>documentación de nuestra API</a>."}}}
            </li>
            <li>
              {{{_ "Consulta nuestro <a href='{url}'>listado de fuentes</a> para saber sobre qué bases estás búscando." url=(url view="entidades-y-fuentes") }}}
            </li>
          </ul>
          <p>{{{_ "Si necesitas ayuda en la búsqueda, <a href='{url}'>contáctanos</a>." url=(url view="contacto" subject="Sin resultados de búsqueda") }}}</p>
        </div>
        <div class="col-lg-5 text-center error-img justify-content-center d-flex flex-wrap align-content-center">
          <img class="img-fluid mb-4" src="../images/error-img.png" alt="Error">
        </div>
      </div>
      {{> pagination result=result pagesArray=pagesArray current_url=current_url current_page=current_page}}
    </div>
  </section>
  {{else}}
  <section class="error">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-wrap align-content-center">
          <h1 class="text-verydarkblue">{{{_ "Búsqueda sin resultados"}}}</h1>
          <p>
            {{{_ "Aquí te damos algunas opciones para solucionarlo:"}}}
          </p>
          <ul>
            <li>
              {{{_ "Busca las empresas sin la terminación legal y solo los apellidos de las personas."}}}
            </li>
            <li>
              {{{_ "No uses siglas como CFE, desarrolla el nombre completo: Comisión Federal de Electricidad."}}}
            </li>
            <li>
              {{{_ "Prueba borrando todos los filtros:"}}}
              <div class="text-center mt-3 mb-3">
                <a class="btn btn-primary" href="{{url view="buscador" collection="" name="" importe-proveedor-min="" importe-proveedor-max="" cantidad-proveedor-min="" cantidad-proveedor-max="" importe-comprador-min="" importe-comprador-max="" cantidad-comprador-min="" cantidad-comprador-max="" tipo-institucion="" subtipo-institucion="" pais="" fuente="" size="" page="" sort-cpi="" tipo-entidad="" sortDirection=""}}">
                  {{{_ "Eliminar todos los filtros"}}}
                </a>
              </div>
            </li>
          </ul>
          <h4>Aprende a usar QQW</h4>
          <ul>
            <li>
              {{{_ "Consulta el <a href='{url}'>Manual de Investigación</a>." url=(url view="manual") }}}
            </li>
            <li>
              {{{_ "Consulta la <a href='https://quienesquienapi.readthedocs.io/es/latest/'>documentación de nuestra API</a>."}}}
            </li>
            <li>
              {{{_ "Consulta nuestro <a href='{url}'>listado de fuentes</a> para saber sobre qué bases estás búscando." url=(url view="entidades-y-fuentes") }}}
            </li>
          </ul>
          <p>{{{_ "Si necesitas ayuda en la búsqueda, <a href='{url}'>contáctanos</a>." url=(url view="contacto" subject="Sin resultados de búsqueda") }}}</p>
        </div>
        <div class="col-lg-5 text-center error-img justify-content-center d-flex flex-wrap align-content-center">
          <img class="img-fluid mb-4" src="../images/error-img.png" alt="Error">
        </div>
      </div>
    </div>
  </section>
  {{/if}}
{{/ifCond}}


{{!-- {{ j result.summary }} --}}
{{> report_modals }}

{{> how-use-data-modal api_url=result.api_url title=title }}