<style media="screen">
  .filter-element {
    display: none;
  }

  ul .filter-collection-all {
    display: block;
  }
  ul.filter-active-collection-companies .filter-collection-companies {
    display: block;
  }
  ul.filter-active-collection-contracts .filter-collection-contracts {
    display: block;
  }
  ul.filter-active-collection-institutions .filter-collection-institutions {
    display: block;
  }
  ul.filter-active-collection-persons .filter-collection-persons {
    display: block;
  }
  ul.filter-active-collection-areas .filter-collection-areas {
    display: block;
  }
</style>
<section class="filters bg-gray">
    <div class="d-flex flex-nowrap">
        <div class="left-box">
          <form class="advance-filters">
            <ul class="nav nav-pills filter-active-collection-{{collection}}" id="filtersList">
              {{# each filter_elements }}
              {{> filter_element filter=this values=filter_values collection=../collection }}
              {{/each }}
            </ul>
          </form>
        </div>
        <div class="right-box ml-auto">
            <ul class="nav nav-pills d-flex flex-nowrap">
                <li class="nav-item filter-dropdown general-filters">
                    <p class="filter-title-simple" href="#" title="RESULTADOS">RESULTADOS</p>
                    <p class="filter-selected simple ml-2" title="{{ format_number result.count }}">{{ format_number result.count }}</p>
                </li>
                <li class="nav-item dropdown general-filters text-center">
                    <a class="nav-link dropdown-toggle filter-title dropdown-tools" data-toggle="dropdown" href="#" title="DATOS">
                        DATOS <br>
                        <i class="fas fa-download icon-tools"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right filter-dropdown-menu-tools text-center">
                        <h6>URL DE LA API</h6>
                        <input class="w-100" id="apiUrl" type="text" name="destinatario" value="{{result.api_url}}">
                        <button class="btn btn-primary w-100" onclick="copyClipboard()">Copiar URL</button>
                        <div class="dropdown-divider mt-3 mb-3"></div>
                        <a class="btn btn-primary w-100" href="{{url_csv result.api_url}}" download="datos-QQW.csv" target="_blank">Descargar CSV <i class="fas fa-info-circle" alt="icon" data-toggle="tooltip" data-placement="right" title="Descarga CSV, limitada a 1000 filas."></i></a>
                        <div class="mt-2">
                            <a href="https://quienesquienapi.readthedocs.io/es/latest/" class="doc-download-link">Ver documentación</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown general-filters text-center">
                    <a class="nav-link dropdown-toggle filter-title dropdown-tools" data-toggle="dropdown" href="#" title="COMPARTIR">
                        COMPARTIR <br>
                        <i class="fas fa-share-alt icon-tools"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right filter-dropdown-menu-tools text-center">
                        <h6>COMPARTIR PÁGINA</h6>
                        <input class="w-100" id="pageUrl" type="text" name="destinatario" value="{{share_url}}">
                        <button class="btn btn-primary w-100" onclick="copyClipboard()">Copiar URL</button>
                        <div class="dropdown-divider mt-3"></div>
                        <div class="social-share-icons">
                            <a class="mr-4" href="https://www.facebook.com/sharer/sharer.php?u=https://www.quienesquien.wiki{{share_url}}&t=QuienesQUienWiki" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://twitter.com/intent/tweet?text=Explora+conexiones+y+contratos+entre+empresarios%2c+pol%c3%adticos%2c+empresas+e+instituciones+p%c3%bablicas..&url=https://www.quienesquien.wiki{{share_url}}&via=ProjectPODER" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{{#if result.data }}
  <section class="results-list">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-m-12">
            {{#each result.data}}
                {{#ifCond ../collection "==" "contracts"}}
                {{#each records}}
                    {{#with compiledRelease }}
                    {{> result  collection=../../../collection result=this }}
                    {{/with}}
                {{/each}}
                {{else}}
                {{#with compiledRelease }}
                    {{#ifCond collection "==" "all"}}
                    {{> result  collection=type result=this }}
                    {{else}}
                    {{> result  collection=../../collection result=this }}
                    {{/ifCond}}
                {{/with}}
                {{/ifCond}}
            {{/each}}
            </div>
        </div>
      </div>
  </section>
{{else}}
  <section class="error">
    Acá van los errores
  </section>
{{/if}}

{{> pagination result=result pagesArray=pagesArray current_url=current_url current_page=current_page}}
