<section class="filters bg-gray">
    <div class="d-flex flex-nowrap">
        <div class="left-box">
          <form class="advance-filters">
            <ul class="nav nav-pills filter-active-collection-{{collection}}" id="filtersList">
              {{# each filter_elements }}
                {{#with (or (get_object_element ../filter_values this.htmlFieldName) this.default) }}
                  {{> filter_element filter=../this value=this.value collection=../../collection }}
                {{/with}}
              {{/each }}
            </ul>
          </form>
        </div>
        <div class="right-box ml-auto">
            <ul class="nav nav-pills d-flex flex-nowrap">
                <li class="nav-item filter-dropdown general-filters">
                    <p class="filter-title-simple" href="#" title="RESULTADOS">RESULTADOS</p>
                    <p class="filter-selected simple ml-2" title="{{ format_number result.count }}">{{ format_number result.count }}</p>
                </li>
                {{>utilities api_url=result.api_url share_url=share_url }}                
            </ul>
        </div>
    </div>
</section>
{{#ifCond result.data.length ">" 0 }}
  <section class="results-list">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-m-12">
            {{#each result.data}}
                {{#ifCond ../collection "==" "contracts"}}
                  {{#each records}}
                      {{> result  collection=../../collection filter_values=../../filter_values result=this }}
                  {{/each}}
                {{else}}
                {{#with compiledRelease }}
                    {{#ifCond collection "==" "all"}}
                      {{> result  collection=type result=this }}
                    {{else}}
                      {{> result  collection=../../collection filter_values=../../filter_values result=this }}
                    {{/ifCond}}
                {{/with}}
                {{/ifCond}}
            {{/each}}
            </div>
        </div>
      </div>
  </section>
{{else}}
  <section class="error">
    Acá van los errores
  </section>
{{/ifCond}}

{{> pagination result=result pagesArray=pagesArray current_url=current_url current_page=current_page}}
