

<section class="filters bg-gray">
  {{!-- <nav class="navbar navbar-expand navbar-dark bg-info mt-5">
    <div class="container-fluid">
      <a class="navbar-brand pb-2" href="#">Bootstrap 4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav align-self-end" id="nav">
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 4</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 5</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 6</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 7</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 8</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 9</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 10</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 11</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 12</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Item 13</a>
              </li>
              <li class="nav-item dropdown d-none">
                  <a class="nav-link dropdown-toggl" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right bg-info" aria-labelledby="navbarDropdownMenu">
                  </ul>
              </li>
          </ul>
      </div>
    </div>
  </nav> --}}
    <div class="d-flex flex-nowrap">
        <div class="left-box">
          <form class="advance-filters">
            <ul class="nav nav-pills filter-active-collection-{{collection}}" id="filtersList">
              {{# each filter_elements }}
                {{#with (or (get_object_element ../filter_values this.htmlFieldName) this.default) }}
                  {{> filter_element filter=../this value=this.value collection=../../collection }}
                {{/with}}
              {{/each }}

              <li class="nav-item dropdown more-filters-dropdown d-none">
                <a class="nav-link dropdown-toggle" href="#" id="moreFilters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Más filtros
                </a>
                <ul class="dropdown-menu-morefilters dropdown-menu-right bg-dark" aria-labelledby="moreFilters">
                </ul>
              </li>
            </ul>
          </form>
        </div>
        <div class="right-box ml-auto">
            <ul class="nav nav-pills d-flex flex-nowrap">
                <li class="nav-item filter-dropdown general-filters">
                    <p class="filter-title-simple" href="#" title="RESULTADOS">RESULTADOS</p>
                    <p class="filter-selected simple text-right" title="{{ format_number result.count }}">{{ format_number result.count }}</p>
                </li>
                {{>utilities api_url=result.api_url share_url=share_url }}
            </ul>
        </div>
    </div>
</section>

{{#ifCond result.data.length ">" 0 }}
  <section class="results-list" id="content-searcher">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-m-12">
            {{#each result.data}}
                {{#ifCond ../collection "==" "contracts"}}
                  {{#each records}}
                      {{> result  collection=../../collection filter_values=../../filter_values result=this }}
                  {{/each}}
                {{else}}
                {{#with compiledRelease }}
                    {{#ifCond collection "==" "all"}}
                      {{> result  collection=type result=this }}
                    {{else}}
                      {{> result  collection=../../collection filter_values=../../filter_values result=this }}
                    {{/ifCond}}
                {{/with}}
                {{/ifCond}}
            {{/each}}
            </div>
        </div>
      </div>
      {{> pagination result=result pagesArray=pagesArray current_url=current_url current_page=current_page}}
  </section>
{{else}}
  <section class="error">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-wrap align-content-center">
          <h1 class="text-verydarkblue">
            {{!-- <i class="fa fa-search"></i> --}}
            Búsqueda sin resultados
          </h1>
          <p>
            Esta búsqueda no ha dado resultados, aquí te damos algunas ideas para solucionarlo:
          </p>
          <ul>
            <li>
              La búsqueda de todos los tipos no funciona durante la etapa de Beta. Por favor elige un tipo para realizar tu búsqueda.
            </li>
            <li>
              Busca las empresas sin la terminación legal y solo los apellidos de las personas.
            </li>
            <li>
              No uses siglas como CFE, desarrolla el nombre completo: Comisión Federal de Electricidad.
            </li>
            <li>
              Consulta nuestro <a href="/entidades-y-fuentes">listado de fuentes</a> para saber sobre qué bases estás búscando.
            </li>
          </ul>
          <p>
            ¿Cómo puedes seguir?
          </p>
          <ul>
            <li>
              <a href="/buscador">Borrando todos los filtros</a>.
            </li>
            <li>
              Consultar el <a href="/manual">Manual de Investigación</a> o la <a href="https://quienesquienapi.readthedocs.io/es/latest/">documentación de nuestra API</a>.
            </li>
          </ul>
        </div>
        <div class="col-lg-5 text-center error-img justify-content-center d-flex flex-wrap align-content-center">
          <img class="img-fluid mb-4" src="../images/error-img.png" alt="Error">
        </div>
      </div>
    </div>
  </section>
{{/ifCond}}

{{> report_modals }}
