<section class="about-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        {{> about-sidebar}}
      </div>
      <div class="col-12 col-md-9">
        <div>
          <div class="row">
            <div class="col-md-12 col-12">
              <h1><a id="user-content-fuentes" class="anchor" href="#fuentes" aria-hidden="true"></a>{{{_ "Entidades y fuentes"}}}</h1>
              <p>{{{_ "En QuiénEsQuién.Wiki usamos datos que proporcionan entes gubernamentales, bursátiles o que han sido investigados a fondo por Organizaciones de la Sociedad Civil. Si conoces una base de datos sobre contratos o beneficiarios reales que no estamos usando escríbenos a <a href='mailto:info@quienequien.wiki'>info@quienequien.wiki</a> y la pondremos en nuestra (muy larga) lista de datasets a importar."}}}</p>
              <p>{{_ "También puedes usar nuestra base de datos como back-end gratuito para cualquier proyecto que muestre datos de captura del estado. Escríbenos con algo de tiempo e importaremos tus datos para que puedas recuperarlos a través de nuestra API  (de consultas automatizadas) y solo tendrás que ocuparte del diseño de tu sitio."}}</p>

              <h3><a id="user-content-contratos" class="anchor" href="#contratos" aria-hidden="true"></a>CONTRATOS</h3>
              <p>{{{_ "“En el 57% de los casos de corrupción internacional procesados, según la Convención Antisoborno de la OCDE, hubo sobornos para obtener los contratos públicos”, explica la <a href='https://www.open-contracting.org/' rel='nofollow noreferrer noopener' target='_blank'>Open Contracting Parnertship</a>. La transferencia de capital del sector público a la iniciativa privada, si bien necesaria para la forma de funcionar de nuestras sociedades, es uno de los espacios donde se muestra de manera sofisticada la captura del estado: corrupción, cohecho, contratos a modo, licitaciones amañadas, fraude, entre otros delitos."}}}</p>
              <p>{{{_ "QuiénEsQuién.Wiki concentra contratos de tres fuentes mexicanas:"}}}</p>

              <h4 class="mt-5"><a id="user-content--compranet-3" class="anchor" href="#-compranet-3" aria-hidden="true"></a>· <a href="https://sites.google.com/site/cnetuc/contratos_cnet_3" rel="nofollow noreferrer noopener" target="_blank">CompraNet 3.0</a></h4>
              <p>{{{_ "Bases de datos de 2002 a 2011 de los contratos de la Administración Pública Federal y de los contratos con aportación federal que realizan estados y municipios de México publicada por la Secretaría de la Función Pública, pero bajo el control de la Secretaría de Hacienda y Crédito Público desde 2019."}}}</p>
              <p>{{{_ "CompraNet 3.0 solo publica el nombre de la empresa, cualquier dato de propiedad, dirección o represente legal se obtiene a partir del cruce con otras bases de datos."}}}</p>
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.compranet3.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.compranet3.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.compranet3.institution.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Instituciones"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.compranet3.institution.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.compranet3.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.compranet3.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="mt-5"><a id="user-content--compranet-plus-mexico" class="anchor" href="#-compranet-plus-mexico" aria-hidden="true"></a>· <a href="https://sites.google.com/site/cnetuc/contrataciones" rel="nofollow noreferrer noopener" target="_blank">CompraNet Plus</a></h4>
              <p>{{{_ "Bases de datos de 2010 al día de hoy de los contratos de la Administración Pública Federal y de los contratos con aportación federal que realizan estados y municipios de México publicada por la Secretaría de la Función Pública, pero bajo el control de la Secretaría de Hacienda y Crédito Público desde 2019."}}} </p>
              <p>{{{_ "CompraNet Plus solo publica el nombre de la empresa, cualquier dato de propiedad, dirección o represente legal se obtiene a partir del cruce con otras bases de datos"}}}.</p>
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.compranet.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{_ "Actualización"}}: {{ moment source.compranet.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.compranet.institution.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Instituciones"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.compranet.institution.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.compranet.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">Personas</h5>
                      <p class="triplet-last-update">Actualización: {{ moment source.compranet.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="mt-5"><a id="user-content--pot" class="anchor" href="#-pot" aria-hidden="true"></a>· <a href="http://portaltransparencia.gob.mx/buscador/search/search.do?method=begin" rel="nofollow noreferrer noopener" target="_blank">Portal de Obligaciones de Transparencia (POT)</a></h4>
              <p>{{{_ "Sistema creado para cumplir con las obligaciones de transparencia por parte de las instituciones públicas en México, lo cual incluye el reportar contrataciones. Desde 2017, dada la creación del Sistema de Portales de Obligaciones de Transparencia (SIPOT) y la existencia de la Plataforma Nacional de Transparencia (PNT), las dependencias no están obligadas a actualizar su información en el POT."}}}</p>
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.pot.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.pot.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.pot.institution.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Instituciones"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.pot.institution.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.pot.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.pot.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h3 class="mt-5"><a id="user-content-beneficiarios-reales" class="anchor" href="#beneficiarios-reales" aria-hidden="true"></a>{{{_ "BENEFICIARIOS REALES"}}}</h3>
              <p>{{{_ "“Existe una amplia gama de sectores (financiero, bancario, inmobiliario, etc.) [..que...] cuentan con distintas figuras legales para ocultar a sus beneficiarios –se habla de fondos multilaterales, agentes no financieros (DFNBP, por sus siglas en inglés), representantes legales y consultores, entre otros– quienes más allá de ejercer el control directo sobre la empresa son correas de mando de quienes deciden y se benefician de un vehículo corporativo”, explican <a href='https://www.colaboratorio.org/beneficiarios-reales-en-mexico/' target='_blank'>Anna Ma. Nunenmann y Oscar Pineda en el informe “Beneficiarios Reales en México”</a> de PODER. "}}}</p>
              <p>{{{_ "Conseguir datos de beneficiarios reales en América Latina (y en el mundo) es muy complicado, en el mejor de los casos se encuentran bases de datos dispersas que permiten añadir piezas a un rompecabezas inacabable."}}}</p>

              <h4 class="mt-5"><a id="user-content--bolsa-de-valores-mexicana-mexico" class="anchor" href="#-bolsa-de-valores-mexicana-mexico" aria-hidden="true"></a>· <a href="https://www.bmv.com.mx/" rel="nofollow noreferrer noopener" target="_blank">Bolsa de Valores Mexicana</a> (México)</h4>
              <p>{{{_ "Las empresas que cotizan en la bolsa están obligadas a reportar accionistas, directivas, empresas subsidiarias y otros detalles de sus operaciones. Cada tres meses corremos un complejo sistema de webscrapping (parte manual complementada con Google Drive, Import.io y Kimono) que nos permite tener los datos de estas corporaciones."}}}</p>
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.bmv.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.bmv.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.bmv.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.bmv.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="mt-5"><a id="user-content--america-latina-offshore" class="anchor" href="#-america-latina-offshore" aria-hidden="true"></a>· <a href="https://americalatinaoffshore.org/" rel="nofollow noreferrer noopener" target="_blank">América Latina Offshore</a></h4>
              <p>{{{_ "Es una iniciativa del Programa de Integración Regional y Financiamiento para el Desarrollo de la Fundación SES con el respaldo de la Coalición para la Transparencia Financiera, que visibiliza el extendido (ab)uso que hacen las elites latinoamericanas de las sociedades empresariales británicas, a través de los datos del registro de companías, Companies House. América Latina Offshore identificó 43,340 dueñas/os y directivas/os de empresas británicas provenientes de 25 países de América Latina y el Caribe. En las páginas de perfil se identifica la fuente con el nombre LATAM_OFFSHORE."}}}</p>
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.latam_offshore.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.latam_offshore.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.latam_offshore.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.latam_offshore.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h3 class="mt-5"><a id="user-content-investigaciones-propias" class="anchor" href="#investigaciones-propias" aria-hidden="true"></a>{{{_ "INVESTIGACIONES PROPIAS"}}}</h3>
              <p>{{{_ "Las investigaciones de PODER en muchos casos son impulsadas por datos o con el objetivo de conseguir un mapeo exhaustivo de un caso concreto. Parte de nuestra metodología es registrar estos datos en una hoja de cálculo para después importarlos, este proceso nos sirve tanto para incrementar la profundidad de QuiénEsQuién.Wiki como para poder extraer los datos de la API y hacer la visualización."}}}</p>

              <h4 class="mt-5"><a id="user-content--torredecontrolorg" class="anchor" href="#-torredecontrolorg" aria-hidden="true"></a>· <a href="http://torredecontrol.projectpoder.org/" rel="nofollow noreferrer noopener" target="_blank">TorreDeControl.org</a>
              </h4>
              <p>{{{_ "Vincular las contrataciones públicas con los beneficiarios reales en la construcción del Nuevo Aeropuerto de la Ciudad de México (NAICM). El proyecto TorreDeControl nació con este propósito y a través e una investigación en registro de la propiedad, páginas de internet y bolsas de valores de todo el mundo, se consiguió mapear 235 empresas que tienen 434 conexiones corporativas entre ellas y que consiguieron 292 contratos por 127,665 millones de pesos. El NAICM fue cancelado en 2019."}}}</p>
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.tdc.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.tdc.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.tdc.institution.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Instituciones"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.tdc.institution.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.tdc.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.tdc.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="mt-5"><a id="user-content--torredecontrolorg" class="anchor" href="#-torredecontrolorg" aria-hidden="true"></a>· <a href="https://mujeresenlabolsa.org/" rel="nofollow noreferrer noopener" target="_blank">Mujeres en la Bolsa</a>
              </h4>
              <p>{{{_ "Existen dos ediciones del proyecto Mujeres en la Bolsa, <a href='https://2019.mujeresenlabolsa.org/sobre-el-proyecto.html'>2019</a> y <a href='https://mujeresenlabolsa.quienesquien.wiki/mujeres-en-la-bolsa#sobre-el-proyecto'>2020</a>, para abordar la falta de equidad de género en los consejos de las empresas que cotizan en el mercado bursátil en América Latina. En ambos años se obtuvieron los nombres y a veces los puestos de los y las consejeras de las empresas presentes en las Bolsas de Valores y/o reguladores del mercado de valores de los países involucrados de América Latina y España. En <a href='https://2019.mujeresenlabolsa.org/'>2019</a> participaron Argentina, Bolivia, Chile, Colombia, Costa Rica, El Salvador, México, Panamá, Paraguay, Perú, Uruguay y España. En <a href='https://mujeresenlabolsa.org/'>2020</a> se agregó a Ecuador y una segunda bolsa para México, la Bolsa Institucional de Valores (BIVA)."}}}</p>
              <div class="text-center">
                <h5>2019</h5>
              </div>
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.mujeres2019.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.mujeres2019.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.mujeres2019.institution.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Instituciones"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.mujeres2019.institution.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.mujeres2019.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.mujeres2019.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <h5>2020</h5>
              </div>
              <div class="row">
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.mujeres2020.company.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Empresas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.mujeres2020.company.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.mujeres2020.institution.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Instituciones"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.mujeres2020.institution.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="card-border explore-card">
                    <div class="card-pad text-center">
                      <h5>
                        <strong>
                          {{format_number source.mujeres2020.persons.count}}
                        </strong>
                      </h5>
                      <h5 class="card-h3">{{{_ "Personas"}}}</h5>
                      <p class="triplet-last-update">{{{_ "Actualización"}}}: {{ moment source.mujeres2020.persons.lastModified date lang="es" format="LL"}} </p>
                    </div>
                  </div>
                </div>
              </div>

              <h3 class="mt-5"><a id="user-content-otras-bases-de-datos" class="anchor" href="#otras-bases-de-datos" aria-hidden="true"></a>{{{_ "OTRAS BASES DE DATOS"}}}</h3>
              <p>{{{_ "QuiénEsQuién.Wiki es una plataforma colaborativa, es por ello que PODER apoya dando Back-End a proyectos que si bien no tienen una perspectiva empresarial, ayudan a mostrar la captura del estado"}}}.</p>

              <h4 class="mt-5"><a id="user-content--cargografias" class="anchor" href="#-cargografias" aria-hidden="true"></a>· <a href="http://www.cargografias.org/" rel="nofollow noreferrer noopener" target="_blank">{{{_ "Cargografías"}}}</a>
              </h4>
              <p>{{{_ "“Cargografías es una herramienta experimental que requiere de un equipo multidisciplinario que consiga los datos (del país en cuestión) y mejore la forma de visualizarlos (la plataforma online de visualización de datos que todas las instancias comparten)”, según su propia definición. Por el momento en QuiénEsQuién.Wiki se encuentras los datos de políticos de Argentina, aunque la plataforma también cuenta con datos de Brasil, Uruguay y Paraguay."}}}</p>
            </div>
            <div class="col-md-12 col-12">
              <h3>
              <a id="user-content-estandares-de-datos" class="anchor" href="#estandares-de-datos" aria-hidden="true"></a>{{{_ "ESTÁNDARES DE DATOS"}}}</h3>
              <p>{{{_ "Los datos que recabamos están en múltiples esquemas. Para no crear el enésimo esquema de datos, optamos por sistematizarlo todo en un esquema propio que combina los dos principales estándares que usa la comunidad de datos abiertos de América Latina."}}}</p>

              <h4>
              <a id="user-content-popolo-project" class="anchor" href="#popolo-project" aria-hidden="true"></a><a href="http://www.popoloproject.com/" rel="nofollow noreferrer noopener" target="_blank">Popolo Project</a>
              </h4>
              <p>{{{_ "Popolo Project es un estándar inicialmente pensado para registrar instituciones públicas y políticos. Con una mínima alternación pudimos usar su lógica de sistema de personas, organizaciones y membresías para el sector privado."}}}</p>

              <h4><a id="user-content-open-contracting-data-standart" class="anchor" href="#open-contracting-data-standart" aria-hidden="true"></a><a href="http://standard.open-contracting.org/latest/en/getting_started/" rel="nofollow noreferrer noopener" target="_blank">Open Contracting Data Standard</a>
              </h4>
              <p>{{{_ "El Estándar para las Contrataciones Abiertas (OCDS en sus siglas en inglés) es un esquema de datos abiertos promovido por la Open Contracting Parnership para la publicación de información estructurada de todas las etapas de un proceso de contratación: de la planeación a la implementación. QuiénEsQuién.Wiki hace un uso propio del estándar, añadiendo y creando extensiones, que puede consultarse en <a href='https://github.com/ProjectPODER' rel='nofollow noreferrer noopener' target='_blank'>nuestro Github</a>"}}}. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>